<div class="right-bar" id="rightSideBarDetails">
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarDetails()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Booking Details</span></div>
    <form ng-submit="updateEventBooking(bookingId)">
    <div class="form-booking">

        

        <div class="form-field">
            <label>Date</label>

            <div class='input-group date' id="sandbox-container">
                <!--input type="text" type="text" class="form-control" /-->
                <input type="text" required date-time ng-model="start" id="bookDate" min-view="date">
            </div>


        </div>



        <div class="form-field">
            <label>Court No.</label>

            <select ng-model="eventCourt" id="eventCourt" required>
                <option value="">Select Court</option>
                <option ng-repeat="c in courts" value="{{c.id}}">{{c.name}}</option>
            </select>


        </div>


        <div class="form-field half-width">
            <label>Start Time</label>

            <select ng-model="eventStartHours" id="eventStartHours" required>
                <option value="">Hour</option>
                <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1}} Hour</option>
            </select>

            <select ng-model="eventStartMinutes" id="eventStartMinutes" required>
                <option value="">Minute</option>
                <option value="15">15 Minute</option>
                <option value="30">30 Minute</option>
                <option value="45">45 Minute</option>
                <option value="00">00 Minute</option>
            </select>

        </div>


        <div class="form-field half-width">
            <label>End Time</label>

            <select ng-model="eventEndHours" id="eventEndHours" required>

                <option value="">Hour</option>
                <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1}} Hour</option>


            </select>

            <select ng-model="eventEndMinutes" id="eventEndMinutes" required>

                <option value="">Minute</option>
                <option value="15">15 Minute</option>
                <option value="30">30 Minute</option>
                <option value="45">45 Minute</option>
                <option value="00">00 Minute</option>

            </select>


        </div>



        <div class="form-field">
            <label>Booker Name</label>

            <input type="text" ng-model="playerFirstName" placeholder="First name" required>

            <input type="text" ng-model="playerLastName" placeholder="Surname" required>


        </div>

        <div class="form-field">
            <label>Contact No.</label>

            <span class="country-code">+60</span> <input class="no-wi-cd" type="number" required ng-model="playerContactNo" placeholder="xx xxx xxxx">




        </div>


        <div class="form-field">
            <label>Email</label>

            <input type="email" ng-model="playerEmail" required placeholder="Email address">




        </div>

        <div class="form-field">
            <label>No. of Player</label>

            <select ng-model="totalPlayer" id="totalPlayer" required>
                <option value="">Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>


        </div>

    </div>

    <div class="coach-detail-div">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" ng-click="openCoachBox()" data-parent="#accordion" href="javascript:void(0)" aria-expanded="true" aria-controls="collapseOne">
                            <i id="coachInfoSign" class="more-less reguler-plus"></i>
                            Coach Details
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="form-field">
                            <label>Coach</label>

                            <select ng-model="eventCoach" id="eventCoach" required>
                                <option value="">Select a coach</option>
                                <option ng-repeat="ec in allCoaches" value="{{ec.id}}">{{ec.name}}</option>
                            </select>


                        </div>

                        <div class="form-field">
                            <label>Coach 2</label>

                            <select ng-model="eventSubCoach" id="eventSubCoach" required>
                                <option value="">Select a sub coach</option>
                                <option ng-repeat="ec in allCoaches" value="{{ec.id}}">{{ec.name}}</option>
                            </select>


                        </div>
                    </div>
                </div>
            </div>







            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" ng-click="openPlayerBox()" data-parent="#accordion" href="javascript:void(0)" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less reguler-plus" id="playerInfoSign"></i>
                            Player Details
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="detal-row" ng-repeat="team in teams" id="team{{team.Player.id}}">

                            <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                            <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                            <div class="pl-ch-detail">

                                <h2>{{team.Player.first_name}}</h2>

                                <div class="pl-ch-detail-inner">

                                    <ul>

                                        <li>{{team.Player.current_rating| number : 1}}</li>
                                        <li>Self Rated</li>

                                        <li>0000 XP</li>

                                    </ul>

                                </div>

                                <div class="last-detail">


                                    Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                                </div>

                            </div>


                            <div class="ahed-div">

                                <button ng-click="removePlayer(team.Player.id)"><img src="images/cross.png"></button>


                            </div>


                        </div>
                        
                    </div>
                </div>
            </div>
        </div>   


    </div>

    <div class="form-booking">

        <div class="form-field">
            <label>Add App user</label>

            <!--input type="search" placeholder="Click here to search"-->
            <angucomplete-alt id="members"
              placeholder="Search members"
              pause="400"
              selected-object="selectedMember"
              remote-url="{{remoteUrl}}"
              remote-url-data-field="data"
              title-field="first_name,last_name"
              description-field="email"
              image-field="profile_picture"
              input-class="form-control form-control-small"/>

        </div>
    </div>

    <button class="blk-btn btn-block bottom-btn" type="submit" >BOOK SESSION</button>
    </form>
</div>