<div class="right-bar" id="rightSideBarPrint">
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarPrint()"><img src="images/cross.png"></button>
    </div>

    <div class="form-booking">
        <div class="sub-heading">Booking Confirmed</div>

        <div class="rec-sent">
            <label>Receipt sent to</label>
            <p>{{playerEmail}}</p>

        </div>


    </div>

    <div class="blk-heading">


        PRINT RECEIPT


    </div>


    <div class="print-detail">


        <div class="print-image-add">
            <div class="print-image">

                <img src="{{picUrl}}{{clubProfilePicture}}" alt="profile">


            </div>


            <div class="print-add">
                <h3>{{clubName}}</h3>
                <p>{{clubAddress}},</P>
                <p>{{clubContact}}</p>

            </div>
        </div>

        <div class="thanks-play">
            <h2>Thank you for playing with us.</h2>


        </div>


        <div class="booking-no">
            <label>Booking number</label>
            <p>{{bookingNumber}}</p>


        </div>

        <div class="print-sub-detail">


            <div class="print-sub-inner">

                {{eventDate}}
            </div>

            <div class="print-sub-inner">

                {{eventPlayTime}}
            </div>

            <div class="print-sub-inner">

                {{bookerName}}

            </div>
            <div class="print-sub-inner">

                {{playerContactNo}}
            </div>

            <div class="print-sub-inner">

                {{playerEmail}}
            </div>

            <div class="print-sub-inner">

                {{totalPlayer}} players

            </div>

            <div class="print-sub-inner">

                {{coachName}}
                <span>coach</span>
            </div>





        </div>

        <div class="who-play">

            <h4>Who’s playing</h4>

            <div class="detal-row who-play-inner" ng-repeat="team in teams" id="team{{team.Player.id}}">

                    <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                    <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                    <div class="pl-ch-detail">

                        <h2>{{team.Player.first_name}}</h2>

                        <div class="pl-ch-detail-inner">

                            <ul>

                                <li>{{team.Player.current_rating| number : 1}}</li>
                                <li>Self Rated</li>

                                <li>0000 XP</li>

                            </ul>

                        </div>

                        <div class="last-detail">


                            Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                        </div>

                    </div>


                </div>


        </div>



        <div class="class-fee-detail pad0">
            <div class="sub-heading">What it costs</div>

            <div class="count-fee-main">
                <div class="count-fee-inner">

                    <label>Court booking</label>

                    <div class="fee-rate">
                        $ <span>{{courtBookingFee}}</span>

                    </div>

                    <p>(club member - no charge)</p>

                </div>


                <div class="count-fee-inner">


                    <label>Coach booking</label>

                    <div class="fee-rate">
                        $ <span>{{coachBookingFee}}</span>

                    </div>

                    <p>- {{coachName}}</p>

                </div>





                <div class="total-div">



                    <div class="total-div-inner">
                        <label>Subtotal</label>

                        <p>$ {{subTotal}}</p>


                    </div>

                    <div class="total-div-inner">
                        <label>Some kind of tax ({{taxFee}}%)</label>

                        <p>${{taxAmount}}</p>


                    </div>


                    <div class="main-total">



                        <p>Total</p>

                        <p class="main-total-pay">$ {{grandTotal}}</p>


                    </div>


                    <div class="gross-total pad-top-15">

                        <p>Total paid<br>
                            <span ng-if="paymentMode==1">(cash)</span>
                            <span ng-if="paymentMode==2">(credit card)</span>
                            <span ng-if="paymentMode==3">(membership credit)</span>
                        </p>

                        <p class="main-total-pay-mini">$ {{grandTotal}}</p>

                        <div ng-if="paymentMode==2" class="cards-slote">
                            <img ng-if="cardType=='visa'" src="images/visa.png">
                            <img ng-if="cardType=='mastercard'" src="images/mastercard.png">
                            <p>****{{cardNumber}}</p>
                        </div>
                    </div>

                </div>


                <div class="powerd-by">

                    <p>Powered by:</p>
                    <img src="images/lodo-logo.png">

                </div>

            </div>
        </div>


    </div>



    <button class="blk-btn btn-block bottom-btn" ng-click="printReciept()">PRINT RECEIPT</button>
</div>