<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <div  class="navbar-brand">
                <a id="menu-toggle-open" ng-click="openMenu()" href="javascript:void(0)" class="btn-menu toggle">
                    <img src="images/menu.png">
                </a>

                <div class="header-logo">
                    <a href="javascript:void(0)"><img src="images/lodo-logo.png"></a></div>
            </div>
        </div>

    </div>
</nav>