<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  
  <div class="background-div2">
  <div id="wrapper">
    <div class="wrapper-inner">
      <div class="left-bar">
        <div ng-include="'topleftheader.html'"></div>
        
        <!-- Sidebar -->
        
        <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
      </div>
      
      <!-- Page content -->
      
      <div class="right-side-main pos-set-full">
        <div class="div1">
    	
        <div class="div2">
            <h4 class="div21 lead-headline">App Leaderboard:</h4>
             <ul class="nav nav-pills nav-bor">
                   <li class="active globaltop" ng-click="globaltop()"><a href="javascript:void(0);" data-toggle="tab"><h3>GLOBAL TOP 500</h3></a></li>
                   <li class="li2 for-part countrytop" ng-click="countrytop()"><a href="javascript:void(0);" data-toggle="tab"><h3>{{country_name}} TOP 500</h3></a></li>
            </ul>   
    	</div>
     
   

     	<div class="tab-content clearfix leaderboard-tab">
        	<div class="tab-pane active" id="1a">
            <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
        		<div ng-repeat="(key,leaderboardVal) in allLeaderboard" class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
        			<div class="box">
        				<div ng-if="key == 0 && currentPage == 1" class="reting ret_cus">
        					<img class="le_img" src="{{imgUrl}}/{{leaderboardVal.Player.profile_picture}}" />
        				</div>
        				<div ng-if="key == 0 && currentPage == 1" class="strap">{{key+1}}</div>
           
						<div ng-if="key == 1 && currentPage == 1" class="reting1 ret_cus"><img class="le_img" src="{{imgUrl}}/{{leaderboardVal.Player.profile_picture}}" /></div>
						<div ng-if="key == 1  && currentPage == 1" class="strap1">{{key+1}}</div>
           
						<div ng-if="key == 2  && currentPage == 1" class="reting2 ret_cus"><img class="le_img" src="{{imgUrl}}/{{leaderboardVal.Player.profile_picture}}" /></div>
						<div ng-if="key == 2  && currentPage == 1" class="strap2">{{key+1}}</div>

						<div ng-if="key == 3  && currentPage == 1" class="reting3 ret_cus"><img class="le_img" src="{{imgUrl}}/{{leaderboardVal.Player.profile_picture}}" /></div>
						<div ng-if="key == 3  && currentPage == 1" class="strap3">{{key+1}}</div>
				   
				   		<div ng-if="key > 3 || currentPage >1" class="reting3 ret_cus"><img class="le_img" src="{{imgUrl}}/{{leaderboardVal.Player.profile_picture}}" /></div>
					   	<div ng-if="key > 3 || currentPage >1" class="strap3">{{perPageData+key+1}}</div>
               
               			<div class="pcont">
               				<p>{{leaderboardVal.Player.first_name}}</p>
               				<ul>
               					<li>{{leaderboardVal.Player.current_rating}} | </li>
               					<li class="spaceing" ng-if="leaderboardVal.Player.current_rating == 0 || leaderboardVal.Player.current_rating == null"> Self Rated | </li>
               					<li class="spaceing"> {{leaderboardVal.Player.current_points}} XP</li>
               			   	</ul>
               			   
                			<p class="opaci">{{leaderboardVal.Player.city}},{{leaderboardVal.Country.name}}</p>
          				</div>
          				
          				<img src="images/right-arrow.png" style="cursor:pointer;" ng-click="showPlayerInfoData(leaderboardVal.Player.user_id)">
        			</div>
        		</div>
        		</div>
                </div>
                
                <div class="row">	
                <div class="col-sm-12">
        			<div class="pagination" ng-if="totalPages >= 2">
					  <ul class="pagination">
						<li ng-if="currentPage > 1">
						  <a ng-click="contentLoading(currentPage-1)"><img src="images/left-arrow.png"></a>
						</li>
						  <li ng-class=""><a>{{currentPage}} / {{totalPages}}</a></li>
						<!--<li ng-repeat="page in range(1,totalPages)" ng-class="{active: (page)==currentPage}"><a ng-click="contentLoading(page)">{{page}}</a>
						</li>-->
						<li ng-if="currentPage < totalPages"><a ng-click="contentLoading(currentPage+1)"><img src="images/right-arrow.png"></a>
						</li>
					  </ul>
					</div>
			</div>
            </div>
            </div>
			
			<div class="tab-pane" id="2a">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                        <div ng-repeat="(key,country_leaderboardVal) in countryLeaderboard" class="col-sm-6 col-md-4 col-lg-4 col-xs-12">
                            <div class="box">
                                <div ng-if="key == 0 && country_currentPage == 1" class="reting ret_cus">
                                    <img class="le_img" src="{{imgUrl}}/{{country_leaderboardVal.Player.profile_picture}}" />
                                </div>
                                <div ng-if="key == 0 && country_currentPage == 1" class="strap">{{key+1}}</div>
                   
                                <div ng-if="key == 1 && country_currentPage == 1" class="reting1 ret_cus"><img class="le_img" src="{{imgUrl}}/{{country_leaderboardVal.Player.profile_picture}}" /></div>
                                <div ng-if="key == 1  && country_currentPage == 1" class="strap1">{{key+1}}</div>
                   
                                <div ng-if="key == 2  && country_currentPage == 1" class="reting2 ret_cus"><img class="le_img" src="{{imgUrl}}/{{country_leaderboardVal.Player.profile_picture}}" /></div>
                                <div ng-if="key == 2  && country_currentPage == 1" class="strap2">{{key+1}}</div>
        
                                <div ng-if="key == 3  && country_currentPage == 1" class="reting3 ret_cus"><img class="le_img" src="{{imgUrl}}/{{country_leaderboardVal.Player.profile_picture}}" /></div>
                                <div ng-if="key == 3  && country_currentPage == 1" class="strap3">{{key+1}}</div>
                           
                                <div ng-if="key > 3 || country_currentPage >1" class="reting3 ret_cus"><img class="le_img" src="{{imgUrl}}/{{country_leaderboardVal.Player.profile_picture}}" /></div>
                                <div ng-if="key > 3 || country_currentPage >1" class="strap3">{{country_perPageData+key+1}}</div>
                       
                                <div class="pcont">
                                    <p>{{country_leaderboardVal.Player.first_name}}</p>
                                    <ul>
                                        <li>{{leaderboardVal.Player.current_rating}} | </li>
                                        <li class="spaceing" ng-if="leaderboardVal.Player.current_rating == 0 || leaderboardVal.Player.current_rating == null" > Self Rated | </li>
                                        <li class="spaceing"> {{country_leaderboardVal.Player.current_points}} XP</li>
                                    </ul>
                                   
                                    <p class="opaci">{{country_leaderboardVal.Player.city}},{{country_leaderboardVal.Country.name}}</p>
                                </div>
                                
                                <img src="images/right-arrow.png" style="cursor:pointer;" ng-click="showPlayerInfoData(leaderboardVal.Player.user_id)">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">	
                <div class="col-sm-12">
                        <div class="pagination" ng-if="country_totalPages >= 2">
                          <ul class="pagination">
                            <li ng-if="country_currentPage > 1">
                              <a ng-click="contentLoadingCountry(country_currentPage-1)"><img src="images/left-arrow.png"></a>
                            </li>
                            <li ng-class=""><a>{{country_currentPage}} / {{country_totalPages}}</a></li>
                            <!--<li ng-repeat="page in range(1,country_totalPages)" ng-class="{active: (page)==country_currentPage}"><a ng-click="contentLoadingCountry(page)">{{page}}</a>
                            </li>-->
                            <li ng-if="country_currentPage < country_totalPages"><a ng-click="contentLoadingCountry(country_currentPage+1)"><img src="images/right-arrow.png"></a>
                            </li>
                          </ul>
                        </div>
                </div>
                </div>
                
			</div>
            
		</div>		
	
    
   </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
        	<div class="modal-dialog">
            	<div class="modal-content">
                    <div class="modal-body">
                    	<div class="col-md-12 col-sm-12 col-xs-12 pad0">
	                        <div class="form-top-gray">
                            	<div class="profile-detail-div">
                                	<div class="side-header blank-div">
                                    	<button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <div class="profile-picture">
                                    	<img id="p_image" alt="Member Profile Picture" src="{{userprofileImg}}">
                                    </div>
                                    
                                    <div class="profile-detail-inner">
                                    	<label>Player</label>
                                        <div id="p_name" class="coach-name ng-binding"> {{user_first_name}} <i class="fa fa-mars" aria-hidden="true"></i></div>
                                	</div>
                            	</div>
                            </div>

                        <div class="coach-all-detail-tab">
                            <div class="tab-content clearfix">
                                <div id="1aa" class="tab-pane active">
                                	<div class="coach-info">
                                        <div class="coach-info-inner">
                                            <label>Date of Birth</label>
                                            <p id="p_dob" class="ng-binding">{{user_dob}}</p>
                                        </div>
                                        
                                        <div class="coach-info-inner">
                                            <label>Email</label>
                                            <p id="p_email" class="ng-binding">{{user_email}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Contact</label>
                                            <p id="p_contact" class="ng-binding">{{user_contact}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Address</label>
                                            <p id="p_address" class="ng-binding">{{user_address}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Postcode</label>
                                            <p id="p_postcode" class="ng-binding">{{user_postcode}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>City</label>
                                            <p id="p_city" class="ng-binding">{{user_city}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Country</label>
                                            <p id="p_country" class="ng-binding">{{user_country}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
    			</div>
			</div>
		</div>
<style>
.div1{	
	 width: 100%;
	 background-color: #F2F3F4;
}
.div2{
	padding-top: 4%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.modal-body {
  padding: 0px !important;
  position: relative;
}
li {
    float: left;
}

li a {
    display: block;
   
    color: #000;
}
/*.li2{
	 padding-left: 24px;
	 opacity: 0.5;
}*/
.hr1{
	margin-top: -12px;
	border-top: 0.2px solid black;
	opacity: 0.1;
}

.ret_cus{
	overflow: hidden;
}
	
.le_img{
	width: 100%;
	padding: 0px !important;
}

.box {
    float: left;
    width: 100%;
    border: 0.2px white;
    border-style: outset;  
    background-color: white;
     margin: 20px 0 0 0px;
	 min-height: 80px;
   /* margin-top: 13px; */
}

 .reting { 
    background-color: lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 7px;
    border:2px solid #76D7C4;
    float: left;
}
 .reting1 { 
    background-color: lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 7px;
    border:2px solid #85C1E9;
    float: left;
}
 .reting2 { 
    background-color: lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 7px;
    border:2px solid maroon;
    float: left;

}
 .reting3 { 
    background-color: lightgray;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    margin: 7px;
    float: left;
}

/*.strap{
	width: 27px;
	background-color:#76D7C4;
	height: 11px; 
	float: left;
	margin-top: 21px;
    margin-left: -18px;
    text-align: right;
    font-size: 10px;
    padding-right: 3px;
    color: #fff;
}*/
.strap {
    background-color: #76d7c4;
    color: #fff;
    float: left;
    font-size: 10px;
    height: 11px;
    margin-left: -81px;
    margin-top: 29px;
    padding-right: 1px;
    position: relative;
    text-align: right;
    width: 27px;
}

.strap1{
    width: 27px;
    background-color: #85C1E9;
    height: 11px;
    float: left;
    margin-top: 29px;
    margin-left: -81px;
    text-align: right;
    font-size: 10px;
    padding-right: 1px;
    color: #fff;
    position:relative;
}

.strap2{
    width: 27px;
    background-color: maroon;
    height: 11px;
    float: left;
    margin-top: 29px;
    margin-left: -81px;
    text-align: right;
    font-size: 10px;
    padding-right: 1px;
    color: #fff;
    position:relative;
}

.strap3{
    width: 27px;
    background-color: black;
    height: 11px;
    float: left;
    margin-top: 29px;
    margin-left: -79px;
    text-align: right;
    font-size: 10px;
    padding-right: 1px;
    color: #fff;
    position:relative;
}

.pcont{
	float: left;
	font-size: 12px;
	line-height: 10px;
	padding: 12px 0 0 3px;
    overflow: visible;
	opacity: 0.9;

}
.box img{
	float: right;
	padding: 28px 13px;
	/*opacity: 0.7;*/
	
}
.spaceing{
text-indent: 3px;
}
.opaci{
    color: rgba(0,0,0,0.6);
    line-height: normal;
}
a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}

.pagination img {
  float: left;
  /*opacity: 0.7;*/
  padding: 1px;
}
.lead-headline{
	padding-top:35px;
	padding-left:35px;
}
.leaderboard-tab {
    /* min-height: 476px;
    overflow: auto; */
    padding:0 20px;
	position:relative;
	float:left;
	width:100%;
    clear: both;
}

/*.right-side-main.pos-set-full{
	padding-bottom:0 !important;
}*/
</style>
<script>
$(document).ready(function () {
    $('.nav-pills li').on('click', function () {
        $('.nav-pills li').removeClass('active');
        $(this).addClass('active');
    });
});
</script>
