

<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>



                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>








            </div>





            <!-- Page content -->





            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>





                <div class="app-content-body">
                    <div class="tab-table marg-top-50">
                        
                        
                              
<div class="heading-text-main">
     
             <div class="club-setup-main">
		
                  <div class="container-fluid">
                 <div class="row">
                        
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
         <a href="javascript:"  id="classList" ng-click="showCoachList()">Player Performance</a>
                            
                            <!--a href="javascript:" class="form-control" id="reviewClasses" ng-click="showReviewClasses()">Review Classes</a-->

                     </div></div></div>	
		                 
		
		</div>	
		</div>
   
                        
                        
                        
                        
                        <table class="main-coach-list" cellpadding="0" colspan="0" border="0" style="width:100% !important; padding:0 !important">
                         
                            <tr>
                                <td  class="no-border no-bg pad0"> 
                                   
                                        <div class="club-setup-main">
                                            <table class="custom-table coach-list player-profile pad0" id="classListTable" cellspacing="0" width="100%">
                                                <thead>

                                                    <tr>
                                                        <th style="text-align:left;">Class Name</th>
                                                        <th>Play Date</th>
                                                        <th>Pending Feedbacks</th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>

                                            </table>
                                        </div>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>


            </div>

        </div>



    </div>



</div>
<div ng-include="'playerperformance/rightsidebargroupclassdetails.html'"></div>
<div ng-include="'playerperformance/rightsidebarfeedback.html'"></div>
<div ng-include="'playerperformance/playerProfile.html'"></div>
<div ng-include="'playerperformance/coachBookingModal.html'"></div>
