<div class="right-bar setforfull right-side-bar" id="rightSideBarFeedback">
    <div class="side-header gray-bg-text">
        <button class="pull-right" ng-click="closeRightSideBarFeedback()"><img src="images/cross.png"></button>
 <h3>Feedback</h3>
    <div class="setforfull pos-abs">
       
        <div class="detal-row" ng-repeat="team in $root.playerDetails">

            <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{uploadUrl}}{{team.Player.profile_picture}}" />
            <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

            <div class="pl-ch-detail">

                <h2>{{team.Player.first_name}}</h2>

                <div class="pl-ch-detail-inner">

                    <ul>

                        <li>{{team.Player.current_rating| number : 1}}</li>
                        <li>Self Rated</li>

                        <li>0000 XP</li>

                    </ul>

                </div>

                <div class="last-detail">


                    Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                </div>

            </div>


            <div class="ahed-div" ng-click="showPlayerProfile(team.Player.id)">

                <button><img src="images/ahed-arrow.png"></button>


            </div>



        </div>
        </div></div>
    <div class="class-fee-detail pad0 feedback-bar">
        <form id="playerFeedback" ng-submit="saveFeedback($root.playerDetails[0].Player.id,$root.session_id)">
            <h3>Traits</h3>
            <div class="form-field">
                <label>
                    Forehand
                </label>
                <input type="range" name="forhead_trait" min="1" max="5" step="1" required>
            </div>
            <div class="form-field">
                <label>
                    Backhand
                </label>
                <input type="range" name="backhand_trait" min="1" max="5" step="1" required>
            </div>
            <div class="form-field">
                <label>
                    Slice
                </label>
                <input type="range" name="slice_trait" min="1" max="5" step="1" required>
            </div>
            <div class="form-field">
                <label>
                    Net Game
                </label>
                <input type="range" name="net_game_trait" min="1" max="5" step="1" required>
            </div>
            <div class="form-field">
                <label>
                    Serve
                </label>
                <input type="range" name="serve_trait" min="1" max="5" step="1" required>
            </div>
            <div class="form-field">
                <label>
                    Point Play
                </label>
                <input type="range" name="point_play_trait" min="1" max="5" step="1" required>
            </div>
            <h3>Comments</h3>
            <div class="form-field">
                <textarea name="comments" maxlength="255"></textarea>
            </div>
            <h3>Rating</h3>
            <div class="instr">click “+, —“ buttons or drag slider to recommend a new rating</div>
            <div class="current-ratting"><h4>Current Rating</h4>
            
            <ul>
                <li><b>06</b></li><li>Self Rated</li>
                
                </ul>
            
            </div>
            <div class="form-field">
                <div class="text-align-center">
                <input class="round-btn" type="button" value="-" id="moins" ng-click="minus()">
                <div class="urtRating"><span><span class="rating-text">New Rating</span>1</span></div>
                <input type="hidden" name="utr_level" id="utr_level" value="1" />
                <input class="round-btn" type="button" value="+" id="plus" ng-click="plus()">
                    </div>
            </div>
            
            
            
            <div class="form-field">
                <input type="range" name="ntrp_level" min="1" max="16" step="1" required>
            </div>
            <button type="submit" class="blk-btn btn-block bottom-btn">SUBMIT</button>
        </form>
    </div>
</div>
