<div class="right-bar setforfull right-side-bar" id="rightSideBarGroupClassDetails">
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15">{{ $root.groupClassDeatilData.ClubBookingSession.book_date | date : "EEEE"}}, <span> {{ $root.groupClassDeatilData.ClubBookingSession.book_date | date : "dd MMMM yyyy"}} </span></div>
    <div class="setforfull">
        <div class="con-side-box orange-top-border">
            <div class="con-side-box-header">
                <div class="con-side-box-header-upper">
                    <div class="con-side-box-header-upper-left"> {{ $root.groupClassDeatilData.ClubBookingSession.book_start_time | date : "h:mm a"}} - {{ $root.groupClassDeatilData.ClubBookingSession.book_end_time | date : "h:mm a" }} </div>
                    <div class="con-side-box-header-upper-right"> {{ $root.groupClassDeatilData.ClubBookingSession.prefix_booking_number}}{{ $root.groupClassDeatilData.ClubBookingSession.booking_number}} </div>
                </div>
                <div class="con-side-box-header-lower">
                    <p class="top-heading">{{ $root.groupClassDeatilData.ClubBookingSession.class_name}}<br/>
                        <span>{{$root.groupClassDeatilData.Club.name}}</span></p>
                    <div class="deail-group-rate" style="padding:0;">
                        <ul class="groupClassDetail_list" style="padding:0;">
                            <li>Rating: <span>{{$root.groupClassDeatilData.ClubBookingSession.min_player_rating}} - 00</span> </li>
                            <li>Age Group: <span>{{$root.groupClassDeatilData.ClubBookingSession.min_player_age}} - {{$root.groupClassDeatilData.ClubBookingSession.max_player_age}}</span> </li>
                            <li ng-if="$root.groupClassDeatilData.ClubBookingSession.is_club_member == 1">Club Member only</li>
                            <li ng-if="$root.groupClassDeatilData.ClubBookingSession.is_club_member != 1">All Members</li>
                        </ul>
                    </div>
                    <p>Court {{$root.groupClassDeatilData.Court.name}}</p>
                    <p>{{ $root.groupClassDeatilData.ClubBookingSession.class_description}}</p>
                </div>
            </div>
            <div class="detal-row" ng-if="$root.groupClassDeatilData.ClubBookingSession.coach_id > 0"> 
                <img class="image-blank" ng-if="$root.groupClassDeatilData.Coach.profile_picture != ''" src="{{uploadUrl}}{{$root.groupClassDeatilData.Coach.profile_picture}}" /> 
                <img class="image-blank" ng-if="$root.groupClassDeatilData.Coach.profile_picture == ''" />
                <div class="pl-ch-detail">
                    <h2>{{$root.groupClassDeatilData.Coach.name}}</h2>
                    <div class="pl-ch-detail-inner">
                        Lead Coach
                    </div>
                    <div class="last-detail">{{$root.groupClassDeatilData.Coach.current_rating}}</div>
                </div>
                <div class="ahed-div">
                    <button><img src="images/ahed-arrow.png"></button>
                </div>
            </div>
            <div class="detal-row" ng-if="$root.groupClassDeatilData.ClubBookingSession.sub_coach_id > 0"> 
                <img class="image-blank" ng-if="$root.groupClassDeatilData.SubCoach.profile_picture != ''" src="{{uploadUrl}}{{$root.groupClassDeatilData.SubCoach.profile_picture}}" /> 
                <img class="image-blank" ng-if="$root.groupClassDeatilData.SubCoach.profile_picture == ''" />
                <div class="pl-ch-detail">
                    <h2>{{$root.groupClassDeatilData.SubCoach.name}}</h2>
                    <div class="pl-ch-detail-inner">
                        Coach
                    </div>
                    <div class="last-detail">{{$root.groupClassDeatilData.SubCoach.current_rating}}</div>
                </div>
                <div class="ahed-div">
                    <button><img src="images/ahed-arrow.png"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="class-fee-detail">
        <h3>{{$root.totalFeedback}}/{{$root.totalJoinGroupClass}} feedbacks done</h3>
    <div class="detal-row" ng-repeat="team in $root.groupClassDeatilData.JoinGroupClass">

        <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{uploadUrl}}{{team.Player.profile_picture}}" />
        <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

        <div class="pl-ch-detail">

            <h2>{{team.Player.first_name}}</h2>

            <div class="pl-ch-detail-inner">

                <ul>

                    <li>{{team.Player.current_rating| number : 1}}</li>
                    <li>Self Rated</li>

                    <li>0000 XP</li>

                </ul>

            </div>

            <div class="last-detail">


                Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

            </div>

        </div>
        <div class="ahed-div" ng-if="team.PlayerFeedback.length==0" ng-click="showFeedbackPage($root.groupClassDeatilData.ClubBookingSession.id,team.Player.id)">

            <button><img src="images/ahed-arrow.png"></button>


        </div>
        
        <div class="ahed-div" ng-if="team.PlayerFeedback.length>0" ng-click="showPlayerProfile(team.Player.id)">

            <button><img src="images/ahed-arrow.png"></button>


        </div>

    </div>
        </div>
</div>
