@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700');
.background-div {
    background: url(../images/Login-bg.jpg) repeat;
}

* {
    font-family: 'Khand', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.login-form {
    float: right;
    position: relative;
    top: 30%;
    width: 40%;
}

.logo {
    float: left;
    width: 150px;
    margin-bottom: 50px;
}

.logo img {
    float: left;
    width: 100%;
}

.login-main-form {
    width: 100%;
    float: left;
}

.login-main-form input {
    float: left;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #d8d8d8;
    background: none;
    padding: 0 2px;
    height: 35px;
    margin: 15px 0
}

.login-main-form input:focus {
    outline: none;
}

.blk-btn {
    color: #fff;
    background: #000;
    width: 100px;
    height: 45px;
    border: none;
}

.login-main-form button {
    margin-top: 15px;
}

.side-header button {
    background: none;
    border: none;
    width: 30px;
}

.side-header button i {
    font-size: 20px;
}

.side-header {
    float: left;
    width: 100%;
    padding: 20px 15px;
}

.date-time {
    float: left;
    padding: 20px 30px;
    width: 100%;
    color: #212121;
    font-size: 20px;
}

.date-time span {
    font-weight: 600;
}

.heading-date {
    float: left;
    width: 100%;
    background: url(../images/hading-line.png) no-repeat left center;
    padding-left: 30px;
    font-size: 25px;
    margin-bottom: 15px;
}

.heading-date span {
    font-size: 15px;
}

.pad0 {
    padding: 0 !important;
}

.con-side-box {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    background: #fff;
    float: left;
    margin-left: 17%;
    width: 80%;
    margin-bottom: 20px;
}

.blue-top-border {
    border-top: 7px solid #7db9cb;
}

.orange-top-border {
    border-top: 7px solid #ff994b;
}

.lightorange-top-border {
    border-top: 7px solid #fcd581;
}

.con-side-box-header-upper {
    float: left;
    padding: 16px 16px 0;
    width: 100%;
    color: #737373;
}

.co-pos {
    color: #ff994b;
}

.orange {
    color: #ff994b !important;
}

.con-side-box-header-upper-left {
    float: left;
    font-size: 20px;
    width: auto;
}

.con-side-box-header-upper-right {
    float: right;
    font-size: 15px;
    width: auto;
    padding: 5px 0;
}

.con-side-box-header-lower {
    float: left;
    padding: 0 16px 16px;
    width: 100%;
    color: #737373;
}

.detal-row {
    float: left;
    padding: 10px 16px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.detal-row:last-child {
    border-bottom: 2px solid #d9d9d9;
}

.search-result-box .detal-row:last-child {
    border-bottom: none;
}

.image-blank {
    background: #bdbdbd none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.pl-ch-detail {
    float: left;
    width: 70%;
}

.pl-ch-detail h2 {
    color: #626262;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.pl-ch-detail-inner {
    float: left;
    width: 100%;
}

.pl-ch-detail-inner ul {
    list-style: none;
    padding: 0;
    margin: 3px 0;
}

.pl-ch-detail-inner ul li {
    list-style: none;
    display: inline;
    border-right: 1px solid #a5a5a5;
    padding: 0 5px;
    color: #a5a5a5;
    font-size: 13px;
}

.pl-ch-detail-inner li:last-child {
    border-right: none;
}

.pl-ch-detail-inner li:first-child {
    padding-left: 0;
}

.bottom-div {
    padding: 16px;
    float: left;
    width: 100%;
}

.bottom-div button {
    border: none;
    background: none;
    font-size: 16px;
    color
}

.last-detail {
    float: left;
    width: auto;
    color: #e5e5e5;
    font-size: 13px;
}

.ahed-div {
    float: right;
    width: auto;
    padding: 15px 0;
}

.ahed-div button {
    background: none;
    border: none;
}

.bottom-div button span {
    padding: 0 8px;
}

.pad-left0 {
    padding-left: 0 !important;
}

.form-field label {
    color: #7e7e7e;
    float: left;
    font-weight: 400;
    width: 100%;
    font-size: 17px; margin: 0;
}


.form-booking .form-field, .coach-detail-div .form-field { margin-bottom: 20px;}

.form-field {
    float: left;
    width: 100%;
}

.form-field input {
    float: left;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
    height: 35px;
    padding: 0 30px 0 0;
    color: #d8d8d8;
    font-size: 15px;
}


.form-field select {
    float: left;
    width: 100%;
    border: 1px solid #d8d8d8;
    height: 35px;
    padding: 0 30px 0 10px;
    color: #212121;
    font-size: 15px;
    appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
    margin-top: 12px;
     background: url(../images/down-arrow.jpg) no-repeat right 10px center;
}
.form-field input[type="search"] {
    background: url(../images/search.png) no-repeat right 5px center;
}

.form-field input.no-wi-cd{ display: inline;
float: none;
width: 92%;}

.form-field .country-code{  border-bottom: 1px solid #d8d8d8;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-right: 1%; font-size: 17px;  color: #212121;}



.half-width select{ width: 48%; margin-right: 4%;}

.half-width select:last-child{ margin-right: 0;}

#sandbox-container{float: left;
    width: 100%;
    border: none;
    height: 35px;
   }


#sandbox-container .form-control{ box-shadow: none;}

#sandbox-container input{ background: url(../images/calander.png) no-repeat right 5px center;}

.coach-detail-div {
  float: left;
  width: 100%;
}

.form-booking {
  float: left;
  padding: 15px;
  width: 100%;
}

.coach-detail-div .detal-row{
   -webkit-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1); border: none; margin: 10px 0;}

.coach-detail-div .ahed-div button {
  width: 25px;
}

.coach-detail-div .ahed-div {
  padding: 19px 0;

}

input:focus, select {
    outline: none;
}

.form-control:focus{ border: none !important}

.pad-left15{ padding-left: 15px !important; padding-right: 15px !important;}

.reguler-plus{ background: url(../images/plus.png) no-repeat right center; height: 17px;
    width: 15px;}
.reguler-minus{ background: url(../images/minus.png) no-repeat right center; height: 17px;
    width: 15px;}
.search-result-box {
  float: left;
  width: 100%;border: 1px solid #d9d9d9; border-top:none !important;
}

.search-result-box .pl-ch-detail {
  width: 65%;
}


.marg0{ margin-bottom: 0 !important}




/*--side-navbar --*/

.background-div .navbar-inverse{ border: none; background: none;}
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 51px;
  left: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;  margin-left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

}





/*--side-navbar --*/
















/*--only for accordian --*/
.coach-detail-div .panel-group .panel {
        border-radius: 0 ;
        box-shadow: none;
        border: none;
    }

   .coach-detail-div .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        border:none;
    }

 .coach-detail-div  .panel-group .panel-heading + .panel-collapse > .panel-body,  .coach-detail-div  .panel-group .panel-heading + .panel-collapse > .list-group { border-top:none !important;}

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
display: block;
    font-size: 17px;
    padding: 12px 12px 10px;
    text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

.bottom-btn{font-size: 20px;
    line-height: 49px;}

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #26a69a;
}

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}



/*--only for accordian --*/


a:focus{ outline: none !important; text-decoration: none !important;}

a:hover{ outline: none !important; text-decoration: none !important;}



@media only screen and (max-width:480px) {
    .login-form {
        width: 70%;
    }
}

@media only screen and (min-width:481px) and (max-width:560px) {}

@media only screen and (min-width:561px) and (max-width:770px) {
    .login-form {
        width: 60%;
    }
}

@media only screen and (min-width:771px) and (max-width:1024px) {
    .login-form {
        width: 60%;
    }
}

@media only screen and (min-width:1025px) and (max-width:1200px) {}

@media only screen and (min-width:1201px) {}