<div class="right-bar" id="addPeakTime">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeAddPeakTimeForm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span id="peakTimeFormTitle">Add Peak Time</span></div>
    <form ng-submit="savePeakTime()" id="peakTimeForm">
        <div class="form-booking">
            <div class="form-field" id="daysCheckBoxes">
                <label>Apply to</label>
                <div class="check-div">
                    <input type="checkbox" id="sunday" name="days[sunday]" class="ui-checkbox"/>
                    <label for="sunday">Sunday</label>
                </div>
                <div class="check-div">
                    <input type="checkbox" id="monday" name="days[monday]" class="ui-checkbox"/>
                    <label for="monday">Monday</label>
                </div>
                <div class="check-div">
                    <input type="checkbox" id="tuesday" name="days[tuesday]" class="ui-checkbox"/>
                    <label for="tuesday">Tuesday</label>
                </div>
                <div class="check-div">
                    <input type="checkbox" id="wednesday" name="days[wednesday]" class="ui-checkbox"/>
                    <label for="wednesday">Wednesday</label>
                </div>
                <div class="check-div">
                    <input type="checkbox" id="thursday" name="days[thursday]" class="ui-checkbox"/>
                    <label for="thursday">Thursday</label>
                </div>
                <div class="check-div">
                    <input type="checkbox" id="friday" name="days[friday]" class="ui-checkbox"/>
                    <label for="friday">Friday</label>
                </div>
                <div class="check-div">
                    <input type="checkbox" id="saturday" name="days[saturday]" class="ui-checkbox"/>
                    <label for="saturday">Saturday</label>
                </div>
            </div>

            <div id="peakTimeHoursDiv">
                <div class="form-field half-width first">
                    <label>
                        Start Time
                    </label>
                    <select name="times[0][start_hours]">
                        <option ng-repeat="t in stime" value="{{t}}">{{t| formatDropDownTime}}</option>
                    </select>
                    <select name="times[0][start_minutes]">
                        <option value="0">00 Mins</option>
                        <option value="30">30 Mins</option>
                    </select>

                </div>

                <div class="form-field half-width second">
                    <label>
                        Closing Time
                    </label>
                    <select name="times[0][end_hours]">
                        <option ng-repeat="t in stime" value="{{t}}">{{t| formatDropDownTime}}</option>
                    </select>
                    <select name="times[0][end_minutes]">
                        <option value="0">00 Mins</option>
                        <option value="30">30 Mins</option>
                    </select>

                </div>
                
                <div id="extraTimings"></div>

            </div>
            
            <div id="addAnotherTime" class="date-time float-right" ng-click="addMorePeakTime()">ADD ANOTHER TIME +</div>

        </div>
        <input type="hidden" name="peaktime_id" />
        <button type="submit" class="blk-btn btn-block bottom-btn" id="peakTimeFormSubmitTitle">ADD PEAK TIME +</button>
    </form>
</div>