<div id="Facilities" >
    <form ng-submit="saveFacilitiesTimings()">
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
            <div class="gen-right-box">

                <h3>Facilities Opening Hours</h3>


                <div class="form-field">
                    <div class="check-div"><input type="checkbox" required id="apply_all" class="ui-checkbox"/><label for="apply_all">Apply to all courts</label></div>
                </div>

                <div class="form-field">
                    <label>
                        Default Opening Time
                    </label>
                    <select required id="opening_hours">
                        <option ng-repeat="t in stime" value="{{t}}">{{t| formatDropDownTime}}</option>
                    </select>
                    <select required id="opening_minutes">
                        <option value="0">00 Mins</option>
                        <option value="30">30 Mins</option>
                    </select>
                </div>

                <div class="form-field">
                    <label>
                        Default End Time
                    </label>
                    <select required id="ending_hours">
                        <option ng-repeat="t in stime" value="{{t}}">{{t| formatDropDownTime}}</option>
                    </select>
                    <select required id="ending_minutes">
                        <option value="0">00 Mins</option>
                        <option value="30">30 Mins</option>
                    </select>
                </div>

            </div>

            <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

        </div>
    </form>


    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box">

            <h3>Facilities Opening Hours</h3>

            <div class="tab-table">
                <table class="custom-table" id="facilitiesTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr> 
                            <th><input type='checkbox' id='checkAllFacilities' ng-click='selectDeselectAll()' class='checkselect'/></th>
                            <th style="width:15%">Status</th>
                            <th style="width:15%">Court Name</th>
                            <th style="width:15%">Court ID</th>
                            <th style="width:15%">Surface</th>
                            <th style="width:15%">Opening Hours</th>
                            <th style="width:4%">&nbsp;</th>
                        </tr>
                    </thead>

                </table>


            </div>


        </div>

        <button class="blk-btn btn-block bottom-btn" ng-click="openAddCourtForm()">ADD COURT +</button>

    </div>
</div>