<div id="Peak_Time" >
    <form ng-submit="savePeakTimings()">
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
            <div class="gen-right-box">
                <h3>Peak Time</h3>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="peakTime in peakTimings">
                                        <th ng-if="peakTime.PeakTime.type == 1">&nbsp;</th>
                                        <th ng-if="peakTime.PeakTime.type == 1">{{peakTime.PeakTime.day| showDayName}}</th>
                                        <th ng-if="peakTime.PeakTime.type == 1">&nbsp;</th>
                                        <th ng-if="peakTime.PeakTime.type == 2"><input type="checkbox"  class="ui-checkbox" id="peakTime{{peakTime.PeakTime.id}}" /><label for="checkbox-1-2"></label></th>
                                        <th ng-if="peakTime.PeakTime.type == 2">{{peakTime.PeakTime.start_time| formatTime}} - {{peakTime.PeakTime.end_time| formatTime}}</th>
                                        <th ng-if="peakTime.PeakTime.type == 2"><a href='javascript:' ng-click="editPeakTimeForm(peakTime.PeakTime.id)"><img style='margin-right:30px' class='ancher-img' src='images/edit.png'/></a></th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="pagenation">
                            <button ng-click="deletePeakTimes()"><img src="images/delete.png"/></button>
                        </div>
                    </div>

                </div>
            </div>
            <button ng-click="addPeakTime()" class="blk-btn btn-block bottom-btn">ADD PEAK TIME +</button>
        </div>
    </form>
</div>