<div id="coachBookingModalPopup" class="modal fade right-bar setforfull" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          
               
            <div class="modal-body">
                
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking Details</h4>
          
                <div class="date-time pad-left15">{{$root.eventDay}}, <span> {{$root.eventDate}} </span></div>
                <div class="setforfull">
                    <div class="con-side-box blue-top-border">

                        <div class="con-side-box-header">

                            <div class="con-side-box-header-upper">
                                <div class="con-side-box-header-upper-left">

                                    {{$root.eventPlayTime}}
                                </div>

                                <div class="con-side-box-header-upper-right">

                                    {{$root.bookingNumber}}
                                </div>

                            </div>

                            <div class="con-side-box-header-lower">

                                <p class="top-heading">Match {{$root.matchType}}</p>

                                <p>Competitive Mode</p>

                                <span>Court {{$root.courtName}}</span>

                            </div>


                        </div>

                        <div class="detal-row" ng-repeat="team in $root.teams">

                            <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{$root.picUrl}}{{team.Player.profile_picture}}" />
                            <img class="image-blank" ng-if="team.Player.profile_picture == ''" />


                            <div class="pl-ch-detail">

                                <h2>{{team.Player.first_name}}</h2>

                                <div class="pl-ch-detail-inner">

                                    <ul>

                                        <li>{{team.Player.current_rating| number : 1}}</li>
                                        <li>Self Rated</li>

                                        <li>0000 XP</li>

                                    </ul>

                                </div>

                                <div class="last-detail">


                                    Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                                </div>

                            </div>


                            <!--div class="ahed-div">

                                <button><img src="images/ahed-arrow.png"></button>


                            </div-->


                        </div>





                    </div>

                    <div class="form-booking">

                        <div class="form-field">

                            <label>Club Membership</label>

                            <input type="text" ng-model="$root.clubMembershipId" readonly value="">


                        </div>

                        <div class="form-field">

                            <label>Booker App ID</label>

                            <input type="text" ng-model="$root.userAppId" readonly value="">


                        </div>

                        <div class="form-field">

                            <label>Booker Name</label>

                            <input type="text" ng-model="$root.bookerName" readonly value="">


                        </div>

                        <div class="form-field">

                            <label>Contact No.</label>

                            <input type="tel" ng-model="$root.playerContactNo" readonly value="">


                        </div>

                        <div class="form-field">

                            <label>Email</label>

                            <input type="email" ng-model="$root.playerEmail" readonly value="">


                        </div>

                    </div>

                </div>

                <div class="class-fee-detail">
                    <div class="sub-heading">Fee Details</div>

                    <div class="count-fee-main">
                        <div class="count-fee-inner">

                            <label>Court booking</label>

                            <div class="fee-rate">
                                $ <span>{{$root.courtBookingFee}}</span>

                            </div>

                            <p>(club member - no charge)</p>

                        </div>


                        <div class="count-fee-inner">


                            <label>Coach booking</label>

                            <div class="fee-rate">
                                $ <span>{{$root.coachBookingFee}}</span>

                            </div>

                            <p>- {{$root.coachName}}</p>

                        </div>




                        <div class="total-div">



                            <div class="total-div-inner">
                                <label>Subtotal</label>

                                <p>$ {{$root.subTotal}}</p>


                            </div>

                            <div class="total-div-inner">
                                <label>Some kind of tax ({{$root.taxFee}}%)</label>

                                <p>${{$root.taxAmount}}</p>


                            </div>


                            <div class="main-total">



                                <p>Total</p>

                                <p class="main-total-pay">$ {{$root.grandTotal}}</p>


                            </div>


                            <div class="gross-total pad-top-15">

                                <p>Total paid ({{$root.paymentDate}})<br>
                                </p>

                                <p class="main-total-pay-mini">$ {{$root.grandTotal}}</p>

                                <div class="cards-slote">

                                    <div class="cards-slote-inner">

                                        <p class="pull-left marg-none">Per head</p>

                                        <p class="pull-right marg-none">$ {{$root.grandTotal/$root.totalPlayer}}</p>

                                    </div>
                                    <div ng-if="paymentMode==2" class="cards-slote-inner1">
                                        <img ng-if="cardType=='visa'" src="images/visa.png">
                                        <img ng-if="cardType=='mastercard'" src="images/mastercard.png">
                                        <p>****{{$root.cardNumber}}</p>

                                        <p class="border-left">{{$root.cardName}}</p>

                                    </div>

                                </div>
                            </div>


                        </div>







                    </div>




                </div>
            </div>
        </div>

    </div>
</div>