<form id="Login_Details" ng-submit="saveLoginDetails()">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box">

            <h3>Login Details</h3>


            <div class="form-field">
                <label>Email</label>
                <input type="text" id="email" disabled >
            </div>

            <div class="form-field">
                <label>
                    Password
                </label>
                <input type="password" id="password" required>
            </div>

            <div class="form-field">
                <label>
                    Confirm Password
                </label>
                <input type="password" id="confirmpassword" required>
            </div>


        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

    </div>
</form>