<form id="Rating" ng-submit="saveRatings()">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box">

            <h3>Rating / Ranking</h3>
            <h5>Note: all fields are optional</h5>


            <div class="form-field">
                <label>UTR Rating</label>
                <input type="text" placeholder="00" name="utr_level" value="{{$root.Coach.utr_level}}" >
            </div>

            <div class="form-field">
                <label>NTRP Rating</label>
                <input type="text" placeholder="0" name="ntrp_level" value="{{$root.Coach.ntrp_level}}">
            </div>
            
            <div class="form-field">
                <label>ATP Rating</label>
                <input type="text" placeholder="0000" name="atp" value="{{$root.Coach.atp}}">
            </div>

            <div class="form-field">
                <label>WTA Ranking</label>
                <input type="text" placeholder="0000" name="wta" value="{{$root.Coach.wta}}">
            </div>
            
            <div class="form-field">
                <label>ITF Ranking</label>
                <input type="text" placeholder="0000" name="itf" value="{{$root.Coach.itf}}">
            </div>
        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

    </div>
</form>