

<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>



                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>








            </div>





            <!-- Page content -->





            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>





                <div class="app-content-body">
                    <div class="tab-table marg-top-50">
                        <table class="main-coach-list" cellpadding="0" colspan="0" border="0" style="width:100% !important; padding:0 !important">
                            <tr>
                                <td class="no-border no-bg pad0">
                                    <div class="container-main">
                                        <div class="club-setup-main">
                                            <table class="custom-ancher" id="coachtablist"  cellspacing="0" width="100%">
                                                <tr> 
                                                    <td class="no-border no-bg pad0">
                                                        <table>
                                                            <tr>
                                                                <td class="no-border no-bg pad0" style="width:70px !important;">
                                                                    <a href="javascript:" class="form-control" id="coachList" ng-click="showCoachList()">Coach List</a>

                                                                </td>

                                                                <td class="no-border no-bg pad0">
                                                                    <a href="javascript:" class="form-control" id="coachApplications" ng-click="showCoachApplications()">Coach Applications</a>
                                                                </td>

                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr> 
                                            </table></div></div>
                                </td>
                            </tr>
                            <tr>
                                <td  class="no-border no-bg pad0"> 
                                      <div class="container-main">
                                        <div class="club-setup-main">
                                    <table class="custom-table coach-list pad0" id="coachListTable" cellspacing="0" width="100%">
                                        <thead>

                                            <tr>
                                                <th style="width:14% !important; text-align:left;">&nbsp;</th>
                                                <th style="width:14% !important; text-align:left;">Name</th>
                                                <th style="width:14%">Designation</th>
                                                <th style="width:14%">Years of Exp</th>
                                                <th style="width:14%" id="coachRating">Ratings</th>
                                                <th style="width:14%">Profile</th>
                                            </tr>
                                        </thead>

                                    </table>
                                          </div></div>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>


            </div>

        </div>



    </div>




    <div id="coachProfile" ng-include="'coaches/coachProfile.html'"></div>

    <div ng-include="'coaches/coachBookingModal.html'"></div>

    <div ng-include="'coaches/coachProfileAccept.html'"></div>

    <div ng-include="'coaches/coachProfileReject.html'"></div>

</div>
<div id="cochesCtrl" ng-controller="CoachesCtrl"></div>