<div id="playerProfileOverlay" class="overlay hide">



</div>
<div class="box-main box-main-inner hide" id="playerProfileMainDiv" style="padding: 0px !important">
    <div class="container-fluid">
        <div class="row">
            <div class="main-side-div">



                <div class="form-top-gray">


                    <div class="profile-detail-div">

                        <div class="side-header blank-div">
                            <button class="pull-right" ng-click="closePlayerProfile()"><img src="images/cross.png"></button>

                        </div>


                        <div class="profile-picture2 playerprofile">


                            <img src="{{$root.picUrl}}{{$root.playerInfo.Player.profile_picture}}" alt="Player Profile Picture">


                        </div>


                        <div class="profile-detail-inner playerprofile-detail-inner">


                            <div class="coach-name"> {{$root.playerInfo.Player.first_name}} {{$root.playerInfo.Player.last_name}}<i class="fa fa-mars" aria-hidden="true"></i>
                            </div>

                            <div class="experience">


                                <span ng-if="$root.playerInfo.Player.self_rating == 0">Not Rated</span>
                                <span ng-if="$root.playerInfo.Player.self_rating > 0">{{$root.playerInfo.Player.self_rating | number:2}}</span> | {{$root.playerInfo.Player.current_points}} XP<br>
                                Last Played: {{$root.playerInfo.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}
                            </div>


                        </div>

                    </div>



                </div>

                <div class="coach-all-detail-tab">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="javascript:void(0)" ng-click="showPlayerProfileTab('1a')" data-toggle="tab">PROFILES</a>
                        </li>
                        <li class="for-part">
                            <a href="javascript:void(0)" ng-click="showPlayerProfileTab('2a')" data-toggle="tab">ABOUT</a>
                        </li>
                        <li class="for-part">
                            <a href="javascript:void(0)" ng-click="showPlayerProfileTab('3a')" data-toggle="tab">REVIEWS</a>
                        </li>
                        <li class="for-part">
                            <a href="javascript:void(0)" ng-click="showPlayerProfileTab('4a')" data-toggle="tab">PLAYS</a>
                        </li>

                    </ul>


                    <div class="tab-content clearfix">

                        <div id="1a" class="tab-pane active">

                            <div class="top-rated-div bg-none pad0 border-none">

                                <div class="top-rated-div-inner">

                                    <p ng-if="$root.playerInfo.Player.utr_level != NULL">{{$root.playerInfo.Player.utr_level}}</p>
                                    <p ng-if="$root.playerInfo.Player.utr_level == NULL">0</p>
                                    <span>UTR</span>

                                </div>

                                <div class="top-rated-div-inner">

                                    <p ng-if="$root.playerInfo.Player.ntrp_level != NULL">{{$root.playerInfo.Player.ntrp_level}}</p>
                                    <p ng-if="$root.playerInfo.Player.ntrp_level == NULL">0</p>
                                    <span>NTRP</span>

                                </div>


                                <div class="top-rated-div-inner">

                                    <p ng-if="$root.playerInfo.Player.wta != NULL">{{$root.playerInfo.Player.wta}}</p>
                                    <p ng-if="$root.playerInfo.Player.wta == NULL">0</p>
                                    <span>WTA/ATP</span>

                                </div>

                                <div class="top-rated-div-inner">

                                    <p ng-if="$root.playerInfo.Player.itf != NULL">{{$root.playerInfo.Player.itf}}</p>
                                    <p ng-if="$root.playerInfo.Player.itf == NULL">0</p>
                                    <span>ITF</span>

                                </div>



                                <div class="coach-info">
                                    <div class="slider1" ng-if="$root.playerInfo.Badge.length > 0">
                                        <div ng-repeat="badges in $root.playerInfo.Badge" class="slide">
                                            <img src="{{$root.picUrl}}{{badges.Badge.image}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="coach-info pad0">
                                    <div class="position-glo-reg">
                                        <div class="position-glo-reg-inner">Global Position {{$root.playerInfo.Player.global_ranking}}</div>
                                        <div class="position-glo-reg-inner">Regional Position {{$root.playerInfo.Player.band_ranking}}</div></div>

                                    <div class="date-top">
                                        <div class="arrowBtn">
                                            <div class="arrow-round-btns" ng-click="showPlayerCommentBack()">
                                                <i class="fa fa-arrow-left"></i>
                                            </div>
                                            <div class="arrow-round-btns" ng-click="showPlayerCommentNext()">
                                                <i class="fa fa-arrow-right"></i>
                                            </div>

                                        </div>
                                        <div class="dateTimeblock">{{$root.playerFeedbackDate| date: 'dd MM yyyy'}}</div>

                                    </div>


                                    <div ng-repeat="feedbacks in $root.playerInfo.PlayerFeedback" ng-if="$index == $root.counterPlayer" id="feedbacks{{feedbacks.id}}}" class="coach-info-inner last-traits">
                                        <label>Traits</label>
                                        <ul style="float: left">
                                            <li><span>Forehand </span><progress class="skill-2" max="100" value="{{feedbacks.forhead_trait * 20}}">
                                                    <strong>Skill Level: 75%</strong>
                                                </progress></li>
                                            <li><span>Backhand</span><progress class="skill-2" max="100" value="{{feedbacks.backhand_trait * 20}}">
                                                    <strong>Skill Level: 75%</strong>
                                                </progress></li>
                                            <li><span>Slice</span> <progress class="skill-2" max="100" value="{{feedbacks.slice_trait * 20}}">
                                                    <strong>Skill Level: 75%</strong>
                                                </progress></li>
                                            <li><span>Net Game</span>  <progress class="skill-2" max="100" value="{{feedbacks.net_game_trait * 20}}">
                                                    <strong>Skill Level: 75%</strong>
                                                </progress></li>
                                            <li><span>Serve</span>  <progress class="skill-2" max="100" value="{{feedbacks.serve_trait * 20}}">
                                                    <strong>Skill Level: 75%</strong>
                                                </progress></li>
                                            <li><span>Point Play</span>  <progress class="skill-2" max="100" value="{{feedbacks.point_play_trait * 20}}">
                                                    <strong>Skill Level: 75%</strong>
                                                </progress></li>
                                        </ul>

                                        <div style="float: right" class="user-picture">
                                            <img src="{{$root.picUrl}}{{feedbacks.Coach.profile_picture}}" />
                                            {{feedbacks.Coach.name}}
                                        </div>

                                        <p>Coach Comments:- {{feedbacks.comments}}</p>

                                    </div>








                                </div>





                            </div>





                            <div class="footer-bottom">

                                <div class="footer-bottom-inner green-bg">

                                    <ul>
                                        <li>CLUB MEMBER: <span>00000</span></li>
                                        <li>LUDO: <span>{{00000 + $root.playerInfo.Player.user_id}}</span></li>
                                    </ul>

                                </div>


                            </div>

                        </div>

                        <div id="2a" class="tab-pane">

                            <div class="coach-info">



                                <div class="coach-info-inner">
                                    <label>Date of Birth</label>
                                    <p>{{$root.playerInfo.Player.dob| date:'dd MM yyyy'}}</p>
                                </div>


                                <div class="coach-info-inner">
                                    <label>Age Group</label>
                                    <p>{{$root.playerInfo.Player.min_age_group}} - {{$root.playerInfo.Player.max_age_group}}</p>
                                </div>

                                <div class="coach-info-inner">
                                    <label>Email</label>
                                    <p>{{$root.playerInfo.User.email}}</p>
                                </div>

                                <div class="coach-info-inner">
                                    <label>Contact</label>
                                    <p>{{$root.playerInfo.Player.phone}}</p>
                                </div>

                                <div class="coach-info-inner">
                                    <label>Location</label>
                                    <p>{{$root.playerInfo.Player.address_1}} {{$root.playerInfo.Player.address_2}}, {{$root.playerInfo.Player.city}}, {{$root.playerInfo.Country.name}}</p>
                                </div>

                                <div class="coach-info-inner">
                                    <label>Bio</label>
                                    <p>{{$root.playerInfo.Player.bio}}</p>
                                </div>


                            </div>

                            <div class="footer-bottom">

                                <div class="footer-bottom-inner green-bg">

                                    <ul>
                                        <li>CLUB MEMBER: <span>00000</span></li>
                                        <li>LUDO: <span>{{00000 + $root.playerInfo.Player.user_id}}</span></li>
                                    </ul>

                                </div>


                            </div>

                        </div>


                        <div id="3a" class="tab-pane">
                            <div class="tab-second">
                                <div class="tab-second-inner" ng-if="$root.totalPlayer>0">
                                    <div class="pro-star">

                                        <div class="pro-star-innar blk-star">
                                            <span>{{$root.avgRating}}</span><img src="images/star.png" />

                                        </div>
                                        <div class="pro-star-innar white-profile">

                                            <span>{{$root.totalPlayer}}</span><img src="images/profile-tab.png" />
                                        </div>


                                    </div>

                                    <div class="player-detail-tab" ng-repeat="review in $root.playerInfo.Review| limitTo:$root.reviewLimit">
                                        <div ng-if="$root.playerInfo.Player.id == review.receiver_id">
                                            <h3>{{review.Provider.first_name}} {{review.Provider.last_name}} <span>{{review.rate}}</span></h3>
                                            <div class="datendtime">

                                                {{review.created| formatDate}}

                                            </div>
                                            <p>
                                                {{review.review}}
                                            </p>
                                        </div>

                                    </div>

                                </div>
                                <div id="loadMoreReviews" ng-if="$root.playerInfo.Review.length > 2" class="load-section" ng-click="showMoreReviews()"><a href="javascript:void(0)">load more reviews</a></div>
                            </div>

                            <div class="footer-bottom">

                                <div class="footer-bottom-inner green-bg">

                                    <ul>
                                        <li>CLUB MEMBER: <span>00000</span></li>
                                        <li>LUDO: <span>{{00000 + $root.playerInfo.Player.user_id}}</span></li>
                                    </ul>

                                </div>


                            </div>

                        </div>

                        <div id="4a" class="tab-pane">

                            <div class="tab-table">
                                <table cellspacing="0" cellspacing="0" style="width:100% !important; border-bottom:1px solid #cfcfce;">
                                    <tr>
                                        <td class="no-border no-bg">
                                            <table cellspacing="0" cellspacing:"0" class="tab-popup">
                                                   <tr>
                                                    <td class="no-border no-bg">
                                                        <a href="javascript:" class="form-control first-tab" id="upcomingPlay" ng-click="showUpcomingPlay()">Upcoming Plays</a>
                                                        <a href="javascript:" class="form-control second-tab" id="pastPlay" ng-click="showPastPlay()">Past Plays</a>

                                                    </td>



                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                                <table class="popup-table"  id="playerProfileTable" cellspacing="0" width="100%" style="padding-top:0; border-bottom:none;">
                                    <thead>

                                        <tr>
                                            <th style="width:23% !important;padding: 10px 1%;text-align: left;">Date</th>
                                            <th style="width:23%;padding: 10px 1%;text-align: left;">Time</th>
                                            <th style="width:23%;padding: 10px 1%;text-align: left;">Play Type</th>
                                            <th style="width:23%;padding: 10px 1%;text-align: left;">&nbsp;</th>
                                        </tr>
                                    </thead>

                                </table>


                            </div>


                            <div class="footer-bottom">

                                <div class="footer-bottom-inner green-bg">

                                    <ul>
                                        <li>CLUB MEMBER: <span>00000</span></li>
                                        <li>LUDO: <span>{{00000 + $root.playerInfo.Player.user_id}}</span></li>
                                    </ul>

                                </div>


                            </div>


                        </div>

                    </div>







                </div>



            </div>


        </div>
    </div>
</div>