<div class="right-bar setforfull right-side-bar" id="rightSideBarFeedback">
    <div class="side-header gray-bg-text">
        <button class="pull-right" ng-click="closeRightSideBarFeedback()"><img src="images/cross.png"></button>
        <h3>Feedback</h3>
        <div class="setforfull pos-abs">

            <div class="detal-row" ng-repeat="team in $root.playerDetails">

                <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{uploadUrl}}{{team.Player.profile_picture}}" />
                <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                <div class="pl-ch-detail">

                    <h2>{{team.Player.first_name}}</h2>

                    <div class="pl-ch-detail-inner">

                        <ul>

                            <li>{{team.Player.current_rating| number : 1}}</li>
                            <li>Self Rated</li>

                            <li>0000 XP</li>

                        </ul>

                    </div>

                    <div class="last-detail">


                        Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                    </div>

                </div>


                <div class="ahed-div" ng-click="showPlayerProfile(team.Player.id)">

                    <button><img src="images/ahed-arrow.png"></button>


                </div>



            </div>
        </div>
    </div>
    <div class="class-fee-detail pad0 feedback-bar">
        <form id="playerFeedback" ng-submit="saveFeedback($root.playerDetails[0].Player.id, $root.session_id)">
            <h3>Traits</h3>
            <p class="sub-line">Rate players' traits by clicking on the grey tabs.</p>
            <div class="form-field">
                <label>
                    Forehand <span class="rating-no" id="forhead_rating">1/5</span>
                </label>
                <div class="rating-spcl">
                    <span id="forhead1" class="current-rating" ng-click="setTraits('forhead', 1)"></span>
                    <span id="forhead2" ng-click="setTraits('forhead', 2)"></span>
                    <span id="forhead3" ng-click="setTraits('forhead', 3)"></span>
                    <span id="forhead4" ng-click="setTraits('forhead', 4)"></span>
                    <span id="forhead5" ng-click="setTraits('forhead', 5)"></span>
                </div>
                <input type="hidden" name="forhead_trait" value="1">
            </div>
            <div class="form-field">
                <label>
                    Backhand <span class="rating-no" id="backhand_rating">1/5</span>
                </label>
                <div class="rating-spcl">
                    <span id="backhand1" class="current-rating" ng-click="setTraits('backhand', 1)"></span>
                    <span id="backhand2" ng-click="setTraits('backhand', 2)"></span>
                    <span id="backhand3" ng-click="setTraits('backhand', 3)"></span>
                    <span id="backhand4" ng-click="setTraits('backhand', 4)"></span>
                    <span id="backhand5" ng-click="setTraits('backhand', 5)"></span>
                </div>
                <input type="hidden" name="backhand_trait" value="1">
            </div>
            <div class="form-field">
                <label>
                    Slice <span class="rating-no" id="slice_rating">1/5</span>
                </label>
                <div class="rating-spcl">
                    <span id="slice1" class="current-rating" ng-click="setTraits('slice', 1)"></span>
                    <span id="slice2" ng-click="setTraits('slice', 2)"></span>
                    <span id="slice3" ng-click="setTraits('slice', 3)"></span>
                    <span id="slice4" ng-click="setTraits('slice', 4)"></span>
                    <span id="slice5" ng-click="setTraits('slice', 5)"></span>
                </div>
                <input type="hidden" name="slice_trait" value="1">
            </div>
            <div class="form-field">
                <label>
                    Net Game <span class="rating-no" id="net_game_rating">1/5</span>
                </label>
                <div class="rating-spcl">
                    <span id="net_game1" class="current-rating" ng-click="setTraits('net_game', 1)"></span>
                    <span id="net_game2" ng-click="setTraits('net_game', 2)"></span>
                    <span id="net_game3" ng-click="setTraits('net_game', 3)"></span>
                    <span id="net_game4" ng-click="setTraits('net_game', 4)"></span>
                    <span id="net_game5" ng-click="setTraits('net_game', 5)"></span>
                </div>
                <input type="hidden" name="net_game_trait" value="1">
            </div>
            <div class="form-field">
                <label>
                    Serve <span class="rating-no" id="serve_rating">1/5</span>
                </label>
                <div class="rating-spcl">
                    <span id="serve1" class="current-rating" ng-click="setTraits('serve', 1)"></span>
                    <span id="serve2" ng-click="setTraits('serve', 2)"></span>
                    <span id="serve3" ng-click="setTraits('serve', 3)"></span>
                    <span id="serve4" ng-click="setTraits('serve', 4)"></span>
                    <span id="serve5" ng-click="setTraits('serve', 5)"></span>
                </div>
                <input type="hidden" name="serve_trait" value="1">
            </div>
            <div class="form-field">
                <label>
                    Point Play <span class="rating-no" id="point_play_rating">1/5</span>
                </label>
                <div class="rating-spcl">
                    <span id="point_play1" class="current-rating" ng-click="setTraits('point_play', 1)"></span>
                    <span id="point_play2" ng-click="setTraits('point_play', 2)"></span>
                    <span id="point_play3" ng-click="setTraits('point_play', 3)"></span>
                    <span id="point_play4" ng-click="setTraits('point_play', 4)"></span>
                    <span id="point_play5" ng-click="setTraits('point_play', 5)"></span>
                </div>
                <input type="hidden" name="point_play_trait" value="1">
            </div>
            <h3>Comments</h3>
            <p class="sub-line">max. 255 characters</p>
            <div class="form-field">
                <textarea name="comments" maxlength="255"></textarea>
            </div>
            <h3>Rating</h3>
            <div class="instr">To recommend a new rating, click on the "+,-" buttons.</div>
            <div class="current-ratting">
                <h4>Current Rating</h4>

                <ul>
                    <li><b>{{$root.avgRating}}</b></li>
                    <li>Self Rated</li>

                </ul>

            </div>
            <div class="form-field">
                <div class="text-align-center">
                    <input class="round-btn" type="button" value="-" id="moins" ng-click="minus()">
                    <div class="urtRating"><span><span class="rating-text">Coach Rated</span>1</span>
                    </div>
                    <input type="hidden" name="current_rating" id="current_rating" value="1" />
                    <input class="round-btn" type="button" value="+" id="plus" ng-click="plus()">
                </div>
                <div class="self-rated-discraption">

                    <h2>UTR Level <span id="utrNo">1</span> / NTRP Level XX</h2>
                    <p>Can sometimes use “attacking” tactics successfully. If well coached, should have developed or is developing
                        a full set of spins and advanced tactics. For further development, players should also be developing
                        athleticism to move to higher levels.</p>

                </div>
            </div>

            <div class="form-field">
                <div class="slide-bar">

                    <!--div id="firstUtr" class="slide-bar-section" ng-click="setUtr('0',$event)">
                        <span class="slider-no">-</span>
                        <span class="gray-box"></span>

                    </div-->

                    <div id="utr1" class="slide-bar-section" ng-click="setUtr('1')">
                        <span style="color: rgb(109, 204, 193);" class="slider-no">1</span>
                        <span style="background-color: rgb(115, 115, 115);" class="gray-box"></span>

                    </div>

                    <div id="utr2" class="slide-bar-section" ng-click="setUtr('2')">
                        <span class="slider-no">2</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr3" class="slide-bar-section" ng-click="setUtr('3')">
                        <span class="slider-no">3</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr4" class="slide-bar-section" ng-click="setUtr('4')">
                        <span class="slider-no">4</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr5" class="slide-bar-section" ng-click="setUtr('5')">
                        <span class="slider-no">5</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr6" class="slide-bar-section" ng-click="setUtr('6')">
                        <span class="slider-no">6</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr7" class="slide-bar-section" ng-click="setUtr('7')">
                        <span class="slider-no">7</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr8" class="slide-bar-section" ng-click="setUtr('8')">
                        <span class="slider-no">8</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr9" class="slide-bar-section" ng-click="setUtr('9')">
                        <span class="slider-no">9</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr10" class="slide-bar-section" ng-click="setUtr('10')">
                        <span class="slider-no">10</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr11" class="slide-bar-section" ng-click="setUtr('11')">
                        <span class="slider-no">11</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr12" class="slide-bar-section" ng-click="setUtr('12')">
                        <span class="slider-no">12</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr13" class="slide-bar-section" ng-click="setUtr('13')">
                        <span class="slider-no">13</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr14" class="slide-bar-section" ng-click="setUtr('14')">
                        <span class="slider-no">14</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr15" class="slide-bar-section" ng-click="setUtr('15')">
                        <span class="slider-no">15</span>
                        <span class="gray-box"></span>

                    </div>

                    <div id="utr16" class="slide-bar-section" ng-click="setUtr('16')">
                        <span class="slider-no">16</span>
                        <span class="gray-box"></span>

                    </div>

                    <div class="slide-image hide"><img src="images/pressed_notification.png" alt="Notification Image" /></div>
                </div>
                <input type="hidden" name="utr_level" value="1" />
            </div>


            <button type="submit" class="blk-btn btn-block bottom-btn" id="submitTitle">SUBMIT</button>

            <div class="lower-ancher"><a href="#">report this player</a></div>