<div class="right-box-set right-side-bar" id="addCourt">
   

<div class="right-bar popup-right-set">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeAddCourtForm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span id="courtFormTitle">Add Court</span></div>
    <form ng-submit="addCourt()">
        <div class="form-booking">
            <div class="form-field">
                <label>Status</label>

                <div class="tg-list-item" style="float:left">
                    <input class="tgl tgl-ios" id="courtStatus" type="checkbox"  />
                    <label class="tgl-btn" for="courtStatus"></label>
                </div>


            </div>
            
            <div class="form-field" id="courtIdDiv">
                <label>Court ID</label>

                <input type="text" readonly id="courtId"/>

            </div>

            <div class="form-field">
                <label>Court Name (max 25 characters)</label>

                <input type="text" required maxlength="25" id="courtName" placeholder="Court name">

            </div>

            <div class="form-field">
                <label>Surface</label>

                <select id="courtSurface" required>
                    <option value="">Select Surface</option>
                    <option ng-repeat="s in surfaces" value="{{s.CourtSurface.id}}">{{s.CourtSurface.name}}</option>
                </select>


            </div>


            <div class="form-field half-width">
                <label>
                    Opening Time
                </label>
                <select required id="courtOpeningHours">
                    <option ng-repeat="t in stime" value="{{t}}">{{t| formatDropDownTime}}</option>
                </select>
                <select required id="courtOpeningMinutes">
                    <option value="0">00 Mins</option>
                    <option value="30">30 Mins</option>
                </select>

            </div>


            <div class="form-field half-width">
                <label>
                    Closing Time
                </label>
                <select required id="courtClosingHours">
                    <option ng-repeat="t in stime" value="{{t}}">{{t| formatDropDownTime}}</option>
                </select>
                <select required id="courtClosingMinutes">
                    <option value="0">00 Mins</option>
                    <option value="30">30 Mins</option>
                </select>

            </div>

        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn" id="courtFormSubmitTitle">ADD COURT +</button>
    </form>
</div>
    
     <div class="overlay"></div>
    
    
</div>