<div id="Coach_Fees" class="hidepanel">
     <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
    <form id="commonCoachFeesForm" ng-submit="saveCommonCoachFees()">
       
            <div class="gen-right-box pad0">

                <h3 class="pad4-side-top">Coach Fees</h3>


                <div class="form-field head-sab">
                    Private Class
                </div>
<div class="box-pad">
                <div class="form-field">
                    <label>Maximum Players</label>
                    <input type="text" placeholder="0" name="private_class_max_players">
                </div>

                <div class="form-field">
                    <label>Default Normal Fees</label>
                    <input type="text" placeholder="$" name="private_class_normal_fees">
                </div>

                <div class="form-field">
                    <label>Default Peak Fees</label>
                    <input type="text" placeholder="%" name="private_class_peak_fees">
                </div>

                <div class="form-field">
                    <label>Additional Player Fees (Per Head)</label>
                    <input type="text" placeholder="$" name="private_class_additional_player_fees">
                </div>

            </div>
        </div>

            <div class="gen-right-box pad0 border-top-0">

                <div class="form-field head-sab">
                    Group Class
                </div>
<div class="box-pad">
                <div class="form-field">
                    <label>Maximum Players</label>
                    <input type="text" placeholder="0" name="group_class_max_players">
                </div>

                <div class="form-field">
                    <label>Default Normal Fees</label>
                    <input type="text" placeholder="$" name="group_class_normal_fees">
                </div>

                <div class="form-field">
                    <label>Default Peak Fees</label>
                    <input type="text" placeholder="$" name="group_class_peak_fees">
                </div>

                <div class="form-field">
                    <label>Additional Player Fees (Per Head)</label>
                    <input type="text" placeholder="$" name="group_class_additional_player_fees">
                </div>
                </div>
            </div>

            <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

       
    </form>

   
        <div class="gen-right-box marg-top-30">

            <h3>Individual Coachig Fees</h3>

            <div class="tab-table">
                <table class="custom-table facilty" id="coachingFeesTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr> 
                            <th><input type='checkbox' id='checkAllCoachingFees' ng-click='selectDeselectAllCoachingFees()' class='checkselect'/></th>
                            <th style="width:15%">Coach Name</th>
                            <th style="width:15%">Normal Fees</th>
                            <th style="width:15%">Peak Fees</th>
                            <th style="width:15%">Normal Fees</th>
                            <th style="width:15%">Peak Fees</th>
                            <th style="width:9%">&nbsp;</th>
                        </tr>
                    </thead>

                </table>


            </div>


        </div>

        <button class="blk-btn btn-block bottom-btn" ng-click="openAddCoachingFeesForm()">ADD COACHING FEES +</button>

    </div>

</div>