<form id="Court_Fees" ng-submit="saveCourtFees()" class="hidepanel"> 
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box">

            <h3>Court Fees</h3>

            <div class="form-field">
                <label>
                    Normal Fees
                </label>
                <input type="text" id="normal_fee" required name="rate" value="{{$root.courtFees.Court.rate}}" placeholder="$">
            </div>
            
            <div class="form-field">
                <label>
                    Peak Fees (value will be rounded upto integer)
                </label>
                <input type="text" id="peak_fee" required name="peak_rate" value="{{$root.courtFees.Court.peak_rate}}" placeholder="xxx%">
            </div>

        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

    </div>
</form>