<form id="General" ng-submit="saveGeneralSettings()">
                                                        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
                                                            <div class="gen-right-box">

                                                                <h3>General</h3>


                                                                <div class="form-field">
                                                                    <label>Advanced booking limit</label>
                                                                    <select id="advance_booking" required>
                                                                        <option value="30">1 month</option>
                                                                        <option value="60">2 months</option>
                                                                        <option value="90">3 months</option>
                                                                        <option value="120">4 months</option>
                                                                    </select>
                                                                </div>

                                                                <div class="form-field">
                                                                    <label>
                                                                        Additional fees for non-members
                                                                    </label>
                                                                    <input type="text" id="non_member_fee" required placeholder="$ 00000">
                                                                </div>

                                                                <div class="form-field">
                                                                    <label>
                                                                        Payment Method <span>(in web system)</span>
                                                                    </label>
                                                                    <div class="check-div"><input type="checkbox" id="payment_method_credit_card" class="ui-checkbox"/><label for="checkbox-2-1">Credit Card</label></div>
                                                                    <div class="check-div"><input type="checkbox" id="payment_method_cash" class="ui-checkbox"/><label for="checkbox-2-2">Cash / Check</label></div>
                                                                    <div class="check-div"><input type="checkbox" id="payment_method_sponsored" class="ui-checkbox"/><label for="checkbox-2-3">Sponsored</label></div>
                                                                </div>


                                                            </div>

                                                            <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

                                                        </div>
                                                    </form>