<div id="Refund_Policy" class="hidepanel">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <form id="refundPolicyForm" ng-submit="saveRefundPolicy()">
            <div class="gen-right-box pad0">
                <h3 class="pad4-side-top">Refund Policy</h3>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="bg-th"><input type="checkbox" class="ui-checkbox" ng-click="enableTier(1)" value="1" id="tier1" name="refund_policy[0][tier_level]" /></th>
                                        <th class="bg-th"><label for="tier1">Tier 1</label></th>
                                        <th class="bg-th">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div class="form-field">
                                                <label>Hours before booked time</label>
                                                <select disabled id="days1" required name="refund_policy[0][days]">
                                                    <option value="">Choose Hours</option>
                                                    <option value="10">10 Hours</option>
                                                    <option value="24">24 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                    <option value="72">72 Hours</option>
                                                    <option value="360">15 Days</option>
                                                    <option value="720">1 Month</option>
                                                    <option value="1480">2 Months</option>
                                                    <option value="2160">3 Months</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div class="form-field">
                                                <label>Cancellation charge (%)</label>
                                                <input disabled id="charge1" required type="text" placeholder="00" name="refund_policy[0][charge]">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th  class="bg-th"><input type="checkbox" ng-click="enableTier(2)" class="ui-checkbox" id="tier2" value="2" name="refund_policy[1][tier_level]" /></th>
                                        <th  class="bg-th"><label for="tier2">Tier 2</label></th>
                                        <th  class="bg-th">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div class="form-field">
                                                <label>Hours before booked time</label>
                                                <select disabled id="days2" required name="refund_policy[1][days]">
                                                    <option value="">Choose Hours</option>
                                                    <option value="10">10 Hours</option>
                                                    <option value="24">24 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                    <option value="72">72 Hours</option>
                                                    <option value="360">15 Days</option>
                                                    <option value="720">1 Month</option>
                                                    <option value="1480">2 Months</option>
                                                    <option value="2160">3 Months</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div class="form-field">
                                                <label>Cancellation charge (%)</label>
                                                <input disabled id="charge2" type="text" require placeholder="00" name="refund_policy[1][charge]">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <th  class="bg-th"><input type="checkbox" ng-click="enableTier(3)" class="ui-checkbox" id="tier3" value="3" name="refund_policy[2][tier_level]" /></th>
                                        <th  class="bg-th"><label for="tier3">Tier 3</label></th>
                                        <th  class="bg-th">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div class="form-field">
                                                <label>Hours before booked time</label>
                                                <select disabled id="days3" required name="refund_policy[1][days]">
                                                    <option value="">Choose Hours</option>
                                                    <option value="10">10 Hours</option>
                                                    <option value="24">24 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                    <option value="72">72 Hours</option>
                                                    <option value="360">15 Days</option>
                                                    <option value="720">1 Month</option>
                                                    <option value="1480">2 Months</option>
                                                    <option value="2160">3 Months</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div class="form-field">
                                                <label>Cancellation charge (%)</label>
                                                <input disabled id="charge3" type="text" required placeholder="00" name="refund_policy[1][charge]">
                                            </div>
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>
        </form>
    </div>
</div>