<div id="Special_Fees" class="hidepanel">
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
            <div class="gen-right-box">
                <h3>Special Fees</h3>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="spFee in specialFees">
                                        <th><input type="checkbox"  class="ui-checkbox" id="spFee{{spFee.SpecialFee.id}}" /><label for="checkbox-1-2"></label></th>
                                        <th>{{spFee.SpecialFee.title}}</th>
                                        <th>{{spFee.SpecialFee.start_date| date: 'd MM yyyy'}} - {{spFee.SpecialFee.end_date| date: 'd MM yyyy'}}</th>
                                        <th>{{spFee.SpecialFee.rate}}</th>
                                        <th style="text-align:center"><a href='javascript:' ng-click="editSpecialFeesForm(spFee.SpecialFee.id)"><img class='ancher-img' src='images/edit.png'/></a></th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="pagenation">
                            <button ng-click="deleteSpecialFees()"><img src="images/delete-bg-white.png"/></button>
                        </div>
                    </div>

                </div>
            </div>
            <button ng-click="addSpecialFees()" class="blk-btn btn-block bottom-btn">ADD SPECIAL FEES +</button>
        </div>
</div>