<form id="CV" ng-submit="saveCv()">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box">

            <h3>CV</h3>


            <!--div class="form-field">
                <label>Years of Experience</label>
                <input type="text" name="experiance" required>
            </div-->

            <div class="form-field yearsExperienceDiv">
                <label>
                    Years of Experience
                </label>
                <div class="fieldbox">
                <select name="coachYearsExperience[0][from_year]" class="experianceSelect" required>
                    <option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
                </select>
                </div>
                <div class="fieldbox2">
                <select name="coachYearsExperience[0][to_year]" class="experianceSelect" required>
                    <option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
                </select>
                </div>
                
                <select name="coachYearsExperience[0][type]" class="experianceSelect" required>
                    <option value="PTR">PTR</option>
                    <option value="USPTA">USPTA</option>
                    <option value="ITPA">ITPA</option>
                    <option value="GPTCA">GPTCA</option>
                </select>
               
                <div id="addMoreYearsExperience" class="amye date-time float-right" ng-click="addMoreYearsExperience()">ADD YEARS OF EXPERIENCE +</div>
                <div id="removeYearsExperience" style="display:none" class="amye date-time float-right" ng-click="removeYearsExperience()">REMOVE YEARS OF EXPERIENCE -</div>
            </div>
            
            <div id="extraYearsExperiences"></div>

            <div class="form-field experienceDiv">
                <label>
                    Coaching Experience
                </label>
                <div class="fieldbox">
                <select name="coachExperience[0][from_year]" class="experianceSelect" required>
                    <option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
                </select>
                </div>
                <div class="fieldbox2">
                <select name="coachExperience[0][to_year]" class="experianceSelect" required>
                    <option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
                </select>
                </div>
                <input type="text" name="coachExperience[0][place]" class="experianceSelect mt12" placeholder="Place" required />
                <div id="addMoreExperience" class="amye date-time float-right" ng-click="addMoreExperience()">ADD YEARS OF COACHING EXPERIENCE +</div>
                <div id="removeExperience" style="display:none" class="amye date-time float-right" ng-click="removeExperience()">REMOVE COACHING EXPERIENCE -</div>
            </div>


            <div id="extraExperiences"></div>



            <div class="form-field certificationDiv">
                <label>
                    Certifications
                </label>
                <div class="fullwidthSelect fieldbox">
                <select name="coachCertificates[0][name]" >
                    <option value="">Select Certificate</option>
                    <option value="PTR">PTR</option>
                    <option value="USPTA">USPTA</option>
                    <option value="ITPA">ITPA</option>
                    <option value="GPTCA">GPTCA</option>
                </select>
                </div>
                <div id="addMoreCertification" class="amye date-time float-right" ng-click="addMoreCertification()">ADD CERTIFICATION +</div>
                <div id="removeCertification" style="display:none" class="amye date-time float-right" ng-click="removeCertification()">REMOVE CERTIFICATION -</div>

            </div>

            <div id="extraCertifications"></div>
            
            
            <div class="form-field fullwidthSelect">
                <label>
                    Remarks <span class="smlTxt">(max. 500 characters)</span>
                </label>
                <textarea name="coachRemark" ></textarea>
            </div>

        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

    </div>
</form>