

<div id="Join_A_Club" class="hidepanel">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">


        <div class="gen-right-box marg-top-30" ng-repeat="clubs in joinedClubs.Club">

            <h3>{{clubs.name}}</h3>

            <div class="form-field">
                <label>
                    Designation
                </label>
                <span>{{clubs.CoachRelation.designation}}</span>
            </div>
            
            <div class="form-field">
                <label>
                    Availability
                </label>
                <div ng-repeat="av in joinedClubs.CoachAvailableHour">
                    <span ng-if="av.club_id==clubs.id">{{av.day}}: {{av.start_time | formatTime}} - {{av.end_time | formatTime}}</span>
                </div>
                
            </div>
            
            <div class="form-field">
                <label>
                    Start Date
                </label>
                <span>{{clubs.CoachRelation.created | formatDate}}</span>
                
            </div>
            
            <div class="form-field">
                <label>
                    Basic Salary
                </label>
                <span>$ {{clubs.CoachRelation.salary}}</span>
                
            </div>
            
            <div class="form-field">
                <label>
                    Commission
                </label>
                <span>{{clubs.CoachRelation.commission}} %</span>
                
            </div>

        </div>


        <button type="button" class="blk-btn btn-block bottom-btn" ng-click="openApplyClub()">JOIN A CLUB</button>

    </div>   </div>
