<div id="Personal_Details" class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0 hidepanel">
    <form id="updatePersonalDetailsForm" ng-submit="updatePersonalDetails()" >
        <div class="gen-right-box">

            <h3>Personal Details</h3>

            <div class="form-field">

                <div class="club-profile-img">  
                    <img ng-if="profile_picture != ''" src="{{uploadUrl + $root.Coach.profile_picture}}"/>
                    <img ng-if="profile_picture == ''" src="images/profile.jpg"/>
                    <span ng-click="openImagePicker('profile_picture')"><button disabled><img src="images/edit.png"/></button></span></div>
                <input type="file" onChange="showCoachPicture(this)" style="visibility:hidden; width:0; height:0;" id="profile_picture" name="profile_picture" />



                <div class="form-field-inner">

                    <label>
                        First Name
                    </label>
                    <input type="text" placeholder="First Name" name="first_name" required value="{{$root.Coach.first_name}}">

                    <label>
                        Last Name
                    </label>
                    <input type="text" placeholder="Last Name" name="last_name" required value="{{$root.Coach.last_name}}">

                </div>

            </div>

            <div class="form-field">
                <label>
                    Gender
                </label>
                <button type="button" id="coachMale" class="genderActive male-btn" ng-click="setGender(1)"><i class="fa fa-mars"></i>Male</button> <button type="button" id="coachFemale" ng-click="setGender(2)" class="female-btn"><i class="fa fa-venus"></i>Female</button>
                <input type="hidden" id="coachGender" name="gender" value="1" />
            </div>

            <div class="form-field">
                <label>
                    Date of Birth
                </label>
                <input type="text" required class="form-control" name="dob" />
            </div> 

            <div class="form-field">
                <label>
                    Contact No.
                </label>
                <input type="text" placeholder="" name="phone" required value="{{$root.Coach.phone}}">
            </div>    

            <div class="form-field">
                <label>
                    Address Line 1
                </label>
                <input type="text" placeholder="" name="address_1" required value="{{$root.Coach.address_1}}">
            </div> 

            <div class="form-field">
                <label>
                    Address Line 2
                </label>
                <input type="text" placeholder="" name="address_2" value="{{$root.Coach.address_2}}">
            </div> 

            <div class="form-field">
                <label>
                    City
                </label>
                <input type="text" placeholder="" name="city" required value="{{$root.Coach.city}}">
            </div>

            <div class="form-field">
                <label>
                    Postcode
                </label>
                <input type="text" placeholder="" name="postal_code" required value="{{$root.Coach.postal_code}}">
            </div>                            

            <div class="form-field">
                <label>
                    Country
                </label>
                <select id="country_id" name="country_id" required>
                    <option value="">Choose Country</option>
                    <option ng-repeat="country in countries" value="{{country.Country.id}}">{{country.Country.name}}</option>
                </select>
            </div> 

            <div class="form-field">
                <label>
                    Bio (Maximum 1000 Characters)
                </label>
                <textarea name="detail" required maxlength="1000">{{$root.Coach.detail}}</textarea>
            </div> 

            <div class="form-field">
                <label>
                    Achievements
                </label>
                <textarea name="achievements" required maxlength="500">{{$root.Coach.achievements}}</textarea>
            </div>  

            <div class="form-field">
                <label>
                    Coaching Age Group
                </label>
                <select id="min_age_group" name="min_age_group" required>
                        <option ng-repeat="agegroup in getAgeGroup(70)" value="{{agegroup}}" >{{agegroup}}</option>
                    <option ng-repeat="agegroup in getAgeGroup(71)" value="{{agegroup}}" ng-if="agegroup==70">70+</option>
                </select>
                <select id="max_age_group" name="max_age_group" required>
                        <option ng-repeat="agegroup in getAgeGroup(70)" value="{{agegroup}}" >{{agegroup}}</option>
                        <option ng-repeat="agegroup in getAgeGroup(71)" value="{{agegroup}}" ng-if="agegroup==70">70+</option>
                </select>
            </div> 

            <div class="form-field">
                <label>
                    Max Class Length (hours)
                </label>
                <input type="text" placeholder="" name="class_length" value="{{$root.Coach.class_length}}">
            </div>

            <div class="form-field">
                <label>
                    No. of Players Per Class
                </label>
                <input type="text" placeholder="" name="players_per_class" value="{{$root.Coach.players_per_class}}">
            </div> 

            
        </div>



        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button> 

    </form>
</div>