

<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>



                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>








            </div>





            <!-- Page content -->





            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>





                <div class="app-content-body">
                    <div class="tab-table marg-top-50">
                        <table class="main-coach-list" cellpadding="0" colspan="0" border="0" style="width:100% !important; padding:0 !important">
                            <tr>
                                <td class="no-border no-bg pad0">
                                    <div class="container-main">
                                        <div class="club-setup-main">
                                            <table class="custom-ancher" id="classtablist"  cellspacing="0" width="100%">
                                                <tr> 
                                                    <td class="no-border no-bg pad0">
                                                        <table>
                                                            <tr>
                                                                <td class="no-border no-bg pad0" style="width:70px !important;">
                                                                    <a href="javascript:" class="form-control" id="classList" ng-click="showCoachList()">Player Performance</a>

                                                                </td>

                                                                <!--td class="no-border no-bg pad0">
                                                                    <a href="javascript:" class="form-control" id="reviewClasses" ng-click="showReviewClasses()">Review Classes</a>
                                                                </td-->

                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr> 
                                            </table></div></div>
                                </td>
                            </tr>
                            <tr>
                                <td  class="no-border no-bg pad0"> 
                                    <div class="container-main">
                                        <div class="club-setup-main">
                                            <table class="custom-table coach-list pad0" id="classListTable" cellspacing="0" width="100%">
                                                <thead>

                                                    <tr>
                                                        <th style="width:35% !important; text-align:left;">Class Name</th>
                                                        <th style="width:15%">Play Date</th>
                                                        <th style="width:15%">Pending Feedbacks</th>
                                                        <th style="width:15%">&nbsp;</th>
                                                    </tr>
                                                </thead>

                                            </table>
                                        </div></div>

                                </td>
                            </tr>
                        </table>
                    </div>

                </div>


            </div>

        </div>



    </div>



</div>
<div ng-include="'playerperformance/rightsidebargroupclassdetails.html'"></div>
<div ng-include="'playerperformance/rightsidebarfeedback.html'"></div>
<div ng-include="'playerperformance/playerProfile.html'"></div>
