<div id="playerProfileOverlay" class="overlay hide">



</div>
<div class="box-main box-main-inner hide" id="playerProfileMainDiv" style="padding: 0px !important">
    <div class="container-fluid">
        <div class="row">
            <div class="main-side-div">
                <div class="col-md-12 col-sm-12 col-xs-12 pad0">


                    <div class="form-top-gray">


                        <div class="profile-detail-div">

                            <div class="side-header blank-div">
                                <button class="pull-right" ng-click="closePlayerProfile()"><img src="images/cross.png"></button>

                            </div>


                            <div class="profile-picture">


                                <img src="{{$root.picUrl}}{{$root.playerInfo.Player.profile_picture}}" alt="Coach Profile Picture">


                            </div>


                            <div class="profile-detail-inner">


                                <div class="coach-name"> {{$root.playerInfo.Player.first_name}} {{$root.playerInfo.Player.last_name}}<i class="fa fa-mars" aria-hidden="true"></i>
                                </div>

                                <div class="experience">


                                    <span ng-if="$root.playerInfo.Player.self_rating == 0">Not Rated</span>
                                    <span ng-if="$root.playerInfo.Player.self_rating > 0">{{$root.playerInfo.Player.self_rating}}</span> | 0000 XP<br>
                                    Last Played: {{$root.playerInfo.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}
                                </div>


                            </div>

                        </div>



                    </div>

                    <div class="coach-all-detail-tab">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="javascript:void(0)" ng-click="showPlayerProfileTab('1a')" data-toggle="tab">PROFILES</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" ng-click="showPlayerProfileTab('2a')" data-toggle="tab">ABOUT</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" ng-click="showPlayerProfileTab('3a')" data-toggle="tab">REVIEWS</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" ng-click="showPlayerProfileTab('4a')" data-toggle="tab">PLAYS</a>
                            </li>

                        </ul>


                        <div class="tab-content clearfix">

                            <div id="1a" class="tab-pane active">

                                <div class="top-rated-div">

                                    <div class="top-rated-div-inner">

                                        <p>{{$root.playerInfo.Player.utr_level}}</p>
                                        <span>UTR</span>

                                    </div>

                                    <div class="top-rated-div-inner">

                                        <p>{{$root.playerInfo.Player.ntrp_level}}</p>
                                        <span>NTRP</span>

                                    </div>


                                    <div class="top-rated-div-inner">

                                        <p>{{$root.playerInfo.Player.wta}}</p>
                                        <span>WTA/ATP</span>

                                    </div>

                                    <div class="top-rated-div-inner">

                                        <p>{{$root.playerInfo.Player.itf}}</p>
                                        <span>ITF</span>

                                    </div>


                                </div>

                                <div class="coach-info">
                                    <div class="slider1">
                                        <div ng-repeat="badges in $root.playerInfo.Badge" class="slide">
                                            <img src="{{$root.picUrl}}{{badges.Badge.image}}">
                                        </div>
                                    </div>
                                    <div>Global Position: {{$root.playerInfo.Player.global_ranking}}</div>
                                    <div>Regional Position: {{$root.playerInfo.Player.band_ranking}}</div>
                                    <div>{{$root.playerInfo.Player.created| date: 'dd MM yyyy'}}</div>


                                    <div class="coach-info-inner">
                                        <label>Traits</label>
                                        <ul ng-repeat="feedbacks in $root.playerInfo.PlayerFeedback" ng-if="feedbacks.club_booking_id=$root.clubBookingId">
                                            <li>Forhand: {{feedbacks.forhead_trait}}</li>
                                            <li>Backhand: {{feedbacks.backhand_trait}}</li>
                                            <li>Slice: {{feedbacks.slice_trait}}</li>
                                            <li>Net Game: {{feedbacks.netgame_trait}}</li>
                                            <li>Serve: {{feedbacks.serve_trait}}</li>
                                            <li>Point Play: {{feedbacks.point_play_trait}}</li>
                                        </ul>


                                    </div>


                                    





                                </div>

                                <div class="footer-bottom">

                                    <div class="footer-bottom-inner">

                                        <ul>
                                            <li>CLUB MEMBER: <span>00000</span></li>
                                            <li>LUDO: <span>{{00000+$root.playerInfo.Player.user_id}}</span></li>
                                        </ul>

                                    </div>


                                </div>

                            </div>

                            <div id="2a" class="tab-pane">

                                <div class="tab-second">
                                    <div class="tab-second-inner">
                                        <div class="pro-star">

                                            <div class="pro-star-innar blk-star">
                                                <span>{{avgRating}}</span><img src="images/star.png" />

                                            </div>
                                            <div class="pro-star-innar white-profile">

                                                <span>{{totalPlayer}}</span><img src="images/profile-tab.png" />
                                            </div>


                                        </div>

                                        <div class="player-detail-tab" ng-repeat="review in coachReview| limitTo:reviewLimit">
                                            <h3>{{review.Player.first_name}} {{review.Player.last_name}} <span>{{review.rating_star}}</span></h3>
                                            <div class="datendtime">

                                                {{review.created| formatDate}}

                                            </div>
                                            <p>
                                                {{review.review}}
                                            </p>

                                        </div>

                                    </div>
                                    <div id="loadMoreReviews" ng-if="coachReview.length > 2" class="load-section" ng-click="showMoreReviews()"><a href="javascript:void(0)">load more reviews</a></div>
                                </div>

                                <div class="footer-bottom">

                                    <div class="footer-bottom-inner">

                                        <ul>
                                            <li>CLUB MEMBER: <span>{{coachDetails.membership_id}}</span></li>
                                            <li>LUDO: <span>{{coachDetails.id}}</span></li>
                                        </ul>

                                    </div>


                                </div>

                            </div>


                            <div id="3a" class="tab-pane">
                                <div class="tab-table">
                                    <table cellspacing="0" cellspacing="0" style="width:100% !important; border-bottom:1px solid #cfcfce;">
                                        <tr>
                                            <td class="no-border no-bg">
                                                <table cellspacing="0" cellspacing:"0" class="tab-popup">
                                                       <tr>
                                                        <td class="no-border no-bg">
                                                            <a href="javascript:" class="form-control first-tab" id="upcomingClass" ng-click="showUpcomingClass()">Upcoming Classes</a>
                                                            <a href="javascript:" class="form-control second-tab" id="pastClass" ng-click="showPastClass()">Past Classes</a>

                                                        </td>



                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="popup-table"  id="example" cellspacing="0" width="100%" style="padding-top:0; border-bottom:none;">
                                        <thead>

                                            <tr>
                                                <th style="width:23% !important;padding: 10px 1%;text-align: left;">Date</th>
                                                <th style="width:23%;padding: 10px 1%;text-align: left;">Time</th>
                                                <th style="width:23%;padding: 10px 1%;text-align: left;">Play Type</th>
                                                <th style="width:23%;padding: 10px 1%;text-align: left;">&nbsp;</th>
                                            </tr>
                                        </thead>

                                    </table>


                                </div>
                            </div>

                            <div id="4a" class="tab-pane">


                                <div class="coach-info">

                                    <div class="coach-info-inner">
                                        <label>Coaching Experience</label>

                                        <ul class="edit-ul-text">
                                            <li ng-repeat="exp in coachExperiance">
                                                <span class="text-color-ch">{{exp.from_year}} - {{exp.to_year}}</span>{{exp.place}}
                                            </li>


                                        </ul>

                                    </div>

                                    <div class="coach-info-inner">
                                        <label>Joined Since</label>
                                        <p>{{coachDetails.created| date:'dd MM yyyy'}}</p>
                                    </div>


                                    <div class="coach-info-inner">
                                        <label>Certifications</label>

                                        <ul class="edit-ul-text1">
                                            <li ng-repeat="crt in coachCertificate">
                                                <span class="text-color-ch">-</span><a target="_blank" href="{{uploadUrl}}{{crt.attachement}}">{{crt.name}}</a>
                                            </li>
                                        </ul>

                                    </div>

                                    <div class="coach-info-inner">
                                        <label>Remarks</label>
                                        <p>
                                            {{coachDetails.remarks}}
                                        </p>
                                    </div>


                                </div>




                            </div>

                        </div>







                    </div>
                </div>


            </div>


        </div>
    </div>
</div>