<div class="box-main-inner hide" id="coachProfileMainDiv" style="padding: 0px !important">
        <div class="container-fluid">
            <div class="row">
                <div class="main-side-div">
                    <div class="col-md-12 col-sm-12 col-xs-12 pad0">
                        <div class="approveProfileDiv">
                            <button class="approvalProfileAccept" ng-click="coachProfileAction(1,coachDetails.id)">Approve<span><img src="images/check.png" /></span></button>
                            <button class="approvalProfileReject" ng-click="coachProfileAction(2,coachDetails.id)">Reject<span><img src="images/cross-reject.png" /></span></button>
                        </div>

                        <div class="form-top-gray">


                            <div class="profile-detail-div">

                                <div class="side-header blank-div">
                                    <button class="pull-right" onClick="closeCoachProfile()"><img src="images/cross.png"></button>

                                </div>


                                <div class="profile-picture">


                                    <img src="{{coachImage}}" alt="Coach Profile Picture">


                                </div>


                                <div class="profile-detail-inner">

                                    <label>Coach</label>

                                    <div class="coach-name"> {{coachDetails.name}} <i class="fa fa-mars" aria-hidden="true"></i>
                                    </div>

                                    <div class="experience">


                                        <span>{{coachDetails.experiance}}</span> year of experience
                                    </div>


                                    <div class="designation">{{coachDetails.position}}</div>
                                </div>

                            </div>



                        </div>

                        <div class="coach-all-detail-tab">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="javascript:void(0)" onClick="showCoachProfileTab('1aa')" data-toggle="tab">ABOUT</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showCoachProfileTab('2aa')" data-toggle="tab">REVIEWS</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showCoachProfileTab('3aa')" data-toggle="tab">ClASSES</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showCoachProfileTab('4aa')" data-toggle="tab">CV</a>
                                </li>

                            </ul>


                            <div class="tab-content clearfix">

                                <div id="1a" class="tab-pane active">

                                    <div class="top-rated-div">

                                        <div class="top-rated-div-inner">

                                            <p>{{coachDetails.utr_level}}</p>
                                            <span>UTR</span>

                                        </div>

                                        <div class="top-rated-div-inner">

                                            <p>{{coachDetails.ntrp_level}}</p>
                                            <span>NTRP</span>

                                        </div>


                                        <div class="top-rated-div-inner">

                                            <p>{{coachDetails.wta}}</p>
                                            <span>WTA/ATP</span>

                                        </div>

                                        <div class="top-rated-div-inner">

                                            <p>{{coachDetails.itf}}</p>
                                            <span>ITF</span>

                                        </div>


                                    </div>

                                    <div class="coach-info">

                                        <div class="coach-info-inner">
                                            <label>Date of Birth</label>
                                            <p>{{coachDetails.dob | date: 'dd MM yyyy'}}</p>
                                        </div>


                                        <div class="coach-info-inner">
                                            <label>Age</label>
                                            <p>{{coachAge}}</p>
                                        </div>




                                        <div class="coach-info-inner">
                                            <label>Email</label>
                                            <p>{{userDetails.email}}</p>
                                        </div>



                                        <div class="coach-info-inner">
                                            <label>Contact</label>
                                            <p>{{coachDetails.phone}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Address</label>
                                            <p>{{coachDetails.address}}</p>
                                        </div>


                                        <div class="coach-info-inner">
                                            <label>Postcode</label>
                                            <p>{{coachDetails.postal_code}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>City</label>
                                            <p>{{coachDetails.city}}</p>
                                        </div>


                                        <div class="coach-info-inner">
                                            <label>Country</label>
                                            <p>{{countryDetails.name}}</p>
                                        </div>


                                        <div class="coach-info-inner">
                                            <label>Coaching Age Group</label>
                                            <p>{{coachDetails.min_age_group}} - {{coachDetails.max_age_group}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Bio</label>

                                            <p>
                                                {{coachDetails.detail}}
                                            </p>


                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Achievement</label>

                                            <p>
                                                {{coachDetails.achievements}}
                                            </p>


                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Availability</label>
                                            <ul>
                                                <li ng-repeat="ca in coachAvailableHours track by $index">
                                                    <span class="text-color-ch">{{ca.day}} :</span>{{ca.start_time | formatTime}}
                                                    - {{ca.end_time | formatTime}}
                                                </li>
                                            </ul>


                                        </div>


                                        <div class="coach-info-inner">
                                            <label>Class length</label>
                                            <p>{{coachDetails.class_length}}</p>
                                        </div>


                                        <div class="coach-info-inner">
                                            <label>No. of Player Per Class</label>
                                            <p>{{coachDetails.players_per_class}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Coaching Sports</label>
                                            <ul class="one-row">
                                                <li><img src="images/tennes-list.png" /></li>
                                                <li><img src="images/golf.png" /></li>
                                                <li><img src="images/bedminten.png" /></li>
                                                <li><img src="images/chess.png" /></li>
                                                <li><img src="images/basketball.png" /></li>
                                                <li><img src="images/swiming.png" /></li>
                                                <li><img src="images/squesh.png" /></li>
                                            </ul>
                                        </div>

                                    </div>



                                </div>

                                <div id="2a" class="tab-pane">

                                    <div class="tab-second">
                                        <div class="tab-second-inner">
                                            <div class="pro-star">

                                                <div class="pro-star-innar blk-star">
                                                    <span>{{avgRating}}</span><img src="images/star.png" />

                                                </div>
                                                <div class="pro-star-innar white-profile">

                                                    <span>{{totalPlayer}}</span><img src="images/profile-tab.png" />
                                                </div>


                                            </div>

                                            <div class="player-detail-tab" ng-repeat="review in coachReview | limitTo:reviewLimit">
                                                <h3>{{review.Player.first_name}} {{review.Player.last_name}} <span>{{review.rating_star}}</span></h3>
                                                <div class="datendtime">

                                                   {{review.created | formatDate}}

                                                </div>
                                                <p>
                                                    {{review.review}}
                                                </p>

                                            </div>

                                        </div>
                                        <div id="loadMoreReviews" ng-if="coachReview.length>2" class="load-section" ng-click="showMoreReviews()"><a href="javascript:void(0)">load more reviews</a></div>
                                    </div>

                                    <div class="footer-bottom">

                                        <div class="footer-bottom-inner">

                                            <ul>
                                                <li>CLUB MEMBER: <span>{{coachDetails.membership_id}}</span></li>
                                                <li>LUDO: <span>{{coachDetails.id}}</span></li>
                                            </ul>

                                        </div>


                                    </div>

                                </div>


                                <div id="3a" class="tab-pane">
                                    <div class="tab-table">
                                        <table cellspacing="0" cellspacing="0" style="width:100% !important; border-bottom:1px solid #cfcfce;">
                                                  <tr>
                                                    <td class="no-border no-bg">
                                                        <table cellspacing="0" cellspacing:"0" class="tab-popup">
                                                            <tr>
                                                                <td class="no-border no-bg">
                                                                    <a href="javascript:" class="form-control first-tab" id="upcomingClass" ng-click="showUpcomingClass()">Upcoming Classes</a>
                                                                       <a href="javascript:" class="form-control second-tab" id="pastClass" ng-click="showPastClass()">Past Classes</a>

                                                                </td>

                                                               

                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                        </table>

                                        <table class="popup-table"  id="example" cellspacing="0" width="100%" style="padding-top:0; border-bottom:none;">
                                            <thead>
                                                
                                                <tr>
                                                    <th style="width:23% !important;padding: 10px 1%;text-align: left;">Date</th>
                                                    <th style="width:23%;padding: 10px 1%;text-align: left;">Time</th>
                                                    <th style="width:23%;padding: 10px 1%;text-align: left;">Play Type</th>
                                                    <th style="width:23%;padding: 10px 1%;text-align: left;">&nbsp;</th>
                                                </tr>
                                            </thead>

                                        </table>


                                    </div>
                                </div>

                                <div id="4a" class="tab-pane">


                                    <div class="coach-info">

                                        <div class="coach-info-inner">
                                            <label>Coaching Experience</label>

                                            <ul class="edit-ul-text">
                                                <li ng-repeat="exp in coachExperiance">
                                                    <span class="text-color-ch">{{exp.from_year}} - {{exp.to_year}}</span>{{exp.place}}
                                                </li>


                                            </ul>

                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Joined Since</label>
                                            <p>{{coachDetails.created | date:'dd MM yyyy'}}</p>
                                        </div>


                                        <div class="coach-info-inner">
                                            <label>Certifications</label>

                                            <ul class="edit-ul-text1">
                                                <li ng-repeat="crt in coachCertificate">
                                                    <span class="text-color-ch">-</span><a target="_blank" href="{{uploadUrl}}{{crt.attachement}}">{{crt.name}}</a>
                                                </li>
                                            </ul>

                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Remarks</label>
                                            <p>
                                                {{coachDetails.remarks}}
                                            </p>
                                        </div>


                                    </div>




                                </div>

                            </div>







                        </div>
                    </div>


                </div>


            </div>
        </div>
</div>