<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>

                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>


                <div class="demo-section k-content">

                    <kendo-calendar k-options="calendar" id="kendoCalendar"></kendo-calendar>

                </div>


                <div class="main-select-out">

                    <div class="form-field" ng-if="role_id > 2">

                        <img src="images/pro-bid.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType(1, $event, club_id, 2)"  />
                        <img src="images/groupclass.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType(6, $event, club_id, 2)" />
                        <img src="images/beacon.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType(4, $event, club_id, 2)" />

                        </select>

                    </div>
                    
                    <div class="form-field" ng-if="role_id == 2">

                        <img src="images/pro-bid.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType(1, $event, coach_id, 2)"  />
                        <img src="images/groupclass.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType(6, $event, coach_id, 2)" />
                        <img src="images/beacon.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType(4, $event, coach_id, 2)" />

                        </select>

                    </div>

                    <div class="form-field" ng-if="role_id > 2">

                        <select ng-model="courtId" id="courtId" ng-change="setCalendarFlow(club_id, courtId, 2)">

                            <option value="">All Courts</option>

                            <option ng-repeat="court in courts" value="{{court.id}}">{{court.name}}</option>

                        </select>

                    </div>
                    
                    <div class="form-field" ng-if="role_id == 2">

                        <select ng-model="courtId" id="courtId" ng-change="setCalendarFlow(coach_id, courtId, 2)">

                            <option value="">All Courts</option>

                            <option ng-repeat="court in courts" value="{{court.Court.id}}">{{court.Court.name}} ({{court.Club.name}})</option>

                        </select>

                    </div>

                    <div class="form-field" ng-if="role_id > 2">

                        <select ng-model="coachId" id="coachId" ng-change="setCalendarFlowByCoach(club_id, coachId, 2)">

                            <option value="">All Coaches</option>

                            <option ng-repeat="coach in allCoaches" value="{{coach.id}}">{{coach.name}}</option>

                        </select>

                    </div>

                </div>

            </div>

            <!-- Page content -->

            <div class="right-side-main">

                <div ng-include="'toprightheader.html'"></div>

                <div class="app-content-body ">

                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>

                </div>


                <div ng-if="role_id > 2">
                    <div ng-include="'rightsidebar.html'"></div>

                    <div ng-include="'rightsidebardetails.html'"></div>

                    <div ng-include="'rightsidebaraddform.html'"></div>

                    <div ng-include="'rightsidebarbookingdetails.html'"></div>

                    <div ng-include="'rightsidebarsearch.html'"></div>

                    <div ng-include="'rightsidebarcancelbooking.html'"></div>

                    <div ng-include="'rightsidebarbookingdetailsconfirm.html'"></div>

                    <div ng-include="'rightsidebarprintdetails.html'"></div>

                    <div ng-include="'rightsidebarcardpaymentform.html'"></div>

                    <div ng-include="'rightsidebaraddgroupclass.html'"></div>

                    <div ng-include="'rightsidebargroupclassbooked.html'"></div>

                    <div ng-include="'rightsidebarsearchappuser.html'"></div>

                    <div ng-include="'rightsidebarsearchappedituser.html'"></div>
                    
                    
                </div>
                
                <div ng-if="role_id == 2">
                    <div ng-include="'dashboard/rightsidebarblockdate.html'"></div>
                </div>


            </div>

        </div>



    </div>



    <div class="button-bottom button-bg">



        <button class="pull-left" ng-click="openSearchBox()">SEARCH BOOKING &nbsp; <i><img src="images/search-icon.jpg"/></i>

        </button>



        <button ng-if="role_id > 2" class="pull-right" ng-click="openAddForm()">ADD NEW &nbsp; <i><img src="images/plus-icon.jpg"/></i>

        </button>

        <button ng-if="role_id == 2" class="pull-right" ng-click="openBlockDate()">BLOCK DATE &nbsp; <i><img src="images/plus-icon.jpg"/></i>

        </button>

    </div>


</div>