<div class="background-div2">
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="left-bar">
                <div ng-include="'topleftheader.html'"></div>
                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
                <!-- Page content -->
            </div>
            <div class="right-side-main pos-set-full" style="padding-bottom:0;">
                <div ng-include="'toprightheader.html'"></div>
                <div class="div1 reportsPage">
                    <div class="container">
                    	<h3 class="reports-heading">Reports:</h3>
                        <ul class="tabs-nav main-menu-tab">
                            <li><a href="javascript:void(0)" ng-click="goToPage('reports')" data-toggle="tab">BOOKINGS</a></li>
                            <li class="active"><a href="javascript:void(0)" ng-click="goToPage('coaches-reports')" data-toggle="tab">COACHES</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('general-reports')" data-toggle="tab">GENERAL</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('reviews')" data-toggle="tab">REVIEWS</a></li>
                        </ul>
                    </div>

                    <hr class="hr1">

                    <div class="tab-content">
                        <div class="tab-pane active">



                            <div class="container">
                                <div class="row">

                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="grid">
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box">

                                                        <h6 class=" boxtitle">Fees Breakdown</h6>
                                                        <table class="table feesBreakdown">
                                                            <thead>
                                                                <tr>
                                                                    <td class="tbldt text-grey">Total available horurs</td>
                                                                    <td class="text-right text-grey" width="140"><span>{{coachesReport.totalAvailableHours}}</span> hrs</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="tbldt no-pad-btm">
                                                                        <p class="progress-title">Total private classes</p>
                                                                        <div class="progress-bar coach-progress coach-progress-bar-yellow" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                                            aria-valuemax="100" style="width:{{privatePer}}%">
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right yellow"><span class="xl-font">{{coachesReport.totalPrivateClassHours}}</span> <span class="font-20">hrs</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt no-pad-btm">
                                                                        <p class="progress-title">Total group classes</p>
                                                                        <div class="progress-bar coach-progress coach-progress-bar-orange" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                                            aria-valuemax="100" style="width:{{groupPer}}%">
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right orange"><span class="xl-font">{{coachesReport.totalGroupClassHours}}</span> <span class="font-20">hrs</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt no-pad-btm">
                                                                        <p class="progress-title">Total programmes</p>
                                                                        <div class="progress-bar coach-progress coach-progress-bar-brown" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                                            aria-valuemax="100" style="width:100%">
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right brown"><span class="xl-font">11</span> <span class="font-20">hrs</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt no-pad-btm">
                                                                        <p class="progress-title">Total Class Cancellations</p>
                                                                        <div class="progress-bar coach-progress coach-progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                                            style="width:{{cancelPer}}%">
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right red"><span class="xl-font">{{coachesReport.totalCancelClassHours}}</span> <span class="font-20">hrs</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt no-pad-btm">
                                                                        <p class="progress-title">Total Class Cancellations</p>
                                                                        <div class="progress-bar coach-progress coach-progress-bar-grey" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                                                            aria-valuemax="100" style="width:30%">
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right text-grey-midlight"><span class="xl-font">3</span> <span class="font-20">hrs</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                    <div class="box">
                                                        <h6 class="boxtitle">Avarage Review</h6>
                                                        <table style="width:auto;">
                                                            <tr>
                                                                <td style="padding:0;">
                                                                    <h1 class="dark-grey">00000<span class="review-stars glyphicon glyphicon-star"></span></h1>
                                                                </td>
                                                                <td style="padding:0;">
                                                                    <h1 class="text-grey-midlight" style="padding-left:20px;">00000<span class="review-stars"><img src="images/user-icon.png" width="20" height="20" alt=""></span></h1>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box">

                                                        <h6 class="boxtitle">Coach Attendance</h6>
                                                        <h1 class="text-grey-midlight noral-fontwight">0000 / <span class="font-20">0000</span></h1>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="coach-tab">
                            coach
                        </div>
                        <div class="tab-pane" id="general-tab">
                            general
                        </div>
                        <div class="tab-pane" id="reviews-tab">
                            reviews
                        </div>

                    </div>


                    <div class="main-footer">
                        <div class="container">
                            <div class="footdiv3">
                                
                                <form>
                                    <div class="row">

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Coaching Age Group</p>
                                            <div class="dropdown">
                                                <button type="button" id="coaches-reports-age-group-filter" class="btn footer-btn btn-default dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                              All age group<span class="glyphicon glyphicon-menu-down spanindent">
                               </span>
                            </button>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(0,100,'All age group')">All age group</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(7,10,'7 - 10 years old')">7 - 10 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(11,13,'11 - 13 years old')">11 - 13 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(14,17,'14 - 17 years old')">14 - 17 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(18,24,'18 - 24 years old')">18 - 24 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(25,39,'25 - 39 years old')">25 - 39 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(40,54,'40 - 54 years old')">40 - 54 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(55,69,'55 - 69 years old')">55 - 69 years old</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(70,100,'70+ years old')">70+ years old</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Gender</p>
                                            <div class="dropdown">
                                                <button class="btn btn-default footer-btn dropdown-toggle" id="coaches-reports-gender-filter" type="button" data-toggle="dropdown">All<span class="glyphicon glyphicon-menu-down spanindent">
                               </span></button>
                                                <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0)" ng-click="filterByGender(0,'All')">All</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByGender(1,'Male')">Male</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByGender(2,'Female')">Female</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                                <p class="popaity">Average Review</p>
                                                <div class="dropdown">
                                                    <button class="btn btn-default footer-btn dropdown-toggle" type="button" data-toggle="dropdown">All Review<span class="glyphicon glyphicon-menu-down spanindent">
                                   </span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Test</a></li>
                                                        <li><a href="#">Test</a></li>
                                                        <li><a href="#">Test</a></li>
                                                    </ul>
                                                </div>
    
                                            </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Date Range</p>
                                            <div class="input-group input-append date" id="datePicker">
                                                <input type="text" class="form-control" id="coaches-reports-start-date" name="date" placeholder="Start Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity empty-label"></p>
                                            <div class="input-group input-append date" id="enddatePicker">
                                                <input type="text" class="form-control" id="coaches-reports-end-date" name="date" placeholder="End Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                            <div class="form-group footersearch">
                                                <p class="popaity">Specific Coach</p>
                                                <div class="input-group add-on">
                                                    <input type="text" ng-model="search_by" ng-keyup="filterByCoachName(search_by)" name="search_by" class="form-control" placeholder="Type name here to search">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 0 10px 0;">
                                <button type="button" class="btnstyle" ng-click="downloadCoachUtilisationList()">DOWNLOAD COACH UTILIZATION REPORT</button>
                                <button type="button" class="btnstyle" ng-click="downloadCoachList()">DOWNLOAD COACH LIST</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    $(function () {
        var m = new Masonry($('.grid').get()[0], {
            itemSelector: ".column-item"
        });

    });
</script>

