<div class="background-div2">
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="left-bar">
                <div ng-include="'topleftheader.html'"></div>
                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
                <!-- Page content -->
            </div>
            <div class="right-side-main pos-set-full" style="padding-bottom:0;">
                <div ng-include="'toprightheader.html'"></div>
                <div class="div1 reportsPage">
                    <div class="container">
                    	<h3 class="reports-heading">Reports:</h3>
                        <ul class="tabs-nav main-menu-tab">
                            <li><a href="javascript:void(0)" ng-click="goToPage('reports')" data-toggle="tab">BOOKINGS</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('coaches-reports')" data-toggle="tab">COACHES</a></li>
                            <li class="active"><a href="javascript:void(0)" ng-click="goToPage('general-reports')" data-toggle="tab">GENERAL</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('reviews')" data-toggle="tab">REVIEWS</a></li>
                        </ul>
                    </div>

                    <hr class="hr1">

                    <div class="tab-content">
                        <div class="tab-pane active">



                            <div class="container">
                                <div class="row">

                                    <div class="tab-content">
                                        <div class="tab-pane active">
                                            <div class="grid">

                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">

                                                    <div class="box">
                                                        <h6 class="boxtitle">No. of Club Members</h6>
                                                        <h1 class="text-grey">{{generalReport.ClubMembers}}</h1>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">No. of Club Members on App</h6>
                                                        <h1 class="text-grey">{{generalReport.ClubMembersApp}}</h1>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">No. of Non Club Members Played Here</h6>
                                                        <h1 class="text-grey">{{generalReport.NonClubMembers}}</h1>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">

                                                    <div class="box">
                                                        <h6 class="boxtitle">No. of Coaches</h6>
                                                        <h1 class="text-grey">{{generalReport.Coaches}}</h1>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">No. of pro Players</h6>
                                                        <h1 class="text-grey">0</h1>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">No. of pro Players Played Here</h6>
                                                        <h1 class="text-grey">0</h1>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="coach-tab">
                            coach
                        </div>
                        <div class="tab-pane" id="general-tab">
                            general
                        </div>
                        <div class="tab-pane" id="reviews-tab">
                            reviews
                        </div>

                    </div>


                    <div class="main-footer">
                        <div class="container">
                            <div class="footdiv3">
                                
                                <form>
                                    <div class="row">

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Age Group</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn footer-btn btn-default dropdown-toggle" id="general-reports-age-group-filter" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                              All age group<span class="glyphicon glyphicon-menu-down spanindent">
                               </span>
                            </button>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(0,100,'All age group')">All age group</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(7,10,'7 - 10 years old')">7 - 10 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(11,13,'11 - 13 years old')">11 - 13 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(14,17,'14 - 17 years old')">14 - 17 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(18,24,'18 - 24 years old')">18 - 24 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(25,39,'25 - 39 years old')">25 - 39 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(40,54,'40 - 54 years old')">40 - 54 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(55,69,'55 - 69 years old')">55 - 69 years old</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByAgeGroup(70,100,'70+ years old')">70+ years old</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Gender</p>
                                            <div class="dropdown">
                                                <button class="btn btn-default footer-btn dropdown-toggle" type="button" id="general-reports-gender-filter" data-toggle="dropdown">All<span class="glyphicon glyphicon-menu-down spanindent">
                               </span></button>
                                                <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0)" ng-click="filterByGender(0,'All')">All</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByGender(1,'Male')">Male</a></li>
                                                    <li><a href="javascript:void(0)" ng-click="filterByGender(2,'Female')">Female</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                                <p class="popaity">Rating</p>
                                                <div class="dropdown">
                                                    <button class="btn btn-default footer-btn dropdown-toggle" id="general-reports-rating-filter" type="button" data-toggle="dropdown">All Rating<span class="glyphicon glyphicon-menu-down spanindent">
                                   </span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0)" ng-click="filterByRating(0,16,'All Rating')">All Rating</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByRating(1,4,'1-4 Rating')">1-4 Rating</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByRating(5,8,'5-8 Rating')">5-8 Rating</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByRating(9,12,'9-12 Rating')">9-12 Rating</a></li>
                                                        <li><a href="javascript:void(0)" ng-click="filterByRating(13,16,'13-16 Rating')">13-16 Rating</a></li>
                                                    </ul>
                                                </div>
    
                                            </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Date Range</p>
                                            <div class="input-group input-append date" id="datePicker">
                                                <input type="text" class="form-control" id="general-reports-start-date" name="date" placeholder="Start Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity empty-label"></p>
                                            <div class="input-group input-append date" id="enddatePicker">
                                                <input type="text" class="form-control" id="general-reports-end-date" name="date" placeholder="End Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>

                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 0 10px 0;">
                                <button type="button" class="btnstyle" ng-click="downloadNewRegistration()">DOWNLOAD NEW REGISTRATION REPORT</button>
                                <button type="button" class="btnstyle" ng-click="downloadClubMemberList()">DOWNLOAD CLUB MEMBER LIST</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    $(function () {
        var m = new Masonry($('.grid').get()[0], {
            itemSelector: ".column-item"
        });

    });

</script>