<div class="background-div2">
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="left-bar">
                <div ng-include="'topleftheader.html'"></div>
                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
                <!-- Page content -->
            </div>
            <div class="right-side-main pos-set-full" style="padding-bottom:0;">
                <div ng-include="'toprightheader.html'"></div>
                <div class="div1 reportsPage">
                    <div class="container">
                        <h3 class="reports-heading">Reports:</h3>
                        <ul class="tabs-nav main-menu-tab">
                            <li class="active"><a href="javascript:void(0)" ng-click="goToPage('reports')" data-toggle="tab">BOOKINGS</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('coaches-reports')" data-toggle="tab">COACHES</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('general-reports')" data-toggle="tab">GENERAL</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('reviews')" data-toggle="tab">REVIEWS</a></li>
                        </ul>
                    </div>

                    <hr class="hr1">

                    <div class="tab-content">
                        <div class="tab-pane active" id="booking-tab">

                            <div class="container">
                                <ul class="tabs-nav inside-tabs-nav">
                                    <li class="active"><a href="javascript:void(0)" ng-click="showBookingsTab('tab1','tab',3)" data-toggle="tab">Bookings &amp; Fees</a></li>
                                    <li><a href="javascript:void(0)" ng-click="showBookingsTab('tab2','tab',3)" data-toggle="tab">Pro Bids</a></li>
                                    <li><a href="javascript:void(0)" ng-click="showBookingsTab('tab3','tab',3)" data-toggle="tab">Promos</a></li>
                                </ul>
                            </div>

                            <div class="container">
                                <div class="row">

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="grid">

                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">Total Fees</h6>
                                                        <h1 class="coloh6">&dollar; {{feesReport.totalFees | number:2}}</h1>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box" id="commonCourtUtilization">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Court Utilization</h6>
                                                                <canvas id="courtChart" height="190" width="190"></canvas>


                                                                <!--<img src="images/myProfilepic2.jpg" class="img-circle img1" alt="network issue">-->
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    <thead>
                                                                        <tr>
                                                                            <td id="" class="tdsize">Total Available Hour</td>
                                                                            <td class="numbers-col text-grey" width="120">{{feesReport.totalCourtAvailableHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdsize">Total Bookings</td>
                                                                            <td class="numbers-col xl-font text-grey">{{feesReport.totalBookingAvailableHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" class="tdsize blue-bullet">Total private classes</td>
                                                                            <td class="numbers-col xl-font blue">{{feesReport.totalPrivateBookingAvailableHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list2" class="tdsize orange-bullet">Total group classes</td>
                                                                            <td class="numbers-col  xl-font orange">{{feesReport.totalGroupBookingAvailableHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize yellow-bullet">Total programmes</td>
                                                                            <td class="numbers-col  xl-font yellow">14 <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list4" class="tdsize red-bullet">Total class cancellations</td>
                                                                            <td class="numbers-col  xl-font red">{{feesReport.totalCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list4" class="tdsize grey-bullet">Total class cancellations</td>
                                                                            <td class="numbers-col  xl-font text-grey-midlight">13 <span>hrs</span></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="box hide" id="orangeCourtUtilization">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Court Utilization</h6>
                                                                <canvas id="courtOrangeChart" height="190" width="190"></canvas>


                                                                <!--<img src="images/myProfilepic2.jpg" class="img-circle img1" alt="network issue">-->
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" style="border-top:none" class="tdsize yellow-bullet">Total private classes</td>
                                                                            <td style="border-top:none" class="numbers-col xl-font yellow">{{feesReport.totalPrivateBookingAvailableHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list2" class="tdsize orange-bullet">Total group classes</td>
                                                                            <td class="numbers-col  xl-font orange">{{feesReport.totalGroupBookingAvailableHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize brown-bullet">Total programmes</td>
                                                                            <td class="numbers-col  xl-font brown">14 <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list4" class="tdsize red-bullet">Total class cancellations</td>
                                                                            <td class="numbers-col  xl-font red">{{feesReport.totalCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="box hide" id="blueCourtUtilization">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Court Utilization</h6>
                                                                <canvas id="courtBlueChart" height="190" width="190"></canvas>


                                                                <!--<img src="images/myProfilepic2.jpg" class="img-circle img1" alt="network issue">-->
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" style="border-top:none" class="tdsize blue-bullet">Total match play classes</td>
                                                                            <td style="border-top:none" class="numbers-col xl-font blue">{{feesReport.totalMatchPlayAvailableHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list2" class="tdsize nevyblue-bullet">Total practise play classes</td>
                                                                            <td class="numbers-col  xl-font nevyblue">{{feesReport.totalPractisePlayAvailableHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize yellow-bullet">Total programmes</td>
                                                                            <td class="numbers-col  xl-font yellow">14 <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list4" class="tdsize red-bullet">Total class cancellations</td>
                                                                            <td class="numbers-col  xl-font red">{{feesReport.totalCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box" id="commonFeesBreakdown">

                                                        <h6 class="boxtitle">Fees Breakdown</h6>
                                                        <table class="table feesBreakdown">
                                                            <thead>
                                                                <tr>
                                                                    <td class="tbldt">Total Match Play fees</td>
                                                                    <td class="text-right blue" width="120"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalMathPlayFees | number:2}}</span></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="tbldt">Total Coach Play fees</td>
                                                                    <td class="text-right orange"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalCoachPlayFees | number:2}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt">Total Pro Bid fees</td>
                                                                    <td class="text-right yellow"><span class="font-20">&dollar;</span><span class="xl-font">00000</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt">Total Cancellation Charges</td>
                                                                    <td class="text-right red"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalCancellationCharges | number:2}}</span></td>
                                                                </tr>
                                                                <tr>

                                                                    <td colspan="2" align="right">
                                                                        <table style="color:#aaa">
                                                                            <tr>
                                                                                <td align="right">Match Play</td>
                                                                                <td style="width:20px; text-align:center;"> : </td>
                                                                                <td align="right">$ {{feesReport.totalMatchPlayCancellationCharges
                                                                                    | number:2}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">Coach Play</td>
                                                                                <td style="width:20px; text-align:center;"> : </td>
                                                                                <td align="right">$ {{feesReport.totalCoachPlayCancellationCharges
                                                                                    | number:2}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="right">Pro Bid</td>
                                                                                <td style="width:20px; text-align:center;"> : </td>
                                                                                <td align="right">$ 0000</td>
                                                                            </tr>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="box hide" id="orangeFeesBreakdown">

                                                        <h6 class="boxtitle">Fees Breakdown</h6>
                                                        <table class="table feesBreakdown">
                                                            <thead>
                                                                <tr>
                                                                    <td class="tbldt">Total Private Class fees</td>
                                                                    <td class="text-right yellow" width="120"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalPrivateClassFees | number:2}}</span></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="tbldt">Total Group Class fees</td>
                                                                    <td class="text-right orange"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalGroupClassFees | number:2}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt">Total Programme fees</td>
                                                                    <td class="text-right brown"><span class="font-20">&dollar;</span><span class="xl-font">00000</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="box hide" id="blueFeesBreakdown">

                                                        <h6 class="boxtitle">Fees Breakdown</h6>
                                                        <table class="table feesBreakdown">
                                                            <thead>
                                                                <tr>
                                                                    <td class="tbldt">Total Match Play fees</td>
                                                                    <td class="text-right blue" width="120"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalMathPlayFees | number:2}}</span></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="tbldt">Total Practise Play fees</td>
                                                                    <td class="text-right nevyblue"><span class="font-20">&dollar;</span><span class="xl-font">{{feesReport.totalPractisePlayFees | number:2}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="tbldt">Total Programme fees</td>
                                                                    <td class="text-right yellow"><span class="font-20">&dollar;</span><span class="xl-font">00000</span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>


                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box" id="commonCancellations">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Cancellations</h6>
                                                                <canvas id="cancelChart" height="190" width="190"></canvas>
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    <thead>
                                                                        <tr>
                                                                            <td id="" class="tdsize">Total cancellations</td>
                                                                            <td class=" text-grey">{{feesReport.totalCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" class="tdsize blue-bullet">Total private classes</td>
                                                                            <td class="utili1 xl-font blue">{{feesReport.totalPrivateCancellationHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list2" class="tdsize orange-bullet">Total group class cancellations</td>
                                                                            <td class="utili2 xl-font orange">{{feesReport.totalGroupCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize yellow-bullet">Total programmes cancellations</td>
                                                                            <td class="utili3 xl-font yellow">1 <span>hrs</span></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="box hide" id="orangeCancellations">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Cancellations</h6>
                                                                <canvas id="cancelOrangeChart" height="190" width="190"></canvas>
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" style="border-top:none" class="tdsize yellow-bullet">Total private cancellations</td>
                                                                            <td style="border-top:none" class="utili1 xl-font yellow">{{feesReport.totalPrivateCancellationHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list2" class="tdsize orange-bullet">Total group class cancellations</td>
                                                                            <td class="utili2 xl-font orange">{{feesReport.totalGroupCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize brown-bullet">Total programmes cancellations</td>
                                                                            <td class="utili3 xl-font brown">1 <span>hrs</span></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="box hide" id="blueCancellations">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Cancellations</h6>
                                                                <canvas id="cancelBlueChart" height="190" width="190"></canvas>
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" style="border-top:none" class="tdsize blue-bullet">Total match play cancellations</td>
                                                                            <td style="border-top:none" class="utili1 xl-font blue">{{feesReport.totalMatchPlayCancellationHours}}
                                                                                <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list2" class="tdsize nevyblue-bullet">Total practise play cancellations</td>
                                                                            <td class="utili2 xl-font nevyblue">{{feesReport.totalPractisePlayCancellationHours}} <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize yellow-bullet">Total programmes cancellations</td>
                                                                            <td class="utili3 xl-font yellow">1 <span>hrs</span></td>
                                                                        </tr>

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <div class="grid">

                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">Total Fees</h6>
                                                        <h1 class="nevyblue">&dollar;00000</h1>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">
                                                    <div class="box">
                                                        <div class="row">
                                                            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
                                                                <h6 class="boxtitle">Court Utilization</h6>
                                                                <canvas id="canvascourt" height="190" width="190"></canvas>
                                                                <!--<img src="images/myProfilepic2.jpg" class="img-circle img1" alt="network issue">-->
                                                            </div>
                                                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-12">

                                                                <table class="table tablmar">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td id="list1" class="no-topborder tdsize yellow-bullet ">Total No of Successful Pro Bid</td>
                                                                            <td class="no-topborder numbers-col xl-font yellow">86 <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list3" class="tdsize red-bullet">Total No of Pro Bid Cancelled</td>
                                                                            <td class="numbers-col xl-font red">4 <span>hrs</span></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td id="list4" class="tdsize grey-bullet">Total No of Unconclusive Pro Bid</td>
                                                                            <td class="numbers-col xl-font text-grey-midlight">10 <span>hrs</span></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <div class="grid">

                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">

                                                    <div class="box">
                                                        <h6 class="boxtitle">Total No. of Promos Created</h6>
                                                        <h1 class="text-grey">{{promotionsReport.totalPromotionsCreated}}</h1>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">Total No. of User Utilised</h6>
                                                        <h1 class="text-grey">{{promotionsReport.totalPromotionUserUtilised}}</h1>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6 col-md-4 col-lg-4 col-xs-12 column-item">
                                                    <div class="box">
                                                        <h6 class="boxtitle">Total No. of Promos Applied</h6>
                                                        <h1 class="text-grey">{{promotionsReport.totalPromotionUsed}}</h1>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="coach-tab">
                            coach
                        </div>
                        <div class="tab-pane" id="general-tab">
                            general
                        </div>
                        <div class="tab-pane" id="reviews-tab">
                            reviews
                        </div>

                    </div>


                    <div class="main-footer" id="tab1footer">
                        <div class="container">
                            <div class="footdiv3">
                                <div class="footerIocns">
                                    <ul>
                                        <li class="reportsfiltertypedisabled"><a href="javascript:void(0)"><img src="images/star-icon.png" alt=""></a></li>
                                        <li class="reportsfiltertypedisabled" ng-click="filterByBookingType(1,$event)" id="orangeFilter"><a href="javascript:void(0)"><img src="images/icon2.png" alt=""></a></li>
                                        <li class="reportsfiltertypedisabled" ng-click="filterByBookingType(2,$event)" id="blueFilter"><a href="javascript:void(0)"><img src="images/icon3.png" alt=""></a></li>
                                        <li class="reportsfiltertypedisabled" ng-click="filterByApp(2,$event)"><a href="javascript:void(0)"><img src="images/laptop-icon.png" alt=""></a></li>
                                        <li class="reportsfiltertypedisabled" ng-click="filterByApp(1,$event)"><a href="javascript:void(0)"><img src="images/mob-icon.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <form>
                                    <div class="row">

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Court</p>
                                            <div class="dropdown">
                                                <button type="button" class="btn footer-btn btn-default dropdown-toggle" id="fees-reports-courts-filter" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                          All court<span class="glyphicon glyphicon-menu-down spanindent">
                           </span>
                        </button>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li><a href="javascript:void(0)" ng-click="filterByCourt(0,'All court')">All court</a></li>
                                                    <li ng-repeat="c in feesReport.allCourts"><a href="javascript:void(0)" ng-click="filterByCourt(c.Court.id,c.Court.name)">{{c.Court.name}}</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Fee Type</p>
                                            <div class="dropdown">
                                                <button class="btn btn-default footer-btn dropdown-toggle" id="fees-reports-feestype-filter" type="button" data-toggle="dropdown">All fee type<span class="glyphicon glyphicon-menu-down spanindent">
                           </span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)" ng-click="filterByFeesType(0,'All fee type')">All fee type</a></li>
                                                    <li ng-repeat="paymentMethod in $root.paymentModes">
                                                        <a href="javascript:void(0)" ng-click="filterByFeesType(paymentMethod,'Cash')" ng-if="paymentMethod==1">Cash</a>
                                                        <a href="javascript:void(0)" ng-click="filterByFeesType(paymentMethod,'Credit Card')" ng-if="paymentMethod==2">Credit Card</a>
                                                        <a href="javascript:void(0)" ng-click="filterByFeesType(paymentMethod,'Sponsored')" ng-if="paymentMethod==3">Sponsored</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Date Range</p>
                                            <div class="input-group input-append date" id="datePicker">
                                                <input type="text" class="form-control" id="fees-reports-start-date" name="date" placeholder="Start Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity empty-label"></p>
                                            <div class="input-group input-append date" id="enddatePicker">
                                                <input type="text" class="form-control" id="fees-reports-end-date" name="date" placeholder="End Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                            <div class="form-group footersearch">
                                                <p class="popaity">Specific User</p>
                                                <div class="input-group add-on">
                                                    <input type="text" class="form-control" ng-model="search_user" ng-keyup="filterByUser(search_user)" placeholder="Type name here to search">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                            <div class="form-group footersearch">
                                                <p class="popaity">Specific Promo</p>
                                                <div class="input-group add-on">
                                                    <input type="text" ng-model="search_promo" ng-keyup="filterByPromo(search_promo)" name="search_promo" class="form-control"
                                                        placeholder="Type promo here to search">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
                                            <div class="form-group">
                                                <p class="popaity empty-label"></p>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" ng-model="allPromoCheck" ng-change="filterByAllPromo(allPromoCheck)" class="form-check-input"> All Promos
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="main-footer hide" id="tab2footer">
                        <div class="container">
                            <div class="footdiv3">

                                <form>
                                    <div class="row">


                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Date Range</p>
                                            <div class="input-group input-append date" id="datePicker">
                                                <input type="text" class="form-control" name="date" placeholder="Start Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity empty-label"></p>
                                            <div class="input-group input-append date" id="enddatePicker">
                                                <input type="text" class="form-control" name="date" placeholder="End Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>

                                        </div>

                                        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <div class="form-group footersearch">
                                                <p class="popaity">Specific Pro Player</p>
                                                <div class="input-group add-on">
                                                    <input type="text" class="form-control" placeholder="Type name here to search">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="main-footer hide" id="tab3footer">
                        <div class="container">
                            <div class="footdiv3">

                                <form>
                                    <div class="row">


                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Date Range</p>
                                            <div class="input-group input-append date" id="datePicker">
                                                <input type="text" class="form-control" id="promotions-reports-start-date" name="date" placeholder="Start Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity empty-label"></p>
                                            <div class="input-group input-append date" id="enddatePicker">
                                                <input type="text" class="form-control" id="promotions-reports-end-date" name="date" placeholder="End Date" />
                                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                            </div>

                                        </div>

                                        <div class="form-group col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <p class="popaity">Creator</p>
                                            <div class="dropdown">
                                                <button class="btn btn-default footer-btn dropdown-toggle" type="button" data-toggle="dropdown">All<span class="glyphicon glyphicon-menu-down spanindent">
                                       </span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Test</a></li>
                                                    <li><a href="#">Test</a></li>
                                                    <li><a href="#">Test</a></li>
                                                </ul>
                                            </div>

                                        </div>

                                        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-12">
                                            <div class="form-group footersearch">
                                                <p class="popaity">Specific Promo</p>
                                                <div class="input-group add-on">
                                                    <input type="text" class="form-control" ng-model="search_by" ng-keyup="filterByPromoName(search_by)" name="search_by" placeholder="Type name here to search">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        <div class="row" id="tab1download">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 0 10px 0;">
                                <button type="button" class="btnstyle">DOWNLOAD COURT UTILIZATION REPORT</button>
                                <button type="button" class="btnstyle">DOWNLOAD BOOKING REPORT</button>
                                <button type="button" class="btnstyle">DOWNLOAD CANCELLATIONS REPORT</button>
                            </div>
                        </div>
                        <div class="row hide" id="tab2download">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 0 10px 0;">
                                <button type="button" class="btnstyle">DOWNLOAD PRO BIDS REPORT</button>
                            </div>
                        </div>
                        <div class="row hide" id="tab3download">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style="margin:0 0 10px 0;">
                                <button type="button" class="btnstyle">DOWNLOAD PROMOS REPORT</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    $(function () {
        var m = new Masonry($('.grid').get()[0], {
            itemSelector: ".column-item"
        });

    });

</script>