<div class="background-div2">
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="left-bar">
                <div ng-include="'topleftheader.html'"></div>
                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
                <!-- Page content -->
            </div>
            <div class="right-side-main pos-set-full" style="padding-bottom:0;">
                <div ng-include="'toprightheader.html'"></div>
                <div class="div1 reportsPage">
                    <div class="container">
                    	<h3 class="reports-heading">Reports:</h3>
                        <ul class="tabs-nav main-menu-tab">
                            <li><a href="javascript:void(0)" ng-click="goToPage('reports')" data-toggle="tab">BOOKINGS</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('coaches-reports')" data-toggle="tab">COACHES</a></li>
                            <li><a href="javascript:void(0)" ng-click="goToPage('general-reports')" data-toggle="tab">GENERAL</a></li>
                            <li class="active"><a href="javascript:void(0)" ng-click="goToPage('reviews')" data-toggle="tab">REVIEWS</a></li>
                        </ul>
                    </div>
                    <hr class="hr1">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="container"> 
                                <ul class="tabs-nav reviewTab">
                                    <li class="active"><a href="javascript:void(0)" data-toggle="tab">0.0 <span class="glyphicon glyphicon-star"></span></a></li>       
                                    <li><a href="javascript:void(0)" data-toggle="tab">000 <span><img src="images/user-icon.png" width="16" height="16" alt=""></span></a></li>
                                </ul>
                            </div>
                            <div class="container">
                                <div class="row">

                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <div class="grid">

                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc enim constituto in philosophia constituta sunt omnia. Sed hoc
                                                        sane concedamus. Cum id quoque, ut cupiebat, audivisset, evelli
                                                        iussit eam, qua erat transfixus, hastam. Duo Reges: constructio
                                                        interrete.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc enim constituto in philosophia constituta sunt omnia. Sed hoc
                                                        sane concedamus. Cum id quoque, ut cupiebat, audivisset, evelli
                                                        iussit eam, qua erat transfixus, hastam. Duo Reges: constructio
                                                        interrete.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc enim constituto in philosophia constituta sunt omnia. Sed hoc
                                                        sane concedamus. Cum id quoque, ut cupiebat, audivisset, evelli
                                                        iussit eam, qua erat transfixus, hastam. Duo Reges: constructio
                                                        interrete.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc enim constituto in philosophia constituta sunt omnia. Sed hoc
                                                        sane concedamus. Cum id quoque, ut cupiebat, audivisset, evelli
                                                        iussit eam, qua erat transfixus, hastam. Duo Reges: constructio
                                                        interrete.
                                                    </p>
                                                </div>
                                            </div>



                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc enim constituto in philosophia constituta sunt omnia. Sed hoc
                                                        sane concedamus. Cum id quoque, ut cupiebat, audivisset, evelli
                                                        iussit eam, qua erat transfixus, hastam. Duo Reges: constructio
                                                        interrete.
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">

                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 column-item">

                                                <div class="box">
                                                    <h6 class="review-boxtitle">Total No. of Promos Created</h6>
                                                    <div class="devider-line"><span>10</span></div>
                                                    <div class="review-date">DD MM YYYY</div>
                                                    <p class="review-boxcontent">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc enim constituto in philosophia constituta sunt omnia. Sed hoc
                                                        sane concedamus. Cum id quoque, ut cupiebat, audivisset, evelli
                                                        iussit eam, qua erat transfixus, hastam. Duo Reges: constructio
                                                        interrete.
                                                    </p>
                                                </div>
                                            </div>



                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 ">
                                            <div class="review-loadmore box">
                                                <a href="#">load more reviews</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="coach-tab">
                            coach
                        </div>
                        <div class="tab-pane" id="general-tab">
                            general
                        </div>
                        <div class="tab-pane" id="reviews-tab">
                            reviews
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/masonry.pkgd.min.js"></script>
<script type="text/javascript">
    $(function () {
        var m = new Masonry($('.grid').get()[0], {
            itemSelector: ".column-item"
        });

    });

</script>