<div id="coachProfileRejectModalPopup" class="modal fade right-bar setforfull" role="dialog">
    <div class="modal-dialog">
        <form ng-submit="rejectCoachProfile($root.coachId)">
        <!-- Modal content-->
        <div class="modal-content">
            
            <div class="modal-body">
                
                <div class="setforfull">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reject Coach</h4>

                    <div class="form-booking">

                        <div class="form-field">

                            <label>Reason</label>

                            <textarea id="coachReason" required></textarea>


                        </div>



                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="reject-btn" data-dismiss="modal">I changed my mind</button>
                <button type="submit" class="approve-btn">Sorry..</button>
            </div>
            
        </div>
        </form>
    </div>
</div>