<div id="coachProfileAcceptModalPopup" class="modal fade right-bar setforfull" role="dialog">
    <div class="modal-dialog">
        <form ng-submit="approveCoachProfile($root.coachId)">
        <!-- Modal content-->
        <div class="modal-content">
         
            <div class="modal-body">
                <div class="setforfull">
                    
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Approve Coach</h4>
                <h5 class="modal-title">Complete the form below to hire this coach</h4>

                    <div class="form-booking">

                        <div class="form-field">

                            <label>Designation</label>

                            <input type="text" id="coachDesignation" value="" required>


                        </div>

                        <div class="form-field">

                            <label>Basic Salary</label>

                            <input type="number" id="coachSalary" value="" placeholder="$" required>


                        </div>

                        <div class="form-field">

                            <label>Commission</label>

                            <input type="number" id="coachCommission" placeholder="%" required>


                        </div>

                        <div class="form-field">

                            <label>Remarks</label>

                            <textarea id="coachRemarks" required></textarea>


                        </div>



                    </div>

                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="reject-btn" data-dismiss="modal">I changed my mind</button>
                <button type="submit" class="approve-btn">You are hired</button>
            </div>
            
        </div>
        </form>
    </div>
</div>