<div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 pad0">

    <ul id="clubSetupMenu">

        <li class="active-li" ><a href="javascript:void(0);" ng-click="openMenuItem(1,$event)">General</a></li>
        <li><a href="javascript:void(0);">Club Profile</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(3,$event)">Facilities</a></li>
        <li><a href="javascript:void(0);">Peak Time</a></li>
        <li><a href="javascript:void(0);">Court Fees</a></li>
        <li><a href="javascript:void(0);">Coach Fees</a></li>
        <li><a href="javascript:void(0);">Special Fees</a></li>
        <li><a href="javascript:void(0);">Refund Policy</a></li>




    </ul>





</div>