<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>



                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>








            </div>





            <!-- Page content -->





            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>





                <div class="app-content-body">

                    <div class="tab-table club-setup pad0">
                        <div id="exTab1">

                            <div class="heading-text-main">
                                <div class="container-main">

                                    <div class="club-setup-main">
                                        <div class="container-fluid">

                                            <div class="row">

                                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 pad0">
                                                    <a href="#1a" data-toggle="tab">CLUB SETUP</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="tab-content clearfix group-class-tab">
                                <div class="tab-pane active" id="1a">
                                    <div class="container-main">
                                        <div class="club-setup-main">
                                            <div class="container-fluid">

                                                <div class="row">

                                                    <div ng-include="'clubsetup/clubsetupmenu.html'"></div>
                                                    <div ng-include="'clubsetup/generalsettings.html'"></div>
                                                    <div ng-include="'clubsetup/facilities.html'"></div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>



    </div>




</div>