<div class="right-box-set right-side-bar" id="addCoachFees">

    <div class="right-bar popup-right-set">
        <!-- ng-show="rightSideBarAddForm" -->
        <div class="side-header">
            <button class="pull-right" ng-click="closeAddCoachFeesForm()"><img src="images/cross.png"></button>
        </div>
        <div class="date-time pad-left15"><span id="coachFeesFormTitle">Add Coach Fees</span></div>
        <form id="coachFeesForm" ng-submit="addCoachFees()">
            <div class="form-booking">
                <div class="form-field">
                    <label>Coach</label>

                    <select id="coach_id" required name="coach_id">
                        <option value="">Select Coach</option>
                        <option ng-repeat="c in coaches" value="{{c.Coach.id}}">{{c.Coach.name}}</option>
                    </select>

                </div>

                <div class="coach-detail-div">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="true"
                                       aria-controls="collapseOne">
                                        Private Class
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <label>Normal Fees</label>

                    <input type="number" step="0.01" required placeholder="$" id="private_class_normal_fees" name="private_class_normal_fees">

                </div>

                <div class="form-field">
                    <label>Peak Fees</label>

                    <input type="number" step="0.01"required placeholder="%" id="private_class_peak_fees" name="private_class_peak_fees">

                </div>
                
                <div class="coach-detail-div">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="true"
                                       aria-controls="collapseOne">
                                        Group Class
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-field">
                    <label>Normal Fees</label>

                    <input type="number" step="0.01" required placeholder="$" id="group_class_normal_fees" name="group_class_normal_fees">

                </div>


                <div class="form-field">
                    <label>Peak Fees</label>

                    <input type="number" step="0.01" required placeholder="%" id="group_class_peak_fees" name="group_class_peak_fees">

                </div>

            </div>
            <input type="hidden" id="coachFeesId" name="id"/>
            <button type="submit" class="blk-btn btn-block bottom-btn" id="coachFeesFormSubmitTitle">ADD COACH FEES +</button>
        </form>
    </div>

    <div class="overlay"></div>


</div>