<div id="Peak_Time" class="hidepanel">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box pad0">
            <h3 class="pad4-side-top">Peak Time<div style="float:right;margin-right:5%">{{activePeakTimes}}/{{totalPeakTimes}}</div></h3>
            
            <div class="tab-content clearfix">
                <div class="tab-pane active" id="1a">

                    <div class="table-responsive">
                        <table class="table" id="peakTimeTable">
                            <tbody>
                                <tr ng-repeat="peakTime in peakTimings">
                                    <th class="bg-th" ng-if="peakTime.type == 1">&nbsp;</th>
                                    <th class="bg-th" ng-if="peakTime.type == 1">{{peakTime.day| showDayName}}</th>
                                    <th class="bg-th" ng-if="peakTime.type == 1">&nbsp;</th>
                                    <td ng-if="peakTime.type == 2"><input type="checkbox"  class="ui-checkbox" id="peakTime{{peakTime.id}}" /><label for="checkbox-1-2"></label></td>
                                    <td ng-if="peakTime.type == 2">{{peakTime.start_time| formatTime}} - {{peakTime.end_time| formatTime}}</tdd>
                                    <td style="text-align:right" ng-if="peakTime.type == 2"><a href='javascript:' ng-click="editPeakTimeForm(peakTime.id)"><img  class='ancher-img' src='images/edit.png'/></a></td>
                                    <td ng-if="peakTime.type == 3">&nbsp;</td>
                                    <td ng-if="peakTime.type == 3">-</td>
                                    <td ng-if="peakTime.type == 3">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="pagenation">
                        <button ng-click="deletePeakTimes()"><img src="images/delete-bg-white.png"/></button>
                    </div>
                </div>

            </div>
        </div>
        <button ng-click="addPeakTime()" class="blk-btn btn-block bottom-btn">ADD PEAK TIME +</button>
    </div>
</div>