<div id="Refund_Policy" class="hidepanel">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <form id="refundPolicyForm" ng-submit="saveRefundPolicy()">
            <div class="gen-right-box pad0">
                <h3 class="pad4-side-top">Refund Policy</h3>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">

                        <div class="">
                            <table class="table RefundPolicy">
                                <tbody>
                                    <tr>
                                        <th>
                                        <div class="form-field head-sab">
                                           <div class="checkbox">
                                            <label for="tier1">
                                              <input type="checkbox" class="ui-checkbox" ng-click="enableTier(1)" value="1" id="tier1" name="refund_policy[0][tier_level]" /> Tier 1
                                            </label>
                                          </div>
                                        </div>
                                        </th>
                                        
                                        
                                    </tr>
                                    <tr id="daysTr1" class="enableOpacity">
                                       
                                        <td>
                                            <div class="form-field box-pad-v2">
                                                <label>Select a refund timeframe that will last until the time of booking. A full refund will be issued during this time period, after which a cancellation fee will be charged.</label>
                                                <select disabled id="days1" required name="refund_policy[0][days]">
                                                    <option value="">Select a timeframe</option>
                                                    <option value="10">10 Hours</option>
                                                    <option value="24">24 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                    <option value="72">72 Hours</option>
                                                    <option value="168">1 Week</option>
                                                </select>
                                            </div>
                                        </td>
                                       
                                    </tr>
                                    <tr id="chargeTr1" class="enableOpacity">
                                      
                                        <td>
                                            <div class="form-field box-pad-v2">
                                                <label>Cancellation fee (%)</label>
                                                <input disabled id="charge1" required type="number" step="0.01" placeholder="00" name="refund_policy[0][charge]">
                                            </div>
                                        </td>
                                       
                                    </tr>
                                    <tr>
                                        <th class="bg-th">
                                        <div class="form-field head-sab">
                                           <div class="checkbox">
                                            <label for="tier2">
                                              <input type="checkbox" ng-click="enableTier(2)" class="ui-checkbox" id="tier2" value="2" name="refund_policy[1][tier_level]" /> Tier 2
                                            </label>
                                          </div>
                                        </div>
                                        
                                        </th>
                                    </tr>
                                    <tr id="daysTr2" class="enableOpacity">
                                       
                                        <td>
                                            <div class="form-field box-pad-v2">
                                                <label>Select a refund timeframe that will last until the time of booking. A full refund will be issued during this time period, after which a cancellation fee will be charged.</label>
                                                <select disabled id="days2" required name="refund_policy[1][days]">
                                                    <option value="">Select a timeframe</option>
                                                    <option value="10">10 Hours</option>
                                                    <option value="24">24 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                    <option value="72">72 Hours</option>
                                                    <option value="168">1 Week</option>
                                                </select>
                                            </div>
                                        </td>
                                      
                                    </tr>
                                    <tr id="chargeTr2" class="enableOpacity">
                                      
                                        <td>
                                            <div class="form-field box-pad-v2">
                                                <label>Cancellation fee (%)</label>
                                                <input disabled id="charge2" type="number" step="0.01" require placeholder="00" name="refund_policy[1][charge]">
                                            </div>
                                        </td>
                                      
                                    </tr>
                                    <tr>
                                        <th  class="bg-th">
                                        <div class="form-field head-sab">
                                           <div class="checkbox">
                                            <label for="tier3">
                                              <input type="checkbox" ng-click="enableTier(3)" class="ui-checkbox" id="tier3" value="3" name="refund_policy[2][tier_level]" /> Tier 3
                                            </label>
                                          </div>
                                        </div>
                                        </th>
                                    </tr>
                                    <tr id="daysTr3" class="enableOpacity">
                                       
                                        <td>
                                            <div class="form-field box-pad-v2">
                                                <label>Select a refund timeframe that will last until the time of booking. A full refund will be issued during this time period, after which a cancellation fee will be charged.</label>
                                                <select disabled id="days3" required name="refund_policy[1][days]">
                                                    <option value="">Select a timeframe</option>
                                                    <option value="10">10 Hours</option>
                                                    <option value="24">24 Hours</option>
                                                    <option value="48">48 Hours</option>
                                                    <option value="72">72 Hours</option>
                                                    <option value="168">1 Week</option>
                                                </select>
                                            </div>
                                        </td>
                                       
                                    </tr>
                                    <tr id="chargeTr3" class="enableOpacity">
                                       
                                        <td>
                                            <div class="form-field box-pad-v2">
                                                <label>Cancellation fee (%)</label>
                                                <input disabled id="charge3" type="number" step="0.01" required placeholder="00" name="refund_policy[1][charge]">
                                            </div>
                                        </td>
                                      
                                    </tr>
									<tr>
                                    <td><p class="box-pad-v2">Note:- You can set up to 3 refund tiers. A different refund timeframe in each tier will correspond with its own cancellation fee, which can be adapted from your clubâ€™s refund policy.</p></td></tr>
                                </tbody>
                            </table>
                           
                        </div>
                    </div>

                </div>
            </div>
            
            <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>
        </form>
    </div>
</div>