<div class="overlay hide">



</div>
<div class="box-main hide" id="notificationsMainDiv">
    <div class="box-main-inner" style="padding: 0px !important">
        <div class="container-fluid">
            <div class="row">
                <div class="main-side-div">
                    <div class="col-md-12 col-sm-12 col-xs-12 pad0">


                        <div class="form-top-gray">


                            <div class="profile-detail-div notific-header">
								<a href="javascript:void(0)" class="head-ancher">
                                    <div class="notification-sign">                        
                                        <img src="images/notification-icon.png" alt="notification-icon">
                                        <div class="noti-count">0</div> 
                                    </div>                        
                                </a>
                                <div class="headerPopColose">
                                    <button class="absul-btn" onClick="closeNotifications()"><img src="images/cross.png"></button>

                                </div>


                            </div>



                        </div>

                        <div ng-if="roleId == 3" class="coach-all-detail-tab notifisTabMenu">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n1')" data-toggle="tab">All</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n2')" data-toggle="tab">Bookings</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n3')" data-toggle="tab">Coaches</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n4')" data-toggle="tab">Pro Bids</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n5')" data-toggle="tab">Others</a>
                                </li>
                            </ul>


                            <div class="tab-content clearfix">

                                <div id="n1" class="tab-pane active">

                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 1 || notification.Notification.request_type == 9">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>


                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 8">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <!--div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div-->


                                    </div>

                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.coach" ng-if="notification.Notification.request_type == 10">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 2" src="{{uploadUrl}}{{notification.Coach.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>

                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.matchJoinRequest" ng-if="notification.Notification.request_type == 12">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>

                                        <div style="clear:both">
                                            <button ng-click="matchJoinResponse(notification.Notification.id, notification.Notification.sender_id, 1)" type="button" style="width: 30%;float: left;margin-left: 10%;margin-right: 15%;background: green;" class="blk-btn btn-block bottom-btn">Accept</button>
                                            <button ng-click="matchJoinResponse(notification.Notification.id, notification.Notification.sender_id, 2)" type="button" style="width: 30%; background:red;" class="blk-btn btn-block bottom-btn">Reject</button>
                                        </div>



                                    </div>


                                </div>

                                <div id="n2" class="tab-pane">


                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 1 || notification.Notification.request_type == 9">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>


                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications" ng-if="notification.Notification.request_type == 8">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>
                                </div>


                                <div id="n3" class="tab-pane">
                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.coach" ng-if="notification.Notification.request_type == 10">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 2" src="{{uploadUrl}}{{notification.Coach.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>
                                </div>

                                <div id="n4" class="tab-pane">




                                </div>

                                <div id="n5" class="tab-pane">


                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.matchJoinRequest" ng-if="notification.Notification.request_type == 12">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>

                                        <div style="clear:both">
                                            <button ng-click="matchJoinResponse(notification.Notification.id, notification.Notification.sender_id, 1)" type="button" style="width: 30%;float: left;margin-left: 10%;margin-right: 15%;background: green;" class="blk-btn btn-block bottom-btn">Accept</button>
                                            <button ng-click="matchJoinResponse(notification.Notification.id, notification.Notification.sender_id, 2)" type="button" style="width: 30%; background:red;" class="blk-btn btn-block bottom-btn">Reject</button>
                                        </div>



                                    </div>




                                </div>
								
                                <div class="seemoreNotific"><a href="#">see more notifications</a></div>
                            </div>







                        </div>



                        <div ng-if="roleId == 2" class="coach-all-detail-tab">
                            <ul class="nav nav-pills">
                                <li class="active">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n1')" data-toggle="tab">All</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n2')" data-toggle="tab">Bookings</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n4')" data-toggle="tab">Pro Bids</a>
                                </li>
                                <li class="for-part">
                                    <a href="javascript:void(0)" onClick="showNotificationTab('n5')" data-toggle="tab">Others</a>
                                </li>
                            </ul>


                            <div class="tab-content clearfix">

                                <div id="n1" class="tab-pane active">
                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 1 || notification.Notification.request_type == 9">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>


                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 8">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>
                                </div>

                                <div id="n2" class="tab-pane">
                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 1 || notification.Notification.request_type == 9">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>

                                    <div class="detal-row ng-scope" ng-repeat="notification in notifications.booking" ng-if="notification.Notification.request_type == 8">

                                        <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.Player.profile_picture}}">

                                        <div class="pl-ch-detail">

                                            <h2 class="ng-binding"></h2>

                                            <div class="pl-ch-detail-inner">

                                                {{notification.Notification.notification_description}}

                                            </div>

                                            <div class="last-detail ng-binding">


                                                {{notification.Notification.created}}

                                            </div>

                                        </div>


                                        <div class="ahed-div">

                                            <button ng-click="showNotificationDetail(notification.Notification.request_id, notification.Notification.request_type, notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                        </div>


                                    </div>


                                </div>




                                <div id="n4" class="tab-pane">


                                    <p>&nbsp;</p>




                                </div>

                                <div id="n5" class="tab-pane">


                                    <p>&nbsp;</p>




                                </div>

                            </div>







                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>