<div class="right-bar right-side-bar" style="left:0;" id="rightSideBarSearch">

    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarSearch()"><img src="images/cross.png"></button>
    </div>
    <form id="searchBookings" ng-submit="searchBookings()">
    <div class="form-booking">
        <div class="sub-heading">Search A Booking</div>


        <div class="form-field">

            <label>Booking ID</label>

            <input type="text" ng-model="search.bookingId">


        </div>


        <div class="form-field">

            <label>Booker Name</label>

            <input type="text" ng-model="search.bookerName">


        </div>

        <div class="form-field">
            <label>Contact No.</label>

            <!--span class="country-code">+60</span--> <input ng-model="search.contactNo" placeholder="xx xxx xxxx" type="number">




        </div>


        <div class="form-field">

            <label>Email</label>

            <input type="email" ng-model="search.email">


        </div>





        <div class="form-field">
            <label>Date</label>

            <div class="input-group date" id="sandbox-container">
                <input class="form-control" type="text" id="searchDate" ng-model="start" >
            </div>


        </div>


    </div>

    <div class="bottom-set-button">
        <button type="submit" class="blk-btn btn-block bottom-btn" >SEARCH BOOKING &nbsp; <img class="search-img" src="images/search-icon-white.png"/></button>


    </div>
    </form>