<div class="right-bar right-side-bar" id="rightSideBarEditGroupClass">
  <!-- ng-show="rightSideBarAddForm" -->
  <div class="side-header">
    <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
  </div>
  <div class="date-time pad-left15"><span>Edit Group Class</span></div>
  <form ng-submit="editGroupClass(this)" id="editGroupClassFrom">
    <div class="form-booking">
      <div class="form-field">
        <label class="toggle-label">Club member only</label>
        <div class="tg-list-item">
		  <input id="groupClassId" type="hidden" ng-model="groupClassId" />
          <input class="tgl tgl-ios" id="isClubMember" type="checkbox" ng-model="isClubMember" />
          <label class="tgl-btn" for="isClubMember"></label>
        </div>
      </div>
      
      <div class="form-field">
        <label>Class Name <span>(max. 100 characters)</span></label>
        <textarea required ng-model="className" id="className"></textarea>
      </div>
      <div class="form-field">
        <label>Description <span>(max. 300 characters)</span></label>
        <textarea required ng-model="classDescription" id="classDescription"></textarea>
      </div>
      <div class="form-field">
        <label>Date</label>
        <div class='input-group date' id="sandbox-container">
          <input type="text" required ng-model="start" id="classBookDateEdit" class="datepicker"/>
        </div>
      </div>
      <div class="form-field">
        <label>Court No.</label>
        <select required ng-model="classCourtNo" id="classCourtNo" ng-change="getCourtEditFee(classCourtNo)">
          <option value="">Select Court</option>
          <option ng-repeat="c in $root.courts" value="{{c.Court.id}}">{{c.Court.name}}</option>
        </select>
      </div>
      <div class="form-field half-width">
        <label>Start Time</label>
        <select required ng-model="classStartHour" id="classStartHourEdit">
          <option value="">Hour</option>
          <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1 | formatDropDownTime}}</option>
        </select>
        <select required ng-model="classStartMinute" id="classStartMinuteEdit">
          <option value="">Minute</option>
          <option value="00">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
          
        </select>
      </div>
      <div class="form-field half-width">
        <label>End Time</label>
        <select required ng-model="classEndHour" id="classEndHourEdit">
          <option value="">Hour</option>
          <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1 | formatDropDownTime}}</option>
        </select>
        <select required ng-model="classEndMinute" id="classEndMinuteEdit">
          <option value="">Minute</option>
          <option value="00">00</option>
          <option value="15">15</option>
          <option value="30">30</option>
          <option value="45">45</option>
          
        </select>
      </div>
      <div class="form-field  half-width-main">
       <div class="innerFirst">
        <label>Min Rating</label>
        <select ng-model="classPlayerMinRating" id="classPlayerMinRatingEdit">
          <option value="">Select a rating</option>
          <option value="0">None</option>
          <option ng-repeat="ec in makeNumberArray(16)" value="{{ec}}">{{ec | number : 2}}</option>
        </select>
      </div>
        <div class="innerLast">
        <label>Max Rating</label>
        <select ng-model="classPlayerMaxRating" id="classPlayerMaxRatingEdit">
          <option value="">Select a rating</option>
          <option value="0">None</option>
          <option ng-repeat="ec in makeNumberArray(16)" value="{{ec}}">{{ec | number : 2}}</option>
        </select>
		  </div>
      </div>
      <div class="form-field">
        <label>Age Group</label>
        <select required ng-model="classPlayerAgeGroup" id="classPlayerAgeGroup">
          <option value="">Choose</option>
          <option value="7-10">7 - 10 years old</option>
          <option value="11-13">11 - 13 years old</option>
          <option value="14-17">14 - 17 years old</option>                          
          <option value="18-24">18 - 24 years old</option>
          <option value="25-39">25 - 39 years old</option>
          <option value="40-54">40 - 54 years old</option>
          <option value="55-69">55 - 69 years old</option>
          <option value="70-100">70+ years old</option>
        </select>
      </div>
      <div class="form-field">
        <label>No. of Playes</label>
        <select required ng-model="classTotalPlayer" id="classTotalPlayer" ng-change="setClassTotalEditPlayer(classTotalPlayer)">
          <option value="">Choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="form-field">
        <label>Coach</label>
        <select ng-model="classCoach" id="classCoach" class="editCoachData" required ng-change="getCoachEditFee(classCoach)">
          <option value="">Select a coach</option>
          <option ng-repeat="ec in $root.allCoaches" value="{{ec.Coach.id}}">{{ec.Coach.name}}</option>
        </select>
      </div>
      <div class="form-field">
        <label>Associate Coach</label>
        <select ng-model="classSubCoach" id="classSubCoach" class="editSubCoachData" ng-change="checkExistMainCoch(classCoach)">
          <option value="">Select a sub coach</option>
          <option ng-repeat="ec in $root.allCoaches" value="{{ec.Coach.id}}">{{ec.Coach.name}}</option>
        </select>
      </div>
    </div>
    <div class="class-fee-detail">
      <div class="sub-heading">Class Fee Details</div>
      <div class="count-fee-main">
        <div class="count-fee-inner">
          <label>Court fee </label>
          <div class="fee-rate"> $ <span>{{$root.courtFee | number : 2}}</span> </div>
          <p>(club member - no charge)</p>
        </div>
        <div class="count-fee-inner">
          <label>Coaching fee for 10 people </label>
          <div class="fee-rate"> $ <span>{{$root.totalCoachFee | number : 2}}</span> </div>
          <p>- {{$root.coachName | number : 2}}</p>
        </div>
        <div class="total-div">
          <div class="total-div-inner">
            <label>Subtotal</label>
            <p>${{$root.subTotal | number : 2}}</p>
          </div>
          <div class="total-div-inner">
            <label>Some kind of tax ({{$root.taxRate | number : 2}}%)</label>
            <p>${{$root.taxAmt | number : 2}}</p>
          </div>
          <div class="main-total">
            <p>Total</p>
            <p class="main-total-pay">${{$root.grandTotal | number : 2}}</p>
          </div>
          <div class="gross-total">
            <p>Class fee per player<br>
              <span>(${{$root.grandTotal | number : 2}} / {{$root.totalClassPlayer}} people)</span> </p>
            <p class="main-total-pay">${{$root.perHeadFee | number : 2}}</p>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="blk-btn btn-block bottom-btn">UPDATE CLASS</button>
  </form>
</div>