<div class="right-bar right-side-bar" id="rightSideBarEditForm">
  <!-- ng-show="rightSideBarAddForm" -->
  <div class="side-header">
    <button class="pull-right" ng-click="closeRightSideBarEditForm()"><img src="images/cross.png"></button>
  </div>
  <div class="date-time pad-left15"><span>Update Club Member</span></div>
  <form id="editClubMemberUser" ng-submit="editClubMemberUserForm()">
  	<input type="hidden" ng-model="userIDMember" id="userIDMember" value="{{userIDMember}}">
    <div class="form-booking">
      <div class="form-field">
        <label>Name</label>
        <input type="text" style="margin-bottom: 10px;" required ng-model="playerEditFirstName" id="playerEditFirstName" placeholder="First name" value="{{playerEditFirstName}}">
        <input type="text" required ng-model="playerEditLastName" id="playerEditLastName" placeholder="Surname" value="{{playerEditLastName}}">
        <input type="text" required ng-model="playerEditDisplayName" id="playerEditDisplayName" placeholder="Display Name" value="{{playerEditDisplayName}}">
      </div>
	  <div class="form-field">
        <label>Gender</label>
		<select required ng-model="playerEditGender" id="playerEditGender">
          <option value="">Select Gender</option>
		  <option value="1">Male</option>
		  <option value="2">Female</option>
        </select>
      </div>
      <div class="form-field">
        <label>Contact No.</label>
        <span class="country-code">+60</span>
		<input type="number" class="no-wi-cd" id="playerEditContactNo" placeholder="xx xxx xxxx" name="playerEditContactNo" required="required" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-model="postcode" value="{{playerEditContactNo}}">
      </div>
      <div class="form-field">
        <label>Email</label>
        <input type="email" required ng-model="playerEditEmail" ng-pattern="emailFormat" id="playerEditEmail" placeholder="Email address" value="{{playerEditEmail}}" readonly>
      </div>
	  <div class="form-field">
        <label>Date of Birth</label>
        <input type="text" required ng-model="end" id="playerEditDob" class="datepickerend" value="{{playerEditDob}}"/>
      </div>
	  <div class="form-field">
        <label>Location</label>
        <input type="text" style="margin-bottom: 10px;" required ng-model="playerEditLocationCity" id="playerEditLocationCity" placeholder="City" value="{{playerEditLocationCity}}">
		<select required ng-model="playerEditLocationCountry" id="playerEditLocationCountry">
          <option value="">Country</option>
		  <option ng-repeat="c in countries" value="{{c.Country.id}}">{{c.Country.name}}</option>
        </select>
      </div>
	  <div class="form-field">
			<label>Bio  (max. 500 characters)</label>
			<textarea  ng-model="playerBio" id="playerBio" maxlength="300">{{playerBio}}</textarea>
		</div>
    </div>
    <button type="submit" class="blk-btn btn-block bottom-btn">UPDATE CLUB MEMBER &nbsp; <i><img src="images/plus-icon.jpg"/></i> </button>
  </form>
</div>
