<div class="right-bar right-side-bar" id="rightSideBarBookingDetailsConfirm" > <!--ng-show="rightSideBarBookingDetailsConfirm"-->
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarBookingDetailsConfirm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Booking Summary</span></div>
    <div class="partation-border">
        <div class="form-booking">

            <div class="form-field">

                <label>Club Membership</label>
                <p>{{clubMembershipId}}</p>

            </div>

            <div class="form-field">

                <label>App User ID</label>
                <p>{{userAppId}}</p>

            </div>

            <div class="form-field">

                <label>Date</label>
                <p>{{start| date: 'dd MMMM yyyy'}}</p>

            </div>


            <div class="form-field">

                <label>Court No.</label>
                <p>{{courtName}}</p>

            </div>



            <div class="form-field">

                <label>Time</label>
                <p>{{eventPlayTime}}</p>

            </div>

            <div class="form-field">

                <label>Booker's Name</label>
                <p>{{bookerName}}</p>

            </div>

            <div class="form-field">

                <label>Contact No.</label>
                <p>{{playerContactNo}}</p>

            </div>

            <div class="form-field">

                <label>Email</label>
                <p>{{playerEmail}}</p>

            </div>

            <div class="form-field">

                <label>No. of Player</label>
                <p>{{totalPlayer}}</p>

            </div>

            <div class="form-field" ng-if="coachName!='' && coachName!=null">

                <label>Coach</label>
                <p>{{coachName}}</p>

            </div>

            <div class="form-field" ng-if="subCoachName!='' && subCoachName!=null">

                <label>Associate Coach</label>
                <p>{{subCoachName}}</p>

            </div>

            <div class="who-play pad0">

                <h4>Player Details</h4>

                <div class="detal-row who-play-inner" ng-repeat="team in teams" id="team{{team.Player.id}}">

                    <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                    <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                    <div class="pl-ch-detail">

                        <h2>{{team.Player.first_name}}</h2>

                        <div class="pl-ch-detail-inner">

                            <ul>

                                <li>{{team.Player.self_rating| number : 1}}</li>
                                <li>Self Rated</li>

                                <li>{{team.Player.current_points}} XP</li>

                            </ul>

                        </div>

                        <div class="last-detail">


                            Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                        </div>

                    </div>


                </div>

            </div>


        </div>
    </div>

    <div class="class-fee-detail">
        <div class="sub-heading">Fee Details</div>

        <div class="count-fee-main">
            <div class="count-fee-inner">

                <label>Court booking</label>

                <div class="fee-rate">
                    $ <span>{{$root.courtBookingFee| number : 2}}</span>

                </div>

                <p>(club member - no charge)</p>

            </div>


            <div class="count-fee-inner">


                <label>Coach booking</label>

                <div class="fee-rate">
                    $ <span>{{$root.coachBookingFee| number : 2}}</span>

                </div>

                <p>- {{coachName}}</p>

            </div>


            <div class="total-div">

                <div class="total-div-inner">
                    <label>Promotional Discount</label>

                    <p>(-) $ {{$root.promoDiscount| number : 2}}</p>


                </div>
                
                <div class="total-div-inner">
                    <label>Non Member Fees</label>

                    <p>(+) $ {{nonMemberFees| number : 2}}</p>


                </div>

                <div class="total-div-inner">
                    <label>Subtotal</label>

                    <p>$ {{$root.subTotal| number : 2}}</p>


                </div>

                <div class="total-div-inner">
                    <label>Some kind of tax ({{$root.taxFee| number : 2}}%)</label>

                    <p>${{$root.taxAmount| number : 2}}</p>


                </div>


                <div class="main-total border-none">



                    <p>Total</p>

                    <p class="main-total-pay">$ {{$root.grandTotal| number : 2}}</p>


                </div>
                
                









            </div>




        </div>

        <div ng-repeat="paymentMethods in $root.paymentMethods">
            <button ng-if="paymentMethods == 1" class="blk-btn btn-block bottom-btn marg-bottom-20" ng-click="makePayment(1, bookingId, $root.grandTotal)">CASH</button>
            <button ng-if="paymentMethods == 2" class="blk-btn btn-block bottom-btn marg-bottom-20" ng-if="$root.grandTotal > 0" ng-click="makePayment(2, bookingId, $root.grandTotal)">CREDIT CARD</button>
            <button ng-if="paymentMethods == 3" class="blk-btn btn-block bottom-btn marg-bottom-20" ng-click="makePayment(3, bookingId, $root.grandTotal)">MEMBERSHIP CREDIT</button>
        </div>
    </div>

</div>