<div class="right-bar right-side-bar" id="rightSideBar">  <!-- ng-show="rightSideBar" -->

    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBar()"><img src="images/cross.png"></button></div>


    <div class="date-time">{{eventDay}}, <span>{{eventDate}}</span></div>

    <div class="heading-date">
        {{startTimeHour}}<span>{{startTimeAM}}</span>

    </div>

    <div class="con-side-box blue-top-border">

        <div class="con-side-box-header">

            <div class="con-side-box-header-upper">
                <div class="con-side-box-header-upper-left">

                    {{eventPlayTime}} 
                </div>

                <div class="con-side-box-header-upper-right">

                    {{bookingNumber}}
                </div>

            </div>

            <div class="con-side-box-header-lower">

                {{matchType}}

                <br>

                <span>Court: {{courtName}}</span>

            </div>


        </div>

        <div class="detal-row" ng-repeat="team in teams">

            <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
            <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

            <div class="pl-ch-detail">

                <h2>{{team.Player.first_name}}</h2>

                <div class="pl-ch-detail-inner">

                    <ul>

                        <li>{{team.Player.self_rating| number : 1}}</li>
                        <li>Self Rated</li>

                        <li>{{team.Player.current_points}} XP</li>

                    </ul>

                </div>

                <div class="last-detail">


                    Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                </div>

            </div>


            <div class="ahed-div">

                <button ng-click="showPlayerProfile(team.Player.id)"><img src="images/ahed-arrow.png"></button>


            </div>


        </div>


        <div class="bottom-div">

            <button class="pull-left" ng-click="openDetails(bookingId)"><img src="images/edit.png"></button>

            <button class="pull-right" ng-click="getRightSideBarDetails(bookingId)"><span>details</span><img src="images/ahed-arrow.png"></button>

        </div>




    </div>



</div>



