<div class="right-bar right-side-bar" id="rightSideBarGroupClassDetails">
  <div class="side-header">
    <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
  </div>
  <div class="date-time pad-left15">{{ $root.groupClassDeatilData.ClubBookingSession.book_date | date : "EEEE"}}, <span> {{ $root.groupClassDeatilData.ClubBookingSession.book_date | date : "dd MMMM yyyy"}} </span> <span ng-if="!$root.isDashboard" style="float:right" ng-click="getRightSideBarDetailsEdit($root.groupClassDeatilData.ClubBookingSession.id)"><img style="width:75%" src="images/edit.png"></span></div>
  <div class="setforfull">
    <div class="con-side-box orange-top-border">
      <div class="con-side-box-header">
        <div class="con-side-box-header-upper">
          <div class="con-side-box-header-upper-left"> {{ $root.groupClassDeatilData.ClubBookingSession.book_start_time | date : "h:mm a"}} - {{ $root.groupClassDeatilData.ClubBookingSession.book_end_time | date : "h:mm a" }} </div>
          <div class="con-side-box-header-upper-right"> {{ $root.groupClassDeatilData.ClubBookingSession.prefix_booking_number}}{{ $root.groupClassDeatilData.ClubBookingSession.booking_number}} </div>
        </div>
        <div class="con-side-box-header-lower">
          <p class="top-heading">{{ $root.groupClassDeatilData.ClubBookingSession.class_name}}<br/>
            <span>{{$root.groupClassDeatilData.Club.name}}</span></p>
          <div class="deail-group-rate" style="padding:0;">
            <ul class="groupClassDetail_list" style="padding:0;">
              <li>Rating: <span>{{$root.groupClassDeatilData.ClubBookingSession.min_player_rating}} - 00</span> </li>
              <li>Age Group: <span>{{$root.groupClassDeatilData.ClubBookingSession.min_player_age}} - {{$root.groupClassDeatilData.ClubBookingSession.max_player_age}}</span> </li>
              <li ng-if="$root.groupClassDeatilData.ClubBookingSession.is_club_member == 1">Club Member only</li>
              <li ng-if="$root.groupClassDeatilData.ClubBookingSession.is_club_member != 1">All Members</li>
            </ul>
          </div>
          <p>Court {{$root.groupClassDeatilData.Court.name}}</p>
          <p>{{ $root.groupClassDeatilData.ClubBookingSession.class_description}}</p>
        </div>
      </div>
      <div class="detal-row" ng-if="$root.groupClassDeatilData.ClubBookingSession.coach_id > 0"> 
	  <img class="image-blank" ng-if="$root.groupClassDeatilData.Coach.profile_picture != ''" src="{{picUrl}}{{$root.groupClassDeatilData.Coach.profile_picture}}" /> 
	  <img class="image-blank" ng-if="$root.groupClassDeatilData.Coach.profile_picture == ''" />
        <div class="pl-ch-detail">
          <h2>{{$root.groupClassDeatilData.Coach.name}}</h2>
          <div class="pl-ch-detail-inner">
            Lead Coach
          </div>
          <div class="last-detail">{{$root.groupClassDeatilData.Coach.current_rating}}</div>
        </div>
        <div class="ahed-div">
          <button ng-click="showCoachProfile($root.groupClassDeatilData.Coach.id)"><img src="images/ahed-arrow.png"></button>
        </div>
      </div>
	  <div class="detal-row" ng-if="$root.groupClassDeatilData.ClubBookingSession.sub_coach_id > 0"> 
	  <img class="image-blank" ng-if="$root.groupClassDeatilData.SubCoach.profile_picture != ''" src="{{picUrl}}{{$root.groupClassDeatilData.SubCoach.profile_picture}}" /> 
	  <img class="image-blank" ng-if="$root.groupClassDeatilData.SubCoach.profile_picture == ''" />
        <div class="pl-ch-detail">
          <h2>{{$root.groupClassDeatilData.SubCoach.name}}</h2>
          <div class="pl-ch-detail-inner">
            Coach
          </div>
          <div class="last-detail">{{$root.groupClassDeatilData.SubCoach.current_rating}}</div>
        </div>
        <div class="ahed-div">
          <button ng-click="showCoachProfile($root.groupClassDeatilData.SubCoach.id)"><img src="images/ahed-arrow.png"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="class-fee-detail">
	<div class="sub-heading">{{$root.playersadded.length}}/{{$root.groupClassDeatilData.ClubBookingSession.no_player}}</div>
	<div class="count-fee-inner playersInfoData alreadyAdded playerBlok_{{player.Player.id}}" ng-repeat="player in $root.groupClassDeatilData.JoinGroupClass">
		<img class="image-blank" ng-if="player.Player.profile_picture != ''" src="{{picUrl}}{{player.Player.profile_picture}}"/> 
		<img class="image-blank" ng-if="player.Player.profile_picture == ''" />
		<div class="pl-ch-detail">
			<h2>{{player.Player.suffix}} {{player.Player.first_name}} {{player.Player.last_name}}</h2>
			<div class="deail-group-rate" style="padding:0;">
				<ul class="groupClassDetail_list" style="padding:0;">
					<li>{{player.Player.self_rating}}</li>
					<li>Self Rated</li>
				</ul>
			</div>
			<div class="last-detail">Last played : {{player.LastActivity.MatchHistory.date_played}}</div>
		</div>
		<div class="ahed-div">
			<button><img ng-click="showPlayerProfile(player.Player.id)" style="width:10px;" src="images/ahed-arrow.png"></button>
		</div>
	</div>
  </div>
  <div class="class-fee-detail">
    <div class="sub-heading">Class Revenue</div>
    <div class="count-fee-main">
      <div class="count-fee-inner">
        <label>Class fee per person</label>
        <div class="fee-rate"> $ <span>{{$root.groupClassDeatilData.ClubBookingSession.grand_total/$root.groupClassDeatilData.ClubBookingSession.no_player | number : 2}}</span> </div>
        <p>(inclusive of {{$root.groupClassDeatilData.ClubBookingSession.tax_fee | number : 2}}% tax)</p>
      </div>
      <div class="total-div">
        <div class="total-div-inner">
          <label>Total class fees</label>
          <p>$ {{$root.groupClassDeatilData.ClubBookingSession.grand_total | number : 2}}</p><br/>
		  <div class="ng-binding" style="text-align: left; float: left; width: 100%;">({{$root.groupClassDeatilData.ClubBookingSession.no_player}} people)</div>
        </div>
        <div class="total-div-inner">
          <label>Cancellation charges</label>
          <p>$ {{$root.totalCancelCharge | number : 2}}</p><br/>
		  <div class="ng-binding" style="text-align: left; float: left; width: 100%;">({{$root.totalCancel | number : 2}} people)</div>
        </div>
        <div class="gross-total pad-top-15" style="border-top:2px solid #ccc;">
          <p>Current total<br>
          </p>
          <p class="main-total-pay-mini">$ {{$root.totalActiveCharge+$root.totalCancelCharge | number : 2}}</p>
        </div>
        <div class="btn-group"  ng-if="$root.cancelClassCount == 0">
          <button class="gray-btn btn-block bottom-btn" ng-click="openRightSideBarAddPlayerToClass($root.groupClassDeatilData.ClubBookingSession.id)">ADD PLAYER TO CLASS</button>
            <button class="gray-btn btn-block bottom-btn" ng-click="cancelClass($root.groupClassDeatilData.ClubBookingSession.id)">CANCEL CLASS</button>
        </div>
      </div>
    </div>
  </div>
</div>
