<div class="right-bar right-side-bar" id="rightSideBarAddForm">
  <!-- ng-show="rightSideBarAddForm" -->
  <div class="side-header">
    <button class="pull-right" ng-click="closeRightSideBarAddForm()"><img src="images/cross.png"></button>
  </div>
  <div class="date-time pad-left15"><span>Add Club Member</span></div>
  <form id="addClubMemberUser" ng-submit="addClubMemberUser()">
    <div class="form-booking">
      <div class="form-field">
        <label>Search App user</label>
        <angucomplete-alt id="AddMembers" placeholder="Click here to search" pause="400" selected-object="selectedBookerInfo" remote-url="{{remoteUrlBookerInfo}}"
                    remote-url-data-field="data" title-field="first_name,last_name" description-field="email" image-field="profile_picture"
                    input-class="form-control form-control-small searchIcon" />
      </div>
      <div class="form-field">
        <label>Name</label>
        <input type="text" style="margin-bottom: 10px;" required ng-model="playerAddFirstName" id="playerAddFirstName" placeholder="First name">
        <input type="text" required ng-model="playerAddLastName" id="playerAddLastName" placeholder="Surname">
        <input type="text" required ng-model="playerAddDisplayName" id="playerAddDisplayName" placeholder="Display Name">
      </div>
	  <div class="form-field">
        <label>Gender</label>
		<select required ng-model="playerAddGender" id="playerAddGender">
          <option value="">Select Gender</option>
		  <option value="1">Male</option>
		  <option value="2">Female</option>
        </select>
      </div>
      <div class="form-field">
        <label>Contact No.</label>
        <span class="country-code">+60</span>
		<input type="number" ng-model="playerAddContactNo" class="no-wi-cd" id="playerAddContactNo" placeholder="xx xxx xxxx" name="playerAddContactNo" required="required" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-model="postcode" value="{{playerEditContactNo}}">
      </div>
      <div class="form-field">
        <label>Email</label>
        <input type="email" required ng-model="playerAddEmail" ng-pattern="emailFormat" id="playerAddEmail" placeholder="Email address">
      </div>
	  <div class="form-field">
        <label>Date of Birth</label>
        <input type="text" required ng-model="end" id="playerAddDob" class="datepickerend"/>
      </div>
	  <div class="form-field">
        <label>Location</label>
        <input type="text" style="margin-bottom: 10px;" required ng-model="playerAddLocationCity" id="playerAddLocationCity" placeholder="City">
		<select required ng-model="playerAddLocationCountry" id="playerAddLocationCountry">
          <option value="">Country</option>
		  <option ng-repeat="c in countries" value="{{c.Country.id}}">{{c.Country.name}}</option>
        </select>
      </div>
	  <div class="form-field">
			<label>Bio  (max. 500 characters)</label>
			<textarea  ng-model="playerBio" id="playerBio" maxlength="300"></textarea>
		</div>
    </div>
    <button type="submit" class="blk-btn btn-block bottom-btn">ADD CLUB MEMBER &nbsp; <i><img src="images/plus-icon.jpg"/></i> </button>
  </form>
</div>
