<div class="right-bar right-side-bar" id="rightSideBarCancelBooking" >

    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarCancelBooking()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Club Booking</span></div>
    <form ng-submit="confirmCancelBooking()">
    <div class="form-booking">
        <div class="sub-heading">Please state the reason for cancellation:</div>


        <div class="form-field">
            <label>Cancel by</label>
            <select required="">
                <option value="">Select Court</option>
                <option value="">Club admin Name (IDXXX000)</option>                    
            </select>
        </div>
		<div class="form-field">
            <label>A notification will be sent to all players involved. sss</label>
            <textarea id="reasonText" required></textarea>
        </div>


    </div>

    <div class="bottom-set-button bottom-fix-button">
        <button type="submit" class="blk-btn btn-block bottom-btn">CONFIRM CANCELLATION</button>
    </div>
    </form>