<nav id="spy" ng-controller="myAppCtrl">
  <div class="menu-side-top"> <a id="menu-toggle-close" ng-click="closeMenu()" href="javascript:void(0)" class="btn-menu toggle"> <img src="images/menu-close.png"> </a>
    <div class="sidebar-header-logo"> <a href="javascript:void(0)"><img src="images/lodo-logo.png"></a></div>
    <div class="user-name"> Hi, {{$root.userName}} </div>
  </div>
  <div class="sidebar-nav nav">
    <div class="club-name">
      <!--div class="form-field">    
                <select>
                    <option>Club A</option>
                    <option>Club B</option>
                    <option>Club C</option>
                    <option>Club D</option>
                </select>
            </div-->
    </div>
    <ul class="sidebar-nav-inner" ng-if="$root.role_id>2">
      <li class="active" id="dashboardMenu"> <a href="javascript:void(0)" ng-click="goToPage('dashboard')"> <span>Master Calendar</span> </a> </li>
      <li id="groupclassesMenu"> <a href="javascript:void(0)" ng-click="goToPage('groupclasses')" data-toggle="collapse" data-target="#demo"> <span>Group Classes</span> </a> </li>
      <li id="coachesMenu"> <a href="javascript:void(0)" ng-click="goToPage('coaches')"> <span>Coaches</span> </a> </li>
      <li id="clubmembersMenu"> <a href="javascript:void(0)" ng-click="goToPage('clubmembers')" data-toggle="collapse" data-target="#demo"> <span>Members</span> </a> </li>
      <li id="promotionsMenu"> <a href="javascript:void(0)" ng-click="goToPage('promotions')" data-toggle="collapse" data-target="#demo"> <span>Promotions</span> </a> </li>
      <li id="leaderboardMenu"> <a href="javascript:void(0)" ng-click="goToPage('leaderboard')" data-toggle="collapse" data-target="#demo"> <span>Leaderboard</span> </a> </li>
      <li id="clubsetupMenu"> <a href="javascript:void(0)" ng-click="goToPage('clubsetup')"> <span>Club Setup</span> </a> </li>
      <li id="reportsMenu"> <a href="javascript:void(0)" ng-click="goToPage('reports')"> <span>Reports</span> </a> </li>
      <li id="bookingsMenu"> <a href="javascript:void(0)" ng-click="goToPage('bookings')" data-toggle="collapse" data-target="#demo"> <span>Club Bookings</span> </a> </li>
    </ul>
    <ul class="sidebar-nav-inner" ng-if="$root.role_id==2">
      <li class="active" id="dashboardMenu"> <a href="javascript:void(0)" ng-click="goToPage('dashboard')"> <span>Master Calendar</span> </a> </li>
      <li id="playerperformanceMenu"> <a href="javascript:void(0)" ng-click="goToPage('playerperformance')"> <span>My Classes</span> </a> </li>
      <li id="myprofileMenu"> <a href="javascript:void(0)" ng-click="goToPage('myprofile')"> <span>My Profile</span> </a> </li>
      <li id="chatMenu" class="disabled"> <a href="javascript:void(0)"> <span>Chat</span> </a> </li>
      <li id="reportsMenu" class="disabled"> <a href="javascript:void(0)" data-toggle="collapse" data-target="#demo"> <span>Reports</span> </a> </li>
    </ul>
    <button ng-click="logOut()">Logout</button>
  </div>
</nav>
<style>
li.disabled{pointer-events:none;opacity:0.5;}
</style>
