<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <div  class="navbar-brand">
                <a id="menu-toggle-open" ng-click="openMenu()" href="javascript:void(0)" class="btn-menu toggle">
                    <img src="images/menu.png">
                </a>

                <div class="header-logo header-club">
                    <a style="width: 70px;
                    float: left" href="javascript:void(0)"><img src="images/lodo-logo.png"></a>
                    <div ng-if="$root.role_id==2" style="font-size: 22px;
                    font-weight: 600;
                    border-left: 1px solid #FF994B;
                    float: left;
                    line-height: 35px;
                    height: 30px;
                    margin: 6px 0 0 17px;
                    padding-left: 10px; color:#FF994B">
                        &nbsp;<span>COACH</span>
                    </div>
                </div>
            </div>
        </div>
		
		

    </div>
</nav>