<div class="header-top-tab">

    <div class="header-top-tab-inner">


        <a href="javascript:void(0)" class="head-ancher" ng-click="openNotifications()">
            <div class="notification-sign">

                <img src="images/notification-icon.png" alt="notification-icon"/>
                <div class="noti-count">
                    0
                </div> 
            </div>

        </a>



        <a class="head-ancher" href="javascript:void(0)">

            <label>Tennis</label>
            <div class="notification-sign">

                <img src="images/tennes-icon.png" alt="tennes-icon"/>

            </div>

        </a>

    </div>

</div>