<div class="right-box-set right-side-bar" id="addSpecialFees">

<div class="right-bar popup-right-set">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeAddSpecialFeesForm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span id="specialFeesFormTitle">Add Special Fees</span></div>
    <form ng-submit="saveSpecialFees()" id="specialFeesForm">
        <div class="form-booking">
            <div class="form-field" id="daysCheckBoxes">
                <label>Title</label>
                <input type="text" required name="title" id="title"/>
            </div>

            <div id="specialFeesHoursDiv">
                <div class="form-field half-width first">
                    <label>
                        Start Date
                    </label>
                    <div class='input-group date' id="sandbox-container">
                        <!--input type="text" type="text" class="form-control" /-->
                        <input type="text" class="dateIcon datepicker" name="start_date" required  id="specialFeeStart" >
                    </div>

                </div>

                <div class="form-field half-width second">
                    <label>
                        End Date
                    </label>
                    <div class='input-group date' id="sandbox-container">
                        <!--input type="text" type="text" class="form-control" /-->
                        <input type="text" class="dateIcon datepicker" name="end_date" required  id="specialFeeEnd" >
                    </div>

                </div>


            </div>

            <div class="form-field" id="daysCheckBoxes">
                <label>Special Fee</label>
                <input type="number" step="0.01" required name="rate" id="specialFee"/>
            </div>

        </div>
        <input type="hidden" name="specialfees_id" />
        <button type="submit" class="blk-btn btn-block bottom-btn" id="specialFeesFormSubmitTitle">ADD SPECIAL FEES +</button>
    </form>
</div>
    
       <div class="overlay"></div>
    
    
</div>