<div id="Club_Profile" class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0 hidepanel">
    <form id="updateClubProfileForm" ng-submit="updateClubProfile()" >
        <div class="gen-right-box">

            <h3>Club Profile</h3>

            <div class="form-field">

                <h4>{{$root.clubDetails.Club.membership_id}}</h4>


                <div class="club-profile-img">  
                    <img ng-if="profile_picture != ''" src="{{uploadUrl + $root.clubDetails.Club.profile_picture}}"/>
                    <img ng-if="profile_picture == ''" src="images/profile.jpg"/>
                    <span ng-click="openImagePicker('profile_picture')"><button disabled><img src="images/edit.png"/></button></span></div>
                <input type="file" onChange="showClubPicture(this)" style="visibility:hidden; width:0; height:0;" id="profile_picture" name="profile_picture" />



                <div class="form-field-inner">

                    <label>
                        Club Name <span style="color:red">*</span>
                    </label>
                    <input type="text" placeholder="Club Name" name="name" required value="{{$root.clubDetails.Club.name}}">

                </div>

            </div>







            <div class="form-field">
                <label>
                    Club Description <span style="color:red">*</span> <span>(max. 500 characters)</span>
                </label>
                <textarea rows="6" class="pro-textarea" maxlength="500" name="description" required>{{$root.clubDetails.Club.description}}</textarea>
            </div> 

            <div class="form-field">
                <label>
                    Address Line 1 <span style="color:red">*</span>
                </label>
                <input type="text" placeholder="" maxlength="100" name="address_1" required value="{{$root.clubDetails.Club.address_1}}">
            </div>                           

            <div class="form-field">
                <label>
                    Address Line 2
                </label>
                <input type="text" placeholder="" maxlength="100" name="address_2" value="{{$root.clubDetails.Club.address_2}}">
            </div> 

            <div class="form-field">
                <label>
                    City <span style="color:red">*</span>
                </label>
                <input type="text" placeholder="" name="city" required value="{{$root.clubDetails.Club.city}}">
            </div>

            <div class="form-field">
                <label>
                    Postcode <span style="color:red">*</span>
                </label>
                <input type="text" placeholder="" name="postal_code" required value="{{$root.clubDetails.Club.postal_code}}">
            </div>                            

            <div class="form-field">
                <label>
                    Country <span style="color:red">*</span>
                </label>
                <select id="country_id" name="country_id" required>
                    <option value="">Choose Country</option>
                    <option ng-repeat="country in countries" value="{{country.Country.id}}">{{country.Country.name}}</option>
                </select>
            </div> 

            <div class="form-field">
                <label>
                    Phone <span style="color:red">*</span>
                </label>
                <input type="number" placeholder="" min="10000000" max="99999999999" name="contact" required value="{{$root.clubDetails.Club.contact}}">
            </div> 

            <div class="form-field">
                <label>
                    Email <span style="color:red">*</span>
                </label>
                <input type="email" placeholder="" name="email" readonly value="{{$root.clubDetails.User.email}}">
            </div>  

            <div class="form-field">
                <label>
                    Website (ex:- www.google.com)
                </label>
                <input type="url" placeholder="" name="website" ng-blur="checkURL($event)" value="{{$root.clubDetails.Club.website}}">
            </div> 

            <div class="form-field">
                <label>
                    Facebook
                </label>
                <input type="text" placeholder="" name="facebook" value="{{$root.clubDetails.Club.facebook}}">
            </div>

            <div class="form-field">
                <label>
                    Twitter
                </label>
                <input type="text" placeholder="" name="twitter" value="{{$root.clubDetails.Club.twitter}}">
            </div> 

            <div class="form-field">
                <label>
                    Google+
                </label>
                <input type="text" placeholder="" name="googleplus" value="{{$root.clubDetails.Club.googleplus}}">
            </div>

            <div class="form-field">
                <label>
                    Manager <span style="color:red">*</span>
                </label>
                <input type="text" placeholder="" name="manager_name" required value="{{$root.clubDetails.Club.manager_name}}">
            </div>

            <div class="form-field">
                <label>
                    Manager's Phone No.<span style="color:red">*</span>
                </label>
                <input type="number" placeholder="" name="manager_contact" required value="{{$root.clubDetails.Club.manager_contact}}">
            </div>

            <div class="form-field">
                <label>
                    Manager's Email <span style="color:red">*</span>
                </label>
                <input type="email" placeholder="" name="manager_email" required value="{{$root.clubDetails.Club.manager_email}}">
            </div> 

            <div class="form-field">
                <label>
                    Club Location
                </label>
                <h6>Move the marker to set location.</h6>
                <div class="map" id="map">
                    <img src="images/map.png"/>

                </div>
            </div>                       




        </div>

        <input type="hidden" id="lat" name="lat" />
        <input type="hidden" id="lng" name="lng" />

        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button> 

    </form>

    <div class="gen-right-box marg-top-30">

        <h3 class="marg-bottom-0">Club Photos</h3>

        <h6>max. 10 photos</h6>



        <div class="image-gallery-box">

            <div class="image-box" ng-repeat="clubPicture in $root.clubDetails.ClubPicture">

                <img src="{{uploadUrl}}{{clubPicture.converted_name}}"/>
                <span ng-click="removeClubPicture(clubPicture.id)"><button disabled><img src="images/delete.png"/></button></span>

            </div>


        </div>
        
        


    </div> 

    <input type="file" onChange="saveClubPicture(this)" style="visibility:hidden; width:0; height:0;" id="club_picture" />
    <button class="blk-btn btn-block bottom-btn" ng-click="openImagePicker('club_picture')">ADD PHOTOS <span><img src="images/add-picture.png"/></span></button> 
</div>