@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700');
.background-div {
    background: url(../images/Login-bg.jpg) repeat;
}

* {
    font-family: 'Khand', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.login-form {
    float: right;
    position: relative;
    top: 30%;
    width: 40%;
}

.logo {
    float: left;
    width: 150px;
    margin-bottom: 50px;
}

.logo img {
    float: left;
    width: 100%;
}

.login-main-form {
    width: 100%;
    float: left;
}

.login-main-form input {
    float: left;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #d8d8d8;
    background: none;
    padding: 0 2px;
    height: 35px;
    margin: 15px 0
}

.login-main-form input:focus {
    outline: none;
}

.blk-btn {
    color: #fff;
    background: #000;
    width: 100px;
    height: 45px;
    border: none;
}

.login-main-form button {
    margin-top: 15px;
}

.side-header button {
    background: none;
    border: none;
    width: 30px;
}

.side-header button i {
    font-size: 20px;
}

.side-header {
    float: left;
    width: 100%;
    padding: 20px 15px;
}

.date-time {
    float: left;
    padding: 20px 30px;
    width: 97%;
    color: #212121;
    font-size: 20px;
}

.date-time span {
    font-weight: 600;
}

.heading-date {
    float: left;
    width: 97%;
    background: url(../images/hading-line.png) no-repeat left center;
    padding-left: 30px;
    font-size: 25px;
    margin-bottom: 15px;
}

.heading-date span {
    font-size: 15px;
}

.pad0 {
    padding: 0 !important;
}

.con-side-box {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    background: #fff;
    float: left;
    margin-left: 17%;
    width: 78%;
    margin-bottom: 20px;
}

.blue-top-border {
    border-top: 7px solid #7db9cb;
}

.orange-top-border {
    border-top: 7px solid #ff994b;
}

.lightorange-top-border {
    border-top: 7px solid #fcd581;
}

.con-side-box-header-upper {
    float: left;
    padding: 16px 16px 0;
    width: 100%;
    color: #737373;
}

.co-pos {
    color: #ff994b;
}

.orange {
    color: #ff994b !important;
}

.con-side-box-header-upper-left {
    float: left;
    font-size: 20px;
    width: auto;
}

.con-side-box-header-upper-right {
    float: right;
    font-size: 15px;
    width: auto;
    padding: 5px 0;
}

.con-side-box-header-lower {
    float: left;
    padding: 0 16px 16px;
    width: 100%;
    color: #737373;
}

.detal-row {
    float: left;
    padding: 10px 16px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.detal-row:last-child {
    border-bottom: 2px solid #d9d9d9;
}

.search-result-box .detal-row:last-child {
    border-bottom: none;
}

.image-blank {
    background: #bdbdbd none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height:50px;
    width: 50px;
    margin-right: 10px;
}

.pl-ch-detail {
    float: left;
    width: 60%;
}


.header-top-tab{ float: left; width: 100%;}



.pl-ch-detail h2 {
    color: #626262;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.pl-ch-detail-inner {
    float: left;
    width: 100%;
}

.pl-ch-detail-inner ul {
    list-style: none;
    padding: 0;
    margin: 3px 0;
}

.pl-ch-detail-inner ul li {
    list-style: none;
    display: inline;
    border-right: 1px solid #a5a5a5;
    padding: 0 5px;
    color: #a5a5a5;
    font-size: 13px;
}

.pl-ch-detail-inner li:last-child {
    border-right: none;
}

.pl-ch-detail-inner li:first-child {
    padding-left: 0;
}

.bottom-div {
    padding: 16px;
    float: left;
    width: 100%;
}

.bottom-div button {
    border: none;
    background: none;
    font-size: 16px;
    color
}

#wrapper{ max-width: 1920px; width: 100%; margin: 0 auto; position: relative;}

.wrapper-inner{ float: left; width: 100%;position: relative;}

.button-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.button-bottom button{  background: #000; color: #fff; height: 35px; width: 30%; border: none; font-size: 17px;}

.button-bottom button img{ width:15px;}

.last-detail {
    float: left;
    width: auto;
    color: #e5e5e5;
    font-size: 13px;
}

.ahed-div {
    float: right;
    width: auto;
    padding: 15px 0;
}

.ahed-div button {
    background: none;
    border: none;
}

.bottom-div button span {
    padding: 0 8px;
}

.pad-left0 {
    padding-left: 0 !important;
}

.form-field label {
    color: #7e7e7e;
    float: left;
    font-weight: 400;
    width: 100%;
    font-size: 17px; margin: 0;
}


.form-booking .form-field, .coach-detail-div .form-field { margin-bottom: 20px;}

.form-field {
    float: left;
    width: 100%;
}

.form-field input {
    float: left;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
    height: 35px;
    padding: 0 30px 0 0;
    color: #d8d8d8;
    font-size: 15px;
}


.form-field select {
    float: left;
    width: 100%;
    border: 1px solid #d8d8d8;
    height: 35px;
    padding: 0 30px 0 10px;
    color: #212121;
    font-size: 15px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    margin-top: 12px;
    background: url(../images/down-arrow.jpg) no-repeat right 10px center #fff;
}
.form-field input[type="search"] {
    background: url(../images/search.png) no-repeat right 5px center;
}

.form-field input.no-wi-cd{ display: inline;
                            float: none;
                            width: 92%;}


.right-bar {
    background: #fff none repeat scroll 0 0;
    float: right;
    right: 0;
    width: 350px; height: 85vh;overflow-y: scroll;
}

.form-field .country-code{  border-bottom: 1px solid #d8d8d8;
                            float: left;
                            height: 35px;
                            line-height: 35px;
                            padding-right: 1%; font-size: 17px;  color: #212121;}



.half-width select{ width: 48%; margin-right: 4%;}

.half-width select:last-child{ margin-right: 0;}

#sandbox-container{float: left;
                   width: 100%;
                   border: none;
                   height: 35px;
}


#sandbox-container .form-control{ box-shadow: none;}

#sandbox-container input{ background: url(../images/calander.png) no-repeat right 5px center;}

.coach-detail-div {
    float: left;
    width: 100%;
}

.form-booking {
    float: left;
    padding: 15px;
    width: 100%;
}

.coach-detail-div .detal-row{
    -webkit-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
    box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1); border: none; margin: 10px 0;}

.coach-detail-div .ahed-div button {
    width: 25px;
}

.coach-detail-div .ahed-div {
    padding: 19px 0;

}

input:focus, select {
    outline: none;
}

.form-control:focus{ border: none !important}

.pad-left15{ padding-left: 15px !important; padding-right: 15px !important;}

.reguler-plus{ background: url(../images/plus.png) no-repeat right center; height: 17px;
               width: 15px;}
.reguler-minus{ background: url(../images/minus.png) no-repeat right center; height: 17px;
                width: 15px;}
.search-result-box {
    float: left;
    width: 100%;border: 1px solid #d9d9d9; border-top:none !important;
}

.search-result-box .pl-ch-detail {
    width: 65%;
}


.marg0{ margin-bottom: 0 !important}


.header-logo {
    float: left;
    width: 100px;
}


/*--side-navbar --*/

#sidebar-wrapper > nav {
    float: left;
    width: 100%; background: #fff; height: 100%;
}
.club-name {
    float: left;
    padding: 0 20px;
    width: 100%; margin-top: -18px;
}

.club-name .form-field select{ margin-top: 0; }




.sidebar-nav.nav{ float: left; width: 100%;}
.app-content-body {
    float: left;
    width: 100%;
    height: 88vh;
}


.menu-side-top {
    float: left;
    padding: 25px 20px;
    width: 100%; background: url(../images/Login-bg.jpg) no-repeat left top;
}
.background-div .navbar-inverse{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                                 border: medium none;
                                 padding: 25px 20px;
                                 width: 100%;}


.background-div .navbar-inverse .navbar-brand{ padding: 0;}


#sidebar-wrapper {
    margin-left: -300px;
    top: 0;
    left: 0;
    width: 300px;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    z-index: 1031;
    transition: all 0.4s ease 0s;
}

.right-side-main {
    float: left;
    width: 77%;
}

.header-top-tab-inner {
    float: right;
    width: 200px;
}

.head-ancher {
    float: left;
    margin:15px 10px;
    width: auto;
}

.head-ancher label{ color: #737373;
                    float: left;
                    font-weight: 400;
                    margin: 12px 10px 0 0;
                    width: auto; font-size: 15px;}

.header-top-tab-inner img{ padding-top: 6px;
                           width: 70%;}

.notification-sign {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    height: 40px;float: left;
    text-align: center;
    width: 40px;border: 1px solid #dadada; position: relative;
}

.noti-count{background: #6dccc1 none repeat scroll 0 0;
            border-radius: 50%;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            height: 27px;
            left: -22px;
            padding-top: 3px;
            position: absolute;
            text-align: center;
            top: 8px;
            width: 27px;  }

.left-bar {
    float: left;
    width: 23%; position: relative;height: 100vh; overflow: hidden;
}
.left-bar nav{ float: left; width:100%;}
#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;  margin-left: 0;
}

#sidebar-wrapper.active{ 
    margin-left: -300px !important;}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    float: left;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0; background: #fff;
}

.sidebar-nav button{ background: none; border: none; margin: 0 0 0 20px; padding: 0; font-size: 15px; color:#909090;}

.sidebar-nav-inner li {
    float: left; width: 100%; padding-left: 20px;

}

.sidebar-nav-inner li a {
    border-bottom: 1px solid #d8d8d8;
    color: #2e2e2e;
    float: left;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0 8px;
    text-decoration: none;
    width: 100%;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav-inner li a:hover,
.sidebar-nav-inner li.active a {
    color: #6dccc1;
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav-inner{ float: left; width: 100%; padding: 0; margin-top: 20px;}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle-open {
    color: #fff;
    float: left;
    margin: 12px 20px 12px 0;
    text-decoration: none;
}

#menu-toggle-close {
    color: #fff;
    float: left;
    margin: 12px 20px 12px 0;
    text-decoration: none;width: 20px;
}

.user-name {
    color: #606060;
    float: left;
    font-size: 18px;
    padding: 30px 0 20px;
    width: 100%;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
    }

    #wrapper.active #sidebar-wrapper {
        left: 0;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

}





/*--side-navbar --*/

.fc-agendaWeek-button:after, .fc-agendaDay-button:after, .fc-month-button:after
{font-family: "FontAwesome";                                           
 content: "\f111"; position: absolute; font-size: 3px;
 line-height: 20px;
 margin: 0 6px;
 position: absolute;
}














/*--only for accordian --*/
.coach-detail-div .panel-group .panel {
    border-radius: 0 ;
    box-shadow: none;
    border: none;
}

.coach-detail-div .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    border:none;
}

.coach-detail-div  .panel-group .panel-heading + .panel-collapse > .panel-body,  .coach-detail-div  .panel-group .panel-heading + .panel-collapse > .list-group { border-top:none !important;}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    font-size: 17px;
    padding: 12px 12px 10px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.bottom-btn{font-size: 20px;
            line-height: 49px;}

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #26a69a;
}

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.calendar_modern {
    float: left;
    padding: 0 20px;
}
.calendar_modern .calendar {
    margin: auto;
    width: 240px;
    height: 290px;
}
.calendar_modern .calendar .nav {
    height: 0;
    position: relative;
}
.calendar_modern .calendar .nav i, .calendar_modern .calendar .nav b {
    display: block;
    font-style: normal;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 100;
    top: 0;
}
.calendar_modern .calendar .nav i {
    left: 0;

    background: url(../images/left-arrow.png) no-repeat center center ;
}
.calendar_modern .calendar .nav b {
    right: 0;

    background:url(../images/right-arrow.png) no-repeat center center;
}
.calendar_modern .calendar .viewport {
    overflow: hidden;
    zoom: 1;
    height: 260px;
    width: 240px;
    position: relative;
}
.calendar_modern .calendar .months {
    white-space: nowrap;
    word-spacing: -2px;
    letter-spacing: -2px;
    position: absolute;
    height: 260px;
}
.calendar_modern .calendar .month {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    width: 240px;
    height: 260px;
}
.calendar_modern .calendar .month .header {
    color: #666;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.calendar_modern .calendar .month .body {

}
.calendar_modern .calendar .month .body .day_names {
    height: 25px;
}
.calendar_modern .calendar .month .body .day_names i {

    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-style: normal;
    float: left;
    width: 34px;
}
.calendar_modern .calendar .month .body .days i, .calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days s, .calendar_modern .calendar .month .body .days a {
    background: #e6e6e6 none repeat scroll 0 0;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    display: block;
    float: left;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    height: 33px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    width: 33px;
    /* table like borders */
}
.calendar_modern .calendar .month .body .days i.weekend, .calendar_modern .calendar .month .body .days b.weekend, .calendar_modern .calendar .month .body .days s.weekend, .calendar_modern .calendar .month .body .days a.weekend {
    color: #6dccc1;

}
.calendar_modern .calendar .month .body .days i:nth-child(7n + 1), .calendar_modern .calendar .month .body .days b:nth-child(7n + 1), .calendar_modern .calendar .month .body .days s:nth-child(7n + 1), .calendar_modern .calendar .month .body .days a:nth-child(7n + 1) {
    border-left: 1px solid #ebebeb;
}
.calendar_modern .calendar .month .body .days i:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days b:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days a:nth-child(n+1):nth-child(-n+7) {
    border-top: 1px solid #ebebeb;
}
.calendar_modern .calendar .month .body .days i:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days b:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days a:nth-child(n+1):nth-child(-n+7).empty {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #aaaaaa;
}
.calendar_modern .calendar .month .body .days s:nth-child(7n + 1) {
    border-left: 1px solid #d5d5d5;
}
.calendar_modern .calendar .month .body .days a {
    color: #372f2d;
    color: #7a7a7a;

}
.calendar_modern .calendar .month .body .days a.today { font-weight: 700; border: 1px solid #d4d4d4;

}
.calendar_modern .calendar .month .body .days a.selected {
    color: white;
    text-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 0 0 18px #000066 inset;
    -moz-box-shadow: 0 0 18px #000066 inset;
    box-shadow: 0 0 18px #000066 inset;
}
.calendar_modern .calendar .month .body .days a:hover {
    color: white;
    -webkit-transition-property: text-shadow;
    -moz-transition-property: text-shadow;
    -o-transition-property: text-shadow;
    transition-property: text-shadow;
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    text-shadow: 1px 1px 2px green;
    -webkit-box-shadow: 0 0 18px #006600 inset;
    -moz-box-shadow: 0 0 18px #006600 inset;
    box-shadow: 0 0 18px #006600 inset;
}
.calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days i, .calendar_modern .calendar .month .body .days s {
    color: #7a7a7a;
}
.calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days s {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none !important;
}
.calendar_modern .calendar .month .body .days b {
    border-bottom: 1px solid #ebebeb !important;
}
.calendar_modern .calendar .month .body .days b:first-child {

}
.calendar_modern .calendar .month .body .days b:last-of-type {
    border-right: 1px solid #ebebeb!important;
}

.time_list {
    position: absolute;
    top: 30px;
    left: 30px;
    border: 1px solid gray;
    padding: 20px;
}
.time_list li, .time_list ul{
    padding: 0; margin: 0;
}

/*--only for accordian --*/


a:focus{ outline: none !important; text-decoration: none !important;}

a:hover{ outline: none !important; text-decoration: none !important;}



@media only screen and (max-width:480px) {
    .login-form {
        width: 70%;
    }

    .left-bar {
        width: 100%;

    }

    #wrapper.active #sidebar-wrapper {

        width: 100%;
    }


    .right-side-main {
        width: 100%;
        padding: 20px;
    }


    .app-content-body {
        width: 100%;

    }

    .right-bar {
        width: 100%;
        height: auto; margin-top: 30px;

    }

    .background-div{ float: left; height: 100% !important;}


    .button-bottom {
        position: relative;
        width: 100%;
    }
    .button-bottom button{ width: 100%;}



}

@media only screen and (min-width:481px) and (max-width:560px) {   

    .left-bar {
        width: 100%; height: auto;

    }

    #wrapper.active #sidebar-wrapper {

        width: 100%;
    }

    .right-side-main {
        width: 100%;
        padding: 20px;
    }


    .app-content-body {
        width: 100%;

    }

    .right-bar {
        width: 100%;
        height: auto; margin-top: 30px;

    }

    .background-div{ float: left; height: 100% !important;}


    .button-bottom {
        position: relative;
        width: 100%;
    }
    .button-bottom button{ width: 100%;}






}

@media only screen and (min-width:561px) and (max-width:770px) {
    .login-form {
        width: 60%;
    }

    .app-content-body {
        float: right;
        width: 95%;
    }
    .side-header {
        width: 100%;
        padding: 20px 15px;
    }
    .left-bar {
        width: 43%;
    }


    .button-bottom {
        position: relative;
        width: 100%;
    }
    .button-bottom button{ width: 48%;}




    .right-side-main {
        float: left;
        width: 56%; padding: 5px;
    }
    .background-div{ float: left; height: 100% !important;}

    .right-bar {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }


}

@media only screen and (min-width:771px) and (max-width:1024px) {
    .login-form {
        width: 60%;
    }

    .app-content-body {
        float: right;
        width: 95%;
    }

    .left-bar {
        width: 30%;
    }

    .right-side-main {
        float: left;
        width: 65%;
    }

    .right-bar {

        width: 95%;
        height: auto;
        margin-top: 30px;
    }

    .button-bottom {
        position: relative;
        width: 100%;
    }
    .button-bottom button{ width: 40%;}



}

@media only screen and (min-width:1025px) and (max-width:1200px) {.left-bar {width: 25%;
                                                                  }.right-side-main {
                                                                      float: left;
                                                                      width: 75%;
                                                                  }

                                                                  .right-bar {
                                                                      width: 35%;
                                                                  }

                                                                  .con-side-box {
                                                                      margin-left: 0;
                                                                      width: 100%;
                                                                  }


}

@media only screen and (min-width:1201px) {}

.k-content, .k-editable-area, .k-panel>li.k-item, .k-panelbar>li.k-item, .k-tiles {
    background-color: transparent !important;
}

.fc-view-container{
    background-color: white;
}

.exhibition{
    color: white;
    background-color: red;
    border-radius: 50%;
}

.sideBarOn{
    width: 65% !important;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}
