<div class="right-bar right-side-bar" id="applyClub">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeApplyClub()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Apply To Club</span></div>
    <form id="applyToClub" ng-submit="applyToClub()">
        <div class="form-booking">
            <div class="form-field">
                <label>Club Name</label>
                <angucomplete-alt id="AddClub" placeholder="Type here to search" pause="400" selected-object="selectedClubInfo" remote-url="{{remoteUrl}}"
                    remote-url-data-field="data" title-field="name" description-field="description" image-field="profile_picture"
                    input-class="form-control form-control-small" />
                
                

            </div>

            <div class="form-field">
                <label>Desired Designation</label>

                <input type="text" required class="form-control" id="clubDesignation" name="designation" placeholder="" />
                <input type="hidden" name="club_id" id="clubId" value="0" />

            </div>

            <div class="form-field">
                <label>Basic Salary</label>

                <input type="number" step="0.01" required class="form-control" id="clubSalary" name="salary" placeholder="$" />


            </div>

            <div class="form-field">
                <label>Commission</label>

                <input type="number" step="0.01" required class="form-control" id="clubCommission" name="commission" placeholder="xxx%" />


            </div>

        </div>

        <div class="coach-detail-div">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="true"
                               aria-controls="collapseOne">
                                Availability
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-booking">
            <div class="form-field half-width">
                <label>Default Start Time</label>

                <select name="start_hours" required>
                    <option value="">Hour</option>
                    <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                </select>

                <select name="start_minutes" required>
                    <option value="">Minute</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="00">00</option>
                </select>

            </div>


            <div class="form-field half-width">
                <label>Default End Time</label>

                <select name="end_hours" required>
                    <option value="">Hour</option>
                    <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                </select>

                <select name="end_minutes" required>
                    <option value="">Minute</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="00">00</option>
                </select>

            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="sunday" name="days[sunday][day]" value="SUN" class="ui-checkbox"/>
                    <label for="sunday">Sunday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('sundayBlock')" style="width: 10%; float: right" />
                <div id="sundayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[sunday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[sunday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[sunday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[sunday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>

            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="monday" name="days[monday][day]" value="MON" class="ui-checkbox"/>
                    <label for="monday">Monday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('mondayBlock')" style="width: 10%; float: right" />
                <div id="mondayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[monday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[monday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[monday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[monday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="tuesday" name="days[tuesday][day]" value="TUE" class="ui-checkbox"/>
                    <label for="tuesday">Tuesday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('tuesdayBlock')" style="width: 10%; float: right" />
                <div id="tuesdayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[tuesday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[tuesday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[tuesday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[tuesday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="wednesday" name="days[wednesday][day]" value="WED" class="ui-checkbox"/>
                    <label for="wednesday">Wednesday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('wednesdayBlock')" style="width: 10%; float: right" />
                <div id="wednesdayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[wednesday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[wednesday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[wednesday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[wednesday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="thursday" name="days[thursday][day]" value="THU" class="ui-checkbox"/>
                    <label for="thursday">Thursday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('thursdayBlock')" style="width: 10%; float: right" />
                <div id="thursdayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[thursday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[thursday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[thursday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[thursday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="friday" name="days[friday][day]" value="FRI" class="ui-checkbox"/>
                    <label for="friday">Friday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('fridayBlock')" style="width: 10%; float: right" />
                <div id="fridayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[friday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[friday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[friday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[friday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="form-field">
                <div class="check-div">
                    <input type="checkbox" id="saturday" name="days[saturday][day]" value="SAT" class="ui-checkbox"/>
                    <label for="saturday">Saturday</label>
                </div>
                <img src="images/addmoresymbol.png" ng-click="openDayTimingBlock('saturdayBlock')" style="width: 10%; float: right" />
                <div id="saturdayBlock" class="hide">
                    <div class="form-field half-width">
                        <label>Start Time</label>

                        <select name="days[saturday][start_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[saturday][start_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>


                    <div class="form-field half-width">
                        <label>End Time</label>

                        <select name="days[saturday][end_hours]">
                            <option value="">Hour</option>
                            <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                        </select>

                        <select name="days[saturday][end_minutes]">
                            <option value="">Minute</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                            <option value="00">00</option>
                        </select>

                    </div>
                </div>
            </div>


        </div>





        <button type="submit" class="blk-btn btn-block bottom-btn">APPLY TO CLUB</button>
    </form>
</div>