<form id="CV" ng-submit="saveCv()">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <div class="gen-right-box">

            <h3>CV</h3>


            <div class="form-field">
                <label>Years of Experience</label>
                <input type="text" name="experiance" required>
            </div>

            <div class="form-field experienceDiv">
                <label>
                    Coaching Experience
                </label>
                <select name="coachExperience[0][from_year]" required>
                    <option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
                </select>
                <select name="coachExperience[0][to_year]" required>
                    <option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
                </select>
                <input type="text" name="coachExperience[0][place]" placeholder="Place" required />
                 <div id="addMoreExperience" class="date-time float-right" ng-click="addMoreExperience()">ADD ANOTHER EXPERIENCE +</div>
            <div id="removeExperience" style="display:none" class="date-time float-right" ng-click="removeExperience()">REMOVE EXPERIENCE -</div>
            </div>


            <div id="extraExperiences"></div>

           

            <div class="form-field certificationDiv">
                <label>
                    Certifications
                </label>
                <input type="text" name="coachCertificates[0][name]" placeholder="Certificate Title" required>
                <input type="file" name="coachCertificates[0][attachment]">
                <img src="" name="coachCertificates[0][image]" />
                
            <div id="addMoreCertification" class="date-time float-right" ng-click="addMoreCertification()">ADD ANOTHER CERTIFICATION +</div>
            <div id="removeCertification" style="display:none" class="date-time float-right" ng-click="removeCertification()">REMOVE CERTIFICATION -</div>

            </div>

            <div id="extraCertifications"></div>

        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>

        </div>
</form>