<div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 pad0">

    <ul id="myProfileMenu">

        <li class="active-li" ><a href="javascript:void(0);" ng-click="openMenuItem(1, $event)">Login Details</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(2, $event)">Personal Details</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(3, $event)">Rating</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(4, $event)">CV</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(5, $event)">Joined Club</a></li>

    </ul>

    <a href="javascript:void(0)" ng-click="showCoachProfile()">See how others view me</a>



</div>