<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
	
.search-sort-div input[type="search"] {
    border-bottom: 1px solid #A8A8A8;
    border-left: none;
    border-right: none;
    border-top: none;
}
.search-sort-div {
    padding: 20px 35px;
   
}

</style>
<div class="background-div2">
  <div id="wrapper">
    <div class="wrapper-inner">
      <div class="left-bar">
        <div ng-include="'topleftheader.html'"></div>
        
        <!-- Sidebar -->
        
        <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
      </div>
      
      <!-- Page content -->
      
      <div class="right-side-main pos-set-full">
        <div ng-include="'toprightheader.html'"></div>
        <div class="heading-text-main">
					<div class="container-main">
						<div class="row">
                            <div class="col-xs-12 col-lg-12 pad0">
                                <a href="javascript:void(0)" data-toggle="tab">Members List</a>
                            </div>
                        </div>
					</div>
				</div>
        <div class="app-content-body">
          <div class="tab-table">
           

           <!-- Search -->
           <div class="search-sort-div">
                                      <div class="col-md-3 col-sm-6 col-lg-3 col-xs-6 pad-left0">  
                                        <div class="form-field">
                                        <select id="search_by" name="">
                        					<option value="">Search by...</option>
                        					<option value="name">Name</option>
                        					<option value="alias">Alias</option>
                        					<option value="email">Email</option>
                        					<option value="contact">Contact</option>
                        					<option value="app_id">App ID</option>
                        					<option value="club_id">Club ID</option>
                                        </select>
                                          </div></div>
                                        
                                        <div class="col-md-9 col-sm-6 col-lg-9 col-xs-6">
                                         <div class="form-field">
                                        <input type="search" ng-model="search_by"  id="search_by_text" ng-keyup="seachMenbersClub()" name="search_by" placeholder="Type member name here to search" class="ng-pristine ng-valid ng-touched">
                                            </div></div></div>

           <!-- End Search -->

		<div style="position: relative;overflow: auto;width: 100%; max-height:400px; margin-bottom:80px;">
            <table class="custom-table display"  id="example" cellspacing="0" width="100%">

            <thead>
           <!-- <tr>
                <td class="no-border no-bg"><table>-->
                    <!--<tr>
                      <td class="no-border no-bg">
                      <select id="search_by" name="" style="width:100%;">
                        <option value="">Select</option>
                        <option value="name">Name</option>
                        <option value="alias">Alias</option>
                        <option value="email">Email</option>
                        <option value="contact">Contact</option>
                        <option value="app_id">App ID</option>
                        <option value="club_id">Club ID</option>
                    </select>
                      </td>
                      <td class="no-border no-bg"><input type="text" id="search_by_text" style="width: 100%; background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border-color: currentcolor currentcolor #ccc; border-image: none;  border-style: none none solid; border-width: medium medium 1px;box-shadow: none;width: 100%;" /></td>
                      <td class="no-border no-bg"><a class="btn" ng-click="seachMenbersClub()">Search</a></td>
                    </tr>-->
                  <!--</table></td>
              </tr>-->
              <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Ratings</th>
                <th>Last Played</th>
                <th>App id</th>
                <th>Club id</th>
                <th>Action</th>
              </tr>
            </thead>
            </table>
          </div>
        </div>
        </div>
        
        <div id="myModal" class="modal fade" role="dialog">
        	<div class="modal-dialog">
            	<div class="modal-content">
                    <div class="modal-body">
                    	<div class="col-md-12 col-sm-12 col-xs-12 pad0">
	                        <div class="form-top-gray">
                            	<div class="profile-detail-div">
                                	<div class="side-header blank-div">
                                    	<button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <div class="profile-picture2 coachProfileImg">
                                    	<img id="p_image" alt="Member Profile Picture" src="{{userprofileImg}}">
                                    </div>
                                    
                                    <div class="profile-detail-inner">
                                    	<label>Player</label>
                                        <div id="p_name" class="coach-name ng-binding"> {{user_first_name}} <i class="fa fa-mars" aria-hidden="true"></i></div>
                                	</div>
                            	</div>
                            </div>

                        <div class="coach-all-detail-tab">
                            <div class="tab-content clearfix">
                                <div id="1aa" class="tab-pane active">
                                	<div class="coach-info">
                                        <div class="coach-info-inner">
                                            <label>Date of Birth</label>
                                            <p id="p_dob" class="ng-binding">{{user_dob}}</p>
                                        </div>
                                        
                                        <div class="coach-info-inner">
                                            <label>Email</label>
                                            <p id="p_email" class="ng-binding">{{user_email}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Contact</label>
                                            <p id="p_contact" class="ng-binding">{{user_contact}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Address</label>
                                            <p id="p_address" class="ng-binding">{{user_address}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Postcode</label>
                                            <p id="p_postcode" class="ng-binding">{{user_postcode}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>City</label>
                                            <p id="p_city" class="ng-binding">{{user_city}}</p>
                                        </div>

                                        <div class="coach-info-inner">
                                            <label>Country</label>
                                            <p id="p_country" class="ng-binding">{{user_country}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
    			</div>
			</div>
		</div>
        
        <div ng-include="'rightsidebaraddclubmemberform.html'"></div>
        <div ng-include="'rightsidebareditclubmemberform.html'"></div>
        
      </div>
    </div>
  </div>
 <div class="button-bottom button-bg">
    <button class="pull-right" ng-click="openAddForm()">ADD CLUB MEMBER &nbsp; <i><img src="images/plus-icon.jpg"/></i> </button>
  </div>
</div>

<style>
	.container-main {
	  max-width: 93%;
	}
	
	
	
	table.custom-table.dataTable th:first-child ,table.custom-table.dataTable tbody td:first-child {
	  text-align: center;
	  width: 9%;
	}

	table.custom-table.dataTable th,table.custom-table.dataTable tbody td {
	  padding: 5px;
	  width: 9% ;
	  text-align:center !important;
	  /*word-wrap:break-word;*/
	  /*display: inline-block;*/
	 vertical-align: top;
	border-top: 1px solid #ccc;
		
	}
	
	.modal-body {
	  padding: 0px !important;
	  position: relative;
	}
	.odd {
    	background: #fff !important;
	}
	.odd td{
   		 background: #fff !important;
	}
	
	.even {
    	background: #fff !important;
	}
	.even td{
   		 background: #fff !important;
	}
	.button-bottom {
 	   	 bottom: 0!important;
    	 position: fixed!important;
    	 width: 100%;
   		 z-index: 99;
	}
	#example_info{
		display:none;
	}
	#rightSideBarAddForm, #rightSideBarEditForm{margin:0;}
	table.custom-table.dataTable tbody td:first-child{background:#fff!important;border-top:1px solid #ccc!important;}
	table.custom-table.dataTable tbody tr:first-child td:first-child{border-top:none!important;}
	@media (max-width: 767px) {
		
	.custom-table.dataTable tr th {
	min-width: 80px !important; 
	}
</style>