@import url('https://fonts.googleapis.com/css?family=Khand:300,400,500,600,700');
.background-div {
	background: url(../images/Login-bg3.png) repeat;
	background-size: cover;
}
* {
	font-family: 'Khand', sans-serif; outline:none !important;
}

a:hover, a:focus{ outline:none !important;}
.main-select-out {
	float: left;
	width: 91%;
	padding: 0 20px;
}
.k-calendar .k-state-selected>.k-link {
	color: #444 !important;
	font-weight: 600;
}
.k-calendar .k-today .k-link {
	color: #444 !important;
}
.k-calendar .k-content .k-link {
	min-height: auto !important;
	line-height: 31px !important;
	width: 31px !important;
	padding: 0 !important;
	margin: 0 !important;
	float: left;
	height: 31px;
}
.k-calendar td.k-state-selected {
	background: none !important;
	border: 1px solid #d4d4d4;
}
.k-calendar .k-header .k-link {
	color: #444 !important;
	font-size: 15px;
}
.k-calendar td {
	border-radius: 0 !important;
}
.exhibition {
	border-radius: 0 !important;
	background: none !important;
	color: #6fc8c0 !important;
}
.k-calendar .k-content, .k-calendar .k-content th {
	text-align: center !important;
}
.k-calendar .k-header .k-state-hover {
	background: none !important;
}
.k-i-arrow-60-left:before {
	content: "" !important;
	background: url(../images/left-arrow.png) no-repeat center center;
	background-size: 8px !important;
}
span.k-icon.k-i-arrow-60-left {
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}
span.k-icon.k-i-arrow-60-right {
	float: right;
	margin-top: 12px;
	margin-right: 10px;
}
.k-i-arrow-60-right:before {
	content: "" !important;
	background: url(../images/right-arrow.png) no-repeat center center;
	background-size: 8px !important;
}


table.custom-table.dataTable{ padding-top: 15px !important;}


table.custom-table.dataTable tbody td{ width:16.7% !important;}
img {
	max-width: 100%;
	height: auto;
}
.login-form {
	float: right;
	position: relative;
	top: 30%;
	width: 40%;
}
.logo {
	float: left;
	width: 130px;
	margin-bottom: 50px;
}
.logo img {
	float: left;
	width: 100%;
}
.background-div2 {
	background: url(../images/Login-bg1.jpg) repeat;
	background-size: cover;
	float: left;
	width: 100%;
}
.login-main-form {
	width: 100%;
	float: left;
}
.login-main-form input {
	float: left;
	width: 96%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #a8a8a8;
	background: none;
	padding: 0 2px;
	height: 35px;
	font-size: 17px;
	color: #212121;
	margin: 15px 0
}
 .login-main-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #212121;
}
.login-main-form input::-moz-placeholder { /* Firefox 19+ */
 color: #212121;
}
.login-main-form input:-ms-input-placeholder { /* IE 10+ */
 color: #212121;
}
.login-main-form input:-moz-placeholder { /* Firefox 18- */
 color: #212121;
}
.login-main-form .blk-btn {
	font-size: 17px;
}
.login-main-form input:focus {
	outline: none;
}
.blk-btn {
	color: #fff;
	background: #000;
	width: 100px;
	height: 45px;
	border: none;
}
.login-main-form button {
	margin-top: 15px;
}
.side-header button {
	background: none;
	border: none;
	width: 30px;
}
.side-header button i {
	font-size: 20px;
}
.side-header {
	float: left;
	width: 100%;
	padding: 20px 15px;
}
.date-time {
	float: left;
	padding: 20px 30px;
	width: 97%;
	color: #212121;
	font-size: 20px;
}
.date-time span {
	font-weight: 600;
}
.heading-date {
	float: left;
	width: 97%;
	background: url(../images/hading-line.png) no-repeat left center;
	padding-left: 30px;
	font-size: 25px;
	margin-bottom: 15px;
}
.heading-date span {
	font-size: 15px;
}
.pad0 {
	padding: 0 !important;
}
.con-side-box {
	-webkit-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
	-moz-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
	box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
	background: #fff;
	float: left;
	margin-left: 17%;
	width: 78%;
	margin-bottom: 20px;
}
.blue-top-border {
	border-top: 7px solid #7db9cb;
}
.orange-top-border {
	border-top: 7px solid #ff994b;
}
.lightorange-top-border {
	border-top: 7px solid #fcd581;
}
.con-side-box-header-upper {
	float: left;
	padding: 16px 16px 0;
	width: 100%;
	color: #737373;
}
.co-pos {
	color: #ff994b;
}
.orange {
	color: #ff994b !important;
}
.con-side-box-header-upper-left {
	float: left;
	font-size: 20px;
	width: auto;
}
.con-side-box-header-upper-right {
	float: right;
	font-size: 15px;
	width: auto;
	padding: 5px 0;
}
.con-side-box-header-lower {
	float: left;
	padding: 0 16px 16px;
	width: 100%;
	color: #737373;
}
.detal-row {
	float: left;
	padding: 10px 16px;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;
}
.detal-row:last-child {
	border-bottom: 2px solid #d9d9d9;
}
.search-result-box .detal-row:last-child {
	border-bottom: none;
}
.image-blank {
	background: #bdbdbd none repeat scroll 0 0;
	border-radius: 50%;
	float: left;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.pl-ch-detail {
	float: left;
	width: 60%;
}
.header-top-tab {
	float: left;
	width: 100%;
}
.pl-ch-detail h2 {
	color: #626262;
	font-size: 15px;
	font-weight: 500;
	margin: 0;
}
.pl-ch-detail-inner {
	float: left;
	width: 100%;
}
.pl-ch-detail-inner ul {
	list-style: none;
	padding: 0;
	margin: 3px 0;
}
.pl-ch-detail-inner ul li {
	list-style: none;
	display: inline;
	border-right: 1px solid #a5a5a5;
	padding: 0 5px;
	color: #a5a5a5;
	font-size: 13px;
}
.pl-ch-detail-inner li:last-child {
	border-right: none;
}
.pl-ch-detail-inner li:first-child {
	padding-left: 0;
}
.bottom-div {
	padding: 16px;
	float: left;
	width: 100%;
}
.bottom-div button {
	border: none;
	background: none;
	font-size: 16px;
 color
}
#wrapper {
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.wrapper-inner {
	float: left;
	width: 100%;
	position: relative;
}
.button-bottom {
	bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 99;
}
.button-bg {
	float: left;
	width: 100% !important;
	background: url(../images/button-bg.png) repeat;
	border-top: 1px solid #d2d2d2;
}
.button-bottom button {
	background: #000;
	color: #fff;
	height: 45px;
	width: 25%;
	border: none;
	font-size: 17px;
}
.button-bottom button img {
	width: 15px;
}
.last-detail {
	float: left;
	width: auto;
	color: #e5e5e5;
	font-size: 13px;
}
.ahed-div {
	float: right;
	width: auto;
	padding: 15px 0;
}
.ahed-div button {
	background: none;
	border: none;
}
.bottom-div button span {
	padding: 0 8px;
}
.pad-left0 {
	padding-left: 0 !important;
}
.form-field label {
	color: #7e7e7e;
	float: left;
	font-weight: 400;
	width: 100%;
	font-size: 17px;
	margin: 0;
}
.form-booking .form-field, .coach-detail-div .form-field {
	margin-bottom: 20px;
}
.form-field {
	float: left;
	width: 100%;
}
.form-field input {
	float: left;
	width: 100%;
	border-right: none;
	border-left: none;
	border-top: none;
	border-bottom: 1px solid #d8d8d8;
	height: 35px;
	padding: 0 30px 0 0;
	color: #d8d8d8;
	font-size: 15px;
}
.form-field select {
	float: left;
	width: 100%;
	border: 1px solid #d8d8d8;
	height: 35px;
	padding: 0 30px 0 10px;
	color: #212121;
	font-size: 15px;
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	margin-top: 12px;
	background: url(../images/down-arrow.jpg) no-repeat right 10px center #fff;
}
.form-field input[type="search"] {
	background: url(../images/search.png) no-repeat right 5px center;
}
.form-field input.no-wi-cd {
	display: inline;
	float: none;
	width: 92%;
}
.right-bar {
	background: #fff none repeat scroll 0 0;
	float: right;
	right: 0;
	width: 350px;
	height: 85vh;
	overflow-y: scroll;
}
.form-field .country-code {
	border-bottom: 1px solid #d8d8d8;
	float: left;
	height: 35px;
	line-height: 35px;
	padding-right: 1%;
	font-size: 17px;
	color: #212121;
}
.half-width select {
	width: 48%;
	margin-right: 4%;
}
.half-width select:last-child {
	margin-right: 0;
}
#sandbox-container {
	float: left;
	width: 100%;
	border: none;
	height: 35px;
}
#sandbox-container .form-control {
	box-shadow: none;
}
#sandbox-container input {
	background: url(../images/calander.png) no-repeat right 5px center;
}
.coach-detail-div {
	float: left;
	width: 100%;
}
.form-booking {
	float: left;
	padding: 15px;
	width: 100%;
}
.coach-detail-div .detal-row {
	-webkit-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
	-moz-box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
	box-shadow: 0px 2px 5px 1px rgba(218, 217, 217, 1);
	border: none;
	margin: 10px 0;
}
.coach-detail-div .ahed-div button {
	width: 25px;
}
.coach-detail-div .ahed-div {
	padding: 19px 0;
}
input:focus, select {
	outline: none;
}
.form-control:focus {
	border: none !important; box-shadow:none !important;
}
.pad-left15 {
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.reguler-plus {
	background: url(../images/plus.png) no-repeat right center;
	height: 17px;
	width: 15px;
}
.reguler-minus {
	background: url(../images/minus.png) no-repeat right center;
	height: 17px;
	width: 15px;
}
.search-result-box {
	float: left;
	width: 100%;
	border: 1px solid #d9d9d9;
	border-top: none !important;
}
.search-result-box .pl-ch-detail {
	width: 65%;
}
.marg0 {
	margin-bottom: 0 !important
}
.header-logo {
	float: left;
	width: 90px;
}
/*--side-navbar --*/



#sidebar-wrapper > nav {
	float: left;
	width: 100%;
	background: #fff;
	height: 100%;
}
.club-name {
	float: left;
	padding: 0 20px;
	width: 100%;
	margin-top: -18px;
}
.club-name .form-field select {
	margin-top: 0;
}
.fc-button {
	background: none;
	border: none;
}
.sidebar-nav.nav {
	float: left;
	width: 100%;
}
.app-content-body {
	float: left;
	width: 95%;
	height: 88vh;
}
.fc-left {
	margin-top: 16px;
}
.fc-left h2 {
	float: left;
	font-size: 17px;
}
.k-block, .k-widget {
	background: none !important;
}
.k-calendar .k-content th {
	background: none !important;
}
.demo-section.k-content {
	float: left;
	width: 100%;
	padding: 0 20px;
}
div#kendoCalendar {
	float: left;
	width: 90%;
	border-bottom: 1px solid #5f5f5f !important;
	padding-bottom: 20px;
	margin-bottom: 14px;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}
.k-calendar .k-today {
	background: none !important;
	border: 1px solid #d4d4d4;
}
.fc-right .fc-button {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	font-size: 16px;
	color: #666666;
	font-size: 17px;
	padding: 0 !important;
	margin: 0 15px !important;
}
.fc-agendaDay-button:after {
	content: inherit !important;
	font-size: 0px !important;
}
.k-header {
	background: none !important;
}
.fc-right .fc-button.fc-state-active {
	color: #212121 !important;
	border-bottom: 1px solid #212121 !important;
	border-radius: 0px !important
}
.fc-left button {
	background: none;
	border: none;
	box-shadow: none;
	height: auto !important;
}
.fc-left span.fc-icon {
	margin: 0 !important;
	height: auto;
	width: auto;
}
.menu-side-top {
	float: left;
	padding: 25px 20px;
	width: 100%;
	background: url(../images/Login-bg.jpg) no-repeat left top;
}
.navbar-inverse {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	border: medium none !important;
	padding: 25px 20px 0 20px !important;
	width: 100% !important;
}
.navbar-inverse .navbar-brand {
	padding: 0 !important;
}
#sidebar-wrapper {
	margin-left: -300px;
	top: 0;
	left: 0;
	width: 300px;
	position: absolute;
	height: 100%;
	overflow-y: auto;
	z-index: 1031;
	transition: all 0.4s ease 0s;
}
.right-side-main {
	float: left;
	width: 77%;
}
.header-top-tab-inner {
	float: right;
	width: 200px;
}
.head-ancher {
	float: left;
	margin: 15px 10px;
	width: auto;
}
.head-ancher label {
	color: #737373;
	float: left;
	font-weight: 400;
	margin: 12px 10px 0 0;
	width: auto;
	font-size: 15px;
}
.header-top-tab-inner img {
	padding-top: 6px;
	width: 70%;
}
.notification-sign {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	height: 40px;
	float: left;
	text-align: center;
	width: 40px;
	border: 1px solid #dadada;
	position: relative;
}
.noti-count {
	background: #6dccc1 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	height: 27px;
	left: -22px;
	padding-top: 3px;
	position: absolute;
	text-align: center;
	top: 8px;
	width: 27px;
}
.left-bar {
	float: left;
	width: 23%;
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.left-bar nav {
	float: left;
	width: 100%;
	z-index: 999;
}
#wrapper.active {
	padding-left: 0;
}
#wrapper.active #sidebar-wrapper {
	left: 0;
	margin-left: 0;
}
#sidebar-wrapper.active {
	margin-left: -300px !important;
}
#page-content-wrapper {
	width: 100%;
	padding-top: 70px;
	transition: all 0.4s ease 0s;
}
.sidebar-nav {
	float: left;
	width: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
	background: #fff;
}
.sidebar-nav button {
	background: none;
	border: none;
	margin: 0 0 0 20px;
	padding: 0;
	font-size: 15px;
	color: #909090;
}
.sidebar-nav-inner li {
	float: left;
	width: 100%;
	padding-left: 20px;
}


.sidebar-nav-inner li a {
	border-bottom: 1px solid #d8d8d8;
	color: #2e2e2e;
	float: left;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 0 8px;
	text-decoration: none;
	width: 100%;
}
.sidebar-nav li a span:before {
	position: absolute;
	left: 0;
	color: #41484c;
	text-align: center;
	width: 20px;
	line-height: 18px;
}
.sidebar-nav-inner li a:hover, .sidebar-nav-inner li.active a {
	color: #6dccc1;
	text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
	height: 65px;
	line-height: 60px;
	font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
	color: #999999;
}
.sidebar-nav-inner {
	float: left;
	width: 100%;
	padding: 0;
	margin-top: 20px;
}
.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}
#menu-toggle-open {
	color: #fff;
	float: left;
	margin: 10px 20px 12px 0;
	text-decoration: none;
}
#menu-toggle-close {
	color: #fff;
	float: left;
	margin: 12px 20px 12px 0;
	text-decoration: none;
	width: 20px;
}
.user-name {
	color: #606060;
	float: left;
	font-size: 18px;
	padding: 30px 0 20px;
	width: 100%;
}
 @media (max-width:767px) {
#wrapper {
	padding-left: 0;
}
#sidebar-wrapper {
	left: 0;
}
#wrapper.active {
	position: relative;
}
#wrapper.active #sidebar-wrapper {
	left: 0;
	width: 250px;
	transition: all 0.4s ease 0s;
}
#menu-toggle {
	display: inline-block;
}
}
/*--side-navbar --*/



.fc-agendaWeek-button:after, .fc-agendaDay-button:after, .fc-month-button:after {
	font-family: "FontAwesome";
	content: "\f111";
	position: absolute;
	font-size: 3px;
	line-height: 25px;
	margin: 0 12px;
	position: absolute;
}
/*--only for accordian --*/

.coach-detail-div .panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border: none;
}
.coach-detail-div .panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	border: none;
}
.coach-detail-div .panel-group .panel-heading + .panel-collapse > .panel-body, .coach-detail-div .panel-group .panel-heading + .panel-collapse > .list-group {
	border-top: none !important;
}
.panel-title {
	font-size: 14px;
}
.panel-title > a {
	display: block;
	font-size: 17px;
	padding: 12px 12px 10px;
	text-decoration: none;
}
.more-less {
	float: right;
	color: #212121;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #EEEEEE;
}
.bottom-btn {
	font-size: 20px;
	line-height: 49px;
}
/* ----- v CAN BE DELETED v ----- */

body {
	background-color: #26a69a;
}
.demo {
	padding-top: 60px;
	padding-bottom: 60px;
}
.calendar_modern {
	float: left;
	padding: 0 20px;
}
.calendar_modern .calendar {
	margin: auto;
	width: 240px;
	height: 290px;
}
.calendar_modern .calendar .nav {
	height: 0;
	position: relative;
}
.calendar_modern .calendar .nav i, .calendar_modern .calendar .nav b {
	display: block;
	font-style: normal;
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 30px;
	z-index: 100;
	top: 0;
}
.calendar_modern .calendar .nav i {
	left: 0;
	background: url(../images/left-arrow.png) no-repeat center center;
}
.calendar_modern .calendar .nav b {
	right: 0;
	background: url(../images/right-arrow.png) no-repeat center center;
}
.calendar_modern .calendar .viewport {
	overflow: hidden;
	zoom: 1;
	height: 260px;
	width: 240px;
	position: relative;
}
.calendar_modern .calendar .months {
	white-space: nowrap;
	word-spacing: -2px;
	letter-spacing: -2px;
	position: absolute;
	height: 260px;
}
.calendar_modern .calendar .month {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
	zoom: 1;
 *display: inline;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	width: 240px;
	height: 260px;
}
.calendar_modern .calendar .month .header {
	color: #666;
	font-size: 17px;
	height: 30px;
	line-height: 30px;
	position: relative;
	text-align: center;
}
.calendar_modern .calendar .month .body {
}
.calendar_modern .calendar .month .body .day_names {
	height: 25px;
}
.calendar_modern .calendar .month .body .day_names i {
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-style: normal;
	float: left;
	width: 34px;
}
.calendar_modern .calendar .month .body .days i, .calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days s, .calendar_modern .calendar .month .body .days a {
	background: #e6e6e6 none repeat scroll 0 0;
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	display: block;
	float: left;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	height: 33px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
	width: 33px;/* table like borders */
}
.calendar_modern .calendar .month .body .days i.weekend, .calendar_modern .calendar .month .body .days b.weekend, .calendar_modern .calendar .month .body .days s.weekend, .calendar_modern .calendar .month .body .days a.weekend {
	color: #6dccc1;
}
.calendar_modern .calendar .month .body .days i:nth-child(7n + 1), .calendar_modern .calendar .month .body .days b:nth-child(7n + 1), .calendar_modern .calendar .month .body .days s:nth-child(7n + 1), .calendar_modern .calendar .month .body .days a:nth-child(7n + 1) {
	border-left: 1px solid #ebebeb;
}
.calendar_modern .calendar .month .body .days i:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days b:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7), .calendar_modern .calendar .month .body .days a:nth-child(n+1):nth-child(-n+7) {
	border-top: 1px solid #ebebeb;
}
.calendar_modern .calendar .month .body .days i:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days b:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days s:nth-child(n+1):nth-child(-n+7).empty, .calendar_modern .calendar .month .body .days a:nth-child(n+1):nth-child(-n+7).empty {
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #aaaaaa;
}
.calendar_modern .calendar .month .body .days s:nth-child(7n + 1) {
	border-left: 1px solid #d5d5d5;
}
.calendar_modern .calendar .month .body .days a {
	color: #372f2d;
	color: #7a7a7a;
}
.calendar_modern .calendar .month .body .days a.today {
	font-weight: 700;
	border: 1px solid #d4d4d4;
}
.calendar_modern .calendar .month .body .days a.selected {
	color: white;
	text-shadow: 1px 1px 2px blue;
	-webkit-box-shadow: 0 0 18px #000066 inset;
	-moz-box-shadow: 0 0 18px #000066 inset;
	box-shadow: 0 0 18px #000066 inset;
}
.calendar_modern .calendar .month .body .days a:hover {
	color: white;
	-webkit-transition-property: text-shadow;
	-moz-transition-property: text-shadow;
	-o-transition-property: text-shadow;
	transition-property: text-shadow;
	-webkit-transition-property: box-shadow;
	-moz-transition-property: box-shadow;
	-o-transition-property: box-shadow;
	transition-property: box-shadow;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	text-shadow: 1px 1px 2px green;
	-webkit-box-shadow: 0 0 18px #006600 inset;
	-moz-box-shadow: 0 0 18px #006600 inset;
	box-shadow: 0 0 18px #006600 inset;
}
.calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days i, .calendar_modern .calendar .month .body .days s {
	color: #7a7a7a;
}
.calendar_modern .calendar .month .body .days b, .calendar_modern .calendar .month .body .days s {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none !important;
}
.calendar_modern .calendar .month .body .days b {
	border-bottom: 1px solid #ebebeb !important;
}
.calendar_modern .calendar .month .body .days b:first-child {
}
.calendar_modern .calendar .month .body .days b:last-of-type {
	border-right: 1px solid #ebebeb!important;
}
.time_list {
	position: absolute;
	top: 30px;
	left: 30px;
	border: 1px solid gray;
	padding: 20px;
}
.time_list li, .time_list ul {
	padding: 0;
	margin: 0;
}
/*--only for accordian --*/

/*--new css by mayank--*/

.right-side-main.pos-set-full {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

 span.dot-divder {
  color: #5f605f;
  float: left;
  font-size: 30px;
  line-height: 13px;
}


.popup-table td{ width:23%; padding:10px 1% !important; text-align: left;}

table.custom-table.dataTable thead th, table.custom-table.dataTable tbody td{ padding:10px 1% !important;}


.tab-table {
  float: left;
  width: 100%;
}

.tab-table table{ padding: 50px 2% 0;
width: 96% !important;}

td a.form-control.active{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border-bottom: 2px solid #212121;
color: #212121;}

td a.form-control{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: 0 none;
border-radius: 0;
box-shadow: none;
color: #737373;
float: left;
font-size: 17px;
margin:0 20px 20px;
padding: 0;
text-align: left;
width: 125px;}



.no-border.no-bg {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.tab-table th{
  color: #737373;
  font-size: 14px;
  font-weight: 400 !important;
}
.tab-table table td {
  background: #ffff none repeat scroll 0 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
}

.tab-table th:first-child {
  width: 150px;
 background: none !important;text-align: center; background:none !important; width:4% !important;
}

#deleteBookings {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
}

.ancher-img {
  width: 20px;
}

.dataTables_wrapper .dataTables_info {
  text-align: center;
   width:4% !important;  margin-left:2.8%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #fff none repeat scroll 0 0 !important;
  border: 1px solid #d9d7d7 !important;
}

table.dataTable.custom-table.no-footer{ border-bottom:0;}

table.custom-table.dataTable tbody td:first-child { text-align: center;
width: 4.4% !important; background: none !important;}

.dataTables_wrapper .dataTables_paginate{ float: left !important; margin-top:10px;}

.tab-table table.dataTable thead th, .tab-table table.dataTable thead td.no-border{ border-bottom:0 !important;}

.td a.form-control:first-child{margin-left: 0;}

 a.form-control:first-child {
  margin-left: 0;
}
.tab-table table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd { background: none !important;}
.tab-table .dataTables_wrapper .dataTables_filter{ border-bottom: 1px solid #a8a8a8;
float: left;
padding: 20px 30px;
 width: 100%; }

.tab-table table.dataTable tbody tr {
  background:none;
}

table.dataTable.display tbody td:first-child{ border-top:none !important;}

.tab-table .dataTables_wrapper .dataTables_filter label{ float: left;
  font-size: 17px;
  font-weight: 600;
  margin-right: 10px;}

.tab-table .dataTables_wrapper .dataTables_filter label input {
  color: #86ccc1;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  width: auto; border:0; background: none;
}

.tab-table .dataTables_wrapper .dataTables_length{ display: none;}

.right-side-main.pos-set-full .app-content-body {
  width: 100%;
}




/*--new css by mayank--*/



a:focus {
	outline: none !important;
	text-decoration: none !important;
}
a:hover {
	outline: none !important;
	text-decoration: none !important;
}
 @media only screen and (max-width:480px) {
.login-form {
	width: 70%;
}
.left-bar {
	width: 100%;
}
#wrapper.active #sidebar-wrapper {
	width: 100%;
}
.right-side-main {
	width: 100%;
	padding: 20px;
}
.app-content-body {
	width: 100%;
}
.right-bar {
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.background-div {
	float: left;
	height: 100% !important;
}
     
   table.dataTable th, table.dataTable td {
  padding: 10px 1% !important;
} 
.button-bottom {
	position: relative;
	width: 100%;
}
.button-bottom button {
	width: 100%;
}
}
 @media only screen and (min-width:481px) and (max-width:560px) {
.left-bar {
	width: 100%;
	height: auto;
}
#wrapper.active #sidebar-wrapper {
	width: 100%;
}
.right-side-main {
	width: 100%;
	padding: 20px;
}
.app-content-body {
	width: 100%;
}
.right-bar {
	width: 100%;
	height: auto;
	margin-top: 30px;
}
.background-div {
	float: left;
	height: 100% !important;
}
.button-bottom {
	position: relative;
	width: 100%;
}
.button-bottom button {
	width: 100%;
}
}
 @media only screen and (min-width:561px) and (max-width:770px) {
.login-form {
	width: 60%;
}
.app-content-body {
	float: right;
	width: 95%;
}
.side-header {
	width: 100%;
	padding: 20px 15px;
}
.left-bar {
	width: 43%;
}
.button-bottom {
	position: relative;
	width: 100%;
}
.button-bottom button {
	width: 48%;
}
.right-side-main {
	float: left;
	width: 56%;
	padding: 5px;
}
.background-div {
	float: left;
	height: 100% !important;
}
.right-bar {
	width: 100%;
	height: auto;
	margin-top: 30px;
}
}
 @media only screen and (min-width:771px) and (max-width:1024px) {
.login-form {
	width: 60%;
}
.app-content-body {
	float: right;
	width: 95%;
}
.left-bar {
	width: 30%;
}
.right-side-main {
	float: left;
	width: 65%;
}
.right-bar {
	width: 95%;
	height: auto;
	margin-top: 30px;
}
.button-bottom {
	position: relative;
	width: 100%;
}
.button-bottom button {
	width: 40%;
}
}
 @media only screen and (min-width:1025px) and (max-width:1200px) {
.left-bar {
	width: 25%;
}
.right-side-main {
	float: left;
	width: 75%;
}
.right-bar {
	width: 35%;
}
.con-side-box {
	margin-left: 0;
	width: 100%;
}
}
 @media only screen and (min-width:1201px) {
}
.k-content, .k-editable-area, .k-panel>li.k-item, .k-panelbar>li.k-item, .k-tiles {
	background-color: transparent !important;
}
.fc-view-container {
	background-color: transparent;
}
.exhibition {
	color: white;
	background-color: red;
	border-radius: 50%;
}
.sideBarOn {
	width: 65% !important;
}
 input::-webkit-calendar-picker-indicator {
 display: none;
}
.alert-danger
{
width:95%;
}
/* scheduler calendar fixes and mod */
.fc thead tr td
{
border:none;
}
.fc-widget-header th.fc-day-header
{
border:none;
text-align:left;
    padding: 0 0 8px;
    font-weight: 400;
    font-size: 18px;
}
.fc-ltr .fc-basic-view td.fc-day-number
{
text-align:left;
font-size:24px;
font-weight:400;
color:#737373;
}
.fc td.fc-widget-content
{
     background-color: #fff;
   
}
.fc-unthemed .fc-today
{
background: #fcf8e3;
}
.fc-view > table >tbody > tr > td.fc-widget-content
{
border:none;
}

.st-selected {
    background: #216eff !important;
    color: white !important;
}
.st-sort-ascent:before {
    content: '\25B2';
}
.st-sort-descent:before {
    content: '\25BC';
}

/*a.active{
	background-color: green;
}*/

.partation-border {
	float: left;
	width: 100%;
-webkit-box-shadow: 0px 7px 8px -7px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 7px 8px -7px rgba(0,0,0,0.2);
box-shadow: 0px 7px 8px -7px rgba(0,0,0,0.2); position:relative; z-index:2; border-bottom:1px solid #e2e2e2;
}

.form-field p{ font-size: 16px;
color: #212121;
font-weight: 600;
float: left;
width: 100%;
margin: 10px 0;}

.who-play-img {
	float: left;
	width: 60px;
	height: 60px;
	background: #bdbdbd;
	border-radius: 50%;
}

.who-play-contant {
    float: left;
    width: auto;
padding: 0 20px;}

.who-play-contant ul{ margin:0; padding:0; list-style:none;}

.print-sub-inner span{ float:right; font-size:12px; color:#a8a8a8;}

.who-play{ float:left; width:100%;padding: 30px 0;}

.who-play h4{ color:#737373; font-size:17px;}

.who-play-inner{ float:left;width:100%;box-shadow: 0 2px 2px rgb(183,183,183) !important; background:#fff; border:none !important; margin-bottom:2px;}
.detal-row.who-play-inner.marg-bottom-2{ margin-bottom:2px !important;}
.who-play.pad0 .detal-row.who-play-inner{ margin-bottom:15px;box-shadow: 0 0px 2px rgb(183,183,183) !important;}

.class-fee-detail{ float:left; width:100%; background:#fafafa; padding: 20px;position:relative; z-index:1;}

.sub-heading{color: #212121;
font-size: 20px;
font-weight: 600;
margin: 20px 0 30px;}


.count-fee-main {
    float: left;
    width: 100%;
}

.fee-rate {
    float: right;
    color: #737373;
    font-size: 17px;
}

.fee-rate span{ font-weight:600;}

.total-div {
    float: left;
    width: 100%;
    padding: 10px;
}

.total-div-inner {
    float: left;
    width: 100%;
}

 .main-total {
    float: left;
    width: 100%; padding: 30px 0; border-bottom:2px solid #a8a8a8;
}
.total-div-inner label {
    float: left;
    width: auto;
    color: #737373;
    font-weight: 500;
    font-size: 17px;
}
.main-total p.main-total-pay {
	float: right;
	width: 100%;
	text-align: right;
	font-size: 45px;
font-weight: normal;line-height: 45px;}

.count-fee-inner {
	float: left;
	width: 100%;
	padding: 10px;
	background: #fff;
	box-shadow: 0px 1px 2px #dfdfdf; margin-bottom:2px;max-height: 75px;
}

.count-fee-inner label{color: #212121;
    font-size: 17px; float:left; font-weight:500;}
	
	.count-fee-inner p{color: #737373;
    font-size: 17px; float:left; width:100%;}

	.total-div-inner p  {
    float: right;
    width: auto;
    color: #737373;
    font-weight: 500;
    font-size: 17px;
}

.main-total p {
    float: right;
    width: auto;
    color: #737373;
    font-weight: 500;
    font-size: 17px; margin:0;
}

.marg-bottom-20{ margin-bottom:20px;}
.border-none{ border:none !important;}

.box-main {
    position: absolute;
    z-index: 9999;
    max-width: 700px;
    width: 40%;
    left: 0;
    right: 0; top:40%;
margin: 0 auto;box-shadow: 0px 0px 5px rgba(0,0,0,0.4);}

.box-main-inner{ background:#fff; float:left; width:100%; padding:3%;}
.box-main-inner h2{ color:#212121; font-size:20px; float:left; margin:0; }

.light-gray-btn{ background:#e6e6e6; color:#212121;  text-align:left;border:none;}

.black-popup-btn{ background: #212121; color:#e6e6e6;  text-align:right; border:none;}

.popup-btn {
    float: left;
    width: 100%;
}

.popup-btn button{ width:50%; font-size:16px;padding: 12px 3%; float:left;}

.box-main-inner .close-btn{ border:none; background:none; width:30px ; height:20px;}

.box-main-inner p {
  float: left;
width: 100%;
margin: 20px 0;
font-size: 14px; color:#737373;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.2);
    z-index: 999;
}

.setforfull .form-field{ margin-bottom:20px;}

.setforfull .form-field input{
	font-size:17px;
	font-weight:600;
    float: left;
    width: 100%;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #d8d8d8;
    height: 35px;
    padding: 0 30px 0 0;
    color: #212121;
}

.setforfull .con-side-box {
    margin-left: 13px !important;
    width: 90%;
}

.gross-total{ float:left; width:100%;padding: 30px 0 0;}

.gross-total p {
    float: left;
    width: auto;
	color: #737373;
    font-weight: 500;
    font-size: 17px;
}

.main-total-pay-mini{ float:right !important; font-weight:600 !important; font-size:20px !important;}

.cards-slote-inner {
    float: left;
    width: 100%;margin-bottom: 10px;
}

.cards-slote-inner1 {
    float: left;
    width: 100%;
    margin-bottom: 2px;
}

.cards-slote {
    float: left;
    width: 100%;
}

.cards-slote img{ float:left; border:1px solid #d8d8d8;} 

.cards-slote p{ float:left;margin: 5px 10px;}

.cards-slote-inner1 img{ width:50px; }

.btn-group{ float:left; width:100%; margin-top: 60px;}

.btn-group .blk-btn{ margin-bottom:20px;}

.btn-group button{ height:60px; border:none;}

.btn-group .gray-btn{ background:#737373; color:#fff;}

.form-field textarea {
    float: left;
    width: 100%;
    border: 1px solid #d8d8d8;
    height: 60px;
    padding:  5px 10px;
    color: #212121;
    font-size: 15px; resize:none; margin-top:5px;
}

.form-field textarea:focus{ outline:none;}

.rec-sent label{ color:#737373; font-size:16px; font-weight:normal;}

.rec-sent p{ color:#212121;font-size:16px; font-weight:normal; margin-bottom:20px;}

.blk-heading{     height: 55px;
    font-size: 23px;
    color: #fff;
    background: #000;
    float: left;
    width: 100%;
    text-align: center;
    line-height: 57px;
}

.print-detail {
    float: left;
    width: 100%; background:#fafafa; padding:20px;
}

.print-image-add{ float:left; width:100%;}

.print-image {
    float: left;
    width: 30%;padding: 0 2%;
}

.print-image img{ border:1px solid #95989a;}

.print-add h3{ font-size:17px; margin:0 0 15px 0; font-weight:600;}

.print-add p{ margin:0 ;font-size:13px}

.thanks-play {
    float: left;
    width: 100%;margin: 30px 0;
}

.thanks-play h2{ font-size:20px;}

.booking-no {
    float: left;
    width: 100%;
}

.booking-no label{ color:#737373; font-weight:normal;}

.booking-no p{ font-size:17px; color:#9d7973;}

.print-sub-detail{ float:left; width:100%;}

.print-sub-inner{ box-shadow: 0 2px 2px rgb(183,183,183);
float: left;
width: 100%;
background: #fff;
padding: 10px;
margin-bottom: 2px;
font-size: 15px;
font-weight: 500;}

.powerd-by {
    float: right;
    width: 75px;
    padding: 50px 0 30px;
}
.powerd-by p{ text-align:right; color:#737373;}

.cards-label {
    float: left;
    width: 100%;margin-bottom: 30px;
}

.bottom-set-button{float:left; width:100%; margin-top:50px;}

.cards-label ul{ padding:0; margin:0; list-style:none;}

.cards-label li{  float:left;border: 1px solid #d8d8d8; margin-right:10px;}


.tg-list-item {
 float:right;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 2em;
  height: 0.7em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 17px;
  height: 17px;
}
.tgl + .tgl-btn:after {
  left: -3px;top:-6px;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #ebebeb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: .8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #ebebeb;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-transform: skew(-10deg);
          transform: skew(-10deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
  display: inline-block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #86d993;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}

.tgl-flat + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #7FC6A6;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}

.toggle-label{ width: auto !important;}


.tgl-ios:checked + .tgl-btn:after {
    background: #6dccc1;
}

.gross-total p.main-total-pay {
	float: right;
	text-align: right;
	font-size: 45px;
	font-weight: normal;line-height: 45px;
}
table.dataTable  th, table.dataTable tbody td {
    
    display: inline-table;
}

table#coachListTable.dataTable tbody td{ width:16% !important;}

table#coachListTable.dataTable tbody td:first-child { text-align: center;
width: 16% !important; background: none !important;}

/*--coach-detail --*/

.form-top-gray {
  float: left;
  width: 100%;
  background: #e6e6e6;
}
.profile-detail-inner {
float: left;
padding: 5% 0 5% 5%;
width: 60%;
}

.coach-all-detail-tab .tab-content {
  border-top: 1px solid #050607;
  float: left;
  width: 100%; box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
  background-color: #fff;
}
.top-rated-div-inner {
float: left;
margin: 0 3.5%;
text-align: center;
width: 18%; 
}

.top-rated-div-inner p{
  border-bottom: 2px solid #95999c;
  color: #95999c;
  font-size: 40px;
}

.top-rated-div-inner span{color: #95999c;
  font-size: 15px;}

.profile-detail-inner > label {
  color: #f7984e;
  font-size: 14px;
  font-weight: 500;
}

.coach-info {
    float: left;
    width: 100%;
    padding: 5%;
}

.coach-info-inner {
    float: left; border-bottom: 1px solid #d9d7d7;
    width: 100%; padding: 10px 0 10px;
}

.coach-info-inner label{
     color: #737472; font-size: 15px; font-weight: 500; float: left; width:40%; margin-bottom: 0;
}

.coach-info-inner p{ float: left; width:60%;font-size: 15px; font-weight: 600; margin-bottom: 0;}

.coach-info-inner ul {
    float: left;
    width: 60%;
    padding: 0;
    list-style: none; margin:0 !important;
}
.coach-info-inner ul li{font-size: 13px; font-weight: 600; margin-bottom:5px;}

.coach-info-inner ul li span {
    float: left;
    margin-right: 5px;
    font-size: 12px;
}

.footer-bottom {
    float: left;
    width: 100%;
    background: #f7f6f6; border-top: 1px solid #d9d7d7; padding:0 10px;
}
.footer-bottom-inner{ background: #f7984e; border-radius: 0 0 5px 5px; float: left; width:100%;padding: 10px 4%;box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);}

.footer-bottom-inner ul{ list-style: none; margin: 0; padding:0;}

.footer-bottom-inner ul li{ list-style: none;
display: inline;
color: #fff;
text-transform: uppercase;
font-size: 17px;
padding: 0 10px;}

.tab-second{
	background: url("../images/tab-second-bg.png") repeat;
	float: left;
	width: 100%;
      margin-top: 50px;border-top: 1px solid #050607;box-shadow: 0 2px 4px rgba(0,0,0,0.4); position: relative;
}

.tab-second-inner{float: left;
	width: 100%;
	padding: 30px 20px 10px;
   border-bottom:10px solid #a9a9a9;}

.pro-star {
    position: absolute;
    left: 50px;
    top: -20px;
    border: 1px solid #000;
}

.load-section {
	float: left;
	width: 100%;
	background: #fff;
	padding: 15px 0;
	text-align: center;
}

.load-section a{color: #6fc8c0;
font-size: 15px;font-weight: 500;}

.player-detail-tab {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid #b7b4b3;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2); margin-bottom:10px;
}

.edit-ul-text1 li a{color:#7acbc3; font-weight: 500;}

.coach-info-inner ul.edit-ul-text li, .coach-info-inner ul.edit-ul-text li span { font-size: 15px;}

.coach-info-inner ul.edit-ul-text1 li, .coach-info-inner ul.edit-ul-text1 li span { font-size: 15px;}

.coach-info-inner ul.edit-ul-text li span{ width:70px;}

.profile-picture > img {
    border: 8px solid #f7984e;
    border-radius: 50%;
}


.player-detail-tab h3 {
   color: #6fc8c0;
font-size: 18px;
margin-top: 0;
border-bottom: 2px solid #cfcfce;
padding-bottom: 6px; position: relative;margin-bottom: 5px;
}

.player-detail-tab h3 span{
	position: absolute;
	width: 25px;
	height: 25px;
	color: #fff;
	border-radius: 50%;
	background: #6fc8c0;
	border: 1px solid #8fa6a5;
	right: -11px;
	text-align: center;
	font-weight: 400;
	bottom: -12px;
	font-size: 17px;
	line-height: 24px;
}

.datendtime {
    float: left;
    width: 100%;
    color: #b9b8b8;
    font-size: 14px;
    margin-bottom: 12px;
}

.player-detail-tab p{
    color: #b9b8b8;
    font-size: 17px;
    float: left;
    width: 100%;
}
.pro-star-innar {
 float: left;
width: 90px;
text-align: center;
font-size: 20px;
height: 35px;
line-height: 35px;
}
.white-profile{background: #fff; color:#757474;}
.pro-star-innar img{margin: -3px 0 0 7px;}

.blk-star{ background: #000; color:#d2d0d0;}

.footer-bottom-inner ul li:first-child{ border-right:1px solid #fff; padding-left:0;}

.one-row li{ display: inline; margin-right: 10px;}
.text-color-ch{ color:#898787;}
.top-rated-div {
  float: left;
  width: 100%;
background: url('../images/cross-border.png')  left bottom repeat-x; padding: 5%;
    border-bottom: 1px solid #050607;
}
.coach-all-detail-tab {

  float: left;

  width: 100%;
}

.coach-all-detail-tab .nav.nav-pills {   float: left;
  padding: 0 5%;   background: #e6e6e6 none repeat scroll 0 0;
  width: 100%;}

.coach-all-detail-tab .nav.nav-pills a{ margin-bottom: 0; border-radius: 0; }
.experience {
  float: left;
  font-size: 17px;
  width: 100%;
}

.designation {
  color: #aeaeae;
  float: left;
  font-size: 12px;
  width: 100%;
}

.experience span{font-weight: 600; color:#f7984e;}

.coach-name {
  border-bottom: 1px solid #cfcfce;
  float: left;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 13px;
  padding-bottom: 5px;
  width: 100%;
}

.coach-name .fa-mars{ color: #5f605f; font-size: 20px; margin-left: 10px; font-weight: 600;}

.profile-picture {
  float: left;
  padding: 5%;
  text-align: center;
  width: 40%;
}

.profile-detail-div {
  float: left;
  width: 100%;
}

.form-top-gray .side-header.blank-div {
  position: absolute;
}

.nav-pills > li.active > a{ background:none !important; color:#212121 !important; border-bottom:2px solid #212121}
.nav-pills > li a{ color:#737373; font-size:17px; padding:0 !important; margin:20px;}


/*--coach-detail --*/

.modal{
	z-index: 10000 !important;
}

.approvalProfileAccept{
	float: left;
	margin-right: 2%;
	width: 48%;
	background: #6fc8c0;
}

.approvalProfileReject{
	float: right;
	margin-left: 2%;
	width: 48%;
	background: #ef5658;
}

.approveProfileDiv button{ border: none;
    height: 40px;
    color: #fff;
    font-size: 17px;
    box-shadow: inset 0 -2px 5px -1px rgba(0,0,0,0.3);
}

#coachProfileMainDiv.box-main-inner{ background: none !important;}

.approveProfileDiv button span img{ width: 18px;
    margin-left: 8px;
    margin-top: -3px;}


/*--club setup --*/

.container-main {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}


.club-setup-main{ float:left; width:100%; }

.club-setup-main ul{ margin: 0; padding: 0; list-style: none;}

.club-setup-main ul li a{ font-size: 15px; color:#5f605f;}

.club-setup-main ul li{ border-bottom: 2px solid #a9a9a9;padding-top: 10px;padding-bottom: 2px;}

.club-setup-main ul li.active-li a{ color:#000; border-bottom:1px solid #000;}

.gen-right-box {
  background: #fff none repeat scroll 0 0;
    border-right: 1px solid #b4b3b3;
    border-top: 1px solid #b4b3b3;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    float: left;
    padding: 4%;
    width: 100%;
}

.club-setup-main .form-field{margin-bottom: 20px;}

.club-setup-main .form-field select, .club-setup-main .form-field input{ font-size: 13px; font-weight: 600;}

.club-setup-main .form-field label{ font-size: 12px;}


.club-setup-main .form-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #000;
}
.club-setup-main .form-field input::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.club-setup-main .form-field input:-ms-input-placeholder { /* IE 10+ */
   color: #000;
}
.club-setup-main .form-field input:-moz-placeholder { /* Firefox 18- */
 color: #000;
}

.gen-right-box h3{font-size: 17px;
    font-weight: 600;
    margin: 10px 0 40px;}

.check-div {
    float: left;
    margin-right: 50px;
    width: auto; margin-top: 15px;
}


.club-setup-main .form-field .check-div label {
  color: #000;
  font-size: 12px; font-weight: 600; line-height: 14px;
}

.club-setup-main .form-field label span {
  font-size: 10px;
}


.club-setup-main .form-field .check-div label {
  color: #000;
  font-size: 12px; font-weight: 600; line-height: 14px;
}

.heading-text-main {
  float: left;
  width: 100%;border-bottom: 1px solid #a9a9a9; margin-top: 30px;
}

.heading-text-main a{border-bottom: 2px solid #212121;  font-size: 25px;
    font-weight: 500;
    margin-bottom: 0; color:#212121;  line-height: 43px; margin-left:-10px;}




/*--club setup --*/


.heading-text-main a{ margin-left:10px;}

