<div class="form-field">
                <select onchange="showForm(this.value)" id="chooseForm">
                    <option value="">Choose Action</option>
                    <option value="1">Add Booking</option>
                    <option value="2">Add Group Class</option>
                </select>
            </div>