<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ludo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preload" href="images/Login-bg3.png" as="image">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="bower_components/angular-datepicker/dist/angular-datepicker.css">
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="css/fontawesome.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
        <link rel="stylesheet" href="bower_components/angucomplete-alt/angucomplete-alt.css" />
        <!--link rel="stylesheet" href="bower_components/angular-data-table/release/dataTable.css"/>
            <link rel="stylesheet" href="bower_components/angular-data-table/release/material.css"/>
            <link rel="stylesheet" href="http://fontastic.s3.amazonaws.com/Jnf54BZCm7mSjGCxNRbfp3/icons.css"/-->
        <link rel="stylesheet" href="css/kendo.common-material.min.css" />
        <link rel="stylesheet" href="css/kendo.material.min.css" />
        <link rel="stylesheet" href="css/kendo.material.mobile.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
        <!-- jquery, moment, and angular have to get included before fullcalendar -->
        <!--script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script-->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/datepicker.js"></script>
        <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
        <!--script type="text/javascript" src="bower_components/angular/angular.min.js"></script-->
        <script src="js/angular.js"></script>
        <script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
        <script type="text/javascript" src="bower_components/angular-datepicker/dist/angular-datepicker.js"></script>
        <script type="text/javascript" src="bower_components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
        <!--script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.min.js"></script-->
        <!--script type="text/javascript" src="bower_components/angular-data-table/release/dataTable.min.js"></script>
            <script type="text/javascript" src="bower_components/angular-data-table/release/dataTable.cjs.js"></script>
            <script type="text/javascript" src="bower_components/angular-data-table/release/dataTable.es6.js"></script-->

        <!--script src="http://swimlane.github.io/angular-data-table/lib/dataTable.helpers.js"></script-->
        <script type="text/javascript" src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="https://js.stripe.com/v2/"></script>
        <script src="js/kendo.all.min.js"></script>
    </head>

    <body ng-controller="myAppCtrl">


        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

        <div ng-view></div>

        <div class="overlay hide">



        </div>
        <div id="boxAlert" class="box-main hide">
            <div class="box-main-inner">
                <h2 id="errTitle">ERROR!!</h2>
                <button class="pull-right close-btn" ng-click="closeErrPopup()"><img src="images/cross.png" alt="Cancel"></button>
                <p id="errMsg">You are so dead! You triggered an error! Wahahaha</p>

            </div>
            <div class="popup-btn">
                <button class="light-gray-btn" ng-click="closeErrPopup()">SO WHAT?</button>

                <button class="black-popup-btn" ng-click="closeErrPopup()">OK, FINE</button>



            </div>

        </div>

        <div id="boxConfirm" class="box-main hide" func-name="" func-id="">
            <div class="box-main-inner">
                <h2 id="errConfirmTitle">ERROR!!</h2>
                <button class="pull-right close-btn" ng-click="closeErrPopup()"><img src="images/cross.png" alt="Cancel"></button>
                <p id="errConfirmMsg">You are so dead! You triggered an error! Wahahaha</p>

            </div>
            <div class="popup-btn">
                <button class="light-gray-btn" ng-click="closeErrPopup()">No</button>

                <button class="black-popup-btn" ng-click="getConfirm()">Yes</button>



            </div>

        </div>

        <div id="commonPopup" class="box-main hide" style="width:43% !important">


        </div>


        <!-- In production use:
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <!--script src="bower_components/angular-route/angular-route.js"></script-->
        <script src="js/angular-route.js"></script>
        <script src="app.js"></script>
        <script src="login/login.js"></script>
        <script src="dashboard/dashboard.js"></script>
        <script src="bookings/bookings.js"></script>
        <script src="coaches/coaches.js"></script>
        <script src="clubsetup/clubsetup.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
        <script src="groupclasses/groupclasses.js"></script>
    </body>

</html>