<div class="right-bar" id="rightSideBarBookingDetailsConfirm" > <!--ng-show="rightSideBarBookingDetailsConfirm"-->
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarBookingDetailsConfirm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Booking Summary</span></div>
    <div class="partation-border">
        <div class="form-booking">

            <div class="form-field">

                <label>Club Membership</label>
                <p>{{clubMembershipId}}</p>

            </div>

            <div class="form-field">

                <label>App User ID</label>
                <p>{{userAppId}}</p>

            </div>

            <div class="form-field">

                <label>Date</label>
                <p>{{start | date: 'dd MMMM yyyy'}}</p>

            </div>


            <div class="form-field">

                <label>Court No.</label>
                <p>{{courtName}}</p>

            </div>



            <div class="form-field">

                <label>Time</label>
                <p>{{eventPlayTime}}</p>

            </div>

            <div class="form-field">

                <label>Booker Name</label>
                <p>{{bookerName}}</p>

            </div>

            <div class="form-field">

                <label>Contact No.</label>
                <p>{{playerContactNo}}</p>

            </div>

            <div class="form-field">

                <label>Email</label>
                <p>{{playerEmail}}</p>

            </div>

            <div class="form-field">

                <label>No. of Player</label>
                <p>{{totalPlayer}}</p>

            </div>

            <div class="form-field">

                <label>Coach</label>
                <p>{{coachName}}</p>

            </div>

            <div class="form-field">

                <label>Sub Coach</label>
                <p>{{subCoachName}}</p>

            </div>

            <div class="who-play pad0">

                <h4>Player Details</h4>

                <div class="detal-row who-play-inner" ng-repeat="team in teams" id="team{{team.Player.id}}">

                    <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                    <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                    <div class="pl-ch-detail">

                        <h2>{{team.Player.first_name}}</h2>

                        <div class="pl-ch-detail-inner">

                            <ul>

                                <li>{{team.Player.current_rating| number : 1}}</li>
                                <li>Self Rated</li>

                                <li>0000 XP</li>

                            </ul>

                        </div>

                        <div class="last-detail">


                            Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                        </div>

                    </div>


                </div>

            </div>


        </div>
    </div>

    <div class="class-fee-detail">
        <div class="sub-heading">Fee Details</div>

        <div class="count-fee-main">
            <div class="count-fee-inner">

                <label>Court booking</label>

                <div class="fee-rate">
                    $ <span>{{courtBookingFee}}</span>

                </div>

                <p>(club member - no charge)</p>

            </div>


            <div class="count-fee-inner">


                <label>Coach booking</label>

                <div class="fee-rate">
                    $ <span>{{coachBookingFee}}</span>

                </div>

                <p>- {{coachName}}</p>

            </div>


            <div class="total-div">



                <div class="total-div-inner">
                    <label>Subtotal</label>

                    <p>$ {{subTotal}}</p>


                </div>

                <div class="total-div-inner">
                    <label>Some kind of tax ({{taxFee}}%)</label>

                    <p>${{taxAmount}}</p>


                </div>


                <div class="main-total border-none">



                    <p>Total</p>

                    <p class="main-total-pay">$ {{grandTotal}}</p>


                </div>









            </div>




        </div>


        <button class="blk-btn btn-block bottom-btn marg-bottom-20" ng-click="makePayment(1,bookingId,grandTotal)">CASH</button>
        <button class="blk-btn btn-block bottom-btn marg-bottom-20" ng-click="makePayment(2,bookingId,grandTotal)">CREDIT CARD</button>
        <button class="blk-btn btn-block bottom-btn marg-bottom-20" ng-click="makePayment(3,bookingId,grandTotal)">MEMBERSHIP CREDIT</button>
    </div>

</div>