<div class="right-bar" id="rightSideBarCancelBooking" >

    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarCancelBooking()"><img src="images/cross.png"></button>
    </div>
    <form ng-submit="confirmCancelBooking()">
    <div class="form-booking">
        <div class="sub-heading">Please state the reason for cancellation:</div>



        <div class="form-field">

            <label>A notification will be sent to all players involved.</label>

            <textarea id="reasonText" required></textarea>


        </div>




    </div>

    <div class="bottom-set-button bottom-fix-button">
        <button type="submit" class="blk-btn btn-block bottom-btn">CONFIRM CANCELLATION</button>
    </div>
    </form>