<div class="right-bar" id="rightSideBarAddForm">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarAddForm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Create Booking</span></div>
    <form ng-submit="addEventBooking()">
        <div class="form-booking">
            <div ng-include="'chooseform.html'"></div>
            <div class="form-field">
                <label>Date</label>

                <div class='input-group date' id="sandbox-container">
                    <!--input type="text" type="text" class="form-control" /-->
                    <input type="text" class="dateIcon" required date-time ng-model="start" id="bookAddDate" min-view="date">
                </div>


            </div>



            <div class="form-field">
                <label>Court No.</label>

                <select ng-model="eventAddCourt" id="eventAddCourt" required>
                <option value="">Select Court</option>
                <option ng-repeat="c in courts" value="{{c.id}}">{{c.name}}</option>
            </select>


            </div>


            <div class="form-field half-width">
                <label>Start Time</label>

                <select ng-model="eventAddStartHours" id="eventAddStartHours" required>
                <option value="">Hour</option>
                <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1 | formatDropDownTime}}</option>
            </select>

                <select ng-model="eventAddStartMinutes" id="eventAddStartMinutes" required>
                <option value="">Minute</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="00">00</option>
            </select>

            </div>


            <div class="form-field half-width">
                <label>End Time</label>

                <select ng-model="eventAddEndHours" id="eventAddEndHours" required>

                <option value="">Hour</option>
                <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1 | formatDropDownTime}}</option>


            </select>

                <select ng-model="eventAddEndMinutes" id="eventAddEndMinutes" required>

                <option value="">Minute</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
                <option value="00">00</option>

            </select>


            </div>



            <div class="form-field">
                <label>Booker Name</label>

                <input type="text" style="margin-bottom: 10px;" required ng-model="playerAddFirstName" id="playerAddFirstName" placeholder="First name">

                <input type="text" required ng-model="playerAddLastName" id="playerAddLastName" placeholder="Surname">


            </div>

            <div class="form-field">
                <label>Contact No.</label>

                <span class="country-code">+60</span> <input class="no-wi-cd" type="number" required ng-model="playerAddContactNo"
                    id="playerAddContactNo" placeholder="xx xxx xxxx">




            </div>


            <div class="form-field">
                <label>Email</label>

                <input type="email" required ng-model="playerAddEmail" id="playerAddEmail" placeholder="Email address">




            </div>

            <div class="form-field">
                <label>No. of Player</label>

                <select ng-model="totalAddPlayer" id="totalAddPlayer" required>
                <option value="">Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>


            </div>

        </div>

        <div class="coach-detail-div">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" ng-click="openAddCoachBox()" data-parent="#accordion" href="javascript:void(0)" aria-expanded="true"
                                aria-controls="collapseOne">
                            <i id="coachAddInfoSign" class="more-less reguler-plus"></i>
                            Coach Details
                        </a>
                        </h4>
                    </div>
                    <div id="collapseAddOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="form-field">
                                <label>Coach</label>

                                <select ng-model="eventAddCoach" id="eventAddCoach" required>
                                <option value="">Select a coach</option>
                                <option ng-repeat="ec in allCoaches" value="{{ec.id}}">{{ec.name}}</option>
                            </select>


                            </div>

                            <div class="form-field">
                                <label>Coach 2</label>

                                <select ng-model="eventAddSubCoach" onChange="checkMainCoach()" id="eventAddSubCoach">
                                <option value="">Select a sub coach</option>
                                <option ng-repeat="ec in allCoaches" value="{{ec.id}}">{{ec.name}}</option>
                            </select>


                            </div>
                        </div>
                    </div>
                </div>







                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" ng-click="openAddPlayerBox()" data-parent="#accordion" href="javascript:void(0)"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <i class="more-less reguler-plus" id="playerAddInfoSign"></i>
                            Player Details
                        </a>
                        </h4>
                    </div>
                    <div id="collapseAddTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="detal-row" ng-repeat="team in teams" id="teamAdd{{team.Player.id}}">

                                <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                                <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                                <div class="pl-ch-detail">

                                    <h2>{{team.Player.first_name}}</h2>

                                    <div class="pl-ch-detail-inner">

                                        <ul>

                                            <li>{{team.Player.current_rating| number : 1}}</li>
                                            <li>Self Rated</li>

                                            <li>0000 XP</li>

                                        </ul>

                                    </div>

                                    <div class="last-detail">


                                        Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                                    </div>

                                </div>


                                <div class="ahed-div">

                                    <button ng-click="removeAddPlayer(team.Player.id)"><img src="images/cross.png"></button>


                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="form-booking">

            <div class="form-field">
                <label>Search App user</label>

                <!--input type="search" ng-model="searchAppUser" ng-focus="openSearchAppForm()" placeholder="Click here to search"-->
                <angucomplete-alt id="AddMembers" placeholder="Search members" pause="400" selected-object="selectedAddMember" remote-url="{{remoteUrl}}"
                    remote-url-data-field="data" title-field="first_name,last_name" description-field="email" image-field="profile_picture"
                    input-class="form-control form-control-small" />

            </div>
        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">BOOK SESSION</button>
    </form>
</div>