<div class="right-bar" id="rightSideBarSearchGroupClass" style="display:none;position:absolute;z-index:9999;height:100%; left:0;">
<div class="side-header">
  <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
</div>
<form ng-submit="searchGroupClasses()">
  <div class="form-booking">
    <div class="sub-heading">Search Class</div>
    <div class="form-field">
      <label>Class Name</label>
      <input type="text" ng-model="search.className">
    </div>
    <div class="form-field">
      <label>Coach Name</label>
      <input type="text" ng-model="search.classCoachName">
    </div>
    <div class="form-field">
      <label>Date Range</label>
	  <div class="col-sm-12"><div class="row"><div class="col-sm-5"><div class="row">
      <input type="text" date-time ng-model="search.classStartDate" id="classStartDate" md-placeholder="Start">
	  </div></div><div class="col-sm-2"><div class="row">
	  &nbsp;
	  </div></div><div class="col-sm-5"><div class="row">
	  <input type="text" date-time ng-model="search.classEndDate" id="classEndDate" md-placeholder="End">
	  </div></div></div></div>
    </div>
	<div class="form-field">
      <label>Time Range</label>
	  <div class="col-sm-12"><div class="row"><div class="col-sm-5"><div class="row">
      <select ng-model="search.classStartHour" id="classStartHour">
          <option value="">Hour</option>
          <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1}} Hour</option>
        </select>
	  </div></div><div class="col-sm-2"><div class="row">
	  &nbsp;
	  </div></div><div class="col-sm-5"><div class="row">
	  <select ng-model="search.classEndHour" id="classEndHour">
          <option value="">Hour</option>
          <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1}} Hour</option>
        </select>
	  </div></div></div></div>
    </div>
	<div class="form-field">
		<label>Rating</label>
		<select ng-model="search.classPlayerRating" id="classPlayerRating">
		  <option value="">Choose</option>
		  <option value="1">1</option>
		  <option value="2">2</option>
		  <option value="3">3</option>
		  <option value="4">4</option>
		  <option value="5">5</option>
		</select>
	  </div>
	
      <div class="form-field">
        <label>Age Group</label>
        <select ng-model="search.classPlayerAgeGroup" id="classPlayerAgeGroup">
          <option value="">Choose</option>
          <option value="7-10">7 - 10 years old</option>
          <option value="11-13">11 - 13 years old</option>
          <option value="14-17">14 - 17 years old</option>
          <option value="18-22">18 - 22 years old</option>
          <option value="23-28">23 - 28 years old</option>
        </select>
      </div>
	<div class="form-field">
      <label>Price Range</label>
	  <div class="col-sm-12"><div class="row"><div class="col-sm-5"><div class="row">
      <select ng-model="search.classStartPrice" id="classStartPrice">
          <option value="">Start</option>
          <option ng-repeat="i in getNumber(21) track by $index" value="{{$index*10}}">$ {{$index*10}}</option>
        </select>
	  </div></div><div class="col-sm-2"><div class="row">
	  &nbsp;
	  </div></div><div class="col-sm-5"><div class="row">
	  <select ng-model="search.classEndPrice" id="classEndPrice">
          <option value="">End</option>
          <option ng-repeat="i in getNumber(21) track by $index" value="{{$index*10}}">$ {{$index*10}}</option>
        </select>
	  </div></div></div></div>
    </div>
	<div class="form-field">
        <label><input type="checkbox" ng-model="search.classClubmembers" id="classClubmembers" style="width:15px; height:15px; margin-right:10px;"> Club Members Only</label>
      </div>
	<div class="form-field">
        <label><input type="checkbox" ng-model="search.classHideFull" id="classHideFull" style="width:15px; height:15px; margin-right:10px;"> Hide Full Class</label>
      </div>
  </div>
  <div class="bottom-set-button">
    <button type="submit" class="blk-btn btn-block bottom-btn" >SEARCH CLASS &nbsp; <img class="search-img" src="images/search-icon-white.png"/></button>
  </div>
</form>