<div class="right-bar" id="rightSideBarAddGroupClass">
  <!-- ng-show="rightSideBarAddForm" -->
  <div class="side-header">
    <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
  </div>
  <div class="date-time pad-left15"><span>Create Group Class</span></div>
  <form ng-submit="addGroupClass()">
    <div class="form-booking">
      <div ng-include="'chooseform.html'"></div>
      <div class="form-field">
        <label class="toggle-label">Club member only</label>
        <div class="tg-list-item">
          <input class="tgl tgl-ios" id="isClubMember" type="checkbox" ng-model="isClubMember" />
          <label class="tgl-btn" for="isClubMember"></label>
        </div>
      </div>
      <div class="form-field">
        <label>Class Name <span>(max. 100 characters)</span></label>
        <textarea required ng-model="className" id="className"></textarea>
      </div>
      <div class="form-field">
        <label>Description <span>(max. 300 characters)</span></label>
        <textarea required ng-model="classDescription" id="classDescription"></textarea>
      </div>
      <div class="form-field">
        <label>Date</label>
        <div class='input-group date' id="sandbox-container">
          <input type="text" required date-time ng-model="start" id="classBookDate" min-view="date" />
        </div>
      </div>
      <div class="form-field">
        <label>Court No.</label>
        <select required ng-model="classCourtNo" id="classCourtNo" ng-change="getCourtFee(classCourtNo)">
          <option value="">Select Court</option>
		  <option ng-repeat="c in $root.courts" value="{{c.Court.id}}">{{c.Court.name}}</option>
        </select>
      </div>
      <div class="form-field half-width">
        <label>Start Time</label>
        <select required ng-model="classStartHour" id="classStartHour">
          <option value="">Hour</option>
          <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1}} Hour</option>
        </select>
        <select required ng-model="classStartMinute" id="classStartMinute">
          <option value="">Minute</option>
          <option value="15">15 Minute</option>
          <option value="30">30 Minute</option>
          <option value="45">45 Minute</option>
          <option value="00">00 Minute</option>
        </select>
      </div>
      <div class="form-field half-width">
        <label>End Time</label>
        <select required ng-model="classEndHour" id="classEndHour">
          <option value="">Hour</option>
          <option ng-repeat="i in getNumber(24) track by $index" value="{{$index+1}}">{{$index+1}} Hour</option>
        </select>
        <select required ng-model="classEndMinute" id="classEndMinute">
          <option value="">Minute</option>
          <option value="15">15 Minute</option>
          <option value="30">30 Minute</option>
          <option value="45">45 Minute</option>
          <option value="00">00 Minute</option>
        </select>
      </div>
      <div class="form-field">
        <label>Rating</label>
        <select required ng-model="classPlayerRating" id="classPlayerRating">
          <option value="">Choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="form-field">
        <label>Age Group</label>
        <select required ng-model="classPlayerAgeGroup" id="classPlayerAgeGroup">
          <option value="">Choose</option>
          <option value="7-10">7 - 10 years old</option>
          <option value="11-13">11 - 13 years old</option>
          <option value="14-17">14 - 17 years old</option>
          <option value="18-22">18 - 22 years old</option>
          <option value="23-28">23 - 28 years old</option>
        </select>
      </div>
      <div class="form-field">
        <label>No. of Playes</label>
        <select required ng-model="classTotalPlayer" id="classTotalPlayer" ng-change="setClassTotalPlayer(classTotalPlayer)">
          <option value="">Choose</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="form-field">
        <label>Coach</label>
        <select ng-model="classCoach" id="classCoach" required ng-change="getCoachFee(classCoach)">
          <option value="">Select a coach</option>
          <option ng-repeat="ec in $root.allCoaches" value="{{ec.Coach.id}}">{{ec.Coach.name}}</option>
        </select>
      </div>
      <div class="form-field">
        <label>Coach 2</label>
        <select ng-model="classSubCoach" id="classSubCoach" required>
          <option value="">Select a sub coach</option>
          <option ng-repeat="ec in $root.allCoaches" value="{{ec.Coach.id}}">{{ec.Coach.name}}</option>
        </select>
      </div>
    </div>
    <div class="class-fee-detail">
      <div class="sub-heading">Class Fee Details</div>
      <div class="count-fee-main">
        <div class="count-fee-inner">
          <label>Court fee </label>
          <div class="fee-rate"> $ <span>{{courtFee}}</span> </div>
          <p>(club member - no charge)</p>
        </div>
        <div class="count-fee-inner">
          <label>Coaching fee for 10 people </label>
          <div class="fee-rate"> $ <span>{{totalCoachFee}}</span> </div>
          <p>- {{coachName}}</p>
        </div>
        <div class="total-div">
          <div class="total-div-inner">
            <label>Subtotal</label>
            <p>${{subTotal}}</p>
          </div>
          <div class="total-div-inner">
            <label>Some kind of tax ({{taxRate}}%)</label>
            <p>${{taxAmt}}</p>
          </div>
          <div class="main-total">
            <p>Total</p>
            <p class="main-total-pay">${{grandTotal}}</p>
          </div>
          <div class="gross-total">
            <p>Class fee per player<br>
              <span>(${{grandTotal}} / {{totalClassPlayer}} people)</span> </p>
            <p class="main-total-pay">${{perHeadFee}}</p>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="blk-btn btn-block bottom-btn">CREATE CLASS</button>
  </form>
</div>