<div class="right-bar right-side-bar" style="left:0;" id="promoSearchForm">

    <div class="side-header">
        <button class="pull-right" ng-click="closePromoSearchForm()"><img src="images/cross.png"></button>
    </div>
    <form id="searchPromo" ng-submit="searchPromo()">
        <div class="form-booking">
            <div class="sub-heading">Filter Promo</div>


            <div class="form-field">
                <select name="issued_by">
                    <option value="">Select Issue By</option>
                    <option value="1">Club</option>
                </select>
            </div>


            <div class="form-field half-width">
                <label>Date Range</label>
                <input type="text" style="width:40%;margin-right:10%;" class="datepicker" placeholder="Start Date" name="start_date" />
                <input type="text" style="width:40%" class="datepicker" placeholder="End Date" name="end_date" />
            </div>

            <div class="form-field">
                <label>Promo Type</label>
                <select name="promo_type">
                    <option value="">Select Promo Type</option>
                    <option value="1">% OFF</option>
                    <option value="2">FLAT</option>
                </select>
            </div>


            <div class="form-field">
                <label>Type of session</label>
                <select name="session_type">
                    <option value="">Select Session Type</option>
                    <option value="1">Court Fee Only</option>
                    <option value="2">Coach Fee Only</option>
                    <option value="3">Court And Coach Fee Both</option>
                </select>
            </div>

            <div class="form-field">
                <label>Applicable For</label>
                <select name="applicable_for">
                    <option value="">Select Applicable for</option>
                    <option value="1">Club Members Only</option>
                    <option value="2">All</option>
                </select>
            </div>


        </div>

        <div class="bottom-set-button">
            <button type="submit" class="blk-btn btn-block bottom-btn" >FILTER PROMO &nbsp; <img class="search-img" src="images/search-icon-white.png"/></button>


        </div>
    </form>