<div class="background-div2">
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="left-bar">
                <div ng-include="'topleftheader.html'"></div>
                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
                <!-- Page content -->
            </div>
            <div class="right-side-main pos-set-full">
                <div ng-include="'toprightheader.html'"></div>
                <div class="tab-table pad0">
                    <div id="exTab1">
                        <ul  class="nav nav-pills nav-bor">
                            <li class="active"> <a href="javascript:void(0)" data-toggle="tab">Promo List</a> </li>
                            <!--li class="for-part"><a href="javascript:void(0)" data-toggle="tab">SHARED COACHING</a> </li-->
                        </ul>
                        <div class="tab-content clearfix group-class-tab">
                            <div class="tab-pane active" id="1a">
                                <div class="row box-marg-set" id="groupClassesData" ng-app="myApp" ng-controller="PromotionsCtrl">
                                    <div class="col-md-4 col-sm-6 col-lg-3 col-xs-12" ng-repeat="promotion in promotions">
                                        <div class="group-class-box">
                                            <div class="rightgroup-con">
                                                <div class="rightgroup-con-left">
                                                    <div class="rightgroup-con-time"> <span>{{ promotion.Promotion.end_date | daydiff: promotion.Promotion.start_date}} days left</span> <span>{{ promotion.Promotion.start_date | date : "dd MM yyyy"}} - {{ promotion.Promotion.end_date | date : "dd MM yyyy" }}</span></div>
                                                    <div class="rightgroup-con-heading">
                                                        <h1>{{promotion.Promotion.name}}</h1>
                                                        <p><span ng-if="promotion.Promotion.promo_type == 1">{{promotion.Promotion.promo_value}}%</span>
                                                            <span ng-if="promotion.Promotion.promo_type == 2">${{promotion.Promotion.promo_value}}</span>
                                                            <span ng-if="promotion.Promotion.session_type == 1">off on court fees</span>
                                                            <span ng-if="promotion.Promotion.session_type == 2">off on coaching fees</span>
                                                            <span ng-if="promotion.Promotion.session_type == 3">off on total fees</span>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="deail-group-rate">
                                                    <p ng-if="promotion.Promotion.applicable_for == 1">Club Members Only</p>
                                                    <p ng-if="promotion.Promotion.applicable_for == 2">For All Users</p>
                                                    <p>Usage Per User: <span>{{promotion.Promotion.usage_per_user}}</span></p>
                                                    <p>By <span>{{promotion.Club.name}}</span></p>
                                                </div>
                                                <div class="footer-box-div">
                                                    <h2>{{promotion.PromotionUse.length}} Applied</h2>
                                                    <ul>
                                                        <li><a href="javascript:" ng-click="editPromo(promotion.Promotion.id)"><img src="images/edit.png"/></a></li>
                                                        <li><a href="javascript:" ng-click="viewPromo(promotion.Promotion.id)"><img src="images/ahed-arrow.png"/></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-include="'paginationclasses.html'"></div>
                            </div>
                            <div class="tab-pane" id="2a">
                                <h3>You Want to see Drop Here.</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="button-bottom button-bg">
                <button class="pull-left" ng-click="openPromoSearchBar()">SEARCH PROMO &nbsp; <i><img src="images/search-icon.jpg"/></i> </button>
                <button class="pull-right" ng-click="createPromo()">CREATE PROMO &nbsp; <i><img src="images/plus-icon.jpg"/></i> </button>
            </div>
        </div>
    </div>
</div>
<div ng-include="'promotions/promoaddform.html'"></div>
<div ng-include="'promotions/promosearchform.html'"></div>
<div ng-include="'promotions/promodetails.html'"></div>