<div class="right-bar right-side-bar" id="promoAddForm">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closePromoAddForm()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span id="promoTitle">Create New Promo</span></div>
    <form id="addPromo" ng-submit="addPromo()">
        <div class="form-booking">
            <div class="form-field">
                <label>Promo Code Name (Max 30 Characters)</label>
                <input type="text" required name="name" maxlength="30">
            </div>

            <div class="form-field">
                <label>Description (Max 300 Characters)</label>
                <textarea required name="description" maxlength="300"></textarea>
            </div>

            <div class="form-field half-width">
                <label>Date Range</label>
                <input type="text" style="width:40%;margin-right:10%;" required class="datepicker" placeholder="Start Date" name="start_date" />
                <input type="text" required style="width:40%" class="datepicker" placeholder="End Date" name="end_date" />
            </div>



            <div class="form-field half-width">
                <label>Promo Type</label>

                <select name="promo_type" required style="width:40%;margin-right:10%;">
                    <option value="1">% OFF</option>
                    <option value="2">FLAT</option>
                </select>

                <input type="number" style="width:40%;" step="0.01" max="100000" onkeydown="return filterInput(event)" required placeholder="0" name="promo_value" />

            </div>


            <div class="form-field">
                <label>No. of usage per user</label>
                <input type="number" max="10" min="0" onkeydown="return filterInput(event)" required placeholder="1" name="usage_per_user" />
            </div>


            <div class="form-field">
                <label>Type of session</label>
                <select name="session_type" required>
                    <option value="1">Court Fee Only</option>
                    <option value="2">Coach Fee Only</option>
                    <option value="3">Court And Coach Fee Both</option>
                </select>
            </div>

            <div class="form-field">
                <label>Applicable For</label>
                <select name="applicable_for" required onChange="showPlayerDiv(this)">
                    <option value="1">Specific Members</option>
                    <option value="2">All</option>
                </select>
            </div>

            <div class="coach-detail-div" id="playerDetailsDiv">

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" ng-click="openAddPlayerBox()" data-parent="#accordion" href="javascript:void(0)"
                                   aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="more-less reguler-plus" id="playerAddInfoSign"></i>
                                    Player Details
                                </a>
                            </h4>
                        </div>
                        <div id="collapseAddTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="detal-row" ng-repeat="team in $root.pteams" id="steamPromo{{team.Player.id}}">

                                    <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                                    <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

                                    <div class="pl-ch-detail">

                                        <h2>{{team.Player.first_name}}</h2>

                                        <div class="pl-ch-detail-inner">

                                            <ul>

                                                <li>{{team.Player.current_rating| number : 1}}</li>
                                                <li>Self Rated</li>

                                                <li>0000 XP</li>

                                            </ul>

                                        </div>

                                        <div class="last-detail">


                                            Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                                        </div>

                                    </div>


                                    <div class="ahed-div">

                                        <button type="button" ng-click="removePromotionPlayer(team.Player.id)"><img src="images/cross.png"></button>


                                    </div>


                                </div>

                            </div>
                            <div class="form-field">
                                <label>Search Members</label>

                                <angucomplete-alt id="PromotionMembers" placeholder="Click here to search" pause="400" selected-object="selectedPlayerInfo" remote-url="{{$root.remoteUrl}}"
                                                  remote-url-data-field="data" title-field="first_name,last_name" description-field="email" image-field="profile_picture"
                                                  input-class="form-control form-control-small" />

                            </div>
                        </div>
                    </div>
                </div>


            </div>



            <div class="coach-detail-div">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0)" aria-expanded="true"
                                   aria-controls="collapseOne">
                                    Terms + Conditions
                                </a>
                            </h4>
                        </div>

                    </div>
                    <div class="form-field">
                        <label>Description (Max 300 Characters)</label>
                        <textarea required name="terms" maxlength="300"></textarea>
                    </div>
                </div>
            </div>



        </div>
        <input type="hidden" name="id" />
        <button type="submit" class="blk-btn btn-block bottom-btn" id="submitTitle">CREATE PROMO</button>
    </form>
</div>