<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyADD865NTRmFuth5VCCpiGXZtqdzbtiqBo"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="width:100%;">
	<div class="row">
		<div class="first registrationBlocks">
			<img src="register/clubregister.png" class="clubregisterBlockImg"/>
			<p class="coachregisterLogoImg"><img src="register/clubcoachlogo.png"/></p>
		</div>
		
	

		<div id="regClub">
		  <div class="custom_div_club">
			<form id="club_reg" ng-submit="submitClubForm()" enctype="multipart/form-data">
		  	
			  <h2>User Details <!--<button type="button"  ng-click="hide_club_reg()" class="close">&times;</button>--></h2>
			  <div class="form-field">
				<label for="">User Name</label>
				<input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" required="required">
				<input type="text" class="form-control" id="surname" placeholder="Surname" name="surname" required="required">
			  </div>
			  <div class="form-field">
				<label for="">User Email <small>(login ID)</small></label>
				<input type="email" class="form-control" id="email" placeholder="address@email.com" name="email" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Password <small>﴾alphanumeric, min 8 characters﴿</small></label>
				<input type="password" class="form-control" id="pwd" placeholder="" name="pwd" required="required" minlength="8">
			  </div>
			  <h2>Club Details</h2>
			  <div class="form-field">
				<label for="">Club Logo <small>(max 2MB file size)</small></label>
				<input type="file" class="form-control" id="club_image" placeholder="click here to choose file" name="club_image" required="required">
				<input type="hidden" name="club_img" id="club_img" />
			  </div>
			  <div class="form-field">
				<label for="">Club Name</label>
				<input type="text" class="form-control" id="club_name" placeholder="" name="club_name" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Club Description <small>﴾max. 500 characters﴿</small></label>
				<textarea class="form-control" role="5" cols="10" id="club_description" name="club_description" required maxlength="500"></textarea>
			  </div>
			  <div class="form-field">
				<label for="">Address Line 1</label>
				<input type="text" class="form-control" id="club_address_1" placeholder="" name="club_address_1" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Address Line 2</label>
				<input type="text" class="form-control" id="club_address_2" placeholder="" name="club_address_2">
			  </div>
			  <div class="form-field">
				<label for="">City</label>
				<input type="text" class="form-control" id="club_city" placeholder="" name="club_city" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Postcode</label>
				<input type="number" class="form-control" id="club_postcode" placeholder="" name="club_postcode" required="required" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-model="postcode">
			  </div>
			  <div class="form-field">
				<label for="">Country</label>
				<select name="club_country" id="club_country" class="form-control" required>
				  <option value="">Country</option>
				  <option ng-repeat="c in countries" value="{{c.Country.id}}">{{c.Country.name}}</option>
				</select>
			  </div>
			  <div class="form-field">
				<label for="">Phone</label>
				<!--<input type="text" class="form-control num" id="club_phone"  ng-model="val" numbers-only placeholder="" name="club_phone" required="required" maxlength="11">-->
				<input type="number" class="form-control" id="club_phone" placeholder="" name="club_phone" required="required" ng-model="string"  maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
			  </div>
			  <div class="form-field">
				<label for="">Email</label>
				<input type="email" class="form-control" id="club_email" placeholder="" name="club_email" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Website</label>
				<input type="text" class="form-control" id="club_website" placeholder="Club Website url" name="club_website">
			  </div>
			  <div class="form-field">
				<label for="">Facebook</label>
				<input type="text" class="form-control" id="club_fb" placeholder="Facebook profile url" name="club_fb">
			  </div>
			  <div class="form-field">
				<label for="">Twitter</label>
				<input type="text" class="form-control" id="club_twitter" placeholder="Twitter profile url" name="club_twitter">
			  </div>
			  <div class="form-field">
				<label for="">Google+</label>
				<input type="text" class="form-control" id="club_google" placeholder="Google+ profile url" name="club_google">
			  </div>
			  <div class="form-field">
				<label for="">Manager</label>
				<input type="text" class="form-control" id="club_manager" placeholder="Club manages's name" name="club_manager" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Manager Phone</label>
				<input type="number" class="form-control" id="club_manager_phone" placeholder="" name="club_manager_phone" required="required" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-model="manager_phone">
			  </div>
			  <div class="form-field">
				<label for="">Manager Email</label>
				<input type="email" class="form-control" id="club_manager_email" placeholder="" name="club_manager_email" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Google Map</label>
				<br />
				<small>Move the marker to set location.</small>
				<style>
				#map-canvas {
				  width: 100%;
				  height: 400px;
				}
					
				</style>
				<input type="hidden" name="my_location" id="my_location" readonly>
				<div id="map-canvas"></div>
			  </div>
			  <button type="submit" class="blk-btn btn-block bottom-btn">REGISTER</button>
			</form>    
		  </div>
		</div>


		<script>
			function readURL(input) {
				var _size = input.files[0].size;
				if(_size < 2000000){
					if (input.files && input.files[0]) {
						var reader = new FileReader();
						reader.onload = function (e) {
							$('#club_img').val(e.target.result);
						}
						reader.readAsDataURL(input.files[0]);
					}
				} else {
					$('#club_img').val('');
					showAlert(1, 'Upload Image max size : 2MB');
				}
			}

			$("#club_image").change(function(){
				readURL(this);
			});
			
			
			function readURLCoach(input) {
				var _size = input.files[0].size;
				if(_size < 2000000){
					if (input.files && input.files[0]) {
						var reader = new FileReader();

						reader.onload = function (e) {
							$('#coach_image').val(e.target.result);
						}

						reader.readAsDataURL(input.files[0]);
					}
				} else {
					$('#coach_image').val('');
					showAlert(1, 'Upload Image max size : 2MB');
				}
			}
			
			$("#coach_img").change(function(){
				readURLCoach(this);
			});
		</script>



		
		
		
		<script>
			$(document).ready(function(){
				$('body').delegate('.avail_time','click',function(){
					var week_d = $(this).attr('data-week');
					var time_d = $(this).attr('data-rel');
					var data_index = $(this).attr('data-index');
					
					$('#data_index').val(data_index);
					$('#day_week').val(week_d);
					
					if(time_d != ''){
						var t_time = time_d.split(' - ');
						
						var start_d_t = t_time[0].split(':');
						if( start_d_t[0] != ''){
							$('#avabilityEditForm .startDate').val(start_d_t[0]);
						}
						if( start_d_t[1] != ''){
							$('#avabilityEditForm .startTime').val(start_d_t[1]);
						}
						
						var end_d_t = t_time[1].split(':');
						if( end_d_t[0] != ''){
							$('#avabilityEditForm .endDate').val(end_d_t[0]);
						}
						if( end_d_t[1] != ''){
							$('#avabilityEditForm .endTime').val(end_d_t[1]);
						}
						
						
						$('#myAvailabilityEdit').modal();
					}				
					
				});
			});
		</script>


		<div id="myAvailability" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Add Availability</h3>
			  </div>
			  <div class="modal-body">
			  	<form id="avabilityForm">
					<h4>Apply to</h4>
					 <div class="checkbox checkbox-primary">
					  <label><input id="monday" type="checkbox" value="1">Monday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="tuesday" type="checkbox" value="1">Tuesday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="wednesday" type="checkbox" value="1">Wednesday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="thursday" type="checkbox" value="1">Thursday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="friday" type="checkbox" value="1">Friday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="saturday" type="checkbox" value="1">Saturday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="sunday" type="checkbox" value="1">Sunday</label>
					</div> 

					<div id="add_more_time"></div>
					<a href="javascript:void(0);" class="nevyblue" ng-click="add_moreTime()">ADD ANOTHER TIME +</a>
					<br />
					<a href="javascript:void(0);" class="nevyblue" ng-click="addAvalCoch()">ADD AVAL +</a>
				</form>
			  </div>
			</div>
		  </div>
		</div>
		
		<div id="myAvailabilityEdit" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Edit Time </h3>
			  </div>
			  <div class="modal-body">
			 <form id="avabilityEditForm" class="ng-pristine ng-valid">
					<div>
						<input type="hidden" id="data_index" />
						<input type="hidden" id="day_week" />
						
						<label>Start Time </label>
						<select class="startDate">
							<option value="">Hour</option>
							<option value="1">1 AM</option>
							<option value="2">2 AM</option>
							<option value="3">3 AM</option>
							<option value="4">4 AM</option>
							<option value="5">5 AM</option>
							<option value="6">6 AM</option>
							<option value="7">7 AM</option>
							<option value="8">8 AM</option>
							<option value="9">9 AM</option>
							<option value="10">10 AM</option>
							<option value="11">11 AM</option>
							<option value="12">12 PM</option>
							<option value="1">1 PM</option>
							<option value="2">2 PM</option>
							<option value="3">3 PM</option>
							<option value="4">4 PM</option>
							<option value="5">5 PM</option>
							<option value="6">6 PM</option>
							<option value="7">7 PM</option>
							<option value="8">8 PM</option>
							<option value="9">9 PM</option>
							<option value="10">10 PM</option>
							<option value="11">11 PM</option>
							<option value="12">12 AM</option>
						</select>
						<select class="startTime">
							<option value="">Minute</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="00">00</option>
						</select>
						
						<label>End Time </label>
						<select class="endDate">
							<option value="">Hour</option>
							<option value="1">1 AM</option>
							<option value="2">2 AM</option>
							<option value="3">3 AM</option>
							<option value="4">4 AM</option>
							<option value="5">5 AM</option>
							<option value="6">6 AM</option>
							<option value="7">7 AM</option>
							<option value="8">8 AM</option>
							<option value="9">9 AM</option>
							<option value="10">10 AM</option>
							<option value="11">11 AM</option>
							<option value="12">12 PM</option>
							<option value="1">1 PM</option>
							<option value="2">2 PM</option>
							<option value="3">3 PM</option>
							<option value="4">4 PM</option>
							<option value="5">5 PM</option>
							<option value="6">6 PM</option>
							<option value="7">7 PM</option>
							<option value="8">8 PM</option>
							<option value="9">9 PM</option>
							<option value="10">10 PM</option>
							<option value="11">11 PM</option>
							<option value="12">12 AM</option>
						</select>
						<select class="endTime">
							<option value="">Minute</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="00">00</option>
						</select>
					</div>
					
					<a href="javascript:void(0);" ng-click="editAvalCoch();">UPDATE AVAL +</a>
					
				</form>
			  </div>
			</div>
		  </div>
		</div>
		
	</div>	
</div>

<script>
	function rmvCoachingExp(rowId){
		$('#rmv_coach_'+rowId).remove();
	}
	
	function rmvCoachingYearExp(rowId){
		$('#coach_experirnce_year_rrmv_'+rowId).remove();
	}
	
	function rmvCoachingCerti(rowId){
		$('#coach_certification_'+rowId).remove();
	}
	
	function rmvCoachingAchi(rowId){
		$('#coach_achienement_'+rowId).remove();
	}
</script>

<style type="text/css">
	.selected {
	  background-color: #cccc;
	}
	.registrationBlocks{width:100%; float:left; padding:15px; box-sizing:border-box;}
	.first {
        background-image: url(register/BG_registration_club_hover.png);
        background-position: right top;
    	background-repeat: no-repeat;
        background-size: cover;
	}
	
	/*.first:hover {
        background-image: url(register/BG_registration_club_hover.png);
	}
	
	.second:hover{
		background-image: url(register/BG_registration_coach_hover.png);
	}*/
	
	.btn-info:hover {
		background-color: black;
		border-color: black;
	}
	
	.btn-warning:hover {
		background-color: black;
		border-color: black;
	}
	
	.second{
		background-image: url(register/BG_registration_coach_hover.png);
		background-position: left top;
    	background-repeat: no-repeat;
		background-size: cover;
	}
	
	.data {
		text-align: center;
		padding: 40% 0;
	}
	
	.text {
		color: white;
		font-size: 50px;
	}
	
	*{
		border-radius: 0 !important;
	}
	
	button.btn-info,.btn-warning {
		padding: 14px;
	}
	
	@media all and (max-width: 1920px) and (min-width: 1170px) {
		.container {
		  width: 100%;
		}
	}
	
	@media all and (max-width: 641px) and (min-width: 320px) {
		.data {
			text-align: left;
			padding: 25% 0;
		}
		
		.text {
			color: white;
			font-size: 15px;
		}
		.registrationBlocks{width:100%; float:left; background-size:cover!important;}
		button.btn-info,.btn-warning {
			padding: 5px;
		}
		.first {
			background-position: top bottom;
			background-size: contain;
		}
	}
	
.img-circular {
  background-image: url("register/dummy_user.png");
  background-size: cover;
  border: 4px solid #ff994b;
  border-radius: 116px!important;
  display: block;
  height: 145px;
  width: 148px;
}
.edit-profile {
  background: white none repeat scroll 0 0;
  border: 2px solid white;
  border-radius: 118px!important;
  box-shadow: -3px 5px 10px #b3adad;
  height: 29px;
  left: 125px;
  position: absolute;
  text-align: center;
  width: 29px;
}
i.fa.fa-pencil-square-o {
    margin-top: 6px;
}
.edit-profile input[type="file"] {
    position: absolute;
    opacity: 0;
    left: 0;
	top:0;
    width: 28px;
}
	
	.cacoaching_exp select, .cacoaching_exp input {
  		float: left;
  		margin: 6px 2px 4px 5px;
  		width: 27%;
	}
	
	.cacoaching_exp {
	  float: left;
	  width: 100%;
	}
	
	.cacoaching_exp_rmv {
	  float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_experirnce_year_div{
		 float: left;
	  width: 100%;
	}
	
	.coach_experirnce_year_div select {
  		float: left;
  		margin: 6px 2px 4px 5px;
  		width: 27%;
	}
	
	.cacoaching_year_rmv {
	  float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	
	#coach_certi{
		width: 100%;
		float: left;
	}
	
	.coach_certification_rmv{
		float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_certification select {
	  float: left;
	  margin: 6px 2px 4px 5px;
	  width: 86%;
	}
	
	.coach_achienement {
	  float: left;
	  width: 100%;
	}
	
	.coach_achienement_rmv{
		float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_achienement select, .coach_achienement input {
	  float: left;
	  margin: 6px 2px 4px 5px;
	  width: 42%;
	}
	.form-field {
		float: left;
		width: 100%;
		margin-bottom: 15px;
	}
	.form-field label {
		color: #7e7e7e;
		float: left;
		font-weight: 400;
		width: 100%;
		font-size: 15px;
		margin: 0;
	}	
	.blk-btn.btn-block.bottom-btn{
		margin-left: -20px;
		margin-bottom: -30px;
		width: calc(100% + 40px);
	}
	.clubregisterBlockImg{
		position: absolute;
		right: 0;
		height: 90%;
	}
	#regClub{
	    display: block; 
		position: absolute; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
		margin-left: 0; 
		padding: 20px; 
		overflow-x: auto; 
		width: 98%; 
		left: 4%;
		max-width:400px; 
		height: 78%;
		top: 20%;
	}
	p.coachregisterLogoImg{
		position: absolute;
		left: 4%;
		width: 98%;
		max-width: 400px;
		top: 10%;
	}
	
	@media (max-width:480px){
		#regClub{
			left: 2%;
			width: 96%; 
			max-width:96%; 
		}
		p.coachregisterLogoImg{
			left: 2%;
			width: 96%; 
			max-width:96%; 
		}
		h2, .h2{letter-spacing:2px;}
		.form-field label{letter-spacing: 1px;
	}
	}
	p.coachregisterLogoImg > img{
		max-width: 100px;
	}


</style>