<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style="width:100%;">
	<div class="row">		
		<div class="second registrationBlocks">
			<img src="register/coachregister.png" class="coachregisterBlockImg"/>
			<p class="coachregisterLogoImg"><img src="register/clubcoachlogo.png"/></p>
		</div>
	

		

		<script>
			function readURL(input) {
				var _size = input.files[0].size;
				if(_size < 2000000){
					if (input.files && input.files[0]) {
						var reader = new FileReader();
						reader.onload = function (e) {
							$('#club_img').val(e.target.result);
						}
						reader.readAsDataURL(input.files[0]);
					}
				} else {
					$('#club_img').val('');
					showAlert(1, 'Upload Image max size : 2MB');
				}
			}

			$("#club_image").change(function(){
				readURL(this);
			});
			
			
			function readURLCoach(input) {
				var _size = input.files[0].size;
				if(_size < 2000000){
					if (input.files && input.files[0]) {
						var reader = new FileReader();

						reader.onload = function (e) {
							$('.img-circular').css('background-image','url('+e.target.result+')');
							$('#coach_image').val(e.target.result);
						}

						reader.readAsDataURL(input.files[0]);
					}
				} else {
					$('#coach_image').val('');
					showAlert(1, 'Upload Image max size : 2MB');
				}
			}
			
			$("#coach_img").change(function(){
				readURLCoach(this);
			});
		</script>



		<div id="regCoach">
			<div class="custom_div_coach">
			<form id="coach_reg" ng-submit="submitCoachForm()">
			  <h2>Login Details <!--<button type="button"  ng-click="hide_coach_reg()" class="close">&times;</button>--></h2>
			  <div class="form-field">
				<label for="">User Email <small>(login ID)</small></label>
				<input type="email" class="form-control" id="email" placeholder="address@email.com" name="email" required="required" />
			  </div>
			  <div class="form-field">
				<label for="">Password <small>(alphanumeric, min 8 characters)</small></label>
				<input type="password" minlength="8" class="form-control pwd" id="password" placeholder="" name="pwd" required="required" />
			  </div>
			  
			  <div class="form-field">
				<label for="">Confirm Password </label>
				<input type="password" minlength="8" class="form-control" id="cpwd" placeholder="" name="cpwd" required="required">
			  </div>
			  
			  <h4 class="personal_details">Personal Details</h4>
			  <div class="row">
				<div class="col-md-6">
					<div class="img-circular">
						<div class="edit-profile">
							<i class="fa fa-pencil-square-o" aria-hidden="true"><input id="coach_img" type="file"></i>
						</div>
					</div>
					<input type="hidden" name="coach_image" id="coach_image" />
				</div>
			  <div class="col-md-6">
			  <div class="form-field">
				<label for="">First Name</label>
				<input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" required="required" />
			  </div>
			  
			  <div class="form-field">
				<label for="">Last Name</label>
				<input type="text" class="form-control" id="last_name" placeholder="Last name" name="last_name" required="required" />
			  </div>
				</div>
				</div>
			  
			  <div class="form-field">
				<label for="">Gender</label>
				<input type="hidden" id="coach_gender" name="coach_gender" />
				<div class="">
					<span id="1_gender" class="1_gender coach_gender_btn" ng-click="addCoachGender(1)"><i class="fa fa-mars"></i>Male</span>
					<span id="2_gender" class="2_gender coach_gender_btn female-btn" ng-click="addCoachGender(2)"><i class="fa fa-venus"></i>Female</span>
				</div>
			  </div>
			  
			  <div class="form-field">
				<label for="">Date of Birth</label>
				<input type="text" class="form-control datepickerend" id="coach_dob" placeholder="DD MM YYYY" name="coach_dob" required="required">
			  </div>
			  <!--<div class="form-field">
				<label for="">Age</label>
				<input type="text" class="form-control" id="coach_age" placeholder="" name="coach_age" required="required">
			  </div>-->
			  <div class="form-field">
				<label for="">Contact</label>
				<input type="number" class="form-control" id="coach_phone" placeholder="" name="coach_phone" required="required" maxlength="15" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-model="string">
			  </div>
			  <div class="form-field">
				<label for="">Address Line 1</label>
				<input type="text" class="form-control" id="coach_address_1" placeholder="" name="coach_address_1" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Address Line 2</label>
				<input type="text" class="form-control" id="coach_address_2" placeholder="" name="coach_address_2">
			  </div>
			  <div class="form-field">
				<label for="">City</label>
				<input type="text" class="form-control" id="coach_city" placeholder="" name="coach_city" required="required">
			  </div>
			  <div class="form-field">
				<label for="">Postcode</label>
				<input type="number" class="form-control" id="coach_postcode" placeholder="" name="coach_postcode" required="required" maxlength="5" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  ng-model="postcode">
			  </div>
			  <div class="form-field" required="required">
				<label for="">Country</label>
				<select name="coach_country" id="coach_country" class="form-control">
				  <option value="">Country</option>
				  <option ng-repeat="c in countries" value="{{c.Country.id}}">{{c.Country.name}}</option>
				</select>
			  </div>
			  
			  <div class="form-field">
				<label for="">Bio <small>?max. 500 characters?</small></label>
				<textarea class="form-control" id="coach_bio" placeholder="" rows="3" name="coach_bio" maxlength="500" required></textarea>
			  </div>
			  
			  
			  <h4 class="coaching_experence">Coaching Experience</h4>
			  <div class="form-field">
				<label for="">Years of Experience</label>
				<div id="coach_experirnce_div">
					<div class="coach_experirnce_year_div" id="coach_experirnce_year_rrmv_0">
						<a class="cacoaching_year_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingYearExp(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select name="coach_from_year[0]" class="form-control" required>
							<option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
						</select>
						<select name="coach_to_year[0]" class="form-control" required>
							<option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
						</select>
						<select name="coach_experirnce_field[0]" id="coach_experirnce_field" class="form-control" required>
						  <option value="PTR">PTR</option>
						  <option value="USPTA">USPTA</option>
						  <option value="ITPA">ITPA</option>
						  <option value="GPTCA">GPTCA</option>
						</select>
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="add_year_exp()">ADD YEARS OF EXPERIENCE +</a>
			  </div>
			  
			  <div class="form-field">
				<label for="">Certifications</label>
				<div id="coach_certi">
					<div class="coach_certification" id="coach_certification_0">
						<a class="coach_certification_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingCerti(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select name="coach_certification[0]" id="coach_certification" class="form-control" required>
						  <option value="">Select a certification</option>
						  <option value="PTR">PTR</option>
						  <option value="PTA">PTA</option>
						  <option value="RPT">RPT</option>
						  <option value="IFT">IFT</option>
                          <option value="IFT">Other...</option>
                          <!--<option value="PTR">PTR</option>
						  <option value="USPTA">USPTA</option>
						  <option value="ITPA">ITPA</option>
						  <option value="GPTCA">GPTCA</option>-->
						</select>
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="addCerti()">Add More Certifications +</a>
			  </div>
			  
			  <div class="form-field">
				<label for="">Coaching Experience</label>
				<div id="cacoaching_exp">
					<div class="cacoaching_exp" id="rmv_coach_0">
						<a class="cacoaching_exp_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingExp(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select class="form-control" id="coach_exp_from" name="coach_exp_from[0]" required>
							<option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
						</select>
						<select class="form-control" id="coach_exp_to" name="coach_exp_to[0]" required>
							<option ng-repeat="t in getYear()" value="{{t}}">{{t}}</option>
						</select>
						<input type="text" class="form-control" id="coach_exp_to" name="coach_location[0]" required="required">
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="coach_add_coaching_exp()">ADD COACHING EXPERIENCE +</a>
			  </div>
			  
			  <div class="form-field">
				<label for="">Achievement</label>
				<textarea class="form-control" id="coach_achievement" name="coach_achievement" role="5" cols="10" required maxlength="200"></textarea>
			  </div>
			  
			  <div class="form-field">
				<label for="">Remarks <small>(max. 500 characters)</small></label>
				<textarea class="form-control" id="coach_remarks" name="coach_remarks" role="5" cols="10" required></textarea>
			  </div>
			  
			  <h4 class="coaching_experence">Preferred Coaching Requirements</h4>
			  
			  <div class="form-field">
				<label for="">Coaching Age Group</label>
				<select class="form-control" id="coach_coaching_ag" name="coach_coaching_ag" required>
					<option value="">Select age group</option>
					<option value="7-10">7 - 10 years old</option>
					<option value="11-13">11 - 13 years old</option>
					<option value="14-17">14 - 17 years old</option>                          
					<option value="18-24">18 - 24 years old</option>
					<option value="25-39">25 - 39 years old</option>
					<option value="40-54">40 - 54 years old</option>
					<option value="55-69">55 - 69 years old</option>
					<option value="70-100">70+ years old</option>
				</select>
			  </div>
			  
			  <div class="form-field">
				<label for="">Max. Class Length  (hours)</label>				
				<input type="text" class="form-control" id="coach_class_length" placeholder="" name="coach_class_length" required="required" maxlength="5">
			  </div>
			  
			  <div class="form-field coach_per_class_data">
				<label for="">Max. No. of Players per Class</label>
				<select class="form-control" id="min_coach_per_class" name="min_coach_per_class" ng-model="checkMaxPlayer"  required>
					<option value="">Select min. no. of players</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
				<span>-</span>
				<select class="form-control" id="coach_per_class" name="coach_per_class" ng-model="checkminplayer"  required>
					<option value="">Select max. no. of players</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			  </div>
			  
			  
			  
			  <!--h4 class="coaching_experence">Availability
			  <a href="javascript:void(0);" id="adavailblok" ng-click="show_coach_availability()">ADD AVAILABILITY +</a></h4>
			  
			  <div class="form-field valbltyblk">
				<label for="">Monday</label>
				<div id="monday">
					<div ng-if="mondaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="mondayData in mondaySchedule">
						<div ng-repeat="mondayVal in mondayData">
							<input class="monday_class" type="checkbox" value="1" data-index="{{mondayData.indexOf(mondayVal)}}" data-week="monday" data-rel="{{mondayVal}}"> 
							<input type="hidden" name="coach_avail_monday[]" value="{{mondayVal}}"  />
							{{mondayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{mondayData.indexOf(mondayVal)}}" data-week="monday" data-rel="{{mondayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
				<label for="">Tuesday</label>
				<div id="tuesday">
					<div ng-if="tuesdaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="tuesdayData in tuesdaySchedule">
						<div ng-repeat="tuesdayVal in tuesdayData">
							<input class="tuesday_class" type="checkbox" value="1" data-index="{{tuesdayData.indexOf(tuesdayVal)}}" data-week="tuesday" data-rel="{{tuesdayVal}}" > 
							<input type="hidden" name="coach_avail_tuesday[]" value="{{tuesdayVal}}"  />
							{{tuesdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{tuesdayData.indexOf(tuesdayVal)}}" data-week="tuesday" data-rel="{{tuesdayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
				<label for="">Wednesday</label>
				<div id="wednesday">
					<div ng-if="wednesdaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="wednesdayData in wednesdaySchedule">
						<div ng-repeat="wednesdayVal in wednesdayData">
							<input class="wednesday_class" type="checkbox" value="1" data-index="{{wednesdayData.indexOf(wednesdayVal)}}" data-week="wednesday" data-rel="{{wednesdayVal}}" > 
							<input type="hidden" name="coach_avail_wednesday[]" value="{{wednesdayVal}}"  />
							{{wednesdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{wednesdayData.indexOf(wednesdayVal)}}" data-week="wednesday" data-rel="{{wednesdayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
				<label for="">Thursday</label>
				<div id="thursday">
					<div ng-if="thursdaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="thursdayData in thursdaySchedule">
						<div ng-repeat="thursdayVal in thursdayData">
							<input class="thursday_class" type="checkbox" value="1" data-index="{{thursdayData.indexOf(thursdayVal)}}" data-week="thursday" data-rel="{{thursdayVal}}" > 
							<input type="hidden" name="coach_avail_thursday[]" value="{{thursdayVal}}"  />
							{{thursdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{thursdayData.indexOf(thursdayVal)}}" data-week="thursday" data-rel="{{thursdayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
				<label for="">Friday</label>
				<div id="friday">
					<div ng-if="fridaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="fridayData in fridaySchedule">
						<div ng-repeat="fridayVal in fridayData">
							<input class="friday_class" type="checkbox" value="1" data-index="{{fridayData.indexOf(fridayVal)}}" data-week="friday" data-rel="{{fridayVal}}" > 
							<input type="hidden" name="coach_avail_friday[]" value="{{fridayVal}}"  />
							{{fridayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{fridayData.indexOf(fridayVal)}}" data-week="friday" data-rel="{{fridayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
				<label for="">Saturday</label>
				<div id="saturday">
					<div ng-if="saturdaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="saturdayData in saturdaySchedule">
						<div ng-repeat="saturdayVal in saturdayData">
							<input class="saturday_class" type="checkbox" value="1" data-index="{{saturdayData.indexOf(saturdayVal)}}" data-week="saturday" data-rel="{{saturdayVal}}" > 
							<input type="hidden" name="coach_avail_saturday[]" value="{{saturdayVal}}"  />
							{{saturdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{saturdayData.indexOf(saturdayVal)}}" data-week="saturday" data-rel="{{saturdayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
				<label for="">Sunday</label>
				<div id="sunday">
					<div ng-if="sundaySchedule == ''">
						<div>-</div>
					</div>
					<div ng-repeat="sundayData in sundaySchedule">
						<div ng-repeat="sundayVal in sundayData">
							<input class="sunday_class" type="checkbox" value="1" data-index="{{sundayData.indexOf(sundayVal)}}" data-week="sunday" data-rel="{{sundayVal}}" > 
							<input type="hidden" name="coach_avail_sunday[]" value="{{sundayVal}}"  />
							{{sundayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{sundayData.indexOf(sundayVal)}}" data-week="sunday" data-rel="{{sundayVal}}"><i class="fa fa-edit"></i></a>
						</div>
					</div>
				</div>
				
			  </div>
			  <a class="avl_delete" href="javascript:void(0);" ng-click="deleteAvltime()" style="display: none;"><i class="fa fa-trash-o" aria-hidden="true"></i></a!-->
			  <br>
			  <button type="submit" class="blk-btn btn-block bottom-btn register">REGISTER</button>
			</form> 
		  </div>
		</div>
		
		
		<script>
			$(document).ready(function(){
				$('body').delegate('.avail_time','click',function(){
					var week_d = $(this).attr('data-week');
					var time_d = $(this).attr('data-rel');
					var data_index = $(this).attr('data-index');
					
					$('#data_index').val(data_index);
					$('#day_week').val(week_d);
					
					if(time_d != ''){
						var t_time = time_d.split(' - ');
						
						var start_d_t = t_time[0].split(':');
						if( start_d_t[0] != ''){
							$('#avabilityEditForm .startDate').val(start_d_t[0]);
						}
						if( start_d_t[1] != ''){
							$('#avabilityEditForm .startTime').val(start_d_t[1]);
						}
						
						var end_d_t = t_time[1].split(':');
						if( end_d_t[0] != ''){
							$('#avabilityEditForm .endDate').val(end_d_t[0]);
						}
						if( end_d_t[1] != ''){
							$('#avabilityEditForm .endTime').val(end_d_t[1]);
						}
						
						
						$('#myAvailabilityEdit').modal();
					}				
					
				});
			});
		</script>


		<div id="myAvailability" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>Add Availability</h4>
			  </div>
			  <div class="modal-body">
			  	<form id="avabilityForm">
					<h5>Apply to</h5>
					 <div class="checkbox checkbox-primary">
					  <label><input id="monday" type="checkbox" value="1">Monday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="tuesday" type="checkbox" value="1">Tuesday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="wednesday" type="checkbox" value="1">Wednesday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="thursday" type="checkbox" value="1">Thursday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="friday" type="checkbox" value="1">Friday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="saturday" type="checkbox" value="1">Saturday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="sunday" type="checkbox" value="1">Sunday</label>
					</div> 

					<div id="add_more_time"></div>
					<a href="javascript:void(0);" class="pull-right nevyblue" ng-click="add_moreTime()">ADD ANOTHER TIME +</a>
					<br />
					<a href="javascript:void(0);" class="blk-btn btn addValDyn nevyblue" ng-click="addAvalCoch()">ADD AVAL +</a>
				</form>
			  </div>
			</div>
		  </div>
		</div>
		
		<div id="myAvailabilityEdit" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Edit Time </h3>
			  </div>
			  <div class="modal-body">
			 <form id="avabilityEditForm" class="ng-pristine ng-valid">
					<div>
						<input type="hidden" id="data_index" />
						<input type="hidden" id="day_week" />
						
						<label>Start Time </label>
						<select class="startDate">
							<option value="">Hour</option>
							<option value="1">1 AM</option>
							<option value="2">2 AM</option>
							<option value="3">3 AM</option>
							<option value="4">4 AM</option>
							<option value="5">5 AM</option>
							<option value="6">6 AM</option>
							<option value="7">7 AM</option>
							<option value="8">8 AM</option>
							<option value="9">9 AM</option>
							<option value="10">10 AM</option>
							<option value="11">11 AM</option>
							<option value="12">12 PM</option>
							<option value="13">1 PM</option>
							<option value="14">2 PM</option>
							<option value="15">3 PM</option>
							<option value="16">4 PM</option>
							<option value="17">5 PM</option>
							<option value="18">6 PM</option>
							<option value="19">7 PM</option>
							<option value="20">8 PM</option>
							<option value="21">9 PM</option>
							<option value="22">10 PM</option>
							<option value="24">11 PM</option>
							<option value="0">12 AM</option>
						</select>
						<select class="startTime">
							<option value="">Minute</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="00">00</option>
						</select>
						
						<label>End Time </label>
						<select class="endDate">
							<option value="">Hour</option>
							<option value="1">1 AM</option>
							<option value="2">2 AM</option>
							<option value="3">3 AM</option>
							<option value="4">4 AM</option>
							<option value="5">5 AM</option>
							<option value="6">6 AM</option>
							<option value="7">7 AM</option>
							<option value="8">8 AM</option>
							<option value="9">9 AM</option>
							<option value="10">10 AM</option>
							<option value="11">11 AM</option>
							<option value="12">12 PM</option>
							<option value="13">1 PM</option>
							<option value="14">2 PM</option>
							<option value="15">3 PM</option>
							<option value="16">4 PM</option>
							<option value="17">5 PM</option>
							<option value="18">6 PM</option>
							<option value="19">7 PM</option>
							<option value="20">8 PM</option>
							<option value="21">9 PM</option>
							<option value="22">10 PM</option>
							<option value="24">11 PM</option>
							<option value="0">12 AM</option>
						</select>
						<select class="endTime">
							<option value="">Minute</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="00">00</option>
						</select>
					</div>
					
					<a href="javascript:void(0);" ng-click="editAvalCoch();" class="blk-btn btn addValDyn">UPDATE AVAL +</a>
					
				</form>
			  </div>
			</div>
		  </div>
		</div>
		
	</div>	
</div>

<script>
	function rmvCoachingExp(rowId){
		$('#rmv_coach_'+rowId).remove();
	}
	
	function rmvCoachingYearExp(rowId){
		$('#coach_experirnce_year_rrmv_'+rowId).remove();
	}
	
	function rmvCoachingCerti(rowId){
		$('#coach_certification_'+rowId).remove();
	}
	
	function rmvCoachingAchi(rowId){
		$('#coach_achienement_'+rowId).remove();
	}
</script>
<style type="text/css">
	.selected {
	  background-color: #ccc;
	}
	.registrationBlocks{width:100%; float:left; padding:15px; box-sizing:border-box;}
	.first {
        background-image: url(register/BG_registration_club_hover.png);
        background-position: right top;
    	background-repeat: no-repeat;
        background-size: cover;
	}
	.coachregisterBlockImg{
		position: absolute;
		left: 0;
		height: 90%;
	}
	
	/*.first:hover {
        background-image: url(register/BG_registration_club_hover.png);
	}*/
	
	/*.second:hover{
		background-image: url(register/BG_registration_coach_hover.png);
	}*/
	
	.btn-info:hover {
		background-color: black;
		border-color: black;
	}
	
	.btn-warning:hover {
		background-color: black;
		border-color: black;
	}
	
	.second{
		background-image: url(register/BG_registration_coach_hover.png);
		background-position: left top;
    	background-repeat: no-repeat;
		background-size: cover;
	}
	
	.data {
		text-align: center;
		padding: 40% 0;
	}
	
	.text {
		color: white;
		font-size: 50px;
	}
	
	*{
		border-radius: 0 !important;
	}
	
	button.btn-info,.btn-warning {
		padding: 14px;
	}
	
	@media all and (max-width: 1920px) and (min-width: 1170px) {
		.container {
		  width: 100%;
		}
	}
	
	@media all and (max-width: 641px) and (min-width: 320px) {
		.data {
			text-align: left;
			padding: 25% 0;
		}
		
		.text {
			color: white;
			font-size: 15px;
		}
		.registrationBlocks{width:100%; float:left; background-size:cover!important;}
		button.btn-info,.btn-warning {
			padding: 5px;
		}
		.first {
			background-position: top bottom;
			background-size: contain;
		}
	}
	
.img-circular {
  background-image: url("register/dummy_user.png");
  background-size: cover;
  border: 4px solid #ff994b;
  border-radius: 116px!important;
  display: block;
  height: 145px;
  width: 148px;
}
.edit-profile {
  background: white none repeat scroll 0 0;
  border: 2px solid white;
  border-radius: 118px!important;
  box-shadow: -3px 5px 10px #b3adad;
  height: 29px;
  left: 125px;
  position: absolute;
  text-align: center;
  width: 29px;
}
i.fa.fa-pencil-square-o {
    margin-top: 6px;
}
.edit-profile input[type="file"] {
    position: absolute;
    opacity: 0;
    left: 0;
	top:0;
    width: 28px;
}
	
	.cacoaching_exp select, .cacoaching_exp input {
  		float: left;
  		margin: 6px 2px 4px 5px;
  		width: 27%!important;
	}
	
	.cacoaching_exp {
	  float: left;
	  width: 100%;
	}
	
	.cacoaching_exp_rmv {
	  float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_experirnce_year_div{
		 float: left;
	  width: 100%;
	}
	
	.coach_experirnce_year_div select {
  		float: left;
  		margin: 6px 2px 4px 5px;
  		width: 27%;
	}
	.coach_experirnce_year_div select:last-child{
		margin-right:0;		
	}
	.cacoaching_year_rmv {
	  float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	
	#coach_certi{
		width: 100%;
		float: left;
	}
	
	.coach_certification_rmv{
		float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_certification select {
	  float: left;
	  margin: 6px 2px 4px 5px;
	  width: 86%;
	}
	
	.coach_achienement {
	  float: left;
	  width: 100%;
	}
	
	.coach_achienement_rmv{
		float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_achienement select, .coach_achienement input {
	  float: left;
	  margin: 6px 2px 4px 5px;
	  width: 42%;
	}
	
	#regCoach{
		display: block; 
		position: absolute; 
		background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
		overflow-x: auto; 
		height: 78%; 
		right: 4%;
		top:20%; 
		width: 98%; 
		max-width:400px; 
		padding: 30px;
	}
	p.coachregisterLogoImg{
		position: absolute;
		right: 4%;
		width: 98%;
		max-width: 400px;
		top: 10%;
	}
	p.coachregisterLogoImg > img{
		max-width: 100px;
	}
	.form-field {
		float: left;
		width: 100%;
		margin-bottom: 15px;
	}
	.form-field label {
		color: #7e7e7e;
		float: left;
		font-weight: 400;
		width: 100%;
		font-size: 15px;
		margin: 0;
	}
	.valbltyblk.form-field label {
		color: #626262;
		float: left;
		font-weight: 400;
		width: 100%;
		font-size: 15px;
		margin: 0;
		background: #f2f2f2;
		padding: 5px 20px;
	}
	.valbltyblk.form-field .ng-binding.ng-scope {
		float: left;
		width: 100%;
		line-height: 1.5;
	}
	a.avail_time {
		float: right;
	}
	#coach_achievement_div > select, #coach_achievement_div input{
		width:40%;
		margin-left:5%;
	}
	.coach_per_class_data select{
		width:48%;
	}
	.coach_per_class_data span {
		width: 2%;
		float: left;
		line-height: 4;
		text-align: center;
	}	
	.blk-btn.btn-block.bottom-btn{
		margin-left: -30px;
		margin-bottom: -30px;
		width: calc(100% + 60px);
	}
	#adavailblok{
		float: right;
    	font-size: 14px;
	}
	.modal-dialog {
		max-width: 300px;
		max-height: 90%;
   		overflow: auto;
	}
	#myAvailabilityEdit select.startTime, #myAvailabilityEdit select.endTime, div#add_more_time select.startTime, div#add_more_time select.endTime {
		float: right;
	}
	#myAvailabilityEdit label, div#add_more_time label {
		width: 100%;
	}
	div#add_more_time select, #myAvailabilityEdit select{
		width: 48%;
	}
	#add_more_time+.pull-right{
		margin:15px 0;
	}
	.addValDyn {
		width: calc(100% + 30px);
		margin-left: -15px;
		line-height: 2.4;
		margin-bottom: -15px;
		margin-top: 15px;
	}
	@media (max-width:480px){
		#regCoach{
			right: 2%;
			width: 96%; 
			max-width:96%; 
		}
		p.coachregisterLogoImg{
			right: 2%;
			width: 96%; 
			max-width:96%; 
			top:24px;
		}
		.personal_details{
			font-size: 30px;
	}
		.form-field label{
			letter-spacing: 1px;
		}
		h2, .h2{
			letter-spacing: 1px;
			}
		.register i {
			display:none;
		   }
		h4, .h4{letter-spacing: 1px;}
		
		.coaching_experence {
  			  padding-top: 10px !important;
  			  display: inline-block;
			  width:100%;
		}
	}
</style>