<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<div class="container" style="width:100%;">
	<div class="row">
		<div class="first registrationBlocks">
			<div class="data">
				<div class="text">CLUB<br>REGISTRATION</div>
				<div class="button" ><button type="button" ng-click="show_club_reg()" class="btn btn-info club_reg">CLICK HERE</button></div>
			</div>
		</div>
		<div class="second registrationBlocks">
			<div class="data">
			<div class="text">COACH<br>REGISTRATION</div>
			<div class="button"><button type="button" ng-click="show_coach_reg()" class="btn btn-warning coach_reg">CLICK HERE</button></div>
			</div>
		</div>
	

		<div id="regClub" style="display: block; position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-left: 0; padding: 20px; overflow-x: auto; width: 98%; max-width:350px; height: 100%;">
		  <div class="custom_div_club">
			<form id="club_reg" ng-submit="submitClubForm()" enctype="multipart/form-data">
			  <h2>User Details <button type="button"  ng-click="hide_club_reg()" class="close">&times;</button></h2>
			  <div class="form-group">
				<label for="">User Name</label>
				<input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" required="required">
				<input type="text" class="form-control" id="surname" placeholder="Surname" name="surname" required="required">
			  </div>
			  <div class="form-group">
				<label for="">User Email <small>(login ID)</small></label>
				<input type="email" class="form-control" id="email" placeholder="address@email.com" name="email" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Password <small>﴾alphanumeric, min 8 characters﴿</small></label>
				<input type="password" class="form-control" id="pwd" placeholder="" name="pwd" required="required">
			  </div>
			  <h2>Club Details</h2>
			  <div class="form-group">
				<label for="">Club Logo <small>(max 2MB file size)</small></label>
				<input type="file" class="form-control" id="club_image" placeholder="click here to choose file" name="club_image" required="required">
				<input type="hidden" name="club_img" id="club_img" />
			  </div>
			  <div class="form-group">
				<label for="">Club Name</label>
				<input type="text" class="form-control" id="club_name" placeholder="" name="club_name" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Club Description <small>﴾max. 500 characters﴿</small></label>
				<textarea class="form-control" role="5" cols="10" id="club_description" name="club_description" required></textarea>
			  </div>
			  <div class="form-group">
				<label for="">Address Line 1</label>
				<input type="text" class="form-control" id="club_address_1" placeholder="" name="club_address_1" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Address Line 2</label>
				<input type="text" class="form-control" id="club_address_2" placeholder="" name="club_address_2">
			  </div>
			  <div class="form-group">
				<label for="">City</label>
				<input type="text" class="form-control" id="club_city" placeholder="" name="club_city" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Postcode</label>
				<input type="text" class="form-control" id="club_postcode" placeholder="" name="club_postcode" required="required" maxlength="5">
			  </div>
			  <div class="form-group">
				<label for="">Country</label>
				<select name="club_country" id="club_country" class="form-control" required>
				  <option value="">Country</option>
				  <option ng-repeat="c in countries" value="{{c.Country.id}}">{{c.Country.name}}</option>
				</select>
			  </div>
			  <div class="form-group">
				<label for="">Phone</label>
				<input type="text" class="form-control" id="club_phone" placeholder="" name="club_phone" required="required" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
			  </div>
			  <div class="form-group">
				<label for="">Email</label>
				<input type="email" class="form-control" id="club_email" placeholder="" name="club_email" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Website</label>
				<input type="text" class="form-control" id="club_website" placeholder="Club Website url" name="club_website">
			  </div>
			  <div class="form-group">
				<label for="">Facebook</label>
				<input type="text" class="form-control" id="club_fb" placeholder="Facebook profile url" name="club_fb">
			  </div>
			  <div class="form-group">
				<label for="">Twitter</label>
				<input type="text" class="form-control" id="club_twitter" placeholder="Twitter profile url" name="club_twitter">
			  </div>
			  <div class="form-group">
				<label for="">Google+</label>
				<input type="text" class="form-control" id="club_google" placeholder="Google+ profile url" name="club_google">
			  </div>
			  <div class="form-group">
				<label for="">Manager</label>
				<input type="text" class="form-control" id="club_manager" placeholder="Club manages's name" name="club_manager" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Manager Phone</label>
				<input type="text" class="form-control" id="club_manager_phone" placeholder="" name="club_manager_phone" required="required" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
			  </div>
			  <div class="form-group">
				<label for="">Manager Email</label>
				<input type="email" class="form-control" id="club_manager_email" placeholder="" name="club_manager_email" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Google Map</label>
				<br />
				<small>Move the marker to set location.</small>
				<style>
				#map-canvas {
				  width: 320px;
				  height: 400px;
				}
				</style>
				<input type="hidden" name="my_location" id="my_location" readonly>
				<div id="map-canvas"></div>
			  </div>
			  <button type="submit" class="blk-btn btn-block bottom-btn">REGISTER <i><img src="images/plus-icon.jpg"/></i> </button>
			</form>    
		  </div>
		</div>


		<script>
			function readURL(input) {
				var _size = input.files[0].size;
				if(_size < 2000000){
					if (input.files && input.files[0]) {
						var reader = new FileReader();
						reader.onload = function (e) {
							$('#club_img').val(e.target.result);
						}
						reader.readAsDataURL(input.files[0]);
					}
				} else {
					$('#club_img').val('');
					showAlert(1, 'Upload Image max size : 2MB');
				}
			}

			$("#club_image").change(function(){
				readURL(this);
			});
			
			
			function readURLCoach(input) {
				var _size = input.files[0].size;
				if(_size < 2000000){
					if (input.files && input.files[0]) {
						var reader = new FileReader();

						reader.onload = function (e) {
							$('#coach_image').val(e.target.result);
						}

						reader.readAsDataURL(input.files[0]);
					}
				} else {
					$('#coach_image').val('');
					showAlert(1, 'Upload Image max size : 2MB');
				}
			}
			
			$("#coach_img").change(function(){
				readURLCoach(this);
			});
		</script>



		<div id="regCoach" style="display: block; position: absolute; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow-x: auto; height: 100%; right: 0px; width: 98%; max-width:350px; padding: 30px;">
			<div class="custom_div_coach">
			<form id="coach_reg" ng-submit="submitCoachForm()">
			  <h2>User Details <button type="button"  ng-click="hide_coach_reg()" class="close">&times;</button></h2>
			  <div class="form-group">
				<label for="">User Email <small>(login ID)</small></label>
				<input type="email" class="form-control" id="email" placeholder="address@email.com" name="email" required="required" />
			  </div>
			  <div class="form-group">
				<label for="">Password <small>﴾alphanumeric, min 8 characters﴿</small></label>
				<input type="password" class="form-control pwd" id="password" placeholder="" name="" required="required" />
			  </div>
			  
			  <div class="form-group">
				<label for="">Confirm Password </label>
				<input type="password" class="form-control" id="cpwd" placeholder="" name="cpwd" required="required">
			  </div>
			  
			  <h2>Personal Details</h2>
			  <div class="row">
				<div class="col-md-6">
					<div class="img-circular">
						<div class="edit-profile">
							<i class="fa fa-pencil-square-o" aria-hidden="true"><input id="coach_img" type="file"></i>
						</div>
					</div>
					<input type="hidden" name="coach_image" id="coach_image" />
				</div>
			  <div class="col-md-6">
			  <div class="form-group">
				<label for="">First Name</label>
				<input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" required="required" />
			  </div>
			  
			  <div class="form-group">
				<label for="">Last Name</label>
				<input type="text" class="form-control" id="last_name" placeholder="Last name" name="last_name" required="required" />
			  </div>
				</div>
				</div>
			  
			  <div class="form-group">
				<label for="">Gender</label>
				<input type="hidden" id="coach_gender" name="coach_gender" />
				<div class="row">
					<button id="1_gender" class="male-btn col-md-6 coach_gender_btn" ng-click="addCoachGender(1)">Male</button>
					<button id="2_gender" class="male-btn col-md-6 coach_gender_btn" ng-click="addCoachGender(2)">Female</button>                   
                    
				</div>
			  </div>
			  
			  <div class="form-group">
				<label for="">Date of Birth</label>
				<input type="text" class="form-control datepickerend" id="coach_dob" placeholder="DD MM YYYY" name="coach_dob" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Age</label>
				<input type="text" class="form-control" id="coach_age" placeholder="" name="coach_age" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Phone</label>
				<input type="number" class="form-control" id="coach_phone" placeholder="" name="coach_phone" required="required" maxlength="11" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
			  </div>
			  <div class="form-group">
				<label for="">Address Line 1</label>
				<input type="text" class="form-control" id="coach_address_1" placeholder="" name="coach_address_1" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Address Line 2</label>
				<input type="text" class="form-control" id="coach_address_2" placeholder="" name="coach_address_2">
			  </div>
			  <div class="form-group">
				<label for="">City</label>
				<input type="text" class="form-control" id="coach_city" placeholder="" name="coach_city" required="required">
			  </div>
			  <div class="form-group">
				<label for="">Postcode</label>
				<input type="text" class="form-control" id="coach_postcode" placeholder="" name="coach_postcode" required="required" maxlength="5">
			  </div>
			  <div class="form-group" required="required">
				<label for="">Country</label>
				<select name="coach_country" id="coach_country" class="form-control">
				  <option value="">Country</option>
				  <option ng-repeat="c in countries" value="{{c.Country.id}}">{{c.Country.name}}</option>
				</select>
			  </div>
			  
			  <h2>Coaching Experience</h2>
			  
			  <div class="form-group">
				<label for="">Bio <small>﴾max. 500 characters﴿</small></label>
				<input type="text" class="form-control" id="coach_bio" placeholder="" name="coach_bio" required="required">
			  </div>
			  
			  <div class="form-group">
				<label for="">Years of Experience</label>
				<div id="coach_experirnce_div">
					<div class="coach_experirnce_year_div" id="coach_experirnce_year_rrmv_0">
						<a class="cacoaching_year_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingYearExp(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select name="coach_from_year[0]" class="form-control" required>
							<option value="">Select from year</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
						</select>
						<select name="coach_to_year[0]" class="form-control" required>
							<option value="">Select to year</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
						</select>
						<select name="coach_experirnce_field[0]" id="coach_experirnce_field" class="form-control" required>
						  <option value="">Select a field</option>
						  <option value="school">School</option>
						  <option value="collage">Collage</option>
						</select>
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="add_year_exp()">ADD YEARS OF EXPERIENCE +</a>
			  </div>
			  
			  <div class="form-group">
				<label for="">Certifications</label>
				<div id="coach_certi">
					<div class="coach_certification" id="coach_certification_0">
						<a class="coach_certification_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingCerti(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select name="coach_certification[0]" id="coach_certification" class="form-control" required>
						  <option value="">Select a certification</option>
						  <option value="certification 1">certification 1</option>
						  <option value="certification 2">certification 2</option>
						</select>
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="addCerti()">Add More</a>
			  </div>
			  
			  <div class="form-group">
				<label for="">Achievement</label>
				<div id="coach_achievement_div">
					<div class="coach_achienement" id="coach_achienement_0">
						<a class="coach_achienement_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingAchi(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select name="coach_achievement[0]" id="coach_achievement" class="form-control" required>
						  <option value="">Select an achievement</option>
						  <option value="achievement 1">achievement 1</option>
						  <option value="achievement 2">achievement 2</option>
						</select>
						<input type="text" name="coach_achievement_detail[0]" id="coach_achievement" class="form-control" required="required" />
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="add_ach()">ADD ACHIEVEMENT +</a>
			  </div>
			  
			  <div class="form-group">
				<label for="">Remarks <small>ï´¾max. 500 charactersï´¿</small></label>
				<textarea class="form-control" id="coach_remarks" name="coach_remarks" role="5" cols="10" required></textarea>
			  </div>
			  
			  <h2>Preferred Coaching Requirements</h2>
			  
			  <div class="form-group">
				<label for="">Coaching Age Group</label>
				<select class="form-control" id="coach_coaching_ag" name="coach_coaching_ag" required>
					<option value="">Select age group</option>
					<option value="7-10">7 - 10 years old</option>
					<option value="11-13">11 - 13 years old</option>
					<option value="14-17">14 - 17 years old</option>
					<option value="18-22">18 - 22 years old</option>
					<option value="23-28">23 - 28 years old</option>
				</select>
			  </div>
			  
			  <div class="form-group">
				<label for="">Class Length</label>
				<select class="form-control" id="coach_class_length" name="coach_class_length" required>
					<option value="">Select a class length</option>
					<option value="class length 1">class length 1</option>
					<option value="class length 2">class length 2</option>
				</select>
			  </div>
			  
			  <div class="form-group">
				<label for="">Max. No. of Players per Class</label>
				<select class="form-control" id="coach_per_class" name="coach_per_class" required>
					<option value="">Select max. no. of players</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
			  </div>
			  
			  <div class="form-group">
				<label for="">Coaching Experience</label>
				<div id="cacoaching_exp">
					<div class="cacoaching_exp" id="rmv_coach_0">
						<a class="cacoaching_exp_rmv nevyblue" href="javascript:void(0);" onclick="rmvCoachingExp(0)"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<select class="form-control" id="coach_exp_from" name="coach_exp_from[0]" required>
							<option value="">Year</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<select class="form-control" id="coach_exp_to" name="coach_exp_to[0]" required>
							<option value="">Year</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<input type="text" class="form-control" id="coach_exp_to" name="coach_location[0]" required="required">
					</div>
				</div>
				<a href="javascript:void(0);" class="nevyblue" ng-click="coach_add_coaching_exp()">ADD COACHING EXPERIENCE +</a>
			  </div>
			  
			  <h2>Availability</h2>
			  <a href="javascript:void(0);" class="nevyblue" ng-click="show_coach_availability()">ADD AVAILABILITY +</a>
			  
			  <div class="form-group">
				<label for="">Monday</label>
				<div id="monday">
					<div ng-repeat="mondayData in mondaySchedule">
						<div ng-repeat="mondayVal in mondayData">
							<input class="monday_class" type="checkbox" value="1" data-index="{{mondayData.indexOf(mondayVal)}}" data-week="monday" data-rel="{{mondayVal}}"> 
							<input type="hidden" name="coach_avail_monday[]" value="{{mondayVal}}"  />
							{{mondayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{mondayData.indexOf(mondayVal)}}" data-week="monday" data-rel="{{mondayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
				<label for="">Tuesday</label>
				<div id="tuesday">
					<div ng-repeat="tuesdayData in tuesdaySchedule">
						<div ng-repeat="tuesdayVal in tuesdayData">
							<input class="tuesday_class" type="checkbox" value="1" data-index="{{tuesdayData.indexOf(tuesdayVal)}}" data-week="tuesday" data-rel="{{tuesdayVal}}" > 
							<input type="hidden" name="coach_avail_tuesday[]" value="{{tuesdayVal}}"  />
							{{tuesdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{tuesdayData.indexOf(tuesdayVal)}}" data-week="tuesday" data-rel="{{tuesdayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
				<label for="">Wednesday</label>
				<div id="wednesday">
					<div ng-repeat="wednesdayData in wednesdaySchedule">
						<div ng-repeat="wednesdayVal in wednesdayData">
							<input class="wednesday_class" type="checkbox" value="1" data-index="{{wednesdayData.indexOf(wednesdayVal)}}" data-week="wednesday" data-rel="{{wednesdayVal}}" > 
							<input type="hidden" name="coach_avail_wednesday[]" value="{{wednesdayVal}}"  />
							{{wednesdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{wednesdayData.indexOf(wednesdayVal)}}" data-week="wednesday" data-rel="{{wednesdayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
				<label for="">Thursday</label>
				<div id="thursday">
					<div ng-repeat="thursdayData in thursdaySchedule">
						<div ng-repeat="thursdayVal in thursdayData">
							<input class="thursday_class" type="checkbox" value="1" data-index="{{thursdayData.indexOf(thursdayVal)}}" data-week="thursday" data-rel="{{thursdayVal}}" > 
							<input type="hidden" name="coach_avail_thursday[]" value="{{thursdayVal}}"  />
							{{thursdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{thursdayData.indexOf(thursdayVal)}}" data-week="thursday" data-rel="{{thursdayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
				<label for="">Friday</label>
				<div id="friday">
					<div ng-repeat="fridayData in fridaySchedule">
						<div ng-repeat="fridayVal in fridayData">
							<input class="friday_class" type="checkbox" value="1" data-index="{{fridayData.indexOf(fridayVal)}}" data-week="friday" data-rel="{{fridayVal}}" > 
							<input type="hidden" name="coach_avail_friday[]" value="{{fridayVal}}"  />
							{{fridayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{fridayData.indexOf(fridayVal)}}" data-week="friday" data-rel="{{fridayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
				<label for="">Saturday</label>
				<div id="saturday">
					<div ng-repeat="saturdayData in saturdaySchedule">
						<div ng-repeat="saturdayVal in saturdayData">
							<input class="saturday_class" type="checkbox" value="1" data-index="{{saturdayData.indexOf(saturdayVal)}}" data-week="saturday" data-rel="{{saturdayVal}}" > 
							<input type="hidden" name="coach_avail_saturday[]" value="{{saturdayVal}}"  />
							{{saturdayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{saturdayData.indexOf(saturdayVal)}}" data-week="saturday" data-rel="{{saturdayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
				<label for="">Sunday</label>
				<div id="sunday">
					<div ng-repeat="sundayData in sundaySchedule">
						<div ng-repeat="sundayVal in sundayData">
							<input class="sunday_class" type="checkbox" value="1" data-index="{{sundayData.indexOf(sundayVal)}}" data-week="sunday" data-rel="{{sundayVal}}" > 
							<input type="hidden" name="coach_avail_sunday[]" value="{{sundayVal}}"  />
							{{sundayVal}}
							<a href="javascript:void(0);" class="avail_time" data-index="{{sundayData.indexOf(sundayVal)}}" data-week="sunday" data-rel="{{sundayVal}}">Edit</a>
						</div>
					</div>
				</div>
				
			  </div>
			  <a class="avl_delete" href="javascript:void(0);" ng-click="deleteAvltime()" style="display: none;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
			  <br>
			  <button type="submit" class="blk-btn btn-block bottom-btn">Register <i><img src="images/plus-icon.jpg"/></i> </button>
			</form> 
		  </div>
		</div>
		
		
		<script>
			$(document).ready(function(){
				$('body').delegate('.avail_time','click',function(){
					var week_d = $(this).attr('data-week');
					var time_d = $(this).attr('data-rel');
					var data_index = $(this).attr('data-index');
					
					$('#data_index').val(data_index);
					$('#day_week').val(week_d);
					
					if(time_d != ''){
						var t_time = time_d.split(' - ');
						
						var start_d_t = t_time[0].split(':');
						if( start_d_t[0] != ''){
							$('#avabilityEditForm .startDate').val(start_d_t[0]);
						}
						if( start_d_t[1] != ''){
							$('#avabilityEditForm .startTime').val(start_d_t[1]);
						}
						
						var end_d_t = t_time[1].split(':');
						if( end_d_t[0] != ''){
							$('#avabilityEditForm .endDate').val(end_d_t[0]);
						}
						if( end_d_t[1] != ''){
							$('#avabilityEditForm .endTime').val(end_d_t[1]);
						}
						
						
						$('#myAvailabilityEdit').modal();
					}				
					
				});
			});
		</script>


		<div id="myAvailability" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Add Availability</h3>
			  </div>
			  <div class="modal-body">
			  	<form id="avabilityForm">
					<h4>Apply to</h4>
					 <div class="checkbox checkbox-primary">
					  <label><input id="monday" type="checkbox" value="1">Monday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="tuesday" type="checkbox" value="1">Tuesday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="wednesday" type="checkbox" value="1">Wednesday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="thursday" type="checkbox" value="1">Thursday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="friday" type="checkbox" value="1">Friday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="saturday" type="checkbox" value="1">Saturday</label>
					</div>
					<div class="checkbox checkbox-primary">
					  <label><input id="sunday" type="checkbox" value="1">Sunday</label>
					</div> 

					<div id="add_more_time"></div>
					<a href="javascript:void(0);" class="nevyblue" ng-click="add_moreTime()">ADD ANOTHER TIME +</a>
					<br />
					<a href="javascript:void(0);" class="nevyblue" ng-click="addAvalCoch()">ADD AVAL +</a>
				</form>
			  </div>
			</div>
		  </div>
		</div>
		
		<div id="myAvailabilityEdit" class="modal fade" role="dialog">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>Edit Time </h3>
			  </div>
			  <div class="modal-body">
			 <form id="avabilityEditForm" class="ng-pristine ng-valid">
					<div>
						<input type="hidden" id="data_index" />
						<input type="hidden" id="day_week" />
						
						<label>Start Time </label>
						<select class="startDate">
							<option value="">Hour</option>
							<option value="1">1 AM</option>
							<option value="2">2 AM</option>
							<option value="3">3 AM</option>
							<option value="4">4 AM</option>
							<option value="5">5 AM</option>
							<option value="6">6 AM</option>
							<option value="7">7 AM</option>
							<option value="8">8 AM</option>
							<option value="9">9 AM</option>
							<option value="10">10 AM</option>
							<option value="11">11 AM</option>
							<option value="12">12 PM</option>
							<option value="1">1 PM</option>
							<option value="2">2 PM</option>
							<option value="3">3 PM</option>
							<option value="4">4 PM</option>
							<option value="5">5 PM</option>
							<option value="6">6 PM</option>
							<option value="7">7 PM</option>
							<option value="8">8 PM</option>
							<option value="9">9 PM</option>
							<option value="10">10 PM</option>
							<option value="11">11 PM</option>
							<option value="12">12 AM</option>
						</select>
						<select class="startTime">
							<option value="">Minute</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="00">00</option>
						</select>
						
						<label>End Time </label>
						<select class="endDate">
							<option value="">Hour</option>
							<option value="1">1 AM</option>
							<option value="2">2 AM</option>
							<option value="3">3 AM</option>
							<option value="4">4 AM</option>
							<option value="5">5 AM</option>
							<option value="6">6 AM</option>
							<option value="7">7 AM</option>
							<option value="8">8 AM</option>
							<option value="9">9 AM</option>
							<option value="10">10 AM</option>
							<option value="11">11 AM</option>
							<option value="12">12 PM</option>
							<option value="1">1 PM</option>
							<option value="2">2 PM</option>
							<option value="3">3 PM</option>
							<option value="4">4 PM</option>
							<option value="5">5 PM</option>
							<option value="6">6 PM</option>
							<option value="7">7 PM</option>
							<option value="8">8 PM</option>
							<option value="9">9 PM</option>
							<option value="10">10 PM</option>
							<option value="11">11 PM</option>
							<option value="12">12 AM</option>
						</select>
						<select class="endTime">
							<option value="">Minute</option>
							<option value="15">15</option>
							<option value="30">30</option>
							<option value="45">45</option>
							<option value="00">00</option>
						</select>
					</div>
					
					<a href="javascript:void(0);" ng-click="editAvalCoch();">UPDATE AVAL +</a>
					
				</form>
			  </div>
			</div>
		  </div>
		</div>
		
	</div>	
</div>

<script>
	function rmvCoachingExp(rowId){
		$('#rmv_coach_'+rowId).remove();
	}
	
	function rmvCoachingYearExp(rowId){
		$('#coach_experirnce_year_rrmv_'+rowId).remove();
	}
	
	function rmvCoachingCerti(rowId){
		$('#coach_certification_'+rowId).remove();
	}
	
	function rmvCoachingAchi(rowId){
		$('#coach_achienement_'+rowId).remove();
	}
</script>

<style type="text/css">
	.selected {
	  background-color: #cccc;
	}
	.registrationBlocks{width:50%; float:left; padding:15px; box-sizing:border-box;}
	.first {
        background-image: url(register/BG_registration_club.png);
        background-position: right top;
    	background-repeat: no-repeat;
        background-size: cover;
	}
	
	.first:hover {
        background-image: url(register/BG_registration_club_hover.png);
	}
	
	.second:hover{
		background-image: url(register/BG_registration_coach_hover.png);
	}
	
	.btn-info:hover {
		background-color: black;
		border-color: black;
	}
	
	.btn-warning:hover {
		background-color: black;
		border-color: black;
	}
	
	.second{
		background-image: url(register/BG_registration_coach.png);
		background-position: left top;
    	background-repeat: no-repeat;
		background-size: cover;
	}
	
	.data {
		text-align: center;
		padding: 40% 0;
	}
	
	.text {
		color: white;
		font-size: 50px;
		line-height: 50px;
		padding-bottom: 30px;
		font-weight: 500;
	}
	
	*{
		border-radius: 0 !important;
	}
	button.btn-info,.btn-warning {
		padding: 14px 30px;
		font-family: 'Open Sans', sans-serif;
		border:0 !important;
		font-size: 16px;
    	font-weight: normal;
	}
	button.btn-info{
		background-color: #6dccc1 !important;
	}
	button.btn-warning {
		background-color: #ff994b !important;
	}
	button.btn-info:hover,button.btn-warning:hover {
		background-color: #000 !important;
	}
	
	@media all and (max-width: 1920px) and (min-width: 1170px) {
		.container {
		  width: 100%;
		}
	}
	
	@media all and (max-width: 641px) and (min-width: 320px) {
		.data {
			/*text-align: left;*/
			padding: 25% 0;
		}
		
		.text {
			color: white;
			font-size: 35px;
			line-height:inherit;
		}
		.registrationBlocks{width:100%; float:left; background-size:cover!important;}
		button.btn-info,.btn-warning {
			padding: 5px 10px;
			letter-spacing:2px;
		}
		.first {
			background-position: top bottom;
			background-size: contain;
		}
	}
	
.img-circular {
  background-image: url("register/dummy_user.png");
  background-size: cover;
  border: 4px solid #ff994b;
  border-radius: 116px!important;
  display: block;
  height: 145px;
  width: 148px;
}
.edit-profile {
  background: white none repeat scroll 0 0;
  border: 2px solid white;
  border-radius: 118px!important;
  box-shadow: -3px 5px 10px #b3adad;
  height: 29px;
  left: 125px;
  position: absolute;
  text-align: center;
  width: 29px;
}
i.fa.fa-pencil-square-o {
    margin-top: 6px;
}
.edit-profile input[type="file"] {
    position: absolute;
    opacity: 0;
    left: 0;
	top:0;
    width: 28px;
}
	
	.cacoaching_exp select, .cacoaching_exp input {
  		float: left;
  		margin: 6px 2px 4px 5px;
  		width: 27%;
	}
	
	.cacoaching_exp {
	  float: left;
	  width: 100%;
	}
	
	.cacoaching_exp_rmv {
	  float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_experirnce_year_div{
		 float: left;
	  width: 100%;
	}
	
	.coach_experirnce_year_div select {
  		float: left;
  		margin: 6px 2px 4px 5px;
  		width: 27%;
	}
	
	.cacoaching_year_rmv {
	  float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	
	#coach_certi{
		width: 100%;
		float: left;
	}
	
	.coach_certification_rmv{
		float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_certification select {
	  float: left;
	  margin: 6px 2px 4px 5px;
	  width: 86%;
	}
	
	.coach_achienement {
	  float: left;
	  width: 100%;
	}
	
	.coach_achienement_rmv{
		float: left;
	  padding: 16px 0 0;
	  width: 10%;
	}
	
	.coach_achienement select, .coach_achienement input {
	  float: left;
	  margin: 6px 2px 4px 5px;
	  width: 42%;
	}

</style>