

<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>



                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>








            </div>





            <!-- Page content -->





            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>





                <div class="app-content-body">
                    <div class="tab-table">
                        <table>

                        </table>

                        <table class="custom-table" id="example" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr> 
                                    <td class="no-border no-bg">
                                        <table>
                                            <tr>
                                                <td class="no-border no-bg">
                                                    <a href="javascript:" class="form-control" id="upcomingBookings" ng-click="showUpcomingBookings()">Upcoming Bookings</a>

                                                </td>



                                                <td class="no-border no-bg">
                                                    <a href="javascript:" class="form-control" id="archievedBookings" ng-click="showArcheivedBookings()">Archived Bookings</a>
                                                </td>


                                                <td colspan="3"  class="no-border no-bg">
                                                    &nbsp;
                                                </td>
                                                <td class="no-border no-bg">
                                                    <a href="javascript:" class="form-control" id="clearSearchBookings" ng-click="clearSearch()">Clear Search</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr> 
                                <tr>
                                    <th style="width:10%"><input type='checkbox' id='checkAll' ng-click='selectDeselectAll()' class='checkselect'/></th>
                                    <th style="width:16.7%">Booking Date</th>
                                    <th style="width:16.7%">Time</th>
                                    <th style="width:16.7%">Court</th>
                                    <th style="width:16.7%">Booking Number</th>
                                    <th style="width:16.7%">Booking Details</th>
                                </tr>
                            </thead>

                        </table>


                    </div>

                </div>


                <div ng-include="'rightsidebardetails.html'"></div>

                <div ng-include="'rightsidebaraddform.html'"></div>

                <div ng-include="'rightsidebarbookingdetails.html'"></div>

                <div ng-include="'rightsidebarsearch.html'"></div>

                <div ng-include="'rightsidebarcancelbooking.html'"></div>

                <div ng-include="'rightsidebarbookingdetailsconfirm.html'"></div>

                <div ng-include="'rightsidebarprintdetails.html'"></div>

                <div ng-include="'rightsidebarcardpaymentform.html'"></div>

                <div ng-include="'rightsidebaraddgroupclass.html'"></div>

                <div ng-include="'rightsidebargroupclassbooked.html'"></div>
                
                <div ng-include="'rightsidebarsearchappuser.html'"></div>
                
                <div ng-include="'rightsidebarsearchappedituser.html'"></div>
            </div>

        </div>



    </div>




    <div class="button-bottom button-bg">



        <button class="pull-left" ng-click="openSearchBox()">SEARCH BOOKING &nbsp; <i><img src="images/search-icon.jpg"/></i>

        </button>



        <button class="pull-right" ng-click="openAddForm()">ADD NEW &nbsp; <i><img src="images/plus-icon.jpg"/></i>

        </button>







    </div>






</div>