<div id="backgroundLogin">
    <div class="login-form">

        <div class="logo">
            <a href="#"><img src="images/lodo-logo.png" alt="logo"></a>
        </div> 

        <form class="login-main-form" ng-model="loginform" ng-submit="submitForm()">

            <div class="alert alert-danger alert-dismissable hide">

                <a href="javascript:void(0)" class="close" ng-click="closeAlert()" aria-label="close">&times;</a>

                {{message}}

            </div>
			<div style="float:left; width:100%;">
            <input type="email" ng-model="username" placeholder="Email">
            <input type="password" ng-model="password" placeholder="Password">
            </div>
            <div style="float:left; width:100%;">
            <button class="blk-btn login-reg-btn" type="submit">LOGIN</button> &nbsp; <a class="blk-btn login-reg-btn" href="#!/register">REGISTER</a>
            </div>
        </form>
    </div>
</div>
