<div class="box-main-inner hide" id="notificationsMainDiv" style="padding: 0px !important">
    <div class="container-fluid">
        <div class="row">
            <div class="main-side-div">
                <div class="col-md-12 col-sm-12 col-xs-12 pad0">


                    <div class="form-top-gray">


                        <div class="profile-detail-div">

                            <div class="side-header blank-div">
                                <button class="pull-right" onClick="closeNotifications()"><img src="images/cross.png"></button>

                            </div>


                        </div>



                    </div>

                    <div class="coach-all-detail-tab">
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a href="javascript:void(0)" onClick="showNotificationTab('1aa')" data-toggle="tab">All</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" onClick="showNotificationTab('2aa')" data-toggle="tab">Bookings</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" onClick="showNotificationTab('3aa')" data-toggle="tab">Coaches</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" onClick="showNotificationTab('4aa')" data-toggle="tab">Pro Bids</a>
                            </li>
                            <li class="for-part">
                                <a href="javascript:void(0)" onClick="showNotificationTab('5aa')" data-toggle="tab">Others</a>
                            </li>
                        </ul>


                        <div class="tab-content clearfix">

                            <div id="1a" class="tab-pane active">

                                <div class="detal-row ng-scope" ng-repeat="notification in notifications" ng-if="notification.Notification.request_type == 1">

                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 3" src="{{uploadUrl}}{{notification.User.Club[0].profile_picture}}">
                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 2" src="{{uploadUrl}}{{notification.User.Coach[0].profile_picture}}">
                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.User.Player[0].profile_picture}}">

                                    <div class="pl-ch-detail">

                                        <h2 class="ng-binding"></h2>

                                        <div class="pl-ch-detail-inner">

                                            {{notification.Notification.notification_description}}

                                        </div>

                                        <div class="last-detail ng-binding">


                                            {{notification.Notification.created}}

                                        </div>

                                    </div>


                                    <div class="ahed-div">

                                        <button ng-click="showNotificationDetail(notification.Notification.request_id,notification.Notification.request_type,notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                    </div>


                                </div>


                                <div class="detal-row ng-scope" ng-repeat="notification in notifications" ng-if="notification.Notification.request_type == 2">

                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 3" src="{{uploadUrl}}{{notification.User.Club[0].profile_picture}}">
                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 2" src="{{uploadUrl}}{{notification.User.Coach[0].profile_picture}}">
                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.User.Player[0].profile_picture}}">

                                    <div class="pl-ch-detail">

                                        <h2 class="ng-binding"></h2>

                                        <div class="pl-ch-detail-inner">

                                            {{notification.Notification.notification_description}}

                                        </div>

                                        <div class="last-detail ng-binding">


                                            {{notification.Notification.created}}

                                        </div>

                                    </div>


                                    <div class="ahed-div">

                                        <button ng-click="showNotificationDetail(notification.Notification.request_id,notification.Notification.request_type,notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                    </div>


                                </div>

                                <p>&nbsp;</p>
                            </div>

                            <div id="2a" class="tab-pane">


                                <div class="detal-row ng-scope" ng-repeat="notification in notifications" ng-if="notification.Notification.request_type == 1" >

                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 3" src="{{uploadUrl}}{{notification.User.Club[0].profile_picture}}">
                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 2" src="{{uploadUrl}}{{notification.User.Coach[0].profile_picture}}">
                                    <img class="image-blank ng-scope" ng-if="notification.User.role_id == 1" src="{{uploadUrl}}{{notification.User.Player[0].profile_picture}}">

                                    <div class="pl-ch-detail">

                                        <h2 class="ng-binding"></h2>

                                        <div class="pl-ch-detail-inner">

                                            {{notification.Notification.notification_description}}

                                        </div>

                                        <div class="last-detail ng-binding">


                                            {{notification.Notification.created}}

                                        </div>

                                    </div>


                                    <div class="ahed-div">

                                        <button ng-click="showNotificationDetail(notification.Notification.request_id,notification.Notification.request_type,notification.Notification.id)"><img src="images/ahed-arrow.png"></button>


                                    </div>

                                    
                                </div>

                                <p>&nbsp;</p>
                            </div>


                            <div id="3a" class="tab-pane">
                                <p>&nbsp;</p>
                            </div>

                            <div id="4a" class="tab-pane">


                                <p>&nbsp;</p>




                            </div>

                            <div id="5a" class="tab-pane">


                                <p>&nbsp;</p>




                            </div>

                        </div>







                    </div>
                </div>


            </div>


        </div>
    </div>
</div>