<div class="right-bar right-side-bar" id="rightSideBarAddPlayerToClassForm">
  <!-- ng-show="rightSideBarAddForm" -->
  <div class="side-header">
    <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
  </div>
  <div class="date-time pad-left15"><span>Add Player to Class</span></div>
  <form id="editGroupClassFrom">
    <div class="form-booking">
      <div class="form-field">
        <label>Club Membership</label>
		<input type="hidden" ng-model="classIdForJoin" id="classIdForJoin" value="{{$root.classIdForJoin}}">
		<angucomplete-alt id="clubMemberSearch" placeholder="Click here to search" pause="400" selected-object="selectedAddPlayerClass" remote-url="{{$root.clubremoteUrl}}"
                    remote-url-data-field="data" title-field="first_name,last_name" description-field="email" image-field="profile_picture"
                    input-class="form-control form-control-small" />
      </div>
      <div class="form-field">
        <label>Search App User</label>
        <angucomplete-alt id="clubAppUserSearch" placeholder="Click here to search" pause="400" selected-object="selectedAddPlayerClass" remote-url="{{$root.remoteUrl}}"
                    remote-url-data-field="data" title-field="first_name,last_name" description-field="email" image-field="profile_picture"
                    input-class="form-control form-control-small" />
      </div>
      <div class="form-field">
        <label>Player Name</label>
        <input type="hidden" ng-model="clubAppUserIdForJoin" id="clubAppUserIdForJoin" readonly>
		<input type="text" ng-model="clubAppUserFirstName" id="clubAppUserFirstName" readonly value="{{clubAppUserFirstName}}" placeholder="First name">
		<input type="text" ng-model="clubAppUserSurname" id="clubAppUserSurname" readonly value="{{clubAppUserSurname}}" placeholder="Surname">
      </div>
      <div class="form-field">
        <label>Contect No.</label>
        <input type="text" ng-model="clubAppUserContectNo" id="clubAppUserContectNo" readonly value="{{clubAppUserContectNo}}" placeholder="60000000000">
      </div>
      <div class="form-field">
        <label>Email</label>
        <input type="text" ng-model="clubAppUserEmail" id="clubAppUserEmail" readonly value="{{clubAppUserEmail}}" placeholder="Email address">
      </div>	  
      <div class="form-field">
        <label class="text-right"><span style="cursor:pointer;" ng-click="addPlayerToJoinClass()">ADD THIS PLAYER +</span></label>
      </div>
    </div>
    <div class="class-fee-detail">
      <div class="sub-heading">Players Added</div>
      <div class="count-fee-inner playersInfoData alreadyAdded playerBlok_{{player.Player.id}}" ng-repeat="player in $root.players">
	  <img class="image-blank" ng-if="player.Player.profile_picture != ''" src="{{picUrl}}{{player.Player.profile_picture}}"/> 
	  <img class="image-blank" ng-if="player.Player.profile_picture == ''" />
        <div class="pl-ch-detail">
          <h2>{{player.Player.suffix}} {{player.Player.first_name}} {{player.Player.last_name}}</h2>
		  <div class="deail-group-rate" style="padding:0;">
			  <ul class="groupClassDetail_list" style="padding:0;">
				<li>{{player.Player.reliability}}</li>
				<li ng-if="player.Player.self_rating != 0">Self Rated</li>
			  </ul>
			</div>
          <div class="last-detail">Last played : </div>
        </div>
        <div class="ahed-div">
          <button><img ng-click="removePlayerFromClass(player.Player.id)" style="width:10px;" src="images/cross.png"></button>
        </div>
      </div>
	  <div class="count-fee-inner playersInfoData ajaxaddedData playerBlok_{{player.Player.id}}" ng-repeat="player in $root.ajaxplayers">
	  <img class="image-blank" ng-if="player.Player.profile_picture != ''" src="{{picUrl}}{{player.Player.profile_picture}}"/> 
	  <img class="image-blank" ng-if="player.Player.profile_picture == ''" />
		<input type="hidden" class="selectedTOAddClass" value="{{player.Player.id}}"/>
        <div class="pl-ch-detail">
          <h2>{{player.Player.suffix}} {{player.Player.first_name}} {{player.Player.last_name}}</h2>
		  <div class="deail-group-rate" style="padding:0;">
			  <ul class="groupClassDetail_list" style="padding:0;">
				<li>{{player.Player.reliability}}</li>
				<li ng-if="player.Player.self_rating != 0">Self Rated</li>
			  </ul>
			</div>
          <div class="last-detail">Last played : </div>
        </div>
        <div class="ahed-div">
          <button><img ng-click="removePlayerFromClassAjax(player.Player.id)" style="width:10px;" src="images/cross.png"></button>
        </div>
      </div>
	  <div class="sub-heading playersDataBbefore">&nbsp;</div>
	  <div class="sub-heading">Fee Details</div>
      <div class="count-fee-inner">
        <label>Class fee per person</label>
		<input type="hidden" id="no_players_data" value="{{$root.groupClassDeatilData.ClubBookingSession.no_player}}"/>
		<input type="hidden" id="perplayer_price" value="{{$root.groupClassDeatilData.ClubBookingSession.grand_total/$root.groupClassDeatilData.ClubBookingSession.no_player}}"/>
		<input type="hidden" id="noofplayers" value="{{$root.noofplayers}}"/>
		<input type="hidden" id="totalmountCharge" value="{{$root.totalmountCharge}}"/>
        <div class="fee-rate"> $ <span>{{$root.groupClassDeatilData.ClubBookingSession.grand_total/$root.groupClassDeatilData.ClubBookingSession.no_player}}</span> </div>
        <p>({{$root.noofplayers}} people)</p>
      </div>
      <div class="total-div">
        <div class="total-div-inner">
          <label>Subtotal</label>
          <p>$ {{$root.totalmountChargesub}}</p><br/>
		  <div class="ng-binding" style="text-align: left; float: left; width: 100%;">
        </div>
        <div class="total-div-inner">
          <!--<label>Promotion {{}} discount</label>
          <p>$ {{$root.groupClassDeatilData.ClubBookingSession.grand_total*$root.groupClassDeatilData.ClubBookingSession.no_player}}</p><br/>
		  <div class="ng-binding" style="text-align: left; float: left; width: 100%;">
        </div>-->
        <div class="gross-total pad-top-15">
          <p class="text-right">Current total</p>
          <p class="main-total-pay-mini">$ {{$root.totalmountCharge}}</p>
        </div>
        <div class="btn-group">
          <button type="button" ng-click="cashPaymentToJaoinClass(1)" class="blk-btn btn-block bottom-btn">CASH / CHECK</button>
		  <button type="button" ng-click="makePaymentJoin(2)" class="blk-btn btn-block bottom-btn">CREDIT CARD</button>
		  <button type="button" ng-click="cashPaymentToJaoinClass(3)" class="blk-btn btn-block bottom-btn">SPONSORED</button>
        </div>
      </div>
    </div>
    
  </form>
</div>