<nav id="spy" ng-controller="myAppCtrl">





    <div class="menu-side-top">
        <a id="menu-toggle-close" ng-click="closeMenu()" href="javascript:void(0)" class="btn-menu toggle">
            <img src="images/menu-close.png">
        </a>

        <div class="header-logo">
            <a href="javascript:void(0)"><img src="images/lodo-logo.png"></a></div>

        <div class="user-name">


            Hi, {{$root.userName}}



        </div> 

    </div>        




    <div class="sidebar-nav nav">

        <div class="club-name">

            <!--div class="form-field">    
                <select>
                    <option>Club A</option>
                    <option>Club B</option>
                    <option>Club C</option>
                    <option>Club D</option>
                </select>
            </div-->


        </div>

        <ul class="sidebar-nav-inner" ng-if="$root.role_id>2">

            <li class="active" id="dashboardMenu">
                <a href="#!/dashboard">
                    <span>Master Calendar</span>
                </a>
            </li>
            <li id="coachesMenu">
                <a href="#!/coaches">
                    <span>Coach Management</span>
                </a>
            </li>

            <li id="clubsetupMenu">
                <a href="#!/clubsetup">
                    <span>Club Setup</span>
                </a>
            </li>
            <li id="bookingsMenu">
                <a href="#!/bookings" data-toggle="collapse" data-target="#demo">
                    <span>Club Bookings</span>


                </a>
            </li>
            <li id="groupclassesMenu">
                <a href="#!/groupclasses" data-toggle="collapse" data-target="#demo">
                    <span>Group Classes</span>

                </a>
            </li>
        </ul>
        
        <ul class="sidebar-nav-inner" ng-if="$root.role_id==2">

            <li class="active" id="dashboardMenu">
                <a href="#!/dashboard">
                    <span>Master Calendar</span>
                </a>
            </li>
            <li id="playerperformanceMenu">
                <a href="#!/playerperformance">
                    <span>Players Perfomrace Review</span>
                </a>
            </li>

            <li id="myprofileMenu">
                <a href="#!/myprofile">
                    <span>My Profile</span>
                </a>
            </li>
            <li id="reportsMenu">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#demo">
                    <span>Reports</span>


                </a>
            </li>
        </ul>

        <button ng-click="logOut()">Logout</button>
    </div>
</nav>
