<div class="pagination" ng-if="totalPages >= 2">
  <ul class="pagination">
    <!--li ng-if="currentPage > 1">
      <a ng-click="selectPage(1)">&lt;&lt;</a>
    </li-->
    <li ng-if="currentPage > 1">
      <a ng-click="contentLoading(currentPage-1)"><img src="images/left-arrow.png"></a>
    </li>
    <li ng-repeat="page in range(1,totalPages)" ng-class="{active: (page)==currentPage}"><a ng-click="contentLoading(page)">{{page}}</a>
    </li>
    <li ng-if="currentPage < totalPages"><a ng-click="contentLoading(currentPage+1)"><img src="images/right-arrow.png"></a>
    </li>
    <!--li ng-if="currentPage < numPages">
    <a ng-click="selectPage(numPages)">>></a>
    </li-->
  </ul>
</div>