<div class="right-bar right-side-bar" id="rightSideBarGroupClassBooked">
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarGroupClassBooked()"><img src="images/cross.png"></button>
    </div>

    <div class="form-booking">
        <div class="sub-heading">Booking Confirmed</div>




    </div>




    <div class="print-detail">

        <div class="booking-no">
            <label>Booking number</label>
            <p>{{bookingNumber}}</p>


        </div>

        <div class="print-sub-detail">


            <div class="print-sub-inner">

                {{eventDate}}
            </div>

            <div class="print-sub-inner">

                {{eventPlayTime}}
            </div>


            <div class="print-sub-inner">

                {{totalPlayer}} players

            </div>

            <div class="print-sub-inner">

                {{coachName}}
                <span>coach</span>
            </div>





        </div>





        <div class="class-fee-detail pad0">
            <div class="sub-heading">What it costs</div>

            <div class="count-fee-main">
                <div class="count-fee-inner">

                    <label>Court booking</label>

                    <div class="fee-rate">
                        $ <span>{{courtBookingFee}}</span>

                    </div>

                    <p>(club member - no charge)</p>

                </div>


                <div class="count-fee-inner">


                    <label>Coach booking</label>

                    <div class="fee-rate">
                        $ <span>{{coachBookingFee}}</span>

                    </div>

                    <p>- {{coachName}}</p>

                </div>





                <div class="total-div">



                    <div class="total-div-inner">
                        <label>Subtotal</label>

                        <p>$ {{subTotal}}</p>


                    </div>

                    <div class="total-div-inner">
                        <label>Some kind of tax ({{taxFee}}%)</label>

                        <p>${{taxAmount}}</p>


                    </div>


                    <div class="main-total">



                        <p>Total</p>

                        <p class="main-total-pay">$ {{grandTotal}}</p>


                    </div>

                </div>


                <div class="powerd-by">

                    <p>Powered by:</p>
                    <img src="images/lodo-logo.png">

                </div>

            </div>
        </div>


    </div>



</div>