<div class="right-bar right-side-bar" id="rightSideBarPaymentForm">

    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarPaymentForm()"><img src="images/cross.png"></button>
    </div>



    <form id="payment-form" ng-submit="confirmCardPayment(bookingId)">
        <div class="form-booking">
            <div class="sub-heading">Pay with CreditCard</div>
            <span class="payment-errors"></span>
            <div class="cards-label">
                <ul>
                    <li> <img src="images/visa-small.png" alt="Visa" /> </li>
                    <li> <img src="images/mastercard.png" alt="Mastercard" /> </li>
                    <li> <img src="images/amricanexpress.png" alt="Amrican Express" /> </li>
                </ul>
            </div>
            <div class="form-field">
                <label>
                    <span>Name</span>
                    <input type="text" required data-stripe="name">
                </label>
            </div>
            <div class="form-field">
                <label>
                    <span>Card Number (Maximum 16 digits allowed)</span>
                    <input type="text" required pattern="[0-9]{16}" maxlength="16" data-stripe="number">
                </label>
            </div>

            <div class="form-field">
                <label>
                    <span>Expiration (MM/YY)</span>
                </label>
                <input type="number" required max="12" data-stripe="exp_month" style="width:40%">
                /
                <input type="number" required max="9999" data-stripe="exp_year" style="width:40%; float: none">
            </div>

            <div class="form-field">
                <label>
                    <span>CVC</span>
                    <input type="number" required max="9999" data-stripe="cvc">
                </label>
            </div>

            <div class="form-field">
                <label>
                    <span>Billing ZIP Code</span>
                    <input type="number" required max="999999" data-stripe="address_zip">
                </label>
            </div>
            <div class="bottom-set-button">
                <button class="blk-btn btn-block bottom-btn" type="submit">PAY NOW - $ {{grandTotal}}</button>
            </div>
        </div>
    </form>
</div>