<div class="right-bar right-side-bar" id="rightSideBarAddGroupClass">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarAddGroupClass()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Create Group Class</span></div>
    <form id="addGroupClass" ng-submit="addGroupClass()">
        <div class="form-booking">
            
            <div ng-include="'chooseform.html'"></div>
            

            <div class="form-field">
                <label class="toggle-label">Club members only</label>

                <div class="tg-list-item">

                    <input class="tgl tgl-ios" id="isClubMember" type="checkbox" ng-model="isClubMember" />
                    <label class="tgl-btn" for="isClubMember"></label>
                </div>


            </div>



            <div class="form-field">
                <label>Class Name  <span>(max. 100 characters)</span></label>

                <textarea required ng-model="className" id="className"></textarea>

            </div>

            <div class="form-field">
                <label>Description  <span>(max. 300 characters)</span></label>

                <textarea required ng-model="classDescription" id="classDescription"></textarea>

            </div>

            <div class="form-field">
                <label>Date</label>

                <div class='input-group date' id="sandbox-container">
                    <input type="text" required ng-model="start" class="form-control datepicker" id="classBookDate" />
                    <!--input type="text" class="dateIcon datepicker" required ng-model="start" id="classBookDate"-->
                </div>


            </div>


            <div class="form-field">
                <label>Court No.</label>
                <select required ng-model="classCourtNo" id="classCourtNo" ng-change="getCourtFee(classCourtNo);setAvailableTimings('classCourtNo', 'classBookDate')">
                    <option value="">Select Court</option>
                    <option ng-repeat="c in courts" value="{{c.id}}">{{c.name}}</option>
                </select>
            </div>

            <div class="form-field half-width">
                <label>Start Time</label>
                <select required ng-model="classStartHour" id="classStartHour">
                    <option value="">Hour</option>
                    <option ng-repeat="i in $root.startHours" value="{{i}}">{{i| formatDropDownTime}}</option>
                </select>
                <select required ng-model="classStartMinute" id="classStartMinute">
                    <option value="">Minute</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="00">00</option>
                </select>
            </div>


            <div class="form-field half-width">
                <label>End Time</label>
                <select required ng-model="classEndHour" id="classEndHour">
                    <option value="">Hour</option>
                    <option ng-repeat="i in $root.endHours" value="{{i}}">{{i| formatDropDownTime}}</option>
                </select>
                <select required ng-model="classEndMinute" id="classEndMinute">
                    <option value="">Minute</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="00">00</option>
                </select>
            </div>

            <div class="form-field">
                <label>Rating</label>
                <select required ng-model="classPlayerRating" id="classPlayerRating">
                    <option value="">Select a rating</option>
                    <option ng-repeat="i in totalRatingRange" value="{{i}}">{{i}}</option>
                </select>
            </div>





            <div class="form-field">
                <label>Age Group</label>
                <select required ng-model="classPlayerAgeGroup" id="classPlayerAgeGroup">
                    <option value="">Select an age group</option>
                    <option value="7-10">7 - 10 years old</option>
                    <option value="11-13">11 - 13 years old</option>
                    <option value="14-17">14 - 17 years old</option>                          
                    <option value="18-22">18 - 22 years old</option>
                    <option value="23-28">23 - 28 years old</option>
                </select>
            </div>

            <div class="form-field">
                <label>No. of Players</label>
                <select required ng-model="classTotalPlayer" id="classTotalPlayer" ng-change="setClassTotalPlayer(classTotalPlayer)">
                    <option value="">Select no. of players</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>



            <div class="form-field">
                <label>Coach</label>

                <select ng-model="classCoach" id="classCoach" required ng-change="getCoachFee(classCoach)">
                    <option value="">Select a coach</option>
                    <option ng-repeat="ec in allCoaches" value="{{ec.id}}">{{ec.name}}</option>
                </select>

            </div>


            <div class="form-field">
                <label>Associate Coach</label>
                <select ng-model="classSubCoach" id="classSubCoach" onChange="checkMainCoach(2)">
                    <option value="">Select an associate coach</option>
                    <option ng-repeat="ec in allCoaches" value="{{ec.id}}">{{ec.name}}</option>
                </select>
            </div>

        </div>

        <div class="class-fee-detail">
            <div class="sub-heading">Class Fee Details</div>

            <div class="count-fee-main">
                <div class="count-fee-inner">

                    <label>Court fee </label>

                    <div class="fee-rate">
                        $ <span>{{courtFee | number : 2}}</span>

                    </div>

                    <p>(club member - no charge)</p>

                </div>


                <div class="count-fee-inner">

                    <label>Coaching fee for 10 people </label>

                    <div class="fee-rate">
                        $ <span>{{totalCoachFee | number : 2}}</span>

                    </div>

                    <p>- {{coachName}}</p>

                </div>

                <div class="total-div">

                    <div class="total-div-inner">
                        <label>Subtotal</label>

                        <p>${{subTotal | number : 2}}</p>


                    </div>

                    <div class="total-div-inner">
                        <label>Inclusive of tax ({{taxRate | number : 2}}%)</label>

                        <p>${{taxAmt | number : 2}}</p>


                    </div>


                    <div class="main-total">



                        <p>Total</p>

                        <p class="main-total-pay">${{grandTotal | number : 2}}</p>


                    </div>


                    <div class="gross-total">

                        <p>Class fee per player<br>
                            <span>(${{grandTotal | number : 2}} / {{totalClassPlayer | number : 2}} people)</span>
                        </p>

                        <p class="main-total-pay">${{perHeadFee | number : 2}}</p>
                    </div>



                </div>

            </div>




        </div>

        <button type="submit" class="blk-btn btn-block bottom-btn">CREATE CLASS</button>
    </form>
</div>