<div class="right-bar right-side-bar" id="rightSideBarSearchAppUser">
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarSearchAppUser()"><img src="images/cross.png"></button>
    </div>
    <div class="form-booking">
        <div class="sub-heading">Search App User</div>
        <angucomplete-alt id="AddMembers" placeholder="Type player name here" pause="400" selected-object="selectedAddMember" remote-url="{{remoteUrl}}"
                          remote-url-data-field="data" title-field="first_name,last_name" description-field="email" image-field="profile_picture"
                          input-class="form-control form-control-small" />
    </div>
    <div class="detal-row" ng-repeat="team in teams" id="teamAdd{{team.Player.id}}">

        <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
        <img class="image-blank" ng-if="team.Player.profile_picture == ''" />

        <div class="pl-ch-detail">

            <h2>{{team.Player.first_name}}</h2>

            <div class="pl-ch-detail-inner">

                <ul>

                    <li>{{team.Player.current_rating| number : 1}}</li>
                    <li>Self Rated</li>

                    <li>0000 XP</li>

                </ul>

            </div>

            <div class="last-detail">


                Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

            </div>

        </div>


        <div class="ahed-div">

            <button ng-click="removeAddPlayer(team.Player.id)"><img src="images/cross.png"></button>


        </div>


    </div>
    <div class="bottom-set-button">
        <button class="blk-btn btn-block bottom-btn" ng-click="addSelectedMembers()">ADD SELECTED USERS &nbsp; <img class="search-img" src="images/search-icon-white.png"/></button>
    </div>
