<div class="right-bar right-side-bar" id="rightSideBarBookingDetails" >
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarBookingDetails()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15">{{eventDay}}, <span> {{eventDate}} </span></div>
    <div class="setforfull">
        <div class="con-side-box blue-top-border">

            <div class="con-side-box-header">

                <div class="con-side-box-header-upper">
                    <div class="con-side-box-header-upper-left">

                        {{eventPlayTime}}
                    </div>

                    <div class="con-side-box-header-upper-right">

                        {{bookingNumber}}
                    </div>

                </div>

                <div class="con-side-box-header-lower">

                    <p class="top-heading">Match {{matchType}}</p>

                    <p>{{courtName}}</p>
                    
                    <p>Competitive Mode</p>

                </div>


            </div>

            <div class="detal-row" ng-repeat="team in teams">

                <img class="image-blank" ng-if="team.Player.profile_picture != ''" src="{{picUrl}}{{team.Player.profile_picture}}" />
                <img class="image-blank" ng-if="team.Player.profile_picture == ''" />


                <div class="pl-ch-detail">

                    <h2>{{team.Player.first_name}}</h2>

                    <div class="pl-ch-detail-inner">

                        <ul>

                            <li>{{team.Player.current_rating| number : 1}}</li>
                            <li>Self Rated</li>

                            <li>0000 XP</li>

                        </ul>

                    </div>

                    <div class="last-detail">


                        Last played: {{team.LastActivity.MatchHistory.date_played| date : "dd MMM y"}}

                    </div>

                </div>


                <div class="ahed-div">

                    <button><img src="images/ahed-arrow.png"></button>


                </div>


            </div>





        </div>

        <div class="form-booking">

            <div class="form-field">

                <label>Club Membership</label>

                <input type="text" ng-model="clubMembershipId" readonly value="">


            </div>

            <div class="form-field">

                <label>Booker App ID</label>

                <input type="text" ng-model="userAppId" readonly value="">


            </div>

            <div class="form-field">

                <label>Booker's Name</label>

                <input type="text" ng-model="playerBookerName" readonly value="">


            </div>

            <div class="form-field">

                <label>Contact No.</label>

                <input type="tel" ng-model="playerContactNo" readonly value="">


            </div>

            <div class="form-field">

                <label>Email</label>

                <input type="email" ng-model="playerEmail" readonly value="">


            </div>

        </div>

    </div>

    <div class="class-fee-detail">
        <div class="sub-heading">Fee Details</div>

        <div class="count-fee-main">
            <div class="count-fee-inner">

                <label>Court booking</label>

                <div class="fee-rate">
                    $ <span>{{courtBookingFee}}</span>

                </div>

                <p>(club member - no charge)</p>

            </div>


            <div class="count-fee-inner">


                <label>Coach booking</label>

                <div class="fee-rate">
                    $ <span>{{coachBookingFee}}</span>

                </div>

                <p>- {{coachName}}</p>

            </div>




            <div class="total-div">



                <div class="total-div-inner">
                    <label>Subtotal</label>

                    <p>$ {{subTotal}}</p>


                </div>

                <div class="total-div-inner">
                    <label>Some kind of tax ({{taxFee}}%)</label>

                    <p>${{taxAmount}}</p>


                </div>


                <div class="main-total">



                    <p>Total</p>

                    <p class="main-total-pay">$ {{grandTotal}}</p>


                </div>


                <div class="gross-total pad-top-15">

                    <p>Total paid ({{paymentDate}})<br>
                        <span ng-if="paymentMode == 1">(cash)</span>
                        <span ng-if="paymentMode == 2">(credit card)</span>
                        <span ng-if="paymentMode == 3">(membership credit)</span>
                    </p>

                    <p class="main-total-pay-mini">$ {{grandTotal}}</p>

                    <div class="cards-slote">

                        <div class="cards-slote-inner">

                            <p class="pull-left marg-none">Per head</p>

                            <p class="pull-right marg-none">$ {{grandTotal / totalPlayer}}</p>

                        </div>
                        <div ng-if="paymentMode == 2" class="cards-slote-inner1">
                            <img ng-if="cardType == 'visa'" src="images/visa.png">
                            <img ng-if="cardType == 'mastercard'" src="images/mastercard.png">
                            <p>****{{cardNumber}}</p>

                            <p class="border-left">{{cardName}}</p>

                        </div>

                    </div>
                </div>


                <div class="btn-group">
                    <button class="gray-btn btn-block bottom-btn" ng-click="cancelBooking()">CANCEL BOOKING</button>
                </div>
            </div>







        </div>




    </div>

</div>