<div class="background-div2">
  <div id="wrapper">
    <div class="wrapper-inner">
      <div class="left-bar">
        <div ng-include="'topleftheader.html'"></div>
        <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>
        <!-- Page content -->
      </div>
      <div class="right-side-main pos-set-full">
        <div ng-include="'toprightheader.html'"></div>
        <div class="tab-table pad0">
          <div id="exTab1">
            <ul  class="nav nav-pills nav-bor">
              <li class="active"> <a href="javascript:void(0)" data-toggle="tab">GROUP CLASSES</a> </li>
              <li class="for-part"><a href="javascript:void(0)" data-toggle="tab">SHARED COACHING</a> </li>
            </ul>
            <div class="tab-content clearfix group-class-tab">
              <div class="tab-pane active" id="1a">
                <div class="row box-marg-set" id="groupClassesData" ng-app="myApp" ng-controller="GroupclassesCtrl">
                  <div class="col-md-4 col-sm-6 col-lg-3 col-xs-12" ng-repeat="groupClass in groupClasses">
                    <div class="group-class-box">
                      <div class="rightgroup-con">
                        <div class="rightgroup-con-left">
                          <div class="rightgroup-con-time"> <span>{{ groupClass.ClubBookingSession.book_date | date : "dd MM yyyy"}}</span> <span>{{ groupClass.ClubBookingSession.book_start_time | date : "h:mm a"}} - {{ groupClass.ClubBookingSession.book_end_time | date : "h:mm a" }}</span> <span class="dot-none">{{groupClass.JoinGroupClass}}/{{groupClass.ClubBookingSession.no_player}}</span> </div>
                          <div class="rightgroup-con-heading">
                            <h1>{{groupClass.ClubBookingSession.class_name}}</h1>
                            <p>{{groupClass.ClubBookingSession.class_description}}&hellip;</p>
                          </div>
                        </div>
                        <div class="rightgroup-con-right">
                          <div class="profile-picture-with-rateing"> </div>
                          <div class="star-rating-black"> {{groupClass.ClubBookingSession.min_player_rating}} <span><img src="images/star.png"/></span> </div>
                        </div>
                        <div class="deail-group-rate">
                          <ul>
                            <li>Rating: <span>{{groupClass.ClubBookingSession.min_player_rating}} - 00</span> </li>
                            <li>Age Group: <span>{{groupClass.ClubBookingSession.min_player_age}} - {{groupClass.ClubBookingSession.max_player_age}}</span> </li>
                            <li ng-if="groupClass.ClubBookingSession.is_club_member == 1">Club Member only</li>
                            <li ng-if="groupClass.ClubBookingSession.is_club_member != 1">All Members</li>
                          </ul>
                        </div>
                        <div class="footer-box-div">
                          <h2>$ {{groupClass.ClubBookingSession.grand_total}}</h2>
                          <ul>
                            <li ng-if="groupClass.CancelClass == ''"><a href="javascript:" ng-click="openRightSideBarAddPlayerToClass(groupClass.ClubBookingSession.id)"><img src="images/add-friend.png"/></a></li>
                            <li ng-if="groupClass.CancelClass == ''"><a href="javascript:" ng-click="getRightSideBarDetailsEdit(groupClass.ClubBookingSession.id)"><img src="images/edit.png"/></a></li>
                            <li><a href="javascript:" ng-click="getRightSideBarDetails(groupClass.ClubBookingSession.id)"><img src="images/ahed-arrow.png"/></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div ng-include="'paginationclasses.html'"></div>
              </div>
              <div class="tab-pane" id="2a">
                <h3>You Want to see Drop Here.</h3>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        <div class="button-bottom button-bg">
          <button class="pull-left" ng-click="openLeftSearchBar()">SEARCH CLASS &nbsp; <i><img src="images/search-icon.jpg"/></i> </button>
          <button class="pull-right" ng-click="showFormCreateGroupClassAdd()">CREATE GROUP CLASS &nbsp; <i><img src="images/plus-icon.jpg"/></i> </button>
        </div>
    </div>
  </div>
</div>
<div ng-include="'rightsidebargroupclassdetails.html'"></div>
<div ng-include="'rightsidebaraddgroupclasspage.html'"></div>
<div ng-include="'rightsidebareditgroupclass.html'"></div>
<div ng-include="'rightsidebarsearchgroupclass.html'"></div>
<div ng-include="'rightsidebaraddplayertoclass.html'"></div>
<div ng-include="'rightsidebarcardpaymentform.html'"></div>