<div class="right-bar setforfull right-side-bar" id="promoDetails">
    <div class="side-header">
        <button class="pull-right" ng-click="closePromoDetails()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15">Promo Details</div>
    <div class="setforfull">
        <div class="con-side-box orange-top-border">
            <div class="con-side-box-header">
                <div class="con-side-box-header-upper">
                    <div class="con-side-box-header-upper-left">{{ $root.$root.promotion.Promotion.name}}
                    </div>
                </div>
                <div class="con-side-box-header-lower">
                    <p class="top-heading"><span ng-if="$root.promotion.Promotion.promo_type == 1">{{$root.promotion.Promotion.promo_value}}%</span>
                        <span ng-if="$root.promotion.Promotion.promo_type == 2">${{$root.promotion.Promotion.promo_value}}</span>
                        <span ng-if="$root.promotion.Promotion.session_type == 1">off on court fees</span>
                        <span ng-if="$root.promotion.Promotion.session_type == 2">off on coaching fees</span>
                        <span ng-if="$root.promotion.Promotion.session_type == 3">off on total fees</span><br/>
                    <div class="deail-group-rate" style="padding:0;">
                        <ul class="groupClassDetail_list" style="padding:0;">
                            <li>{{ $root.promotion.Promotion.end_date | daydiff}} days left </li>
                            <li>{{ $root.promotion.Promotion.start_date}} - {{$root.promotion.Promotion.end_date}} </li>
                        </ul>
                    </div>
                    <p ng-if="$root.promotion.Promotion.applicable_for == 1">Club Members Only</p>
                    <p ng-if="$root.promotion.Promotion.applicable_for == 2">For All Users</p>
                    <p>Usage Per User: <span>{{$root.promotion.Promotion.usage_per_user}}</span></p>
                    <p>Issuer: <span>{{$root.promotion.Club.name}}</span></p>
                    <p>{{$root.promotion.Promotion.description}}</p>
                    <p>{{$root.promotion.Promotion.terms}}</p>
                </div>
            </div>

            <!--div class="detal-row" ng-if="$root.groupClassDeatilData.ClubBookingSession.coach_id > 0"> 
                            <img class="image-blank" ng-if="$root.groupClassDeatilData.Coach.profile_picture != ''" src="{{picUrl}}{{$root.groupClassDeatilData.Coach.profile_picture}}" /> 
                            <img class="image-blank" ng-if="$root.groupClassDeatilData.Coach.profile_picture == ''" />
                            <div class="pl-ch-detail">
                                <h2>{{$root.groupClassDeatilData.Coach.name}}</h2>
                                <div class="pl-ch-detail-inner">
                                    Lead Coach
                                </div>
                                <div class="last-detail">{{$root.groupClassDeatilData.Coach.current_rating}}</div>
                            </div>
                            <div class="ahed-div">
                                <button><img src="images/ahed-arrow.png"></button>
                            </div>
                        </div-->
        </div>
    </div>
    <div class="detal-row">
        <h3>Times Applied<span style="float:right">{{$root.promotion.PromotionUse.length}}</span></h3>
    </div>

</div>
