<div class="right-bar right-side-bar" style="left:0;" id="promoSearchForm">

    <div class="side-header">
        <button class="pull-right" ng-click="closePromoSearchForm()"><img src="images/cross.png"></button>
    </div>
    <form id="searchPromo" ng-submit="searchPromo()">
        <div class="form-booking">
            <div class="sub-heading">Search Promos</div>


            <div class="form-field">
                <label>Issued By</label>
                <select name="issued_by">
                    <option value="">Issued By</option>
                    <option value="1">Club</option>
                </select>
            </div>


            <div class="form-field half-width">
                <label>Date Range</label>
                <input type="text" style="width:40%;margin-right:10%;" class="datepicker" placeholder="Start" name="start_date" />
                <input type="text" style="width:40%" class="datepicker" placeholder="End" name="end_date" />
            </div>

            <div class="form-field">
                <label>Promo Type</label>
                <select name="promo_type">
                    <option value="">Promo Type</option>
                    <option value="1">% OFF</option>
                    <option value="2">FLAT</option>
                </select>
            </div>


            <div class="form-field">
                <label>Type of Session</label>
                <select name="session_type">
                    <option value="">Type of Session</option>
                    <option value="1">Court Fees Only</option>
                    <option value="2">Coach Fees Only</option>
                    <option value="3">Court And Coach Fees</option>
                </select>
            </div>

            <div class="form-field">
                <label>Applicable For</label>
                <select name="applicable_for">
                    <option value="">Applicable for</option>
                    <option value="1">Club Members Only</option>
                    <option value="2">All</option>
                </select>
            </div>


        </div>

        <div class="bottom-set-button">
            <button type="submit" class="blk-btn btn-block bottom-btn" >FILTER PROMO &nbsp; <img class="search-img" style="width:16px;" src="images/equalization.png"/></button>


        </div>
    </form>
    <style>
		.form-field input[type="text"] {
			border: 1px solid #d8d8d8;
		}
	</style>