.div1{	
	 width: 100%;
	 background-color: #F2F3F4;



}
.div2{
	padding-top: 4%;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
   
    color: #000;
}
.li2{
	 padding-left: 24px;
	 opacity: 0.5;
}
.hr1{
	
	margin-top: -21px;
	border-top: 0.2px solid black;
	opacity: 0.1;
}

.box {
    float: left;
    width: 100%;
    border: 0.2px white;
    border-style: outset;  
    background-color: white;
     margin: 20px 0 0 15px; min-height: 80px;

   /* margin-top: 13px; 
*/
}

 .reting { 
    background-color: lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 7px;
    border:2px solid #76D7C4;
    float: left;

}
 .reting1 { 
    background-color: lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 7px;
    border:2px solid #85C1E9;
    float: left;

}
 .reting2 { 
    background-color: lightgray;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 7px;
    border:2px solid maroon;
    float: left;

}
 .reting3 { 
    background-color: lightgray;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    margin: 7px;
    float: left;

}

.strap{
	width: 27px;
	background-color:#76D7C4;
	height: 11px; 
	float: left;
	margin-top: 21px;
    margin-left: -18px;
    text-align: right;
    font-size: 10px;
    padding-right: 3px;
    color: #fff;
}

.strap1{
    width: 27px;
    background-color: #85C1E9;
    height: 11px;
    float: left;
    margin-top: 29px;
    margin-left: -81px;
    text-align: right;
    font-size: 10px;
    padding-right: 1px;
    color: #fff;
    position:relative;
}

.strap2{
    width: 27px;
    background-color: maroon;
    height: 11px;
    float: left;
    margin-top: 29px;
    margin-left: -81px;
    text-align: right;
    font-size: 10px;
    padding-right: 1px;
    color: #fff;
    position:relative;

}

.strap3{
    width: 27px;
    background-color: black;
    height: 11px;
    float: left;
    margin-top: 29px;
    margin-left: -79px;
    text-align: right;
    font-size: 10px;
    padding-right: 1px;
    color: #fff;
    position:relative;

}

.pcont{
	float: left;
	font-size: 12px;
	line-height: 10px;
	padding: 12px 0 0 3px;
    overflow: visible;
	opacity: 0.9;

}
img{
	float: right;
	padding: 28px 13px;
	opacity: 0.7;
	
}
.spaceing{
text-indent: 3px;
}
.opaci{
    opacity: 0.5;
}
a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
    text-decoration: underline;
}
