


<div class="background-div">
    <div id="wrapper">
        <div class="wrapper-inner">
            <div class="left-bar">
                <div ng-include="'topleftheader.html'"></div>

                <!-- Sidebar -->
                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>

                <div class="demo-section k-content">
                    <kendo-calendar k-options="calendar" id="kendoCalendar"></kendo-calendar>
                </div>

                <div class="form-field">    
                    <select ng-model="courtId" ng-change="setCalendar(club_id,courtId,2)">
                        <option value="">Select Court</option>
                        <option ng-repeat="court in courts" value="{{court.id}}">{{court.name}}</option>
                    </select>
                </div>
            </div>


            <!-- Page content -->


            <div class="right-side-main">
                <div ng-include="'toprightheader.html'"></div>


                <div class="app-content-body ">
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div> 


                </div>

                <div ng-include="'rightsidebar.html'"></div>
                <div ng-include="'rightsidebardetails.html'"></div>

            </div>
        </div>

    </div>

    <div class="button-bottom">

        <button class="pull-left">SEARCH BOOKING &nbsp; <i><img src="images/search-icon.jpg"/></i>
        </button>

        <button class="pull-right">ADD NEW &nbsp; <i><img src="images/plus-icon.jpg"/></i>
        </button>



    </div>



</div>
