<style>
    .left-bar{
       overflow: auto;min-height: 100vh; 
    }
   
</style>
<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>

                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>


            </div>

            <!-- Page content -->

            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>
                <div class="dasboardBody">
                <div class="col-sm-5 col-md-3 col-lg-3 col-xs-12">
                

                <div class="demo-section k-content">

                    <kendo-calendar k-options="calendar" id="kendoCalendar"></kendo-calendar>

                </div>


                <div class="main-select-out">

                    <div class="form-field dash-filter" ng-if="role_id > 2">

                        <img src="images/pro-bid.png" class="calendarfiltertype" />
                        <img src="images/groupclass.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType('withcoach', $event, club_id, 2)" />
                        <img src="images/beacon.png" class="calendarfiltertype" ng-click="setCalendarFlowByClassType('withoutcoach', $event, club_id, 2)" />

                        </select>

                    </div>

                    <div class="form-field dash-filter-coach" ng-if="role_id == 2">

                        <img src="images/pro-bid.png" class="calendarfiltertypecoach" />
                        <img src="images/groupclass.png" class="calendarfiltertypecoach" ng-click="setCalendarFlowByClassType('withcoach', $event, coach_id, 2)" />
                        <img src="images/beacon.png" class="calendarfiltertypecoach" ng-click="setCalendarFlowByClassType('withoutcoach', $event, coach_id, 2)" />
                        <img src="images/myclass.png" class="calendarfiltertypecoach" ng-click="setCalendarFlowByClassType(11, $event, coach_id, 2)" />
                        </select>

                    </div>

                    <div class="form-field" ng-if="role_id > 2">

                        <select ng-model="courtId" id="courtId" ng-change="setCourtSelection(courtId)"> <!-- setCalendarFlow(club_id, courtId, 2) -->

                            <option value="">All Courts</option>

                            <option ng-repeat="court in courts" value="{{court.id}}">{{court.name}}</option>

                        </select>

                        <div id="dashCourtSelect">
                            <div ng-repeat="c in selectedCourts" id="selectedCourt{{c.id}}" class="dash-court-select">
                                {{c.name}}
                                <input type="hidden" value="{{c.id}}" />
                                <span class="dash-court-remove" ng-click="removeSelectedCourt(c.id)"><img src="images/cross.png"/></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-field" ng-if="role_id == 2">

                        <select ng-model="courtId" id="courtId" ng-change="setCourtSelection(courtId)"> <!-- setCalendarFlow(coach_id, courtId, 2) -->

                            <option value="">All Courts</option>

                            <option ng-repeat="court in courts" value="{{court.Court.id}}">{{court.Court.name}} ({{court.Club.name}})</option>

                        </select>

                        <div id="dashCourtSelect">
                            <div  ng-repeat="c in selectedCourts" id="selectedCourt{{c.id}}" class="dash-court-select">
                                {{c.name}}
                                <input type="hidden" value="{{c.id}}" />
                                <span class="dash-court-remove" ng-click="removeSelectedCourt(c.id)"><img src="images/cross.png"/></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-field" ng-if="role_id > 2">

                        <select ng-model="coachId" id="coachId" ng-change="setCalendarFlowByCoach(club_id, coachId, 2)">

                            <option value="">All Coaches</option>

                            <option ng-repeat="coach in allCoaches" value="{{coach.id}}">{{coach.name}}</option>

                        </select>

                    </div>

                </div>
                </div>
                <div class="col-sm-7 col-md-9 col-lg-9 col-xs-12">

                <div class="app-content-body">

                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>

                </div>
                
                </div>
                </div>


                <div ng-if="role_id > 2">
                    <div ng-include="'rightsidebar.html'"></div>

                    <div ng-include="'rightsidebarmultiple.html'"></div>

                    <div ng-include="'rightsidebardetails.html'"></div>

                    <div ng-include="'rightsidebaraddform.html'"></div>

                    <div ng-include="'rightsidebarbookingdetails.html'"></div>

                    <div ng-include="'rightsidebarsearch.html'"></div>

                    <div ng-include="'rightsidebarcancelbooking.html'"></div>

                    <div ng-include="'rightsidebarbookingdetailsconfirm.html'"></div>

                    <div ng-include="'rightsidebarprintdetails.html'"></div>

                    <div ng-include="'rightsidebarcardpaymentform.html'"></div>

                    <div ng-include="'rightsidebaraddgroupclass.html'"></div>

                    <div ng-include="'rightsidebargroupclassbooked.html'"></div>

                    <div ng-include="'rightsidebarsearchappuser.html'"></div>

                    <div ng-include="'rightsidebarsearchappedituser.html'"></div>

                    <div ng-include="'rightsidebargroupclassdetails.html'"></div>

                    <div ng-include="'coachProfile.html'"></div>

                    <div ng-include="'playerperformance/coachBookingModal.html'"></div>

                    <div ng-include="'playerperformance/playerProfile.html'"></div>

                    <div ng-include="'rightsidebarbookingdetailsconfirmupdate.html'"></div>

                    <div ng-include="'rightsidebarcardpaymentformupdate.html'"></div>

                    <div ng-include="'rightsidebaraddplayertoclass.html'"></div>

                    <div ng-include="'rightsidebarcardpaymentformplayer.html'"></div>

                </div>

                <div ng-if="role_id == 2">
                    <div ng-include="'dashboard/rightsidebarblockdate.html'"></div>
                    <div ng-include="'playerperformance/rightsidebargroupclassdetails.html'"></div>
                    <div ng-include="'playerperformance/playerProfile.html'"></div>
                    <div ng-include="'playerperformance/coachBookingModal.html'"></div>
                    <div ng-include="'rightsidebarsearch.html'"></div>
                    <div ng-include="'coachProfile.html'"></div>
                </div>

			
            </div>

        </div>

        

    </div>

<div class="button-bottom button-bg">



            <button class="pull-left" ng-click="openSearchBox()">SEARCH BOOKING &nbsp; <i><img src="images/search-icon.jpg"/></i>

            </button>



            <button ng-if="role_id > 2" class="pull-right" ng-click="openAddForm()">ADD NEW &nbsp; <i><img src="images/plus-icon.jpg"/></i>

            </button>

            <button ng-if="role_id == 2" class="pull-right" ng-click="openBlockDate()">BLOCK DATE &nbsp; <i><img src="images/plus-icon.jpg"/></i>

            </button>

        </div>






</div>