<div class="right-bar right-side-bar" id="rightSideBarBlockDate">
    <!-- ng-show="rightSideBarAddForm" -->
    <div class="side-header">
        <button class="pull-right" ng-click="closeRightSideBarBlockDate()"><img src="images/cross.png"></button>
    </div>
    <div class="date-time pad-left15"><span>Block Date</span></div>
    <form id="addBlockDate" ng-submit="addBlockDate()">
        <div class="form-booking">
            <div class="form-field">
                <label>Date</label>

                <div class='input-group date' id="sandbox-container">
                    <input type="text" required ng-model="start" class="form-control datepicker" id="coachBlockDate" name="date" />
                    <!--input type="text" class="dateIcon" required date-time  ng-model="start" id="bookAddDate" min-view="date" min-date="{{minDate}}"-->
                </div>


            </div>




            <div class="form-field half-width">
                <label>Start Time</label>

                <select name="start_hours" required>
                    <option value="">Hour</option>
                    <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                </select>

                <select name="start_minutes" required>
                    <option value="">Minute</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    
                </select>

            </div>


            <div class="form-field half-width">
                <label>End Time</label>

                <select name="end_hours" required>
                    <option value="">Hour</option>
                    <option ng-repeat="i in getNumber(24) track by $index" value="{{$index + 1}}">{{$index + 1| formatDropDownTime}}</option>
                </select>

                <select name="end_minutes" required>
                    <option value="">Minute</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    
                </select>

            </div>

            <div class="form-field">
                <label>Reason</label>

                <textarea required name="reason"></textarea>


            </div>

        </div>



        <button type="submit" class="blk-btn btn-block bottom-btn">BLOCK DATE</button>
    </form>
</div>