<div class="background-div">



    <div class="login-form">
        <div class="logo">

            <a href="#"><img src="images/lodo-logo.png" alt="logo"></a>

        </div> 

        <form class="login-main-form" ng-model="loginform" ng-submit="submitForm()">
            <div class="alert alert-danger alert-dismissable hide">
                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            <input type="email" ng-model="username" placeholder="Email">


            <input type="password" ng-model="password" placeholder="Password">

            <button class="blk-btn" type="submit">LOGIN</button>

        </form>



    </div>



</div>