<div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 pad0">

    <ul id="clubSetupMenu">

        <li class="active-li" ><a href="javascript:void(0);" ng-click="openMenuItem(1,$event)">General</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(2,$event)">Club Profile</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(3,$event)">Facilities</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(4,$event)">Peak Time</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(5,$event)">Court Fees</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(6,$event)">Coach Fees</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(7,$event)">Special Fees</a></li>
        <li><a href="javascript:void(0);" ng-click="openMenuItem(8,$event)">Refund Policy</a></li>




    </ul>





</div>