<div id="Coach_Fees" class="hidepanel">
    <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
        <form id="commonCoachFeesForm" ng-submit="saveCommonCoachFees()">

            <div class="gen-right-box pad0">

                <h3 class="pad4-side-top">Coach Fees</h3>


                <div class="form-field head-sab">
                    <div class="checkbox">
                    <div class="checkbox checkboxCustom checkbox-color">
                        <input id="privateclass" type="checkbox">
                        <label for="privateclass">
                            Private Class
                        </label>
                    </div>
                </div>
                </div>
                <div class="box-pad" style="padding-left: 44px;">
                    <div class="form-field">
                        <label>Maximum Players</label>
                        <input type="number" placeholder="0" max="3" name="private_class_max_players" required>
                    </div>

                    <div class="form-field">
                        <label>Default Normal Fees <span class="smalltext">(Optional)</span></label>
                        <input type="number" step="0.01" placeholder="$" name="private_class_normal_fees">
                    </div>

                    <div class="form-field">
                        <label>Default Peak Fees <span class="smalltext">(Optional and % of normal fees, values will be rounded up to the nearest integer)</span></label>
                        <input type="number" step="0.01" placeholder="%" name="private_class_peak_fees">
                    </div>

                    <div class="form-field">
                        <label>Additional Player Fees <span class="smalltext">(Per Head)</span></label>
                        <input type="number" step="0.01" placeholder="$" name="private_class_additional_player_fees" required>
                    </div>

                </div>
            </div>

            <div class="gen-right-box pad0 border-top-0">

                <div class="form-field head-sab">
                   
                   <div class="checkbox checkboxCustom checkbox-color">
                        <input id="groupclass" type="checkbox">
                        <label for="groupclass">
                            Group Class
                        </label>
                    </div>
                    
                  
                </div>
                <div class="box-pad" style="padding-left: 44px;">
                    <div class="form-field">
                        <label>Maximum Players</label>
                        <input type="number" placeholder="0" max="10" name="group_class_max_players" required>
                    </div>

                    <div class="form-field">
                        <label>Default Normal Fees <span class="smalltext">(Optional)</span></label>
                        <input type="number" step="0.01" placeholder="$" name="group_class_normal_fees">
                    </div>

                    <div class="form-field">
                        <label>Default Peak Fees <span class="smalltext">(Optional and % of normal fees, values will be rounded up to the nearest integer)</span></label>
                        <input type="number" step="0.01" placeholder="$" name="group_class_peak_fees">
                    </div>

                    <div class="form-field">
                        <label>Additional Player Fees <span class="smalltext">(Per Head)</span></label>
                        <input type="number" step="0.01" placeholder="$" name="group_class_additional_player_fees" required>
                    </div>
                </div>
            </div>

            <button type="submit" class="blk-btn btn-block bottom-btn">SAVE CHANGES</button>


        </form>


        <div class="gen-right-box marg-top-30">

            <h3 style="margin-bottom:10px;">Individual Coaching Fees</h3>
            <h5 style=" margin-top:0;margin-bottom:30px;">(Inclusive of court fees)</h5>

            <div class="tab-table">
                <table class="custom-table facilty display" id="coachingFeesTable" cellspacing="0" width="100%">
                    <thead>
                        <tr> 
                            <th>&nbsp;</th>
                            <th style="width:15%">
                            <!--<div class="checkbox checkboxCustom checkbox-color">
                                <input id="privateclass" type="checkbox">
                                <label for="privateclass">
                                    Group Class
                                </label>
                            </div>-->
                    </th>
                            <th style="width:30%;text-align:center" colspan="2" >Private Class</th>
                            <th style="width:30%;text-align:center" colspan="2">Group Class</th>
                            <th style="width:9%">&nbsp;</th>
                        </tr>
                        <tr> 
                            <th><input type='checkbox' id='checkAllCoachingFees' ng-click='selectDeselectAllCoachingFees()' class='checkselect'/></th>
                            <th style="width:15%">Coach Name</th>
                            <th style="width:15%">Normal Fees</th>
                            <th style="width:15%">Peak Fees</th>
                            <th style="width:15%">Normal Fees</th>
                            <th style="width:15%">Peak Fees</th>
                            <th style="width:9%">&nbsp;</th>
                        </tr>
                    </thead>

                </table>


            </div>


        </div>

        <button class="blk-btn btn-block bottom-btn" ng-click="openAddCoachingFeesForm()">ADD COACHING FEES +</button>

    </div>

</div>