<div id="Special_Fees" class="hidepanel">
        <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8 pad0">
            <div class="gen-right-box">
                <h3 style="margin-bottom:0;">Special Fees<div style="float:right;margin-right:5%">5/10</div></h3>
                <h4 style="margin-bottom:30px;font-size: 12px;color: #999;">(percentage over normal fees)</h4>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">

                        <div class="table-responsive specialFeesTable">
                            <table class="table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                            	<th class="sorting" align="left"><input name="" type="checkbox" value="" /></th>
 								<th class="sorting">Title <img src="images/down-arrow.jpg" alt="" /></th>
                                <th class="sorting">Active Date <img src="images/down-arrow.jpg" alt="" /></th>
                                <th class="sorting">Special Fees (%)<img src="images/down-arrow.jpg" alt="" /></th>
                                <th class="sorting"></th>
                            </tr>
                            </thead>
                            
                                <tbody>
                                    <tr ng-repeat="spFee in specialFees">
                                        <td><input type="checkbox"  class="ui-checkbox" id="spFee{{spFee.SpecialFee.id}}" /><label for="checkbox-1-2"></label></td>
                                        <td>{{spFee.SpecialFee.title}}</td>
                                        <td>{{spFee.SpecialFee.start_date| date: 'd MM yyyy'}} - {{spFee.SpecialFee.end_date| date: 'd MM yyyy'}}</th>
                                        <td>{{spFee.SpecialFee.rate}}</td>
                                        <td style="text-align:center"><a href='javascript:' ng-click="editSpecialFeesForm(spFee.SpecialFee.id)"><img class='ancher-img' src='images/edit.png'/></a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="pagenation">
                            <button ng-click="deleteSpecialFees()"><img src="images/delete-bg-white.png"/></button>
                        </div>
                    </div>

                </div>
            </div>
            <button ng-click="addSpecialFees()" class="blk-btn btn-block bottom-btn">ADD SPECIAL FEES +</button>
        </div>
</div>

