

<div class="background-div2">

    <div id="wrapper">

        <div class="wrapper-inner">

            <div class="left-bar">

                <div ng-include="'topleftheader.html'"></div>



                <!-- Sidebar -->

                <div id="sidebar-wrapper" ng-include="'sidebar.html'"></div>








            </div>





            <!-- Page content -->





            <div class="right-side-main pos-set-full">

                <div ng-include="'toprightheader.html'"></div>





                <div class="app-content-body">
<div class="tab-table">
   
                    
    <table class="custom-table" id="coachListTable" class="display" cellspacing="0" width="100%">
                        <thead>
                          <tr> 
                              <td class="no-border no-bg">
                            <table>
                             <tr>
                                <td class="no-border no-bg">
                                    <a href="javascript:" class="form-control" id="coachList" ng-click="showCoachList()">Coach List</a>
                                    
                                </td>
                                 
                                 <td class="no-border no-bg">
                                    <a href="javascript:" class="form-control" id="coachApplications" ng-click="showCoachApplications()">Coach Applications</a>
                                </td>
                              
                            </tr>
                            </table>
                              </td>
                              </tr> 
                            <tr>
                                <th style="width:16% !important">Date</th>
                                <th style="width:16%">Designation</th>
                                <th style="width:16%">Years of Exp</th>
                                <th style="width:16%" id="coachRating">Ratings</th>
                                <th style="width:16%">Action</th>
                            </tr>
                        </thead>
                        
                    </table>
                    

                    </div>

                </div>


            </div>

        </div>



    </div>




<div id="coachProfile" ng-include="'coaches/coachProfile.html'"></div>

<div ng-include="'coaches/coachBookingModal.html'"></div>

<div ng-include="'coaches/coachProfileAccept.html'"></div>

<div ng-include="'coaches/coachProfileReject.html'"></div>

</div>
<div id="cochesCtrl" ng-controller="CoachesCtrl"></div>